<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data">
    <div id="test"></div>
    <!-- <tw-external-content></tw-external-content> -->

    <ng-template #noURL>
        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="center center" *ngIf="!url">
            <span class="mat-display-1 mb-0"> Custom URL not found! </span>
        </div>
    </ng-template>
</tw-wrapper>
