mat-selection-list {
    .mat-list-option {
        margin-bottom: 0.25rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .mat-ripple:not(:empty) {
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .mat-list-option:hover {
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        background: rgba(0, 0, 0, 0.12);
    }

    .bottom .mat-list-option {
        margin-top: 8px;
    }

    .mat-list-item {
        width: 70px !important;
        height: 48px !important;
        margin-bottom: 8px !important;
    }
    .mat-list-single-selected-option,
    .mat-list-single-selected-option:hover,
    .mat-list-single-selected-option:focus {
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    }

    .mat-list-text {
        padding: 0 !important;
    }
}

.mat-table {
    width: 100%;
    background: inherit !important;
    padding: 10px;
    padding-top: 0;
    border-collapse: separate;
    border-spacing: 0px 5px !important;

    .mat-sort-header-container,
    .mat-sort-header-content {
        justify-content: center;
    }

    tr.mat-header-row {
        height: 30px;
    }

    th:not(:last-child)::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 40%;
        top: 30%;
        right: 0%;
        background-color: #cccccc;
    }

    th,
    td {
        position: relative;
        text-align: center;
        border: none;
    }

    th {
        color: currentColor !important;
        &.mat-header-cell {
            border-color: transparent !important;
            align-items: center;
            justify-content: flex-end;
            span {
                flex: 1;
                text-align: center;
            }
            mat-menu {
                width: 20vw;
                height: 30vh;
            }
        }
        .mat-sort-header-arrow {
            margin: 0 6px 0px 3px;
        }
    }

    tr {
        &.mat-row {
            height: 3rem !important ;
        }

        td {
            border: none;
            &:first-child {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
            &:last-child {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
}

mat-paginator {
    border-radius: 2rem;
    .mat-paginator-container {
        min-height: 40px;
    }
}

mat-form-field {
    .mat-form-field-wrapper {
        padding-bottom: 1rem !important;

        .mat-form-field-subscript-wrapper {
            top: calc(100% - 1.4rem);
        }

        .mat-form-field-infix {
            padding: 0.75em 0.5rem !important;
        }

        .mat-form-field-suffix {
            top: 0.35rem !important;
        }

        .mat-form-field-outline {
            border-radius: 2rem;
            top: 0.75rem !important;
        }

        .mat-form-field-outline-start {
            border-radius: 2rem 0 0 1.5rem !important;
            min-width: 2rem !important;
            border-color: transparent;
        }

        .mat-form-field-outline-end {
            border-radius: 0 2rem 2rem 0 !important;
            border-color: transparent;
        }
    }
}

.mat-paginator {
    background: transparent !important;
}

.mat-icon-button {
    .mat-button-wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
mat-chip {
    &.mat-chip {
        border-radius: 2rem;
        padding: 10px;
    }
}
