<!-- We are using material card header -->
<mat-card-header
    class="card-header"
    [ngClass]="
        (fuseConfig.layout.anchorWidget.customBackgroundColor === true && data.Config.Anchor
            ? fuseConfig.layout.anchorWidget.headerBackground
            : fuseConfig.layout.widget.customBackgroundColor === true
            ? fuseConfig.layout.widget.headerBackground
            : '') +
        ' ' +
        (widgetState.floating ? 'floating' : '')
    "
>
    <!-- We add a material icon from config of default a widget icon -->
    <div mat-card-avatar>
        <mat-icon>{{ data.Config.Icon ? data.Config.Icon : 'widgets' }}</mat-icon>
    </div>

    <!-- Add titile if provided in config or add widget by default -->
    <mat-card-title>{{ data.Name ? data.Name : 'Widget' }}</mat-card-title>

    <span class="spacer"></span>

    <!-- All the action buttons goes here -->

    <button
        *ngIf="data.Config.Actions.includes('maximise') && !widgetState.floating && !widgetState.maximised"
        mat-icon-button
        (click)="maximizeWidget()"
    >
        <mat-icon>fullscreen</mat-icon>
    </button>

    <button *ngIf="data.Config.Actions.includes('float') && !widgetState.floating && !widgetState.maximised" mat-icon-button (click)="floatWidget()">
        <mat-icon>picture_in_picture</mat-icon>
    </button>

    <button
        *ngIf="data.Config.Actions.includes('minimise') || widgetState.floating || widgetState.maximised"
        mat-icon-button
        (click)="collapseWidget()"
    >
        <mat-icon [ngClass]="{ 'rotate-180': !widgetState.collapsed }">expand_more</mat-icon>
    </button>

    <button *ngIf="widgetState.floating || widgetState.maximised" mat-icon-button (click)="widgetState.floating ? floatWidget() : maximizeWidget()">
        <mat-icon>close</mat-icon>
    </button>
</mat-card-header>
