<ng-container
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async)
    } as customFuse"
>
    <ng-container *ngIf="{ bulkSelection: !['sentitem'].includes(currentTab) } as conf">
        <div
            #emailWorkBench
            class="email-workbench twd-w-full twd-h-full twd-py-2 twd-flex twd-relative"
            [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
        >
            <div *ngIf="!hideCategoryMenu" class="twd-ml-2 lg:twd-mx-2 border-radius-20 h-100-p">
                <div class="h-100-p py-20 twd-flex twd-flex-col twd-justify-between">
                    <div class="tab-menu twd-flex twd-flex-col twd-gap-4">
                        <button
                            class="twd-mb-3 pb-20"
                            mat-button
                            matTooltip="Queue"
                            (click)="switchTab('queue')"
                            [disabled]="emailSearchRes.loading"
                            matTooltipPosition="right"
                            [ngClass]="{
                                'mat-raised-button': currentTab === 'queue'
                            }"
                            [color]="currentTab === 'queue' && 'accent'"
                        >
                            <mat-icon>queue</mat-icon>
                            <div>Queued</div>
                        </button>
                        <button
                            class="twd-mb-3 pb-20"
                            mat-button
                            (click)="switchTab('inbox')"
                            matTooltip="Inbox"
                            [disabled]="emailSearchRes.loading"
                            matTooltipPosition="right"
                            [ngClass]="{
                                'mat-raised-button': currentTab === 'inbox'
                            }"
                            [color]="currentTab === 'inbox' && 'accent'"
                        >
                            <mat-icon>mail</mat-icon>
                            <div>Inbox</div>
                        </button>
                        <button
                            class="twd-mb-3 pb-20"
                            mat-button
                            (click)="switchTab('sentitem')"
                            matTooltip="Sent"
                            [disabled]="emailSearchRes.loading"
                            matTooltipPosition="right"
                            [ngClass]="{
                                'mat-raised-button': currentTab === 'sentitem'
                            }"
                            [color]="currentTab === 'sentitem' && 'accent'"
                        >
                            <mat-icon>mark_email_read</mat-icon>
                            <div>Sent</div>
                        </button>
                        <button
                            class="twd-mb-3 pb-20"
                            mat-button
                            matTooltip="Drafts"
                            (click)="switchTab('draft')"
                            [disabled]="emailSearchRes.loading"
                            matTooltipPosition="right"
                            [ngClass]="{
                                'mat-raised-button': currentTab === 'draft'
                            }"
                            [color]="currentTab === 'draft' && 'accent'"
                        >
                            <mat-icon>drafts</mat-icon>
                            <div>Drafts</div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="twd-w-full twd-grid twd-grid-cols-3 twd-gap-2 twd-px-2">
                <div class="theme-bg twd-pb-5 border-radius-20 twd-h-full twd-overflow-y-auto twd-col-span-3 lg:twd-col-span-1">
                    <div
                        class="twd-sticky theme-bg twd-top-0 twd-left-0 twd-z-10 twd-py-2 twd-px-1.5 twd-shadow-md"
                        *ngIf="getEmailChecks() as selectedMails"
                    >
                        <div class="mt-8 border-radius-20 twd-relative twd-flex twd-items-center twd-justify-between lg:twd-justify-center">
                            <button class="lg:twd-hidden" #expandableButton (click)="hideCategoryMenu = !hideCategoryMenu">
                                <mat-icon>{{ hideCategoryMenu ? 'menu' : 'menu_open' }}</mat-icon>
                            </button>
                            <form class="twd-max-w-6/12 lg:twd-max-w-full twd-flex-1" (ngSubmit)="submitGlobalSearchForm()">
                                <mat-form-field
                                    class="custom with-border form-field w-100-p"
                                    appearance="outline"
                                    *ngIf="{
                                        empty: !globalSearch.form.value,
                                        unequal: globalSearch.data[currentTab] !== globalSearch.form.value
                                    } as conditions"
                                >
                                    <input
                                        class="login-input"
                                        matInput
                                        [placeholder]="currentTab === 'queue' ? 'Search by Subject' : 'Search'"
                                        [formControl]="globalSearch.form"
                                    />
                                    <button *ngIf="conditions.empty" mat-icon-button matSuffix disabled type="button">
                                        <mat-icon matSuffix>search</mat-icon>
                                    </button>
                                    <button
                                        *ngIf="conditions.unequal"
                                        mat-button
                                        color="primary"
                                        matSuffix
                                        mat-icon-button
                                        aria-label="Go"
                                        [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                    >
                                        <mat-icon>east</mat-icon>
                                    </button>
                                    <button
                                        *ngIf="!conditions.empty && !conditions.unequal"
                                        type="button"
                                        mat-button
                                        color="accent"
                                        matSuffix
                                        mat-icon-button
                                        aria-label="Clear"
                                        [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                        (click)="resetGlobalSearchForm(); doAdvancedSearch()"
                                    >
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </form>
                            <button
                                mat-icon-button
                                (click)="doAdvancedSearch()"
                                [ngClass]="{ 'twd-animate-spin': polling.active }"
                                [disabled]="polling.active"
                                matTooltip="Refresh"
                            >
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                (click)="advancedSearch.show = !advancedSearch.show"
                                cdkOverlayOrigin
                                #advancedSearchMenu="cdkOverlayOrigin"
                                class="twd-relative"
                                matTooltip="Advance Search"
                            >
                                <span
                                    *ngIf="advancedSearch.data[currentTab]?.changed"
                                    class="twd-absolute twd-h-2 twd-w-2 twd-top-1.5 twd-right-1.5 twd-rounded-full twd-bg-primary-default"
                                ></span>
                                <mat-icon> more_vert </mat-icon>
                                <ng-template
                                    cdkConnectedOverlay
                                    [cdkConnectedOverlayOrigin]="advancedSearchMenu"
                                    [cdkConnectedOverlayOpen]="advancedSearch.show"
                                    cdkConnectedOverlayHasBackdrop
                                    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                                    (backdropClick)="advancedSearch.show = false"
                                    [cdkConnectedOverlayPositions]="[{ originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top' }]"
                                >
                                    <div class="advanced-search-form mat-elevation-z2 border-radius-20">
                                        <p class="text-center text-bold twd-pt-8">Advanced Search</p>
                                        <form
                                            [formGroup]="advancedSearch.form"
                                            class="px-12 twd-grid twd-grid-cols-2 twd-gap-1 lg:twd-gap-2"
                                            (ngSubmit)="submitAdvanceSearchForm()"
                                            novalidate
                                        >
                                            <mat-form-field class="twd-text-sm twd-col-span-2" appearance="outline">
                                                <mat-label> Email </mat-label>
                                                <input matInput formControlName="email" type="text" />
                                            </mat-form-field>
                                            <mat-form-field class="twd-text-sm" appearance="outline">
                                                <mat-label> From Date </mat-label>
                                                <input matInput formControlName="fromDate" [matDatepicker]="fromDatePicker" />
                                                <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #fromDatePicker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field class="twd-text-sm" appearance="outline">
                                                <mat-label> From Time </mat-label>
                                                <input matInput formControlName="fromTime" type="time" />
                                            </mat-form-field>

                                            <mat-form-field class="twd-text-sm" appearance="outline">
                                                <mat-label> To Date </mat-label>
                                                <input matInput formControlName="toDate" [matDatepicker]="toDatePicker" />
                                                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #toDatePicker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field class="twd-text-sm" appearance="outline">
                                                <mat-label> To Time </mat-label>
                                                <input matInput formControlName="toTime" type="time" />
                                            </mat-form-field>

                                            <mat-form-field class="twd-text-sm" appearance="outline">
                                                <mat-label> Subject </mat-label>
                                                <input matInput formControlName="subject" type="text" />
                                            </mat-form-field>
                                            <mat-form-field class="twd-text-sm" appearance="outline">
                                                <mat-label> Content </mat-label>
                                                <input matInput formControlName="content" type="text" />
                                            </mat-form-field>

                                            <ng-container
                                                *ngIf="{
                                                    onlyForInBox: currentTab === 'inbox',
                                                    notInQueue: currentTab !== 'queue'
                                                } as show"
                                            >
                                                <mat-form-field
                                                    class="twd-text-sm"
                                                    [ngClass]="{ 'twd-hidden': !show.onlyForInBox }"
                                                    appearance="outline"
                                                >
                                                    <mat-label> Assigned To </mat-label>
                                                    <input matInput formControlName="assignedTo" type="text" />
                                                </mat-form-field>

                                                <mat-form-field
                                                    class="twd-text-sm"
                                                    appearance="outline"
                                                    [ngClass]="{ 'twd-hidden': !show.notInQueue }"
                                                >
                                                    <mat-label> Session Id </mat-label>
                                                    <input matInput formControlName="inSessionId" type="text" />
                                                </mat-form-field>

                                                <mat-form-field
                                                    appearance="outline"
                                                    class="twd-text-sm twd-col-span-2"
                                                    [ngClass]="{ 'twd-hidden': !show.notInQueue }"
                                                >
                                                    <ng-container *ngIf="advancedSearch.form.controls.listOfMailboxes?.value as selectedMailboxes">
                                                        <mat-label>
                                                            {{
                                                                selectedMailboxes && selectedMailboxes.length
                                                                    ? 'List of mailboxes'
                                                                    : 'No mailboxes available'
                                                            }}
                                                        </mat-label>
                                                        <mat-select formControlName="listOfMailboxes" multiple>
                                                            <mat-select-trigger>
                                                                {{ selectedMailboxes ? selectedMailboxes[0] : '' }}
                                                                <span *ngIf="selectedMailboxes?.length > 1">
                                                                    (+{{ selectedMailboxes.length - 1 }}
                                                                    {{ selectedMailboxes?.length === 2 ? 'other' : 'others' }})
                                                                </span>
                                                            </mat-select-trigger>
                                                            <mat-option *ngFor="let mailbox of availableMailboxes" [value]="mailbox">{{
                                                                mailbox
                                                            }}</mat-option>
                                                        </mat-select>
                                                    </ng-container>
                                                </mat-form-field>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': !show.onlyForInBox }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Attachments : </span>
                                                    <input matInput placeholder="Input" class="twd-hidden" />
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="hasAttachments">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': !show.onlyForInBox }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Replied : </span>
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="replied">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': !show.onlyForInBox }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Closed : </span>
                                                    <input matInput placeholder="Input" class="twd-hidden" />
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="closed">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': !show.onlyForInBox }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Assigned : </span>
                                                    <input matInput placeholder="Input" class="twd-hidden" />
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="assigned">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </ng-container>
                                            <div class="twd-col-span-2 twd-grid twd-grid-cols-2 twd-gap-3">
                                                <button mat-raised-button class="adv-search-btn h-40 mb-8 border-radius-20">Search</button>
                                                <button
                                                    mat-raised-button
                                                    class="adv-search-btn h-40 mb-8 border-radius-20"
                                                    type="button"
                                                    (click)="resetForm(); doAdvancedSearch()"
                                                >
                                                    Reset
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>
                            </button>
                        </div>

                        <div id="sortControls" class="twd-flex twd-items-center twd-justify-between twd-px-2 twd-pt-2" *ngIf="conf.bulkSelection">
                            <mat-checkbox
                                id="selectAllCtrl"
                                (change)="selectEmails($event.checked)"
                                [indeterminate]="selectedMails.some"
                                [checked]="selectedMails.all"
                                [disabled]="!dataSource.data?.length"
                            >
                                Select All
                            </mat-checkbox>
                            <div class="twd-flex twd-items-center">
                                <div class="twd-font-bold twd-text-sm">
                                    <button
                                        id="sortKeyBtn"
                                        mat-button
                                        class="twd-px-1.5"
                                        [matMenuTriggerFor]="sortMenu"
                                        [disabled]="!dataSource.data?.length"
                                    >
                                        <span> Sort By {{ sortControls.sortBy }} </span>
                                        <mat-menu class="custom" #sortMenu="matMenu">
                                            <button mat-menu-item (click)="sortControls.sortBy = 'Subject'; sortEmailsByKey()">
                                                <span>Subject</span>
                                            </button>
                                            <button mat-menu-item (click)="sortControls.sortBy = 'Date'; sortEmailsByKey()">
                                                <span>Date</span>
                                            </button>
                                        </mat-menu>
                                    </button>
                                    <button
                                        id="sortOrderBtn"
                                        mat-button
                                        (click)="sortControls.ascending = !sortControls.ascending; sortEmailsByOrder()"
                                        class="twd-max-w-min twd-px-0"
                                        [disabled]="!dataSource.data?.length"
                                    >
                                        <mat-icon>
                                            {{ sortControls.ascending ? 'arrow_upward' : 'arrow_downward' }}
                                        </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedMails.some || selectedMails.all" class="bulk-operations twd-mt-3 twd-mb-2 twd-flex twd-gap-1">
                            <button
                                mat-raised-button
                                class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                *ngIf="currentTab === 'queue'"
                                (click)="replyToSelectedEmails(getSelectedEmails())"
                            >
                                Reply All
                            </button>
                            <button
                                mat-raised-button
                                class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                *ngIf="currentTab === 'queue' && allowQueueTransfer"
                                (click)="transferEmail(getSelectedEmails())"
                            >
                                Transfer All
                            </button>
                            <button
                                mat-raised-button
                                color="primary"
                                class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                *ngIf="currentTab === 'queue'"
                                (click)="closeEmails(getSelectedEmails())"
                            >
                                Close Emails
                            </button>
                            <button
                                mat-raised-button
                                color="accent"
                                class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                *ngIf="currentTab !== 'sentitem' && currentTab !== 'queue'"
                                (click)="deleteEmails(getSelectedEmails())"
                            >
                                Delete Emails
                            </button>
                        </div>
                    </div>

                    <div class="twd-p-3" *ngIf="emailSearchRes.loading && !dataSource.data.length">
                        <div
                            [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
                            class="twd-flex twd-items-center twd-truncate twd-rounded-3xl twd-w-full"
                        >
                            <span class="twd-transform twd-transition-transform twd--rotate-90">
                                <mat-icon> arrow_drop_down </mat-icon>
                            </span>
                            <skeleton class="twd-opacity-30 twd-w-5/12 twd-m-2"> </skeleton>
                        </div>
                    </div>
                    <div class="twd-p-3" *ngIf="!emailSearchRes.error">
                        <ng-container *ngTemplateOutlet="treeNodeRef; context: { treeNode: dataSource.data }"></ng-container>
                    </div>

                    <div
                        *ngIf="!dataSource.data.length && !emailSearchRes.loading && !emailSearchRes.error"
                        class="w-100-p h-50-p twd-flex twd-items-center twd-justify-center"
                    >
                        <span class="twd-text-2xl"> There are no emails </span>
                    </div>

                    <div *ngIf="!emailSearchRes.loading && emailSearchRes.error" class="h-80-p twd-flex twd-justify-center twd-items-center">
                        <div class="twd-w-5/12">
                            <no-data-available [msg]="emailSearchRes.msg"></no-data-available>
                            <button class="mx-auto w-80-p mt-20 d-block" mat-raised-button color="primary" (click)="doAdvancedSearch()">Retry</button>
                        </div>
                    </div>
                </div>

                <div
                    *ngIf="openEmailRes.loading || openEmailRes.data as selectedEmail"
                    class="
                        email-open
                        border-radius-20
                        twd-flex twd-flex-col twd-absolute twd-overflow-auto twd-h-full twd-w-full twd-left-0 twd-top-0 twd-z-10
                        lg:twd-relative lg:twd-col-span-2 lg:twd-overflow-hidden lg:twd-h-auto
                    "
                >
                    <div class="twd-flex twd-justify-end twd-gap-4 twd-py-3 w-95-p">
                        <button
                            mat-raised-button
                            class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            *ngIf="selectedEmail.currentTab === 'queue' && allowQueueTransfer"
                            (click)="transferEmail([selectedEmail])"
                        >
                            Transfer
                        </button>
                        <button mat-raised-button class="border-radius-20 twd-text-xs lg:twd-text-sm" (click)="pullEmails([selectedEmail])">
                            Pull
                        </button>
                        <button
                            mat-raised-button
                            class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            *ngIf="currentTab !== 'sentitem'"
                            (click)="deleteEmails([selectedEmail])"
                        >
                            Delete
                        </button>
                        <button
                            mat-raised-button
                            class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            color="accent"
                            *ngIf="selectedEmail.currentTab === 'inbox'"
                            (click)="markAsSpam(selectedEmail)"
                        >
                            Mark As Spam
                        </button>
                        <button mat-icon-button (click)="openEmailRes.data = null">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>

                    <div
                        class="
                            email-open__body
                            twd-mx-4
                            border-radius-20
                            twd-mb-3 twd-flex-1 twd-flex twd-flex-col
                            lg:twd-overflow-hidden lg:twd-max-h-full
                        "
                        [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                    >
                        <preview-email
                            [email]="{
                                Subject: selectedEmail.Subject,
                                Body: selectedEmail.Body,
                                Files: selectedEmail.Attachments
                            }"
                            [loading]="openEmailRes.loading"
                            [error]="openEmailRes.error"
                        >
                            <div id="emailInfo" class="px-28">
                                <div class="twd-flex twd-justify-between">
                                    <div fxFlex="80">
                                        <p class="text-bold my-4">To: {{ selectedEmail.ToList }}</p>
                                        <p class="text-bold my-4" *ngIf="selectedEmail.CCList">Cc : {{ selectedEmail.CCList }}</p>
                                        <p class="my-4 text-bold">From: {{ selectedEmail.From || 'NA' }}</p>
                                        <p class="my-4 text-bold">Status: {{ selectedEmail.CurrentStatus || 'NA' }}</p>
                                        <p class="my-4 text-bold">Agent: {{ selectedEmail.AgentName || 'NA' }}</p>

                                        <p class="my-4 text-bold">
                                            Closed Status: {{ selectedEmail.ClosedBy ? 'Closed by ' + selectedEmail.ClosedBy : 'Open' }}
                                        </p>

                                        <p class="my-4 text-bold">Priority: {{ selectedEmail.Priority || 'NA' }}</p>
                                        <p class="my-4 text-bold">
                                            Replied Status: {{ selectedEmail.RepliedStatus === '1' ? 'Replied' : 'Not Replied' }}
                                        </p>
                                        <p *ngIf="selectedEmail.Intent" class="my-4 text-bold">Intent: {{ selectedEmail.Intent }}</p>
                                    </div>
                                    <div fxFlex="15">
                                        <p class="my-4">{{ selectedEmail.AddedTime | date: 'longDate' }}</p>
                                        <p class="my-4">{{ selectedEmail.AddedTime | date: 'shortTime' }}</p>
                                    </div>
                                </div>
                            </div>
                        </preview-email>
                    </div>
                </div>

                <div
                    *ngIf="!openEmailRes.data && !openEmailRes.loading"
                    class="
                        email-open
                        twd-h-auto
                        lg:twd-h-full
                        border-radius-20
                        twd-col-span-2 twd-hidden
                        lg:twd-flex
                        twd-items-center twd-justify-center
                    "
                >
                    <div class="twd-flex twd-flex-col twd-justify-center">
                        <mat-icon class="s-128 mb-16 select-message-icon hint-text twd-mx-auto"> email </mat-icon>
                        <span class="twd-text-2xl">Select an email to read</span>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #replyDialog>
            <div class="twd-h-full twd-w-full twd-flex twd-flex-col twd-relative twd-p-2">
                <create-email
                    [emailInfo]="replyInfo"
                    (sendEmail)="replyEditorModal.sendEmail($event)"
                    [sendDisabled]="replyEditorModal.sendingEmail"
                    [hiddenFields]="['To', 'Subject']"
                ></create-email>
            </div>
        </ng-template>

        <ng-template let-treeNode="treeNode" #treeNodeRef>
            <div
                [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
                class="twd-flex twd-rounded-3xl twd-pl-2 twd-mb-2"
                *ngFor="let node of treeNode; trackBy: trackBy"
            >
                <div *ngIf="!node.children" class="twd-pl-3 twd-pr-2 twd-w-full">
                    <div
                        class="twd-rounded-3xl twd-w-full twd-flex twd-items-center twd-transition-all twd-border-2 twd-border-opacity-0"
                        [ngClass]="
                            openEmailRes.data?.uiId === node.uiId
                                ? ' twd-bg-primary-100 twd-border-primary-default twd-border-opacity-100'
                                : ' theme-bg'
                        "
                    >
                        <div class="twd-p-3" *ngIf="conf.bulkSelection">
                            <mat-checkbox [value]="node.uiId" [(ngModel)]="node.checked"></mat-checkbox>
                        </div>
                        <div
                            mat-ripple
                            class="twd-flex-1 twd-flex twd-flex-wrap 2xl:twd-flex-nowrap twd-justify-between twd-p-3 twd-overflow-hidden"
                            (click)="openEmail(node)"
                        >
                            <div class="twd-w-full 2xl:twd-max-w-9/12">
                                <p class="font-weight-600 my-4 twd-truncate">
                                    {{ (['sentitem', 'draft'].includes(currentTab) ? node.ToList : node.From) || 'NA' }}
                                </p>
                                <p class="my-4 twd-truncate">Subject: <span class="twd-truncate" [innerHtml]="node.Subject"></span></p>
                            </div>
                            <div class="twd-flex-1 twd-flex 2xl:twd-justify-between twd-items-start">
                                <div class="twd-text-xs twd-font-bold twd-mt-1.5">
                                    <p>{{ node.AddedTime | date: 'mediumDate' }}</p>
                                    <span> {{ node.AddedTime | date: 'shortTime' }} </span>
                                </div>
                                <div *ngIf="node.HasAttachment" class="twd-transform twd-rotate-90">
                                    <span><mat-icon>attachment</mat-icon></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="node.children" class="twd-w-full">
                    <div
                        class="border-radius-20 twd-py-2"
                        [ngClass]="
                            customFuse.anchor?.body ||
                            customFuse.widget?.body +
                                ' ' +
                                (openEmailRes.data
                                    ? openEmailRes.data.Mailbox === node.Mailbox
                                        ? node.Skill
                                            ? openEmailRes.data.Skill === node.Skill
                                                ? ' twd-text-primary-default'
                                                : ''
                                            : ' twd-text-primary-default'
                                        : ''
                                    : '')
                        "
                    >
                        <div class="twd-flex twd-items-center">
                            <div *ngIf="conf.bulkSelection && !node.grandChildren && getEmailChecks(node.children) as selected">
                                <mat-checkbox
                                    [indeterminate]="selected.some"
                                    [checked]="selected.all"
                                    (change)="selectEmails($event.checked, node.children)"
                                ></mat-checkbox>
                            </div>
                            <div
                                class="twd-flex-1 twd-flex twd-items-center twd-justify-between twd-cursor-pointer"
                                (click)="childrenRef.classList.toggle('twd-h-0'); iconRef.classList.toggle('twd--rotate-90')"
                            >
                                <div class="twd-flex twd-items-center twd-truncate twd-max-w-11/12">
                                    <span class="twd-transform twd-transition-transform twd--rotate-90" #iconRef>
                                        <mat-icon> arrow_drop_down </mat-icon>
                                    </span>
                                    <span class="twd-flex-1 font-weight-700 twd-truncate">
                                        {{ node.name || 'NA' }}
                                    </span>
                                </div>
                                <span *ngIf="node.children" class="twd-px-3 twd-font-bold twd-text-sm twd-min-w-max">
                                    ({{ node.grandChildren || node.children.length }})
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="twd-transition-all twd-h-0 twd-overflow-hidden" #childrenRef>
                        <ng-container *ngTemplateOutlet="treeNodeRef; context: { treeNode: node.children }"></ng-container>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</ng-container>
