<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent($event)">
    <!-- your code goes here -->
    <div fxLayout="column" fxLayoutAlign="center center" class="w-100-p h-100-p">
        <div class="tw-chart w-100-p h-100-p" #chartContainerRef>
            <ngx-charts-pie-chart
                *fuseIfOnDom
                [view]="widget.view.length === 0 ? [chartContainerRef.offsetWidth, chartContainerRef.offsetHeight] : widget.view"
                [scheme]="widget.scheme"
                [results]="widget.data"
                [legend]="widget.legend"
                [labels]="widget.state.maximized"
                [doughnut]="widget.doughnut"
            >
            </ngx-charts-pie-chart>
            <div class="t-pie-chart-value">{{ widget.data[1].value }}</div>
        </div>
        <!-- <div>
            <mat-button (click)="" ></mat-button>
        </div> -->
        <div *ngIf="widget.state.maximized" class="details">
            Some data
        </div>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
