<div class="wrap" *ngIf="broadcastMessage">
    <div fxLayout="row" fxLayoutAlign=" center" class="broadcast">
        <div (click)="sendBroadcast()" class="b-icon position-absolute z-index-1 right--20">
            <img class="box-shadow-3d" src="assets/images/vectors/broadcast.svg" width="48" height="48" />
        </div>
        <div class="message">
            <marquee direction="left">{{ broadcastMessage }}</marquee>
        </div>
    </div>
</div>

<div *ngIf="!broadcastMessage && isAgentSupervisor" fxLayout="row wrap" fxLayoutAlign="space-around center" class="px-4" mat-ripple>
    <button mat-icon-button (click)="sendBroadcast()">
        <img class="box-shadow-3d" src="assets/images/vectors/broadcast.svg" width="48" height="48" />
    </button>
</div>
