@import 'src/@fuse/scss/fuse';

content {
    position: relative;
    display: flex;
    z-index: 1;
    flex: 1 0 auto;
    border-bottom-left-radius: 3rem;

    .tw-content {
        display: flex;
        flex: 1 0 auto;
        padding: 2rem 3rem 0rem;
        border-bottom-left-radius: 3rem;
    }

    @include media-breakpoint('xs') {
        border-radius: 0px;
    }
}
