@import 'src/@fuse/scss/fuse';

content {
    position: relative;
    display: flex;
    z-index: 1000;
    flex: 1 0 auto;

    &.navbar-left {
        border-bottom-left-radius: 3rem;

        @include media-breakpoint('xs') {
            border-radius: 0px;
        }
        .tw-content {
            border-bottom-left-radius: 3rem;

            @include media-breakpoint('xs') {
                border-radius: 0px;
            }
        }
    }

    &.navbar-right {
        border-bottom-right-radius: 3rem;

        @include media-breakpoint('xs') {
            border-radius: 0px;
        }
        .tw-content {
            border-bottom-right-radius: 3rem;

            @include media-breakpoint('xs') {
                border-radius: 0px;
            }
        }
    }

    .tw-content {
        display: flex;
        flex: 1 0 auto;
        padding: 1rem 2rem 0rem;

        @include media-breakpoint('xs') {
            border-radius: 0px;
            padding: 1rem 1rem 0rem;
        }
    }

    @include media-breakpoint('xs') {
        border-radius: 0px;
    }

    .aot-widgets {
        position: fixed;
        z-index: 1;

        tw-wrapper {
            position: absolute;
        }
    }
}
