tw-customer-details {
    .cd-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        column-gap: 10px; 
        row-gap: 0px;
        width: 100%;
        padding-top: 16px;
        
        .full-row {
            grid-column: span 2;
            padding-bottom: 20px !important;
        }

        .cd-layout {
            @apply twd-gap-2 twd-flex;
            padding: 1px;
            .title {
                min-width: 80px;
            }
        }

    }
}
