<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)"
    (floatEvent)="floatEvent.emit($event)">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="center center" class="tw-full" fusePerfectScrollbar>
        <span class="mat-headline mb-0">
            The Material Design color system helps you apply color to your UI in a meaningful way. In this system, you
            select a primary and a secondary color to represent your brand. Dark and light variants of each color can
            then be applied to your UI in different ways.

            Colors and theming
            Color themes are designed to be harmonious, ensure accessible text, and distinguish UI elements and surfaces
            from one another.

            The Material Design palette tool or 2014 Material Design palettes are available to help you select colors.
        </span>
    </div>
</tw-wrapper>