<tw-wrapper [data]="data" (maximizeEvent)="maximized = $event" (collapseEvent)="collapsed = $event" (floatEvent)="floating = $event">
    <div
        fxLayout="row wrap"
        class="w-100-p h-100-p px-12 py-8 border-radius-20 customer-info"
        fusePerfectScrollbar
        [fusePerfectScrollbarOptions]="{ suppressScrollX: true }"
    >
        <div *ngFor="let item of customerInfo" fxFlex="50" class="line-height-30">
            <span class="title text-bold"> {{ item.Title }}: </span>
            <span class="value">
                {{ (item.Value || item.DefaultValue) + item.Unit }}
            </span>
        </div>
    </div>
</tw-wrapper>
