.chat-tree-invisible {
    display: none;
}

.chat-tree {
    background: transparent !important;
    ul,
    li {
        margin-bottom: 0;
        list-style-type: none;
    }
}

.chat-list {
    height: 98%;
    max-height: 98%;
    overflow: auto;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.queued-chats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
    grid-gap: 15px;
    .avatar {
        background-image: url('/assets/images/avatars/profile.jpg');
        background-size: cover;
    }
}

.custom-scroll-adjust {
    scroll-behavior: smooth;
}
