tw-chat-controls {
    .collapsed {
        flex: 0;
    }

    .mat-card-content {
        background: inherit !important;
        box-shadow: none !important;
        padding: 0px 3px 3px 3px !important;

        .chat-controls {
            .interaction-details {
                line-height: 1.5;
            }

            .chat-container {
                height: calc(100% - 60px);

                &.nometa {
                    height: 100%;
                }
            }
        }

        .chat-container {
            .divider {
                height: 5px;
                width: 80%;
                margin: 8px auto;
                border-radius: 20px;
            }

            .chat-content {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                flex: 1 1 0%;

                .chat-actions {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: stretch;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    z-index: 1;
                    button {
                        margin: 6px 6px 6px 0;

                        &:not(.mat-primary, .mat-accent, .mat-warn) {
                            background: #bdbdbd;
                        }
                    }
                }

                .fab-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

                .standalone-av-holder {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    .no-av {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        width: 100%;
                        height: 100%;

                        img {
                            max-height: 40vh;
                            max-width: 50vw;
                        }
                    }
                    
                    tw-audio-video-controls {
                        .mat-card.mat-focus-indicator.widget-card {
                            border-radius: 0 !important;
                        }
                    }
                }

                .chat-transcripts {
                    flex: 1 1 0%;
                    background: transparent;
                    overflow: auto;
                    -webkit-overflow-scrolling: touch;

                    .chat-messages {
                        position: relative;
                        padding: 16px 0 40px 0px;

                        &.no-reply {
                            padding-bottom: 16px;
                        }

                        .message-row {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: flex-end;
                            padding: 0 16px 4px 16px;

                            .divider-message {
                                .attachments {
                                    display: flex;
                                    flex-direction: column;
                                    width: 300px;
                                    border-radius: 5px;
                                    position: relative;

                                    .image {
                                        overflow: hidden;
                                    }

                                    img {
                                        min-height: 150px;
                                        max-height: 300px;
                                        cursor: pointer;
                                        border-radius: inherit;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }

                            .avatar {
                                position: absolute;
                                left: -32px;
                                margin: 0;
                            }

                            .bubble {
                                position: relative;
                                overflow: hidden;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: flex-start;
                                padding: 6px 7px 8px 9px;
                                max-width: 95%;
                                margin-bottom: 2px;

                                .actions {
                                    position: absolute;
                                    width: 156px;
                                    max-width: 90%;
                                    z-index: 3;
                                    height: 40px;
                                    overflow: hidden;
                                    right: -160px;
                                    top: 0;
                                    background: linear-gradient(
                                        15deg,
                                        rgba(9.3, 13.74, 16.7, 0),
                                        rgba(9.3, 13.74, 16.7, 0) 45%,
                                        rgba(9.3, 13.74, 16.7, 0.15) 70%,
                                        rgba(9.3, 13.74, 16.7, 0.35)
                                    );
                                    transition: right 0.1s;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    max-height: 50px;
                                }

                                &:hover {
                                    .actions {
                                        right: 0;
                                    }
                                }

                                &.maximized {
                                    max-width: 60%;
                                }

                                .right-svg {
                                    position: absolute;
                                    right: -7px;
                                    top: -1px;
                                }

                                .left-svg {
                                    color: #d2c8d9;
                                    position: absolute;
                                    left: -7px;
                                    top: -1px;
                                }

                                .message {
                                    // white-space: pre-wrap;
                                    font-family: 'Montserrat', 'TwemojiMozilla', sans-serif;

                                    line-height: 1.4;
                                    font-size: 14px;
                                    margin-bottom: 12px;
                                    font-weight: 600;
                                    white-space: pre-wrap;
                                    word-wrap: normal;

                                    .spacer {
                                        width: 68px;
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                    /* Add this to disable the reply icon after end chat is confirmed */
                                    .disabled {
                                        pointer-events: none;
                                        opacity: 0.5; 
                                    }

                                    .attachments {
                                        display: flex;
                                        flex-direction: column;
                                        width: 300px;
                                        border-radius: 5px;
                                        position: relative;

                                        .image {
                                            overflow: hidden;
                                        }

                                        img,
                                        video {
                                            min-height: 150px;
                                            max-height: 300px;
                                            cursor: pointer;
                                            border-radius: inherit;
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }

                                        .video-overlay {
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            display: flex;
                                            flex: 1 1 0%;
                                            justify-content: center;
                                            align-items: center;
                                            top: 0;
                                            left: 0;
                                            background: rgb(0 0 0 / 0.2);
                                            z-index: 2;

                                            button {
                                                width: 64px;
                                                height: 64px;
                                                background: #fff;

                                                .mat-icon {
                                                    font-size: 48px;
                                                    line-height: 48px;
                                                    width: 48px;
                                                    height: 48px;
                                                    color: #000;
                                                }
                                            }
                                        }

                                        video {
                                            -webkit-filter: blur(8px);
                                            -moz-filter: blur(8px);
                                            -o-filter: blur(8px);
                                            -ms-filter: blur(8px);
                                            filter: blur(8px);
                                        }

                                        .time-overlay {
                                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
                                            position: absolute;
                                            bottom: 0;
                                            z-index: 2;
                                            width: 100%;
                                            height: 28px;
                                        }

                                        .file {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            padding: 10px 0px 10px 6px;
                                            background: rgb(0 0 0 / 0.2);
                                            border-radius: 5px;

                                            .file-icon {
                                                font-size: 36px;
                                                line-height: 36px;
                                                width: 36px;
                                                height: 36px;
                                                color: rgb(255 255 255 / 0.5);
                                            }

                                            .file-name {
                                                font-weight: 700;
                                                font-size: 14px;
                                                text-overflow: ellipsis;
                                                width: 100%;
                                                overflow: hidden;
                                                white-space: nowrap;
                                                margin-left: 8px;
                                            }

                                            .download {
                                                background: rgb(0 0 0 / 0.1);
                                                color: rgb(255 255 255 / 0.5);
                                            }
                                        }
                                    }
                                }

                                .time {
                                    width: 100%;
                                    z-index: 2;
                                    font-size: 10px;
                                    white-space: nowrap;
                                    text-align: right;
                                    margin: -24px 0px -6px -2px;

                                    &.image,
                                    &.video {
                                        color: #ffffff;
                                        margin-top: -24px;
                                    }
                                }
                            }

                            &.contact {
                                .bubble {
                                    border-radius: 5px;

                                    .user-label {
                                        color: #6bcbef !important;
                                        &.agent {
                                            color: #35cd96 !important;
                                        }
                                    }
                                }

                                &.first-of-group {
                                    .bubble {
                                        border-top-left-radius: 0px;
                                    }
                                }

                                &.last-of-group {
                                    .bubble {
                                        border-bottom-left-radius: 10px;
                                    }
                                }
                            }

                            &.me {
                                padding-left: 40px;

                                .avatar {
                                    order: 2;
                                    margin: 0 0 0 16px;
                                }

                                .bubble {
                                    margin-left: auto;
                                    border-radius: 5px;

                                    .user-label {
                                        color: #91ab01 !important;
                                    }
                                }

                                &.first-of-group {
                                    .bubble {
                                        border-top-right-radius: 0px;
                                    }
                                }

                                &.last-of-group {
                                    .bubble {
                                        border-bottom-right-radius: 10px;
                                    }
                                }
                            }

                            &.contact + .me,
                            &.me + .contact {
                                padding-top: 4px;
                                margin-top: 4px;
                            }
                        }
                    }
                }

                .chat-footer {
                    position: relative;
                    flex: 0 0 auto;
                    display: flex;
                    flex-direction: column;
                    padding: 8px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;

                    .reply-form {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .message-text {
                            border-radius: 20px;
                            font-family: 'Montserrat', 'TwemojiMozilla', sans-serif; 
                            .mat-form-field-wrapper {
                                padding: 0 !important;

                                .mat-form-field-flex {
                                    padding: 0;

                                    .mat-form-field-infix {
                                        padding: 0px !important;
                                        border: none;
                                        border-radius: 20px;

                                        textarea {
                                            overflow-x: hidden;
                                            margin: 16px 48px 16px 16px;
                                            width: calc(100% - 64px);
                                            padding: 0;
                                            min-height: 20px;
                                            font-family: 'Montserrat', 'TwemojiMozilla', sans-serif; 
                                        }
                                    }
                                }

                                .mat-form-field-underline {
                                    display: none !important;
                                }
                            }
                        }

                        .send-message-button {
                            position: absolute;
                            right: 8px;

                            .mat-icon {
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.preview-media-dialog {
    .mat-dialog-container {
        padding-top: 0;

        .mat-dialog-content {
            max-height: 80vh;

            .preview-container {
                transition: transform 300ms ease-in-out;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

video {
    bottom: 0;
}
