<div class="">
    <button
        mat-icon-button
        class="aux-codes-btn"
        [ngClass]="{ opened: opened }"
        [matMenuTriggerFor]="menu"
        aria-label="AUX Codes dropdown"
        (menuOpened)="menuOpened(true)"
        (menuClosed)="menuOpened(false)"
    >
        <mat-icon>expand_more</mat-icon>
    </button>
</div>

<mat-menu class="tw-aux-codes-list" #menu="matMenu" xPosition="before">
    <button
        mat-menu-item
        *ngFor="let item of auxCodesList"
        (click)="changeStatus(item)"
        disabled="{{ item.Name === currentAux || item.Code === 'nodata' }}"
    >
        <mat-icon class="{{ item.Code.toLowerCase() }}">
            {{ item.Code.toLowerCase() === 'available' ? 'check_circle' : item.Code === 'logout' ? 'settings_power' : 'remove_circle' }}
        </mat-icon>
        <span>{{ item.Name }}</span>
    </button>
</mat-menu>
