<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent($event)">
    <div *ngIf="interactionDetailsTable.loaded" class="w-100-p bg-inherit custom-scroll-adjust" [ngClass]="maximized ? 'h-90-p' : 'h-100-p'">
        <mat-table [dataSource]="interactionDetailsTable.source" matSort matSortDisableClear>
            <ng-container matColumnDef="Channel">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Channel</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-icon class="channel-icon" color="primary" [matTooltip]="element.Channel">
                        {{
                            element.Channel === 'Voice'
                                ? 'phone'
                                : element.Channel === 'TextChat'
                                ? 'chat'
                                : element.Channel === 'AudioChat'
                                ? 'phone'
                                : element.Channel === 'VideoChat'
                                ? 'duo'
                                : element.Channel === 'Email'
                                ? 'email'
                                : 'feed'
                        }}
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="SubChannel">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Sub Channel</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="element.Channel | lowercase">
                        <ng-container *ngSwitchCase="'textchat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'audiochat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'videochat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'services'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>

                        <ng-template #interactionBrandType let-subChannel="InteractionData.SubChannel">
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'chat'" matTooltip="Chat">chat</mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'text'" matTooltip="Chat">chat</mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'audio'" matTooltip="Audio Call">phone</mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'video'" matTooltip="Video Call">duo</mat-icon>
                            <mat-icon
                                color="primary"
                                *ngIf="subChannel.toLowerCase() === 'whatsapp'"
                                matTooltip="WhatsApp"
                                svgIcon="custom-whatsapp"
                            ></mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'we'" matTooltip="WeChat" svgIcon="custom-we"></mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'line'" matTooltip="Line" svgIcon="custom-line"></mat-icon>
                            <mat-icon
                                color="primary"
                                *ngIf="subChannel.toLowerCase() === 'viber'"
                                matTooltip="Viber"
                                svgIcon="custom-viber"
                            ></mat-icon>
                            <mat-icon
                                color="primary"
                                *ngIf="subChannel.toLowerCase() === 'twitter'"
                                matTooltip="Twitter"
                                svgIcon="custom-twitter"
                            ></mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'fb'" matTooltip="FB" svgIcon="custom-fb"></mat-icon>
                            <mat-icon
                                color="primary"
                                *ngIf="subChannel.toLowerCase() === 'telegram'"
                                matTooltip="Telegram"
                                svgIcon="custom-telegram"
                            ></mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'textchat'" matTooltip="Chat">chat</mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'store'" matTooltip="Store">store</mat-icon>
                            <mat-icon color="primary" *ngIf="subChannel.toLowerCase() === 'field'" matTooltip="Field">roofing</mat-icon>
                        </ng-template>

                        <mat-icon color="primary" *ngSwitchCase="'voice'" matTooltip="Voice"> call </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'sms'" matTooltip="SMS"> textsms </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'email'" matTooltip="Email"> email </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'fax'" matTooltip="Fax"> print </mat-icon>
                        <mat-icon color="primary" *ngSwitchDefault [matTooltip]="element.InteractionData.SubChannel"> feed </mat-icon>
                    </ng-container>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="LastStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.LastStatus || 'NA' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="User">
                <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.InteractionData.User || 'NA' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ActiveTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Active Time</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ (element.ActiveTime * 1000 | date: 'HH:mm:ss':'UTC') || '00:00:00' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="HoldTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Hold Time</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ (element.HoldTime * 1000 | date: 'HH:mm:ss':'UTC') || '00:00:00' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-12">
                    <ng-container *ngFor="let feature of configData.AgentFeatures">
                        <button
                            #agentActionBtn
                            mat-icon-button
                            *ngIf="featureCheck(feature, 'interaction', element.Channel.toLowerCase())"
                            [matTooltip]="featureMap[feature.Feature].Label"
                            (click)="performInteractionAction(element, feature)"
                        >
                            <mat-icon>{{ featureMap[feature.Feature].Icon }}</mat-icon>
                        </button>
                    </ng-container>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="interactionDetailsTable.columns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: interactionDetailsTable.columns"></mat-row>
        </mat-table>

        <p *ngIf="interactionDetailsTable.source.data.length === 0" class="text-center m-0 mat-title">No Data Available</p>
    </div>
    <mat-paginator *ngIf="maximized" [pageSizeOptions]="maximized ? [30, 40, 50] : [3, 6, 12]" showFirstLastButtons> </mat-paginator>

    <div *ngIf="!interactionDetailsTable.loaded" class="w-100-p h-100-p" fxLayout fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</tw-wrapper>
