<div *ngIf="loaded" class="tw-widget-container custom-scroll" [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }">
    <div *ngIf="dockerWidgets?.length" fxFill fxFlex fxLayout="row wrap" fxLayoutAlign=" none">
        <tw-template class="widget-grid" [widgets]="dockerWidgets"></tw-template>

        <div
            *ngIf="aotWidgets.length"
            class="tw-aot-fab"
            cdkDrag
            cdkDragBoundary=".tw-widget-container"
            (cdkDragStarted)="aotFABDrag = true"
            (cdkDragReleased)="aotFABDrag = false"
        >
            <widget-fab [aotFABDrag]="aotFABDrag" [fabWidgets]="aotWidgets"></widget-fab>
        </div>
    </div>

    <twc-not-found
        *ngIf="!dockerWidgets || !dockerWidgets.length"
        class="tw-widget-container"
        [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }"
        title="No Widgets"
        type="widget"
        message="No docker widgets found!"
    ></twc-not-found>
</div>
