<!-- No interaction template -->
<twc-no-interaction *ngIf="interactions.length === 0" type="textchat"> </twc-no-interaction>

<!-- Interaction template -->
<ng-container *ngFor="let item of interactions; index as i">
    <!-- No widget for interaction -->
    <twc-no-widgets *ngIf="item.widgets.length === 0"></twc-no-widgets>

    <!-- widget template -->
    <tw-template
        class="widget-grid"
        [ngClass]="item.interactionId === activeInteraction ? 'active' : ''"
        *ngIf="item.widgets.length > 0"
        [widgets]="item.widgets"
    >
    </tw-template>
</ng-container>
