tw-work-codes {
    button.add-workcode {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    mat-form-field {
        .mat-form-field-wrapper {
            .mat-form-field-outline-start {
                border-radius: 2rem 0 0 1.5rem !important;
                min-width: 2rem !important;
            }

            .mat-form-field-outline-end {
                border-radius: 0 2rem 2rem 0 !important;
            }

            .mat-form-field-infix {
                border: none;
                padding: 1.25em 0 1.25em 0;
            }
        }
    }

    .bg {
        &-color-1 {
            background-color: #fb7d7d !important;
        }
        &-color-2 {
            background-color: #8eaff9 !important;
        }
        &-color-3 {
            background-color: #8eaff9 !important;
        }
        &-color-4 {
            background-color: #f2e2b5 !important;
        }
        &-color-5 {
            background-color: #e1c6f3 !important;
        }
    }

    mat-chip mat-icon {
        color: rgba(0, 0, 0, 0.47) !important;
    }
}
