<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div
        *ngIf="!loadWorkCodesReq.loading && !loadWorkCodesReq.error"
        fxFlex
        fxFill
        fxLayout="row"
        fxLayoutAlign="center"
        class="p-4 position-relative"
    >
        <div *ngIf="widgetData.Role === 'interaction'" class="w-100-p h-100-p p-12 custom-scroll-adjust">
            <mat-chip-list #selectedWorkCodesRef aria-label="WorkCodes">
                <mat-chip *ngFor="let workCode of selectedWorkCodes" removable (removed)="removeWorkCode(workCode)" class="bg-secondary">
                    <mat-icon class="mat-icon-mirror mr-4">local_offer</mat-icon>
                    {{ workCode.Name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <button class="add-workcode" mat-button mat-raised-button mat-icon-button (click)="openAddWorkCodeModal()">
                <mat-icon>add</mat-icon>
            </button>
            <p *ngIf="!selectedWorkCodes.length" class="text-center mat-title mt-40">No work code selected</p>
        </div>

        <div *ngIf="widgetData.Role === 'supervisor'" class="w-100-p h-100-p p-12 custom-scroll-adjust">
            <mat-chip-list aria-label="WorkCodes">
                <mat-chip
                    *ngFor="let workCode of selectedWorkCodes"
                    [ngClass]="{
                        'bg-info': workCode.Count < 10,
                        'bg-secondary': workCode.Count >= 10 && workCode.Count < 20,
                        'bg-success': workCode.Count >= 20 && workCode.Count < 30,
                        'bg-warning': workCode.Count >= 30 && workCode.Count < 50,
                        'bg-danger': workCode.Count >= 50
                    }"
                >
                    <mat-icon class="mat-icon-mirror mr-4">local_offer</mat-icon>
                    {{ workCode.WorkCodeName + ' [' + workCode.Count + ']' }}
                </mat-chip>
            </mat-chip-list>

            <div *ngIf="selectedWorkCodes.length === 0" class="w-100-p h-90-p">
                <img src="assets/images/vectors/no-data-1.svg" class="w-100-p h-100-p box-shadow-3d" />
                <p class="text-center mat-title m-0">No Data Available</p>
            </div>
        </div>
    </div>

    <div *ngIf="loadWorkCodesReq.loading" class="w-100-p h-100-p" fxLayout fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="loadWorkCodesReq.error" class="w-100-p h-100-p text-center p-8" fxLayout="column" fxLayoutAlign="center center">
        <p>{{ loadWorkCodesReq.msg }}</p>
        <button mat-button mat-raised-button color="primary" class="ml-8" (click)="setup()">Retry</button>
    </div>

    <!-- your code goes here -->
</tw-wrapper>

<ng-template #addWorkcodeModalRef>
    <p class="mat-title">Select Work Codes</p>
    <mat-form-field class="w-100-p" appearance="outline">
        <mat-chip-list #selectedWorkCodesRef aria-label="WorkCodes">
            <mat-chip *ngFor="let workCode of selectedWorkCodes" removable (removed)="removeWorkCode(workCode)" class="bg-secondary">
                <mat-icon class="mat-icon-mirror mr-4">local_offer</mat-icon>
                {{ workCode.Name }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #workCodeInput placeholder="Search Workcodes..." [formControl]="workCodeCtrl" [matChipInputFor]="selectedWorkCodesRef" />
        </mat-chip-list>
    </mat-form-field>

    <ng-container *ngFor="let group of filteredOptions | async | keyvalue">
        <p class="mat-title">{{ group.key }}</p>
        <mat-chip-list aria-label="WorkCodes">
            <mat-chip *ngFor="let workCode of group.value" class="bg-secondary" (click)="setWorkCode(workCode, group.key)">
                <mat-icon class="mat-icon-mirror mr-4">local_offer</mat-icon>
                {{ workCode.Name }}
            </mat-chip>
        </mat-chip-list>
    </ng-container>
</ng-template>
