<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div *ngIf="!loadWorkCodesReq.loading && !loadWorkCodesReq.error" fxFlex fxFill fxLayout="row" fxLayoutAlign="center" class="p-4">
        <mat-form-field *ngIf="DataConf.Source === 'interaction'" class="w-100-p" appearance="outline">
            <mat-autocomplete class="w-100-p" #allWorkCodesRef (optionSelected)="setWorkCode($event)">
                <mat-optgroup *ngFor="let group of loadWorkCodesReq.data | keyvalue" [label]="group.key">
                    <mat-option *ngFor="let workCode of group.value" [value]="workCode">
                        {{ workCode.Name }}
                    </mat-option>
                </mat-optgroup>
            </mat-autocomplete>
            <mat-chip-list #selectedWorkCodesRef aria-label="WorkCodes">
                <mat-chip *ngFor="let workCode of selectedWorkCodes" removable (removed)="removeWorkCode(workCode)" class="bg-primary">
                    <mat-icon class="mat-icon-mirror mr-4">local_offer</mat-icon>
                    {{ workCode.Name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                    #workCodeInput
                    placeholder="Select Workcodes..."
                    [formControl]="workCodeCtrl"
                    [matAutocomplete]="allWorkCodesRef"
                    [matChipInputFor]="selectedWorkCodesRef"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                />
            </mat-chip-list>
        </mat-form-field>
        <div
            *ngIf="DataConf.Source === 'supervisor'"
            class="w-100-p h-100-p p-12"
            fusePerfectScrollbar
            [fusePerfectScrollbarOptions]="{ suppressScrollX: true }"
        >
            <mat-chip-list aria-label="WorkCodes">
                <mat-chip
                    *ngFor="let workCode of selectedWorkCodes"
                    [ngClass]="{
                        'bg-info': workCode.Count < 10,
                        'bg-secondary': workCode.Count >= 10,
                        'bg-success': workCode.Count >= 30,
                        'bg-warning': workCode.Count >= 50,
                        'bg-danger': workCode.Count >= 70
                    }"
                >
                    <mat-icon class="mat-icon-mirror mr-4">local_offer</mat-icon>
                    {{ workCode.WorkCodeName }}
                </mat-chip>
            </mat-chip-list>
            <div *ngIf="selectedWorkCodes.length === 0" class="w-100-p h-100-p" fxLayout fxLayoutAlign="center center">
                <p class="mat-title">No Data Available</p>
            </div>
        </div>
    </div>

    <div *ngIf="loadWorkCodesReq.loading" class="w-100-p h-100-p" fxLayout fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="loadWorkCodesReq.error" class="w-100-p h-100-p text-center p-8" fxLayout="column" fxLayoutAlign="center center">
        <p>{{ loadWorkCodesReq.msg }}</p>
        <button mat-button mat-raised-button color="primary" class="ml-8" (click)="setup()">Retry</button>
    </div>

    <!-- your code goes here -->
</tw-wrapper>
