<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data" (maximizeEvent)="onMaximize($event)">
    <div *ngIf="loading" class="twd-w-full twd-h-full twd-flex twd-justify-center twd-items-center">
        <mat-spinner></mat-spinner>
    </div>

    <div [ngClass]="{ 'twd-hidden': loading || error }" class="twd-w-full twd-h-full twd-relative">
        <div #mapContainer class="twd-h-full twd-w-full twd-absolute"></div>
    </div>

    <ng-template *ngIf="error">
        <div class="twd-h-full twd-flex twd-justify-center twd-items-center">
            <p class="text-center mat-title">
                {{ error }}
            </p>
        </div>
    </ng-template>
</tw-wrapper>
