<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" #wrapper>
    <!-- your code goes here -->
    <div *ngIf="dataConfig.Source === 'dashboard' && !wrapper.maximized" fxFill fxLayout="row wrap" class="p-4">
        <div fxFlex="100" fxLayout fxLayoutAlign="space-between center" class="px-16 py-12">
            <span> {{ date | date: 'mediumDate' }} </span>
            <span> {{ date | date: 'mediumTime' }} </span>
        </div>

        <div fxFlex="100" class="line-height-20">
            <div>Customer Feedback</div>
            <span> Call Duration : 00:16:33 </span>

            <p>
                <span *ngFor="let star of ratings | slice: -(stars - ratings.length)" class="rating box-shadow-3d">
                    <mat-icon color="primary"> star_rating</mat-icon>
                </span>
                <span *ngFor="let star of ratings | slice: stars" class="rating box-shadow-3d">
                    <mat-icon> star_border </mat-icon>
                </span>
            </p>

            <p class="text-bold mat-title m-0">Positive</p>
        </div>
    </div>

    <div *ngIf="dataConfig.Source === 'supervisor' || wrapper.maximized" class="w-100-p h-100-p">
        <div
            class="w-100-p bg-inherit custom-scroll-adjust"
            [ngClass]="wrapper.maximized ? 'h-90-p' : 'h-100-p'"
        >
            <mat-table [dataSource]="feedbackDetailsTable.source" matSort matSortDisableClear [@animateStagger]="{ value: '50' }">
                <ng-container matColumnDef="InteractionID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>InteractionID</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.InteractionID }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Channel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Channel</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.Channel }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Feedback">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Feedback</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngFor="let star of ratings | slice: -(element.Feedback - ratings.length)" class="rating box-shadow-3d">
                            <mat-icon color="primary"> star_rating</mat-icon>
                        </span>
                        <span *ngFor="let star of ratings | slice: element.Feedback" class="rating box-shadow-3d">
                            <mat-icon> star_border </mat-icon>
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Score">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
                    <mat-cell *matCellDef="let element"> </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="feedbackDetailsTable.columns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: feedbackDetailsTable.columns" [@animate]="{ value: '*', params: { y: '100%' } }"></mat-row>
            </mat-table>

            <p *ngIf="feedbackDetailsTable.source.data.length === 0" class="text-center m-0 mat-title">No Data Available</p>
        </div>
        <mat-paginator *ngIf="wrapper.maximized" [pageSizeOptions]="wrapper.maximized ? [30, 40, 50] : [3, 6, 12]" showFirstLastButtons>
        </mat-paginator>
    </div>

    <!-- your code goes here -->
</tw-wrapper>
