<ng-container *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async),
        config: (customFuse.config$ | async)
    } as customFuse">
    <tw-wrapper [data]="data" (maximizeEvent)="onMaximized($event)" (collapseEvent)="collapseEvent.emit($event)"
        (floatEvent)="onFloated($event)" *transloco="let locale">
        <div class="smp-interaction-container twd-w-full twd-flex">
            <div class="interaction-avatar twd-flex twd-flex-col twd-pl-2">
                <div *ngFor="let interaction of interactionList" (click)="selectInteraction(interaction)"
                    class="avatar-box twd-rounded-3xl twd-relative twd-flex {{interaction.isActive ? 'active' : 'inactive'}}"
                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content">
                    <img class="twd-absolute social-tag" src="assets/images/vectors/{{interaction.channel}}.svg" alt="">
                    <h5 class="font-weight-600">{{getInitials(interaction.user)}}</h5>
                </div>
            </div>

            <div class="interaction-main sm-im-content twd-w-full twd-flex twd-flex-col twd-rounded-3xl twd-relative twd-p-3"
                [ngClass]="customFuse.anchor?.content || customFuse.widget?.content">
                <div class="social-info-action twd-w-full twd-flex twd-pb-3 bb">
                    <div class="s-info twd-flex">
                        <img src="assets/images/vectors/{{this.smpService.postBodies[sessionId]?.SubChannel}}.svg"
                            alt="">
                        <h5 class="font-weight-700">{{this.smpService.postBodies[sessionId]?.PostAccountName}}</h5>
                    </div>
                    <div class="s-actions twd-flex">
                        <mat-icon role="button">reply</mat-icon>
                        <mat-icon role="button">save</mat-icon>
                        <mat-icon role="button">send</mat-icon>
                        <mat-icon role="button" [disabled]="actionStatus.isClosingInteraction"
                            (click)="closeInteraction()">close</mat-icon>
                    </div>
                </div>
                <smp-template *ngIf="this.smpService?.postBodies[sessionId]" [MaximumAllowedPostImageRendering]="5"
                    [interactionId]="interactionId" [sessionId]="sessionId" [mode]="'interaction-min'"
                    [postData]="this.smpService.postBodies[sessionId]"
                    [ngClass]="{ 'max-mode': isMaximizedMode }"></smp-template>
                <div class="load-more twd-flex" *ngIf="!isMaximizedMode" role="button"
                    (click)="toggleInteractionPopup()">
                    <p>Load more</p>
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
            </div>

        </div>
    </tw-wrapper>

    <div class="interaction-popup twd-flex" *ngIf="popupInteraction">
        <div class="interaction-main twd-w-full twd-flex twd-flex-col twd-rounded-3xl twd-relative twd-p-3"
            [ngClass]="customFuse.anchor?.content || customFuse.widget?.content">
            <div class="social-info-action twd-w-full twd-flex twd-pb-3 bb">
                <div class="s-info twd-flex">
                    <img src="assets/images/vectors/{{smpService.postBodies[sessionId]?.SubChannel}}.svg" alt="">
                    <h5 class="font-weight-700">{{smpService.postBodies[sessionId]?.PostAccountName}}</h5>
                </div>
                <div class="s-actions twd-flex">
                    <mat-icon role="button">reply</mat-icon>
                    <mat-icon role="button">save</mat-icon>
                    <mat-icon role="button">send</mat-icon>
                    <mat-icon (click)="toggleInteractionPopup()" role="button">close</mat-icon>
                </div>
            </div>
            <smp-template *ngIf="this.smpService?.postBodies[sessionId]" [MaximumAllowedPostImageRendering]="5"
                [maxFileUploadSize]="MaxFileUploadSize" [mode]="'interaction-min'" [interactionId]="interactionId"
                [sessionId]="sessionId" [postData]="this.smpService.postBodies[sessionId]"></smp-template>
        </div>
    </div>
</ng-container>