tw-smp-controls .mat-card-content {
    background: inherit !important;
    box-shadow: none !important;
    padding: 0 3px 3px !important;
}

.smp-interaction-container {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;

    .interaction-avatar {
        width: 75px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 5px;

        .avatar-box {
            width: 100%;
            height: 45px;
            background: var(--twd-primary-50);
            align-items: center;
            justify-content: center;
            border: 2px solid transparent;
            cursor: pointer;

            h5 {
                font-size: 18px;
            }

            .social-tag {
                top: 50%;
                height: 16px;
                transform: translateY(-50%);
                left: -10px;
            }
        }

        .active {
            border: 2px solid var(--twd-primary-default);
        }
    }
}

.interaction-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.35);
    align-items: center;
    justify-content: center;
    z-index: 9;
    padding: 5vh 0;

    .interaction-main {
        min-width: 550px;
        width: 50vw;

        smp-template {
            .smp-template {
                grid-template-rows: 1fr 1.4fr;
                height: 100%;
            }
        }
    }
}

.interaction-main {
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;

    .social-info-action {
        align-items: center;
        justify-content: space-between;

        .s-info {
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            img {
                height: 40px;
            }

            h5 {
                font-size: 17px;
            }
        }

        .s-actions {
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            mat-icon {
                width: 20px;
                height: 20px;
                opacity: 0.35;
                cursor: pointer;
            }
        }
    }

    smp-template {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        max-height: 100%;
        overflow: hidden;

        .smp-template {
            padding-left: 0px !important;
            padding-right: 0px !important;
            height: 50vh;
        }
    }

    .max-mode {
        padding-bottom: 0;
        
        .smp-template {
            grid-template-rows: 1fr 1.4fr;
            height: 100%;
        }
    }

    .load-more {
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        cursor: pointer;

        p {
            font-size: 13px;
            opacity: 0.75;
        }
    }
}