<ng-container
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async),
        config: (customFuse.config$ | async)
    } as customFuse"
>
    <tw-wrapper
        [data]="data"
        (maximizeEvent)="onMaximized($event)"
        (collapseEvent)="collapseEvent.emit($event)"
        (floatEvent)="onFloated($event)"
        *transloco="let locale"
    >
        <div
            class="smp-interaction-container twd-w-full twd-flex"
            [ngStyle]="{
                pointerEvents:
                    actionStatus.disableUIButtons || this.restrictPostActions[this.interactionId] ? 'none' : 'all'
            }"
        >
            <div class="interaction-avatar twd-flex twd-flex-col twd-pl-2">
                <div
                    *ngFor="let interaction of interactionList"
                    (click)="selectInteraction(interaction)"
                    class="avatar-box twd-rounded-3xl twd-relative twd-flex {{
                        interaction.isActive ? 'active' : 'inactive'
                    }}"
                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                >
                    <img
                        class="twd-absolute social-tag"
                        src="assets/images/vectors/{{ 
                        this.smpService.postBodies[interaction.sessionId]?.SubChannel ??
                        this.smpService.postBodies[interaction.outSessionId]?.SubChannel }}.svg" />
                    <h5 class="font-weight-600">{{ getInitials(interaction.user) }}</h5>
                </div>
            </div>

            <div
                class="interaction-main sm-im-content twd-w-full twd-flex twd-flex-col twd-rounded-3xl twd-relative twd-p-3"
            >
                <div class="social-info-action twd-w-full twd-flex twd-pb-3 bb">
                    <div class="s-info twd-flex">
                        <img
                            src="assets/images/vectors/{{
                                this.smpService.postBodies[activeSessionId]?.SubChannel
                            }}.svg"
                            alt=""
                        />
                        <h5 class="font-weight-700">
                            {{ this.smpService.postBodies[activeSessionId]?.PostAccountName }}
                        </h5>
                    </div>
                    <div class="s-actions twd-flex">
                        <mat-icon 
                            [ngClass]="
                                (commentsAdded ? ' animate__animated animate__flash animate__infinite animate__slow active-interaction-comment' : '') +
                                (savedComments.length ? 'active-interaction-comment': '')
                            " 
                            [matTooltip]="locale('widgets.smpControls.tooltips.interactionComments')"
                            (click)="commentsAdded = false; saveInteractionComments()" role="button">comment</mat-icon>
                        <mat-icon
                            style="transform: scaleX(-1);"
                            [matTooltip]="locale('widgets.smpControls.tooltips.transferInteraction')"
                            (click)="transferPost()"
                            role="button"
                            >reply</mat-icon
                        >
                        <mat-icon
                            [matTooltip]="locale('widgets.smpControls.tooltips.draftInteraction')"
                            (click)="savePostAsDraft(false, true)"
                            role="button"
                            >save</mat-icon
                        >
                        <mat-icon
                            [matTooltip]="locale('widgets.smpControls.tooltips.clearData')"
                            (click)="clearDraftData()"
                            role="button"
                            >not_interested</mat-icon
                        >
                        <mat-icon
                            [matTooltip]="locale('widgets.smpControls.tooltips.closeInteraction')"
                            role="button"
                            (click)="closeInteraction()"
                            >close</mat-icon
                        >
                    </div>
                </div>
                <ng-container *ngIf="postDraftData[interactionId] && smpService.postBodies[activeSessionId]">
                    <smp-template
                        [isDraftMode]="isDraftMode"
                        [draftData]="postDraftData[interactionId]"
                        [interactionId]="interactionId"
                        [sessionId]="sessionId"
                        (dataChanged)="this.postDraftData[$event].isReplyDrafted = false"
                        [enhanceCommentContainer]="isMaximizedMode"
                        [previousCommentFromNotification]="
                            editedCommentData[this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId]
                                ? [
                                      editedCommentData[
                                          this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId
                                      ]?.message
                                  ]
                                : []
                        "
                        (emitReply)="emitReply($event)"
                        [outSessionId]="outSessionId"
                        [mode]="!isMaximizedMode ? 'interaction-min' : 'interaction-max'"
                        [postData]="this.smpService.postBodies[activeSessionId]"
                        (restrictPostAction)="restrictPostActionEvt($event)"
                        [ngClass]="{ 'max-mode': isMaximizedMode }"
                    ></smp-template>
                    <div
                        class="load-more twd-flex"
                        *ngIf="!isMaximizedMode && !isFloatedMode"
                        role="button"
                        (click)="toggleInteractionPopup()"
                    >
                        <p>Load more</p>
                        <mat-icon>arrow_drop_down</mat-icon>
                    </div>
                </ng-container>

                <!-- Social media comment edit -->
                <div
                    class="banner-overlay twd-absolute twd-flex"
                    *ngIf="
                        editedCommentData[this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId] &&
                        !editedCommentData[this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId]
                            ?.isConsented
                    "
                >
                    <div
                        class="bg-ol twd-absolute"
                    ></div>
                    <div
                        class="custom-dialog deleted"
                    >
                        <img src="assets/images/vectors/pc_edited.svg" />
                        <h4>{{ locale('widgets.smpControls.commentEditedDialogMessage') }}</h4>
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="
                                this.editedCommentData[
                                    this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId
                                ].isConsented = true;
                                setPostDetails(true)
                            "
                            type="button"
                        >
                            OK
                        </button>
                    </div>
                </div>

                <!-- Social media parent comment edit -->
                <div
                    class="banner-overlay twd-absolute twd-flex"
                    *ngIf="
                        editedParentCommentData[
                            this.smpService.postBodies[activeSessionId]?.SmParentComments?.CommentId
                        ] &&
                        !editedParentCommentData[
                            this.smpService.postBodies[activeSessionId]?.SmParentComments?.CommentId
                        ]?.isConsented
                    "
                >
                    <div class="bg-ol twd-absolute"></div>
                    <div class="custom-dialog deleted">
                        <img src="assets/images/vectors/pc_edited.svg" />
                        <h4>{{ locale('widgets.smpControls.parentCommentEditedDialogMessage') }}</h4>
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="
                                this.editedParentCommentData[
                                    this.smpService.postBodies[activeSessionId]?.SmParentComments?.CommentId
                                ].isConsented = true;
                                setPostDetails(true)
                            "
                            type="button"
                        >
                            OK
                        </button>
                    </div>
                </div>

                <!-- Social media comment delete -->
                <div
                    class="banner-overlay twd-absolute twd-flex"
                    *ngIf="
                        deletedCommentData[this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId] &&
                        !deletedCommentData[this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId]
                            ?.isConsented
                    "
                >
                    <div
                        class="bg-ol twd-absolute"
                    ></div>
                    <div
                        class="custom-dialog edited"
                    >
                        <img src="assets/images/vectors/pc_deleted.svg" />
                        <h4>{{ locale('widgets.smpControls.commentDeletedDialogMessage') }}</h4>
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="
                                this.deletedCommentData[
                                    this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId
                                ].isConsented = true;
                                closeInteraction(true)
                            "
                            type="button"
                        >
                            OK
                        </button>
                    </div>
                </div>

                <!-- Social media post delete -->
                <div
                    class="banner-overlay twd-absolute twd-flex"
                    *ngIf="
                        deletedPostData[this.smpService.postBodies[activeSessionId]?.PostId] &&
                        !deletedPostData[this.smpService.postBodies[activeSessionId]?.PostId][activeSessionId]
                    "
                >
                    <div
                        class="bg-ol twd-absolute"
                    ></div>
                    <div
                        class="custom-dialog edited"
                    >
                        <img src="assets/images/vectors/pc_deleted.svg" />
                        <h4>{{ locale('widgets.smpControls.postDeletedDialogMessage') }}</h4>
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="
                                this.deletedPostData[this.smpService.postBodies[activeSessionId]?.PostId][
                                    activeSessionId
                                ] = true;
                                closeInteraction(true)
                            "
                            type="button"
                        >
                            OK
                        </button>
                    </div>
                </div>

                <!-- Social media post edit -->
                <div
                    class="banner-overlay twd-absolute twd-flex"
                    *ngIf="
                        editedPostData[this.smpService.postBodies[activeSessionId]?.PostId] &&
                        !editedPostData[this.smpService.postBodies[activeSessionId]?.PostId][activeSessionId]
                    "
                >
                    <div
                        class="bg-ol twd-absolute"
                    ></div>
                    <div
                        class="custom-dialog edited"
                    >
                        <img src="assets/images/vectors/pc_edited.svg" />
                        <h4>{{ locale('widgets.smpControls.postEditedDialogMessage') }}</h4>
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="
                                this.editedPostData[this.smpService.postBodies[activeSessionId]?.PostId][
                                    activeSessionId
                                ] = true;
                                setPostDetails(true)
                            "
                            type="button"
                        >
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </tw-wrapper>

    <div
        class="interaction-popup twd-flex"
        *ngIf="popupInteraction"
        [ngStyle]="{
            pointerEvents:
                actionStatus.disableUIButtons || this.restrictPostActions[this.interactionId] ? 'none' : 'all'
        }"
    >
        <div
            class="interaction-main twd-w-full twd-flex twd-flex-col twd-rounded-3xl twd-relative twd-p-3"
            *transloco="let locale"
        >
            <div class="social-info-action twd-w-full twd-flex twd-pb-3 bb">
                <div class="s-info twd-flex">
                    <img
                        src="assets/images/vectors/{{ smpService.postBodies[activeSessionId]?.SubChannel }}.svg"
                        alt=""
                    />
                    <h5 class="font-weight-700">{{ smpService.postBodies[activeSessionId]?.PostAccountName }}</h5>
                </div>
                <div class="s-actions twd-flex">
                    <mat-icon
                        style="transform: scaleX(-1);"
                        [matTooltip]="locale('widgets.smpControls.tooltips.transferInteraction')"
                        (click)="transferPost()"
                        role="button"
                        >reply</mat-icon
                    >
                    <mat-icon
                        [matTooltip]="locale('widgets.smpControls.tooltips.draftInteraction')"
                        (click)="savePostAsDraft(false, true)"
                        role="button"
                        >save</mat-icon
                    >
                    <mat-icon
                        [matTooltip]="locale('widgets.smpControls.tooltips.clearData')"
                        (click)="clearDraftData()"
                        role="button"
                        >not_interested</mat-icon
                    >
                    <mat-icon (click)="toggleInteractionPopup()" matTooltip="Close" role="button">close</mat-icon>
                </div>
            </div>
            <smp-template
                [isDraftMode]="isDraftMode"
                [draftData]="postDraftData[interactionId]"
                (dataChanged)="this.postDraftData[$event].isReplyDrafted = false"
                [maxFileUploadSize]="MaxFileUploadSize"
                [previousCommentFromNotification]="
                    editedCommentData[this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId]
                        ? [
                              editedCommentData[this.smpService.postBodies[activeSessionId]?.SmActiveComment?.CommentId]
                                  ?.message
                          ]
                        : []
                "
                [enhanceCommentContainer]="true"
                [mode]="'interaction-max'"
                [interactionId]="interactionId"
                [outSessionId]="outSessionId"
                [sessionId]="sessionId"
                [postData]="this.smpService.postBodies[activeSessionId]"
                (emitReply)="emitReply($event)"
            ></smp-template>
        </div>
    </div>
</ng-container>
