tw-smp-controls .mat-card-content {
    background: inherit !important;
    box-shadow: none !important;
    padding: 0 3px 3px !important;
}

.smp-interaction-container {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;

    .interaction-avatar {
        width: 75px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 5px;

        .avatar-box {
            width: 100%;
            min-height: 45px;
            align-items: center;
            justify-content: center;
            border: 2px solid transparent;
            cursor: pointer;

            h5 {
                font-size: 18px;
            }

            .social-tag {
                top: 50%;
                height: 16px;
                transform: translateY(-50%);
                left: -10px;
            }
        }

        .active {
            border: 2px solid var(--twd-primary-default);
        }
    }
}

.yellow-icon {
    color: #ffd900 !important;
}

.red-icon {
    color: #ff0000 !important;
}

.theme-icon {
    color: var(--twd-primary-default) !important;
}

.interaction-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.35);
    align-items: center;
    justify-content: center;
    z-index: 9;
    padding: 5vh 0;

    .interaction-main {
        min-width: 550px;
        width: 50vw;

        smp-template {
            .smp-template {
                grid-template-rows: 1fr 1.4fr;
                height: 100%;
            }
        }
    }
}

.interaction-main {
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;

    .social-info-action {
        align-items: center;
        justify-content: space-between;

        .s-info {
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            img {
                height: 40px;
            }

            h5 {
                font-size: 17px;
            }
        }

        .s-actions {
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            mat-icon {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }

    .banner-overlay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        
        .bg-ol {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
        }

        .custom-dialog {
            width: 400px;
            height: 300px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            z-index: 10;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            background-color: #fff;

            img {
                height: 220px;
                margin-top: -50px;
            }

            h4{
                font-size: 16px;
                font-weight: 500;
                margin: 0 15px;
                text-align: center;
            }
        }
    }

    smp-template {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        max-height: 100%;
        overflow: hidden;

        .smp-template {
            padding-left: 0px !important;
            padding-right: 0px !important;
            // height: 50vh;
            max-height: 100%;
        }
    }

    .max-mode {
        padding-bottom: 0;
        
        .smp-template {
            grid-template-rows: 1fr 1.4fr;
            height: 100%;
        }
    }

    .load-more {
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        cursor: pointer;

        p {
            font-size: 13px;
            opacity: 0.75;
        }
    }
}