<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<ng-container
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async)
    } as customFuse"
>
    <tw-wrapper
        [data]="data"
        (maximizeEvent)="maximizeEvent.emit($event)"
        (collapseEvent)="collapseEvent.emit($event)"
        (floatEvent)="floatEvent.emit($event)"
    >
        <div class="twd-flex twd-h-full">
            <div class="twd-flex twd-flex-col twd-items-start w-60 h-100-p mt-8 pt-8 interactions">
                <ng-container *ngIf="interactionList">
                    <avatar
                        *ngFor="let item of interactionList"
                        name="{{ item.user }}"
                        [ngClass]="item.status + ' ' + (item.interactionId === interactionId ? 'active' : '')"
                        matTooltip="{{ item.user }}"
                        matTooltipPosition="after"
                        (click)="selectInteraction(item)"
                        [circleColor]="customFuse.anchor?.content || customFuse.widget?.content"
                    ></avatar>
                </ng-container>
            </div>
            <div
                class="twd-h-full twd-flex-1 twd-flex twd-flex-col twd-shadow-md twd-rounded-3xl twd-p-3 twd-overflow-y-auto"
                [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
            >
                <div class="twd-flex twd-flex-wrap twd-gap-3 twd-pb-2 twd-justify-end">
                    <ng-container *ngIf="currentInteraction.EventName === 'OutgoingEmailEvent'">
                        <button
                            *ngIf="data.Data?.InteractionCommentAllowed && replyInfo"
                            mat-raised-button
                            class="border-radius-20"
                            matTooltip="Interaction Comment"
                            (click)="saveInteractionComments()"
                        >
                            <mat-icon>comment</mat-icon>
                        </button>
                        <button
                            *ngIf="replyInfo"
                            mat-raised-button
                            class="border-radius-20"
                            (click)="saveEmailAsDraft(true, saveAsDraft)"
                            #saveAsDraft
                        >
                            Save As Draft
                        </button>
                        <button
                            mat-raised-button
                            class="border-radius-20"
                            color="warn"
                            (click)="closeInteraction(closeBtn)"
                            #closeBtn
                            matTooltip="Close"
                        >
                            Close
                        </button>
                        <button
                            *ngIf="replyInfo"
                            mat-raised-button
                            class="border-radius-20"
                            color="primary"
                            #sendEmailBtn
                            (click)="sendEmailAsMaker(null, sendEmailBtn)"
                            matTooltip="Send Email"
                            [disabled]="sendingEmailAsMaker"
                        >
                            Send
                        </button>
                    </ng-container>

                    <ng-container *ngIf="currentInteraction.EventName === 'IncomingEmailEvent'">
                        <button
                            *ngIf="data.Data?.InteractionCommentAllowed && replyInfo"
                            mat-raised-button
                            class="border-radius-20"
                            matTooltip="Interaction Comment"
                            (click)="saveInteractionComments()"
                        >
                            <mat-icon>comment</mat-icon>
                        </button>

                        <ng-container *ngIf="OutboxReasons.includes(currentInteraction.RouteReason)">
                            <button mat-raised-button class="border-radius-20" color="warn" (click)="rejectEmail(rejectBtn)" #rejectBtn>
                                Reject
                            </button>
                            <button mat-raised-button class="border-radius-20" (click)="sendEmailAsChecker(approveBtn)" #approveBtn color="primary">
                                Approve
                            </button>
                        </ng-container>

                        <ng-container
                            *ngIf="
                                InboxReasons.includes(currentInteraction.RouteReason) ||
                                DraftReasons.includes(currentInteraction.RouteReason) ||
                                SentReasons.includes(currentInteraction.RouteReason)
                            "
                        >
                            <button
                                *ngIf="replyInfo"
                                mat-raised-button
                                class="border-radius-20"
                                (click)="saveEmailAsDraft(true, saveAsDraft)"
                                #saveAsDraft
                            >
                                Save As Draft
                            </button>

                            <button
                                *ngIf="replyInfo"
                                mat-raised-button
                                class="border-radius-20"
                                color="accent"
                                (click)="closeEditor()"
                                matTooltip="Close Editor"
                            >
                                Cancel
                            </button>

                            <button
                                *ngIf="replyInfo"
                                mat-raised-button
                                class="border-radius-20"
                                color="primary"
                                (click)="sendEmailAsMaker(null, sendEmailBtn)"
                                matTooltip="Send Email"
                                #sendEmailBtn
                                [disabled]="sendingEmailAsMaker"
                            >
                                Send
                            </button>
                        </ng-container>
                    </ng-container>
                </div>

                <div *ngIf="replyInfo" class="twd-flex-1 twd-z-10">
                    <create-email
                        [emailInfo]="replyInfo"
                        #createEmailRef
                        (sendEmail)="sendEmailAsMaker($event, sendEmailBtn)"
                        [sendDisabled]="sendingEmailAsMaker"
                    >
                    </create-email>
                </div>

                <div *ngIf="!replyInfo" class="twd-flex-1 twd-h-full twd-z-10 twd-relative">
                    <div class="twd-absolute twd-w-full twd-h-full twd-top-0 twd-left-0 twd-overflow-hidden twd-flex twd-flex-col">
                        <div class="twd-max-h-6/12 twd-overflow-y-auto twd-overflow-x-hidden twd-pb-3 twd-z-10 twd-shadow-md">
                            <div id="rejectReason" *ngIf="currentInteraction.RejectReason">
                                <div class="twd-bg-red-500 twd-p-1 twd-text-xl">
                                    [ REJECTED ] {{ currentInteraction.RejectReason.reasonTags && ':' + currentInteraction.RejectReason.reasonTags }}
                                </div>
                                <div [ngClass]="{ 'twd-truncate': !smallEmailDescription }">
                                    Description : {{ currentInteraction.RejectReason.comment }}
                                </div>
                                <button mat-button color="primary" class="twd-mb-4" (click)="smallEmailDescription = !smallEmailDescription">
                                    {{ smallEmailDescription ? 'Show More' : 'Show less' }}
                                </button>
                            </div>

                            <div id="subject" class="twd-text-xl twd-mb-4 twd-truncate" [innerHtml]="currentInteraction.Subject"></div>

                            <div id="emailInfo" class="twd-grid twd-auto-cols-fr">
                                <span class="twd-flex twd-items-center">
                                    <mat-icon matTooltip="Intent">grading</mat-icon> <span class="text-bold">{{ intent || 'NA' }}</span>
                                </span>
                                <span class="twd-col-span-2 text-bold twd-flex twd-items-center">
                                    <mat-icon matTooltip="Mailbox">list_alt</mat-icon>
                                    <span class="twd-truncate">
                                        {{ currentInteraction.Email_Mailbox || 'NA' }}
                                    </span>
                                </span>
                                <div>
                                    <p class="my-4 twd-truncate">{{ currentInteraction.AgentName }} ({{ currentInteraction.From }})</p>
                                </div>
                                <span matTooltip="Sentiment" class="twd-flex twd-justify-end twd-items-center">
                                    <mat-icon>person</mat-icon>
                                    <img *ngIf="sentiment === 'Positive'" class="w-24" src="assets/images/vectors/positive-score.svg" alt="" />
                                    <img *ngIf="sentiment === 'Neutral'" class="w-24" src="assets/images/vectors/neutral-score.svg" alt="" />
                                    <img *ngIf="sentiment === 'Negative'" class="w-24" src="assets/images/vectors/negative-score.svg" alt="" />
                                    <ng-container *ngIf="sentiment === 'NA'"> NA </ng-container>
                                </span>
                                <span class="twd-flex twd-items-center twd-justify-end" matTooltip="Route type">
                                    <mat-icon>directions</mat-icon>
                                    {{ currentInteraction.ParsedJsonData?.RouteType || 'NA' }}
                                </span>
                                <div class="twd-text-right">
                                    <span>{{ currentInteraction.CreatedTime | date: 'mediumDate' }}</span>
                                    <br />
                                    <span>{{ currentInteraction.CreatedTime | date: 'shortTime' }}</span>
                                </div>
                            </div>

                            <a
                                *ngIf="
                                    OutboxReasons.includes(currentInteraction.RouteReason) && !SentReasons.includes(currentInteraction.RouteReason)
                                "
                                class="twd-cursor-pointer"
                                (click)="switchEmailView()"
                            >
                                {{ emailInView === 'original' ? 'View Checker Email' : 'View original' }}
                            </a>

                            <div
                                id="attachmentList"
                                class="twd-my-1 twd-rounded-2xl twd-overflow-hidden twd-text-xs attachment-list"
                                *ngIf="
                                    currentInteraction.AttachmetList &&
                                    currentInteraction.AttachmetList.length &&
                                    currentInteraction.AttachmetList as attachments
                                "
                            >
                                <button
                                    *ngFor="let file of attachments | slice: 0:2"
                                    mat-stroked-button
                                    class="border-radius-20 m-4 twd-max-w-3/12 lg:twd-max-w-6/12"
                                    [matTooltip]="file.Ext | uppercase"
                                    (click)="openFile(file.URL)"
                                >
                                    <mat-icon class="custom" color="primary" [svgIcon]="file.Icon"></mat-icon>
                                    <span>{{ file.Name }}</span>
                                </button>

                                <button
                                    *ngIf="attachments.length > 2"
                                    mat-stroked-button
                                    class="border-radius-20 m-4"
                                    [matMenuTriggerFor]="attachList"
                                    matTooltip="Show More"
                                >
                                    +{{ attachments.length - 2 }}
                                </button>

                                <mat-menu class="custom attachment-overlay" #attachList="matMenu">
                                    <div class="attachment-menu" [ngClass]="customFuse.anchor?.body || customFuse.widget?.body">
                                        <div
                                            *ngFor="let file of attachments | slice: 2:attachments.length"
                                            class="
                                                twd-flex
                                                twd-items-center
                                                twd-text-base
                                                twd-font-bold
                                                twd-p-2
                                                twd-rounded-full
                                                twd-overflow-hidden
                                                twd-cursor-pointer
                                                mx-8
                                                my-4
                                                border
                                            "
                                            [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                                            [matTooltip]="file.Ext | uppercase"
                                            (click)="openFile(file.URL)"
                                        >
                                            <mat-icon class="custom" color="primary" [svgIcon]="file.Icon"></mat-icon>
                                            <span class="twd-truncate twd-ml-2"> {{ file.Name }} </span>
                                        </div>
                                    </div>
                                </mat-menu>
                            </div>

                            <div
                                id="emailControlButtons"
                                class="twd-flex twd-flex-wrap twd-justify-end twd-items-center mt-4 twd-gap-1.5"
                                *ngIf="
                                    InboxReasons.includes(currentInteraction.RouteReason) ||
                                    DraftReasons.includes(currentInteraction.RouteReason) ||
                                    SentReasons.includes(currentInteraction.RouteReason)
                                "
                            >
                                <button
                                    *ngIf="data.Data?.InteractionCommentAllowed"
                                    mat-raised-button
                                    class="border-radius-20"
                                    matTooltip="Interaction Comment"
                                    (click)="saveInteractionComments()"
                                >
                                    <mat-icon>comment</mat-icon>
                                </button>
                                <button
                                    *ngIf="!replyInfo && currentInteraction.IsEmailProbableSpam"
                                    mat-raised-button
                                    class="border-radius-20"
                                    (click)="markAsSpam()"
                                    matTooltip="Mark As Spam"
                                >
                                    <mat-icon>report</mat-icon>
                                </button>
                                <button
                                    *ngIf="data.Data.Transfer.Allowed"
                                    mat-raised-button
                                    class="border-radius-20"
                                    [disabled]="getInboxMessageReq.error"
                                    (click)="transferEmail(currentInteraction)"
                                    matTooltip="Transfer"
                                >
                                    <mat-icon>forward_to_inbox</mat-icon>
                                </button>
                                <button
                                    mat-raised-button
                                    class="border-radius-20"
                                    (click)="showReplyEditor()"
                                    [disabled]="getInboxMessageReq.error"
                                    matTooltip="Reply"
                                >
                                    <mat-icon>reply</mat-icon>
                                </button>
                                <button
                                    *ngIf="data.Data.ReplyAllAllowed"
                                    mat-raised-button
                                    class="border-radius-20"
                                    (click)="showReplyAllEmailEditor()"
                                    [disabled]="getInboxMessageReq.error"
                                    matTooltip="Reply All"
                                >
                                    <mat-icon>reply_all</mat-icon>
                                </button>
                                <button
                                    *ngIf="data.Data.ForwardAllowed"
                                    mat-raised-button
                                    class="border-radius-20"
                                    (click)="showForwardEmailEditor()"
                                    [disabled]="getInboxMessageReq.error"
                                    matTooltip="Forward"
                                >
                                    <mat-icon>forward</mat-icon>
                                </button>
                                <button
                                    *ngIf="!replyInfo"
                                    mat-raised-button
                                    class="border-radius-20"
                                    color="warn"
                                    #closeBtn
                                    (click)="closeEmail(closeBtn)"
                                    matTooltip="Close Interaction"
                                >
                                    Close
                                </button>
                            </div>
                        </div>

                        <div class="twd-relative twd-flex-1 twd-overflow-auto">
                            <div
                                *ngIf="!getInboxMessageReq.loading && !getInboxMessageReq.error"
                                class="twd-absolute twd-top-0 twd-left-0 twd-w-full twd-h-full twd-pt-1"
                            >
                                <!-- <div [innerHtml]="currentInteraction.Body"></div> -->
                                <iframe *ngIf="isInteractionActive" #iframe class="twd-w-full twd-h-full" (load)="loadEmailInIframe(iframe)"></iframe>
                            </div>

                            <div class="twd-h-3/4 twd-w-full twd-flex twd-items-center twd-justify-center">
                                <ng-container *ngIf="getInboxMessageReq.loading">
                                    <mat-spinner></mat-spinner>
                                </ng-container>
                                <div *ngIf="getInboxMessageReq.error" class="twd-text-center">
                                    <p class="twd-font-bold twd-mb-3 twd-text-lg">{{ getInboxMessageReq.msg }}</p>
                                    <button mat-raised-button class="twd-mx-auto" color="primary" (click)="setEmailDetails(true)">Retry</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tw-wrapper>

    <ng-template #rejectEmailDialog>
        <div class="p-28" [ngClass]="customFuse.anchor?.content || customFuse.widget?.content">
            <p class="mat-title">Reject Email</p>
            <form (ngSubmit)="rejectEmailDialogRef?.close()" novalidate fxLayout="row wrap" fxLayoutAlign="end" fxLayoutGap="20px">
                <mat-form-field fxFlex="100" class="form-field custom with-bg" appearance="outline">
                    <mat-select
                        [placeholder]="rejectReason.allReasons?.length ? 'Select Reject Reason' : 'No Reject Reasons available'"
                        name="reason"
                        multiple
                        [(ngModel)]="rejectReason.reasonTags"
                    >
                        <mat-select-trigger>
                            {{ rejectReason.reasonTags ? rejectReason.reasonTags[0] : '' }}
                            <span *ngIf="rejectReason.reasonTags?.length > 1">
                                (+{{ rejectReason.reasonTags.length - 1 }} {{ rejectReason.reasonTags?.length === 2 ? 'other' : 'others' }})
                            </span>
                        </mat-select-trigger>
                        <mat-option [value]="reason" *ngFor="let reason of rejectReason.allReasons">{{ reason }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="100" floatLabel="never" appearance="standard" class="custom-2 mb-8 border-radius-20 with-bg">
                    <textarea
                        placeholder="Describe reason..."
                        [(ngModel)]="rejectReason.comment"
                        matInput
                        name="comment"
                        matTextareaAutosize
                        rows="5"
                        required
                    ></textarea>
                </mat-form-field>

                <button
                    type="button"
                    fxFlex="30"
                    class="border-radius-20"
                    color="warn"
                    mat-raised-button
                    (click)="rejectEmailDialogRef.close(); rejectReason = { comment: '', reasonTags: '' }"
                >
                    Cancel
                </button>

                <button fxFlex="30" mat-raised-button color="primary" class="border-radius-20" [disabled]="!rejectReason.comment" >Submit</button>
            </form>
        </div>
    </ng-template>
</ng-container>
