.loading-container-email {
    position: relative;
}

.loading-overlay-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
    z-index: 999; /* Make sure the overlay is on top of the content */
}

.loading-spinner-email {
    display: flex;
    align-items: center;
    margin-top: 16px;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Make sure the spinner is on top of the overlay */
    /* Add styling for the loading spinner and text */
}

.loading-text-email {
    margin-right: 10px; /* Adjust the spacing between the text and spinner as needed */
}

.spinner-email {
    width: 25px;
    height: 25px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Apply the spinning animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-text-email {
    margin-top: 10px; /* Adjust the margin for vertical spacing */
}

.content-container-email.disabled {
    pointer-events: none; /* Disable interaction with the content */
    opacity: 0.3; /* Make the content semi-transparent to indicate it's disabled */
}

.reject-reason-dialog {
    .mat-mdc-dialog-container {
        padding: 0;
        border-radius: 20px;
    }
}

tw-email-controls {
    .mat-mdc-card-content {
        background: inherit !important;
        box-shadow: none !important;
        padding: 0px 3px 3px 3px !important;
    }

    .mat-mdc-raised-button {
        @apply twd-min-w-max;
    }

    .attachment-list {
        button {
            // max-width: 150px;

            .mat-mdc-button-wrapper {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .email-content {
        width: 100%;
        flex: 1;
        overflow: auto;
    }

    .email-content-body {
        top: 16px;
        left: 0;
        min-width: 100%;
        width: 100%;
        min-height: 200px;
    }


}

.attachment-overlay {
    .mat-mdc-menu-content {
        padding: 0px;

        .attachment-menu {
            overflow: auto;
            max-height: 350px;
            border-radius: 20px;
            padding: 8px 0px;
        }
    }
}

.mat-mdc-button > .mat-icon,
.mat-mdc-unelevated-button > .mat-icon,
.mat-mdc-raised-button > .mat-icon,
.mat-mdc-outlined-button > .mat-icon {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.tox .tox-edit-area::before{
    border: none;
}
