.reject-reason-dialog {
    .mat-dialog-container {
        padding: 0;
        border-radius: 20px;
    }
}

tw-email-controls {
    .mat-card-content {
        background: inherit !important;
        box-shadow: none !important;
        padding: 0px 3px 3px 3px !important;
    }

    .attachment-list {
        button {
            max-width: 150px;

            .mat-button-wrapper {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .email-content {
        width: 100%;
        flex: 1;
        overflow: auto;
    }

    .email-content-body {
        top: 16px;
        left: 0;
        min-width: 100%;
        width: 100%;
        min-height: 200px;
    }

    button {
        height: 36px;

        .mat-button-wrapper {
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
}

.attachment-overlay {
    .mat-menu-content {
        padding: 0px;

        .attachment-menu {
            overflow: auto;
            max-height: 350px;
            border-radius: 20px;
            padding: 8px 0px;
        }
    }
}
