<div *ngIf="channels.length" class="fab-container">
    <button mat-icon-button cdkOverlayOrigin #channelList="cdkOverlayOrigin" (click)="openList = !openList" matTooltip="More Actions">
        <mat-icon [@fabToggler]="{ value: openList ? 'active' : 'inactive' }">add </mat-icon>
    </button>

    <!-- This template displays the overlay content and is connected to the button -->
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="channelList"
        [cdkConnectedOverlayOpen]="openList"
        cdkConnectedOverlayHasBackdrop
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        (overlayOutsideClick)="openList = false"
    >
        <div fxLayout="column" fxLayoutGap="10px" class="mt-12 create-interaction-buttons" [@widgetStagger]="channels.length">
            <ng-container *ngFor="let channel of channels">
                <button
                    mat-mini-fab
                    color="default"
                    (click)="addInteraction(channel.Type, channel)"
                    [disabled]="!checkAux(channel.EnableState)"
                    [matTooltip]="channel.Name"
                >
                    <mat-icon *ngIf="channel.Icon.indexOf('custom') < 0">{{ channel.Icon }}</mat-icon>
                    <mat-icon [svgIcon]="channel.Icon" *ngIf="channel.Icon.indexOf('custom') >= 0"></mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-template>
</div>
