<div class="fab-container">
    <button mat-mini-fab color="primary" cdkOverlayOrigin #channelList="cdkOverlayOrigin" (click)="channels = channels.length ? [] : data.Data.Channels">
        <mat-icon [@fabToggler]="{ value: !!channels.length ? 'active' : 'inactive' }">add </mat-icon>
    </button>
    <!-- This template displays the overlay content and is connected to the button -->
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="channelList" [cdkConnectedOverlayOpen]="channels.length">
        <div fxLayout="column" fxLayoutGap="10px" class="mt-12" [@widgetStagger]="channels.length">
            <button
                mat-mini-fab
                color="secondary"
                *ngFor="let channel of data.Data.Channels"
                (click)="addInteraction(channel.Type)"
                class="fab-secondary"
                [matTooltip]="channel.Name"
            >
                <mat-icon>{{ channel.Icon }}</mat-icon>
            </button>
        </div>
    </ng-template>
</div>
<!-- <div>
    <button mat-button [matMenuTriggerFor]="channelList">
        <mat-icon>add</mat-icon>
    </button>
</div>

<mat-menu #channelList="matMenu">
    <ng-container *ngFor="let channel of data.Data.Channels">
        <mat-menu-item *ngIf="channel.Enable">
            <mat-icon>
                {{ channel.Icon }}
            </mat-icon>
            {{ channel.Name }}
        </mat-menu-item>
    </ng-container>
</mat-menu> -->
