<div class="fab-container">
    <button
        mat-icon-button
        cdkOverlayOrigin
        #channelList="cdkOverlayOrigin"
        (click)="channels = channels.length ? [] : data.Data.Channels"
        matTooltip="More Actions"
    >
        <mat-icon [@fabToggler]="{ value: !!channels.length ? 'active' : 'inactive' }">add </mat-icon>
    </button>

    <!-- This template displays the overlay content and is connected to the button -->
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="channelList"
        [cdkConnectedOverlayOpen]="channels.length"
        cdkConnectedOverlayHasBackdrop
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        (overlayOutsideClick)="channels = []"
    >
        <div fxLayout="column" fxLayoutGap="10px" class="mt-12" [@widgetStagger]="channels.length">
            <button
                mat-mini-fab
                color="secondary"
                *ngFor="let channel of data.Data.Channels"
                (click)="addInteraction(channel.Type)"
                class="fab-secondary"
                [matTooltip]="channel.Name"
            >
                <mat-icon>{{ channel.Icon }}</mat-icon>
            </button>
        </div>
    </ng-template>
</div>
