<div *ngIf="loaded" class="tw-widget-container" [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }">
    <div
        *ngIf="staticWidgets.length || dynamicWidgets.length"
        class="twd-flex twd-flex-col twd-justify-start twd-items-center xl:twd-flex-row xl:twd-justify-center xl:twd-items-stretch twd-flex-full twd-w-full twd-h-full twd-gap-1.5"
    >
        <tw-template
            *ngIf="staticWidgets.length > 0"
            [ngClass]="{ 'xl:twd-max-w-4/12': dynamicWidgets.length > 0 }"
            class="static-widget-grid twd-flex-full twd-gap-1.5"
            [widgets]="staticWidgets"
            [ngStyle]="{ 'maxHeight': widgetHeight }"
        ></tw-template>

        <tw-template
            *ngIf="dynamicWidgets.length > 0"
            [ngClass]="{ 'xl:twd-max-w-8/12': staticWidgets.length > 0, 'static-less': staticWidgets.length === 0 }"
            class="dynamic-widget-grid twd-flex-full twd-gap-1.5"
            [widgets]="dynamicWidgets"
            [ngStyle]="{ 'maxHeight': widgetHeight }"
        ></tw-template>

        <div
            class="tw-aot-fab"
            cdkDrag
            cdkDragBoundary=".tw-widget-container"
            (cdkDragStarted)="aotFABDrag = true"
            (cdkDragReleased)="aotFABDrag = false"
            *ngIf="aotWidgets.length > 0"
        >
            <widget-fab [aotFABDrag]="aotFABDrag" [fabWidgets]="aotWidgets"></widget-fab>
        </div>

        <button
            mat-raised-button
            color="accent"
            cdkOverlayOrigin
            class="time-filter w-52 h-52 twd-z-10"
            #dashboardDataOverlay="cdkOverlayOrigin"
            cdkDrag
            cdkDragLockAxis="y"
            cdkDragBoundary=".tw-content"
            (cdkDragStarted)="dashboardDataSpanOverlayDrag = true"
            (click)="showDashboardDataOverlay()"
        >
            <mat-icon *ngIf="!dataLoading" [@fabToggler180]="{ value: showDashboardDataSpanOverlay ? 'active' : 'inactive' }">
                {{ showDashboardDataSpanOverlay ? 'chevron_left' : 'access_time' }}
            </mat-icon>
            <mat-icon class="spin" *ngIf="dataLoading"> loop </mat-icon>
        </button>

        <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="dashboardDataOverlay"
            [cdkConnectedOverlayOpen]="showDashboardDataSpanOverlay"
            cdkConnectedOverlayHasBackdrop
            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
            (backdropClick)="showDashboardDataSpanOverlay = false"
            [cdkConnectedOverlayPositions]="[{ originX: 'start', originY: 'center', overlayX: 'end', overlayY: 'center', offsetX: -10 }]"
        >
            <ng-container
                *ngIf="{
                    anchor: customFuse.anchor$ | async,
                    widget: customFuse.widget$ | async
                } as customFuse"
            >
                <div [class]="(customFuse.anchor?.body || customFuse.widget?.body) + ' border-radius-20 p-8 mat-elevation-z1'">
                    <mat-form-field appearance="fill" [class]="(customFuse.anchor?.content || customFuse.widget?.content) + ' border-radius-20 p-12'">
                        <mat-label>Choose from date</mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [formControl]="dashboardDataFromDate.formControl" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-container>
        </ng-template>
    </div>
    <ng-container *transloco="let locale">
        <twc-not-found
            *ngIf="!staticWidgets.length && !dynamicWidgets.length"
            class="tw-widget-container"
            [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }"
            [title]="locale('contentComponent.noWidgets')"
            type="widget"
            [message]="locale('contentComponent.widgetsNotFound')"
        ></twc-not-found>
    </ng-container>
</div>
