<ng-container *transloco="let locale">
    <section *ngIf="dialogData" fxFlex fxLayout="column">
        <!-- header of the dialog -->
        <h2
            mat-dialog-title
            fxLayout="row"
            fxLayoutAlign="space-between center"
            class="mat-primary twd-text-primary-600"
        >
            <span>{{ dialogData?.title ? dialogData?.title : 'Preview Component' }}</span>
            <mat-icon mat-dialog-close class="twd-cursor-pointer">close</mat-icon>
        </h2>

        <!-- content loading layout -->
        <div *ngIf="loading" fxFill class="twd-h-full twd-w-full twd-space-x-3 loading-layout" fxFlex fxLayout="row">
            <div class="twd-m-auto" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                <mat-spinner [diameter]="30"></mat-spinner>
                <span>{{ locale('interactionComponent.connectingMsg') }}</span>
            </div>
        </div>

        <!-- content of the dialog -->
        <mat-dialog-content *ngIf="!loading">
            <!-- load component on dialog based on the component value -->
            <ng-container [ngSwitch]="component">
                <div *ngSwitchCase="'email'" fxLayout="column" fxLayoutGap="5px">
                    <div
                        fxLayout="row"
                        fxLayoutGap="5px"
                        fxLayoutAlign="start center"
                        class="twd-bg-amber-100 twd-w-full twd-p-2"
                        [ngClass]="{ 'twd-bg-green-100': data?.isDraft }"
                    >
                        <mat-icon *ngIf="!data.isDraft">visibility</mat-icon>
                        <div *ngIf="data" class="twd-text-sm">
                            <span *ngIf="!data.isDraft; else agent_working">{{
                                locale('sharedComponents.previewDialog.agentReadingEmail')
                            }}</span>
                            <ng-template #agent_working>{{
                                locale('sharedComponents.previewDialog.agentWorkingOnEmail').replace(
                                    '#agent',
                                    data.AgentName
                                )
                            }}</ng-template>
                        </div>
                    </div>
                    <email class="twd-h-full" mode="preview" [email]="data">
                        <div
                            *ngIf="data as emailInfo"
                            id="emailInfo"
                            class="twd-flex twd-justify-between twd-overflow-hidden twd-transition-all"
                        >
                            <div fxFlex="80" *transloco="let locale" class="twd-flex">
                                <div class="twd-flex-1">
                                    <p class="text-bold my-4">
                                        {{ locale('widgets.customerJourney.to') }}: {{ emailInfo.ToList || 'NA' }}
                                    </p>
                                    <p class="my-4 text-bold">
                                        {{ locale('widgets.customerJourney.from') }}: {{ emailInfo.From || 'NA' }}
                                    </p>
                                    <p class="text-bold my-4" *ngIf="emailInfo.CCList">
                                        {{ locale('widgets.customerJourney.cc') }}: {{ emailInfo.CCList }}
                                    </p>
                                    <p *ngIf="emailInfo.Intent" [matTooltip]="locale('widgets.customerJourney.intent')">
                                        <span class="text-bold">
                                            {{ locale('widgets.customerJourney.intent') }}:
                                            {{ emailInfo.Intent || 'NA' }}</span
                                        >
                                    </p>
                                    <p class="my-4 text-bold">
                                        {{ locale('widgets.customerJourney.repliedStatus') }}:
                                        {{ emailInfo.RepliedStatus === '1' ? 'Replied' : 'Not Replied' }}
                                    </p>
                                    <ng-container *ngIf="emailInfo.AddedTime">
                                        <p class="my-4">{{ emailInfo.AddedTime | date: 'longDate' }}</p>
                                        <p class="my-4">{{ emailInfo.AddedTime | date: 'shortTime' }}</p>
                                    </ng-container>
                                </div>

                                <div class="twd-grid twd-grid-cols-1 twd-items-center twd-justify-end">
                                    <p class="my-4 text-bold">
                                        {{ locale('interactionComponent.status') }}:
                                        {{ emailInfo.CurrentStatus || 'NA' }}
                                    </p>
                                    <p class="my-4 text-bold">
                                        {{ locale('interactionComponent.priority') }}: {{ emailInfo.Priority || 'NA' }}
                                    </p>
                                    <p class="my-4 text-bold">
                                        {{ locale('global.agent') }}: {{ emailInfo.AgentName || 'NA' }}
                                    </p>
                                    <p class="my-4 text-bold">
                                        {{ locale('widgets.customerJourney.closedStatus') }}:
                                        {{ emailInfo.ClosedBy ? 'Closed by' + emailInfo.ClosedBy : 'Open' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </email>
                </div>
            </ng-container>
            <ng-container *ngIf="data?.error"> </ng-container>
        </mat-dialog-content>

        <!-- actions for the dialog -->
        <mat-dialog-actions *ngFor="let a of actions">
            <button mat-button *ngFor="let a of actions" (click)="performAction(a)">{{ a.label }}</button>
        </mat-dialog-actions>
    </section>
</ng-container>
