tw-wallboard {
    ad-table {
        mat-cell.mat-mdc-column-SkillName {
            justify-content: start;
        }
    }

    .vector-image {
        position: absolute;
        left: 5%;
        bottom: 4rem;
        width: 90%;
        max-height: 100%;
        z-index: 1;
        opacity: 0.4;
        filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
    }
}
