<tw-wrapper [data]="data">
    <div class="w-100-p bg-inherit mat-table-container" [ngClass]="this.source === 'supervisor' ? 'h-100-p' : 'h-50-p'" fusePerfectScrollbar>
        <mat-table matSort [dataSource]="dataSource" matSortActive="CallsInQueue" matSortDirection="desc" matSortDisableClear>
            <!-- User name Definition -->
            <ng-container matColumnDef="SkillName">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40"> Skill Name </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="40"> {{ row.SkillName }} </mat-cell>
            </ng-container>

            <!-- Age Definition -->
            <ng-container matColumnDef="AgentsStaffed">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20" class="px-8"> Stf </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="20"> {{ row.AgentsStaffed }} </mat-cell>
            </ng-container>

            <!-- Title Definition -->
            <ng-container matColumnDef="AgentAvailable">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20" class="px-8"> Avl </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="20"> {{ row.AgentAvailable }} </mat-cell>
            </ng-container>

            <!-- Title Definition -->
            <ng-container matColumnDef="CallsInQueue">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> CIQ </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="20"> {{ row.CallsInQueue }} </mat-cell>
            </ng-container>

            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="['SkillName', 'AgentsStaffed', 'AgentAvailable', 'CallsInQueue']; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['SkillName', 'AgentsStaffed', 'AgentAvailable', 'CallsInQueue']"></mat-row>
        </mat-table>

        <p *ngIf="dataSource.data.length === 0" class="text-center m-0 font-size-16">No Data Available</p>
    </div>

    <img *ngIf="data.Data.Source === 'dashboard'" class="vector-image" src="assets/images/vectors/home.svg" width="580" />
</tw-wrapper>
