<div class="tw-widget-container custom-scroll" [ngStyle]="{ 'width.px': screenWidth, 'height.px': screenHeight }" *ngIf="loaded">
    <div fxFill fxFlex fxLayout="row wrap" fxLayoutAlign=" none">
        <tw-template
            [fxFlex.gt-md]="dynamicWidgets.length > 0 ? 33 : 100"
            class="static-widget-grid"
            *ngIf="staticWidgets.length > 0"
            [widgets]="staticWidgets"
        ></tw-template>

        <tw-template
            [fxFlex.gt-md]="staticWidgets.length > 0 ? 66 : 100"
            [ngClass]="{ 'static-less': staticWidgets.length === 0 }"
            class="dynamic-widget-grid"
            *ngIf="dynamicWidgets.length > 0"
            [widgets]="dynamicWidgets"
        ></tw-template>

        <div
            class="tw-aot-fab"
            cdkDrag
            cdkDragBoundary=".tw-widget-container"
            (cdkDragStarted)="aotFABDrag = true"
            (cdkDragReleased)="aotFABDrag = false"
            *ngIf="aotWidgets.length > 0"
        >
            <widget-fab [aotFABDrag]="aotFABDrag" [fabWidgets]="aotWidgets"></widget-fab>
        </div>

        <button
            mat-raised-button
            color="accent"
            cdkOverlayOrigin
            class="time-filter w-52 h-52 z-index-1"
            #dashboardDataOverlay="cdkOverlayOrigin"
            cdkDrag
            cdkDragLockAxis="y"
            cdkDragBoundary=".tw-content"
            (cdkDragStarted)="dashboardDataSpanOverlayDrag = true"
            (click)="showDashboardDataOverlay()"
        >
            <mat-icon *ngIf="!dataLoading" [@fabToggler180]="{ value: showDashboardDataSpanOverlay ? 'active' : 'inactive' }">
                {{ showDashboardDataSpanOverlay ? 'chevron_left' : 'access_time' }}
            </mat-icon>
            <mat-icon class="spin" *ngIf="dataLoading"> loop </mat-icon>
        </button>

        <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="dashboardDataOverlay"
            [cdkConnectedOverlayOpen]="showDashboardDataSpanOverlay"
            cdkConnectedOverlayHasBackdrop
            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
            (backdropClick)="showDashboardDataSpanOverlay = false"
            [cdkConnectedOverlayPositions]="[{ originX: 'start', originY: 'center', overlayX: 'end', overlayY: 'center', offsetX: -10 }]"
        >
            <ng-container
                *ngIf="{
                    anchor: customFuse.anchor$ | async,
                    widget: customFuse.widget$ | async
                } as customFuse"
            >
                <div [class]="(customFuse.anchor?.body || customFuse.widget?.body) + ' border-radius-20 p-8 mat-elevation-z1'">
                    <mat-form-field appearance="fill" [class]="(customFuse.anchor?.content || customFuse.widget?.content) + ' border-radius-20 p-12'">
                        <mat-label>Choose from date</mat-label>
                        <input matInput [max]="maxDate" [matDatepicker]="picker" [formControl]="dashboardDataFromDate.formControl" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-container>
        </ng-template>
    </div>

    <twc-no-widgets class="twc-card" *ngIf="staticWidgets.length === 0 && dynamicWidgets.length === 0" type="home"></twc-no-widgets>
</div>
