.mat-table {
    width: 100%;
    background: transparent !important;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 0px 5px;

    th,
    td {
        position: relative;
        text-align: center;
        border: none;
    }

    td {
        background: rgba(red, 0.1);
        &:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        &:last-child {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    th:not(:last-child)::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 40%;
        top: 30%;
        right: 0%;
        background-color: purple;
    }
}
