@mixin tw-wrapper-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    tw-wrapper {
        tw-card {
            .mat-mdc-card {
                color: map-get($foreground, text);

                // If it's a light theme, use a darker background
                // color other than the default #fafafa
                @if ($is-dark) {
                    background: #424242;
                } @else {
                    background: #ffffff;
                    border-color: #ced6e2b0;
                }

                .card-header {
                    color: map-get($foreground, text);

                    // If it's a light theme, use a darker background
                    // color other than the default #eeeeee
                    @if ($is-dark) {
                        background: map-get($background, background);
                    } @else {
                        background: map-get($primary, 400);
                    }
                }

                .mat-mdc-card-content {
                    color: map-get($foreground, text);

                    // If it's a light theme, use a darker background
                    // color other than the default #f5f5f5
                    @if ($is-dark) {
                        background: map-get($background, background);
                    } @else {
                        background: #f5f5f5;
                    }
                }
            }
        }
    }
}
