<!-- Placeholder for float and maximized state -->
<div *ngIf="floating" class="widget-placeholder">
    {{ data.Name }}
</div>

<!-- Widget card -->
<tw-card
    cdkDrag
    cdkDragBoundary=".tw-content"
    [cdkDragDisabled]="!data.Config.AOT"
    [cdkDragFreeDragPosition]="dragPosition"
    class="tw-card animate__animated animate__faster {{
        data.Config.Class + ' ' + (data.Config.Static ? 'tw-static-widget' : '') + ' ' + (maximized || data.Config.AOT ? 'animate__zoomIn' : '')
    }}"
    [ngClass]="{ collapsed: collapsed, maximized: maximized, floating: floating, hidden: hidden, aot: aot }"
    [ngStyle]="{ 'width.px': data.Config.Position.W, 'height.px': data.Config.Position.H }"
>
    <!-- We are writing a wrapper over material card -->
    <mat-card
        cdkDrag
        cdkDragBoundary=".widget-grid"
        [cdkDragDisabled]="!floating"
        [cdkDragFreeDragPosition]="dragPosition"
        class="widget-card"
        [ngClass]="
            (fuseConfig.layout.anchorWidget.customBackgroundColor === true && data.Config.Anchor
                ? fuseConfig.layout.anchorWidget.bodyBackground
                : fuseConfig.layout.widget.customBackgroundColor === true
                ? fuseConfig.layout.widget.bodyBackground
                : '') +
            ' ' +
            (floating ? 'floating' : '') +
            ' ' +
            (data.Config.Static ? 'tw-static-card' : '')
        "
    >
        <!-- Wrapper to wrap header and body -->
        <div fxLayout="column" fxLayoutAlign=" none" class="card-wrapper" [ngClass]="data.Config.Static ? 'tw-static-card-wrapper' : ''">
            <!-- Enabled header if enabled in config -->
            <tw-card-header
                [data]="data"
                [fuseConfig]="fuseConfig"
                *ngIf="data.Config.Header"
                [widgetState]="{ maximized: maximized, floating: floating, collapsed: collapsed, aot: aot }"
                (maximize)="maximize()"
                (float)="float()"
                (collapse)="collapse()"
                cdkDragHandle
            ></tw-card-header>

            <!-- Card content -->
            <mat-card-content
                [ngClass]="
                    (fuseConfig.layout.anchorWidget.customBackgroundColor === true && data.Config.Anchor
                        ? fuseConfig.layout.anchorWidget.contentBackground
                        : fuseConfig.layout.widget.customBackgroundColor === true
                        ? fuseConfig.layout.widget.contentBackground
                        : '') +
                    ' ' +
                    (!data.Config.Header ? 'no-header' : '') +
                    ' ' +
                    (data.Config.Static ? 'tw-static-card-content' : '')
                "
            >
                <!-- All the card content goes here -->
                <ng-content></ng-content>
            </mat-card-content>
        </div>
    </mat-card>
</tw-card>
