@mixin tw-wrapper-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    tw-wrapper {
        tw-card {
            &.tw-bg-header {
                .mat-card {
                    color: map-get($foreground, text);

                    // If it's a light theme, use a darker background
                    // color other than the default #fafafa
                    @if ($is-dark) {
                        background: #424242;
                    } @else {
                        background: #fafafa;
                    }

                    .card-header,
                    .mat-expansion-panel-header {
                        color: map-get($foreground, text);

                        // If it's a light theme, use a darker background
                        // color other than the default #eaeaea
                        @if ($is-dark) {
                            background: map-get($background, background);
                        } @else {
                            background: #eaeaea;
                        }
                    }
                }
            }

            &.tw-bg-body {
                .mat-card {
                    .mat-card-content,
                    .mat-expansion-panel-content {
                        color: map-get($foreground, text);

                        // If it's a light theme, use a darker background
                        // color other than the default #eaeaea
                        @if ($is-dark) {
                            background: map-get($background, background);
                        } @else {
                            background: #eaeaea;
                        }
                    }
                }
            }
        }
    }
}
