<!-- Placeholder for float and maximized state -->
<div *ngIf="floating" class="widget-placeholder">
    {{ data.Name }}
</div>

<!-- Widget card -->
<ng-container
    *ngIf="{
        anchor: customFuse.anchor$ | async,
        widget: customFuse.widget$ | async,
        config: customFuse.config$ | async
    } as customFuse"
>
<!-- if AOT widget: DragBoundary is 'body' 
    else it is taken from configurations -->
    <tw-card
        [class.no-static-widgets]="data.Config.HasNoStaticWidgets"
        cdkDrag
        [cdkDragBoundary]="data.Config?.AOT ? 'body' : data.Config?.DragBoundary ?? '.container'"
        [cdkDragDisabled]="maximized || (!floating && !aot)"
        [cdkDragFreeDragPosition]="dragPosition"
        class="tw-card animate__animated animate__faster {{
            data.Config.Class + ' ' + (data.Config.Static ? 'tw-static' : '') + ' ' + (maximized ? 'animate__zoomIn' : '')
        }}"
        [ngClass]="{
            collapsed: collapsed,
            maximized: maximized,
            floating: floating,
            hidden: hidden,
            aot: aot,
            resize: resize
        }"
        [ngStyle]="{
            'width.px': data.Config.Position.W,
            'height.px': data.Config.Position.H,
            'minHeight': collapsed ? 'unset' : 'inherit'
        }"
    >
        <!-- We are writing a wrapper over material card -->
        <mat-card
            class="widget-card"
            [ngClass]="
                (interactionHold ? 'bg-warning' : customFuse.anchor?.body || customFuse.widget?.body) +
                ' ' +
                (floating ? 'floating' : '') +
                ' ' +
                (data.Config.Static ? 'tw-static-card' : '')
            "
        >
            <!-- Wrapper to wrap header and body -->
            <div fxLayout="column" fxLayoutAlign=" none" class="card-wrapper" [ngClass]="data.Config.Static ? 'tw-static-card-wrapper' : ''">
                <!-- Enabled header if enabled in config -->
                <tw-card-header
                    [data]="data"
                    [headerColor]="interactionHold ? 'bg-warning' : customFuse.anchor?.header || customFuse.widget?.header"
                    *ngIf="data.Config.Header"
                    [widgetState]="{ maximized: maximized, floating: floating, collapsed: collapsed, aot: aot, pinned: pinned }"
                    (refresh)="refresh()"
                    (maximize)="maximize()"
                    (float)="float()"
                    (collapse)="collapse()"
                    (destroy)="destroy()"
                    (resize)="resize = !resize"
                    cdkDragHandle
                ></tw-card-header>

                <!-- Card content -->
                <mat-card-content
                    [ngClass]="
                        (customFuse.anchor?.content || customFuse.widget?.content) +
                        ' ' +
                        (!data.Config.Header ? 'no-header' : '') +
                        ' ' +
                        (data.Config.Static ? 'tw-static-card-content' : '')
                    "
                >
                    <!-- All the card content goes here -->
                    <ng-content></ng-content>
                </mat-card-content>
            </div>
        </mat-card>
    </tw-card>
</ng-container>
