.aux-timer {
    @apply twd-text-sm/6 twd-border twd-border-solid twd-text-center twd-px-2 twd-py-0.5 twd-font-semibold twd-border-primary-200 twd-text-primary-800;
    letter-spacing: 2px;
    border-radius: 4px;
    font-family: 'Roboto';
}
