tw-aux-timer {
    .time {
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .time-seperator {
            color: #424242;
            margin: 0 2px;
        }
    }

    .partial {
        display: inline-block;
        margin: 2px;
        padding: 7px 5px;
        font-size: 12px;
        text-shadow: 0 0 7px #dadada;
        border-radius: 6px;
        line-height: 1;
        width: 18px;
        text-align: center;
        background: #fafafa;
        color: rgba(0, 0, 0, 0.87);
    }
}
