<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs class="animate__animated animate__fadeIn">
        <div class="title" [@animate]="{ value: '*', params: { delay: '500ms', y: '25px' } }">
            Welcome to <span [matTooltip]="uiVersion">Agent Desktop</span>!
        </div>
    </div>

    <div id="login-form-wrapper" class="custom-scroll-adjust position-relative" [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }">
        <div class="overlay" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

        <div class="overlay" *ngIf="connectionError.errored">
            <mat-card class="p-28 border-radius-30">
                <mat-card-header>
                    <mat-card-title fxLayout="row" fxLayoutAlign=" center">
                        <mat-icon color="warn" class="mr-4">error</mat-icon> Trying to reach server
                    </mat-card-title>
                    <mat-card-subtitle class="mt-8" *ngIf="connectionError.retrying; else countdownRef"> Retrying ... </mat-card-subtitle>
                    <ng-template #countdownRef>
                        <mat-card-subtitle class="mt-8" *ngIf="connectionError.countdown | async as countdown">
                            {{ 'Retrying in ' + (connectionError.pollingInterval - countdown) + ' seconds...' }}
                        </mat-card-subtitle>
                    </ng-template>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="my-12 h-48">
                    <p>
                        Make sure you have an active internet connection.<br />
                        Please contact the administrator for more info.
                    </p>
                </mat-card-content>
                <mat-card-actions fxLayout fxLayoutAlign="end ">
                    <button mat-raised-button class="border-radius-30" color="primary" (click)="getData(true)" [disabled]="connectionError.retrying">
                        RETRY NOW
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div id="login-form" class="{{ loading ? 'blur' : null }}">
            <div class="logo" [@animate]="{ value: '*', params: { scale: '0.5' } }">
                <img
                    [src]="appCustomerLogo?.Large.Src || 'assets/images/logos/tetherfi.png'"
                    [alt]="appCustomerLogo?.Alt || 'Tetherfi'"
                    [width]="appCustomerLogo?.Large.Width || 180"
                    [height]="appCustomerLogo?.Large.Height || 90"
                />
            </div>

            <div *ngIf="faceAuthEnabled && selfVideo" class="self-view animate__animated animate__zoomIn animate__faster">
                <video #video autoplay playsinline="true" [muted]="true" [srcObject]="selfVideo"></video>
                <span class="face-shape"></span>
            </div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <ng-container *ngIf="showOtp">
                    <mat-form-field class="form-field custom" appearance="outline">
                        <input class="login-input" matInput required placeholder="OTP" formControlName="otp" #otp />
                        <mat-error> OTP is required </mat-error>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngIf="!showOtp">
                    <mat-form-field class="form-field custom" appearance="outline" *ngIf="domainListEnabled">
                        <mat-select placeholder="Domain List" formControlName="domain">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let item of domainList" value="item">{{ item }}</mat-option>
                        </mat-select>
                        <mat-error> Domain Name is required </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field custom" appearance="outline">
                        <input class="login-input" matInput required placeholder="Lan ID" formControlName="lanId" #lanId />
                        <button
                            mat-button
                            type="button"
                            color="primary"
                            *ngIf="loginForm.get('lanId').value"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="resetField('lanId')"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error> LAN ID is required </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field custom" appearance="outline" *ngIf="agentIdEnabled">
                        <input class="login-input" matInput required placeholder="Agent ID" formControlName="agentId" />
                        <button
                            mat-button
                            color="primary"
                            type="button"
                            *ngIf="loginForm.get('agentId').value"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="resetField('agentId')"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error> Agent ID is required </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field custom" appearance="outline" *ngIf="password.Agent">
                        <input
                            class="login-input"
                            required
                            matInput
                            [type]="hidePassword.agent ? 'password' : 'text'"
                            required
                            placeholder="Agent Password"
                            formControlName="agentPassword"
                        />
                        <button
                            mat-icon-button
                            type="button"
                            color="primary"
                            color="primary"
                            matSuffix
                            (click)="hidePassword.agent = !hidePassword.agent"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePassword.agent"
                        >
                            <mat-icon>{{ hidePassword.agent ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error> Password is required </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field custom" appearance="outline" *ngIf="password.Station">
                        <input
                            class="login-input"
                            required
                            matInput
                            [type]="hidePassword.station ? 'password' : 'text'"
                            required
                            placeholder="Station Password"
                            formControlName="stationPassword"
                        />
                        <button
                            mat-icon-button
                            type="button"
                            color="primary"
                            color="primary"
                            matSuffix
                            (click)="hidePassword.station = !hidePassword.station"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePassword.station"
                        >
                            <mat-icon>{{ hidePassword.station ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-error> Password is required </mat-error>
                    </mat-form-field>

                    <mat-form-field
                        class="form-field custom animate__animated animate__flipInX animate__fast"
                        appearance="outline"
                        *ngIf="stationEnabled"
                    >
                        <input
                            class="login-input"
                            color="primary"
                            matInput
                            required
                            placeholder="Station ID"
                            (keypress)="numberOnly($event)"
                            formControlName="station"
                        />
                        <button
                            *ngIf="loginForm.get('station').value"
                            matSuffix
                            type="button"
                            mat-icon-button
                            color="primary"
                            aria-label="Clear"
                            (click)="resetField('station')"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error> Station is required </mat-error>
                    </mat-form-field>

                    <mat-list *ngIf="loginModeEnabled">
                        <mat-list-item>
                            <mat-slide-toggle
                                fxFlex
                                class="mat-primary"
                                [checked]="pbxChecked"
                                (change)="pbxChecked = $event.checked; toggleStation()"
                                aria-label="Notifications"
                                labelPosition="after"
                            >
                                <h3>Login to PBX?</h3>
                            </mat-slide-toggle>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-slide-toggle
                                fxFlex
                                class="mat-primary"
                                [checked]="msChecked"
                                (change)="msChecked = $event.checked; toggleStation()"
                                labelPosition="after"
                            >
                                <h3>Login to Webphone?</h3>
                            </mat-slide-toggle>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
                <p class="text-center text-danger text-bold">{{ errorMessage || ' ' }}</p>
                <button
                    mat-raised-button
                    color="primary"
                    class="submit-button"
                    aria-label="LOGIN"
                    (click)="login(false)"
                    [disabled]="!loginForm.valid"
                >
                    LOGIN
                </button>
            </form>
            <div fxLayout="row" fxLayoutAlign="center center" class="font-size-12 secondary-text copyright-version">
                <span class="element-status" [ngClass]="version !== 'NA' ? 'bg-alt-success' : 'bg-alt-danger'"></span>
                Copyright Tetherfi | UI: {{ uiVersion }} - Server: {{ version }}
            </div>
        </div>
    </div>

    <img
        class="brand-logo animate__animated animate__pulse animate__infinite animate__slow"
        [@animate]="{ value: '*', params: { scale: '0.2' } }"
        [src]="brandLogo?.Small.Src || 'assets/images/logos/tetherfi-logo-round.png'"
        [alt]="brandLogo?.Alt || 'Tetherfi'"
        [width]="brandLogo?.Small.Width || 50"
        [height]="brandLogo?.Small.Height || 50"
    />
</div>
