@mixin login-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    login {
        #login {
            #login-intro {
                color: white;
            }

            #login-form-wrapper {
                @if ($is-dark == true) {
                    background-color: map-get($background, hover);
                } @else {
                    background-color: white;
                }

                #login-form {
                    .separator {
                        color: map-get($foreground, divider);

                        .text {
                            &:before,
                            &:after {
                                border-top-color: map-get($foreground, divider);
                            }
                        }
                    }
                }
            }
        }
    }
}
