<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start" *ngIf="loaded">
    <div id="login-intro" fxFlex fxHide fxShow.gt-xs class="animate__animated animate__fadeIn">
        <div class="title" [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }">Welcome to Agent Desktop!</div>
    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }">
        <div class="spinner" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

        <div id="login-form" class="{{ loading ? 'blur' : null }}">
            <div class="logo" [@animate]="{ value: '*', params: { scale: '0.5' } }">
                <img
                    [src]="appCustomerLogo?.Large.Src || 'assets/images/logos/tetherfi.png'"
                    [alt]="appCustomerLogo?.Alt || 'Tetherfi'"
                    [width]="appCustomerLogo?.Large.Width || 180"
                    [height]="appCustomerLogo?.Large.Height || 90"
                />
            </div>

            <div *ngIf="faceAuthEnabled && selfVideo" class="self-view animate__animated animate__zoomIn animate__faster">
                <video #video autoplay playsinline="true" [muted]="true" [srcObject]="selfVideo"></video>
                <span class="face-shape"></span>
            </div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>
                <mat-form-field class="form-field custom" appearance="outline" *ngIf="domainListEnabled">
                    <mat-select placeholder="DOMAIN LIST" formControlName="domain">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let item of domainList" value="item">{{ item }}</mat-option>
                    </mat-select>
                    <mat-error> Domain Name is required </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field custom" appearance="outline">
                    <input class="login-input" matInput required placeholder="LAN ID" formControlName="lanId" #lanId />
                    <button
                        mat-button
                        type="button"
                        color="primary"
                        *ngIf="loginForm.get('lanId').value"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="resetField('lanId')"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error> LAN ID is required </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field custom" appearance="outline" *ngIf="agentIdEnabled">
                    <input class="login-input" matInput required placeholder="AGENT ID" formControlName="agentId" />
                    <button
                        mat-button
                        color="primary"
                        type="button"
                        *ngIf="loginForm.get('agentId').value"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="resetField('agentId')"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error> Agent ID is required </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field custom" appearance="outline" *ngIf="passwordEnabled">
                    <input
                        class="login-input"
                        required
                        matInput
                        [type]="hidePassword ? 'password' : 'text'"
                        required
                        placeholder="PASSWORD"
                        formControlName="password"
                    />
                    <button
                        mat-icon-button
                        type="button"
                        color="primary"
                        color="primary"
                        matSuffix
                        (click)="hidePassword = !hidePassword"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePassword"
                    >
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error> Password is required </mat-error>
                </mat-form-field>

                <mat-form-field
                    class="form-field custom animate__animated animate__flipInX animate__fast"
                    appearance="outline"
                    *ngIf="stationEnabled"
                >
                    <input
                        class="login-input"
                        color="primary"
                        matInput
                        required
                        placeholder="STATION"
                        (keypress)="numberOnly($event)"
                        formControlName="station"
                    />
                    <button
                        *ngIf="loginForm.get('station').value"
                        matSuffix
                        type="button"
                        mat-icon-button
                        color="primary"
                        aria-label="Clear"
                        (click)="resetField('station')"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error> Station is required </mat-error>
                </mat-form-field>

                <mat-list *ngIf="loginModeEnabled">
                    <mat-list-item>
                        <mat-slide-toggle
                            fxFlex
                            class="mat-primary"
                            [checked]="pbxChecked"
                            (change)="pbxChecked = $event.checked; toggleStation()"
                            aria-label="Notifications"
                            labelPosition="after"
                        >
                            <h3>Login to PBX?</h3>
                        </mat-slide-toggle>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-slide-toggle
                            fxFlex
                            class="mat-primary"
                            [checked]="msChecked"
                            (change)="msChecked = $event.checked; toggleStation()"
                            labelPosition="after"
                        >
                            <h3>Login to Webphone?</h3>
                        </mat-slide-toggle>
                    </mat-list-item>
                </mat-list>

                <button mat-raised-button color="primary" class="submit-button" aria-label="LOGIN" (click)="login(false)">LOGIN</button>
            </form>
            <div fxLayout="row" fxLayoutAlign="center center" class="font-size-12 secondary-text copyright-version">
                <span class="element-status" [ngClass]="version !== 'NA' ? 'bg-alt-success' : 'bg-alt-danger'"></span>
                Copyright Tetherfi | Version: {{ version }}
            </div>
        </div>
    </div>

    <img
        class="brand-logo"
        [@animate]="{ value: '*', params: { scale: '0.2' } }"
        [src]="brandLogo?.Small.Src || 'assets/images/logos/tetherfi-logo-round.png'"
        [alt]="brandLogo?.Alt || 'Tetherfi'"
        [width]="brandLogo?.Small.Width || 50"
        [height]="brandLogo?.Small.Height || 50"
    />
</div>
