@use '@angular/material'as mat;
@import '@fuse/scss/fuse';
@import 'app/scss/general/_variables';
@import 'app/scss/general/_colors';

login{
    @apply twd-h-full twd-w-full;

    #login {
            overflow: hidden;
            .welcome-layout {
                background-image: url('assets/images/backgrounds/login-left-bg.png');
                background-position: bottom center; 
                background-repeat: no-repeat;
                background-size: 65%;
                @apply twd-gap-8 twd-flex twd-flex-col twd-px-10;
                .login-title {
                    font-family: 'AdLamDisplay';
                    @apply twd-text-5xl twd-text-primary-700 twd-font-normal twd-break-words;
                    line-height: 60px; letter-spacing: 0.23px; 
                }
                .login-caption {
                    @apply twd-text-xl twd-font-medium twd-text-accent-500 twd-break-words;
                    font-family: Inter; 
                    line-height: 26px; 
                    letter-spacing: 0.10px;
                }
            }
            .login-section {
                border-radius: $generic-border-radius;
                .select-language {
                    @apply twd-bg-primary-700 max-[950px]:twd-w-1/4;
                    padding: 10px 15px;
                    border-radius: 5px;
                    width: 35%;
                    text-align: justify;
                    span, svg {
                        color: #fff;
                        @apply twd-font-medium;
                    }
                }
            }
            .login-form-layout, .error-layout {
                @apply twd-mx-auto twd-mt-10 twd-bg-white twd-text-center twd-w-4/5 md:twd-w-3/5 sm:twd-w-2/5;
                gap: 30px; 
                p {
                    opacity: 0.5;
                    text-align: left;
                }
                .login-form-body {
                    @apply twd-flex twd-flex-col twd-justify-between twd-gap-4;
                    min-height: 204px;
                    label {
                        @apply twd-text-base twd-pl-2; 
                        font-family: Roboto; letter-spacing: 0.15px; 
                    }

                    .login-mode-options > *{
                        padding: 0;
                    }
                    
                }
                .action-button {
                    background: $tw-action;
                    @apply twd-text-white;
                }
            }
    }

}


.label-error-layout {
    width: 60%;
    margin: 30% auto;
}