@import 'src/@fuse/scss/fuse';

login {
    width: 100%;

    .brand-logo {
        position: absolute;
        bottom: 3%;
        left: 3%;
    }

    #login {
        width: 100%;
        height: 100%;
        overflow: hidden;

        #login-intro {
            padding: 128px;
            background: url('/assets/images/vectors/login-illustration.svg') no-repeat;
            background-size: 140%;
            background-position: bottom left;
            // position: relative;
            opacity: 0;
            animation-name: fade-in;
            animation-fill-mode: forwards;
            animation-duration: 1s;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(#732b90, 0.8);
                height: 100%;
                width: 140%;
                z-index: -1;
            }

            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 100%;
                }
            }

            @include media-breakpoint('sm') {
                padding: 128px 64px;
            }

            .logo {
                width: 128px;
                margin-bottom: 32px;
            }

            .title {
                font-size: 42px;
                font-weight: 300;
                line-height: 1;
            }

            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
            }
        }

        #login-form-wrapper {
            width: 700px;
            min-width: 700px;
            max-width: 700px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;

            @include mat-elevation(16);

            @include media-breakpoint('sm') {
                width: 400px;
                min-width: 400px;
                max-width: 400px;
            }

            @include media-breakpoint('xs') {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                border-radius: 0;
            }

            .spinner {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 3rem;
                border-bottom-left-radius: 3rem;
                background: rgb(0 0 0 / 0.25);
            }

            #login-form {
                height: 100%;
                width: 100%;
                padding: 0rem 12rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &.blur {
                    -webkit-filter: blur(3px);
                    -moz-filter: blur(3px);
                    -o-filter: blur(3px);
                    -ms-filter: blur(3px);
                    filter: blur(3px);
                    pointer-events: none;
                }

                @include media-breakpoint('sm') {
                    padding: 0rem 4rem;
                }

                @include media-breakpoint('xs') {
                    text-align: center;
                    padding: 24px;
                }

                .logo {
                    // width: 128px;
                    // margin: 32px auto;
                    text-align: center;
                }

                .title {
                    font-size: 21px;
                }

                .description {
                    padding-top: 8px;
                }

                form {
                    width: 100%;
                    padding-top: 32px;

                    mat-form-field {
                        width: 100%;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }

                    .submit-button {
                        width: 40%;
                        margin: 5rem auto;
                        display: block;
                        padding: 0.4rem 4rem;
                        border-radius: 2rem;
                    }

                    .mat-form-field-wrapper {
                        padding-bottom: 1rem !important;

                        .mat-form-field-subscript-wrapper {
                            top: calc(100% - 1.4rem);
                        }
                    }

                    input {
                        &::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: #732b90 !important;
                        }

                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            color: #732b90 !important;
                        }

                        &:-ms-input-placeholder {
                            /* IE 10+ */
                            color: #732b90 !important;
                        }

                        &:-moz-placeholder {
                            /* Firefox 18- */
                            color: #732b90 !important;
                        }
                    }

                    .mat-form-field-appearance-outline {
                        .mat-select-arrow,
                        .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
                        .mat-select-placeholder,
                        .mat-select-value {
                            color: #732b90 !important;
                        }

                        .mat-form-field-infix {
                            padding: 0.75em 0.5rem !important;
                        }

                        .mat-form-field-suffix {
                            top: 0.35rem !important;
                        }

                        .mat-form-field-label {
                            color: #732b90 !important;
                        }

                        .mat-form-field-outline {
                            color: #f9f1ff !important;
                            background: #f9f1ff !important;
                            border-radius: 2rem;
                            top: 0.75rem !important;
                        }

                        .mat-form-field-outline-start {
                            border-radius: 2rem 0 0 1.5rem !important;
                            min-width: 2rem !important;
                        }

                        .mat-form-field-outline-end {
                            border-radius: 0 2rem 2rem 0 !important;
                        }
                    }
                }

                .mat-slide-toggle-content {
                    flex: 1;
                    color: #732b90 !important;
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    text-align: center;

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid;
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }
            }
        }
    }
}
