<tw-wrapper [data]="data">
    <div fxFlex fxFill fxLayout="column" class="tw-email-panel">
        <ng-container *ngFor="let widget of emailPanelWidgets">
            <tw-email-controls
                [data]="widget"
                *ngIf="widget.Type === 'tw-email-controls'"
                [ngClass]="
                    widget.Type +
                    ' ' +
                    (maximized[widget.Type] || widget.Config.ViewState === 'maximize' ? 'maximized' : '') +
                    ' ' +
                    (collapsed[widget.Type] || widget.Config.ViewState === 'collapse' ? 'collapsed' : '') +
                    ' ' +
                    (floating[widget.Type] || widget.Config.ViewState === 'float' ? 'floating' : '')
                "
                (maximizeEvent)="maximized['tw-email-controls'] = $event"
                (collapseEvent)="collapsed['tw-email-controls'] = $event"
                (floatEvent)="floating['tw-email-controls'] = $event"
            >
            </tw-email-controls>

            <tw-customer-journey
                [data]="widget"
                *ngIf="widget.Type === 'tw-customer-journey'"
                [ngClass]="
                    widget.Type +
                    ' ' +
                    (maximized[widget.Type] || widget.Config.ViewState === 'maximize' ? 'maximized' : '') +
                    ' ' +
                    (collapsed[widget.Type] || widget.Config.ViewState === 'collapse' ? 'collapsed' : '') +
                    ' ' +
                    (floating[widget.Type] || widget.Config.ViewState === 'float' ? 'floating' : '')
                "
                (maximizeEvent)="maximized['tw-customer-journey'] = $event"
                (collapseEvent)="collapsed['tw-customer-journey'] = $event"
                (floatEvent)="floating['tw-customer-journey'] = $event"
            >
            </tw-customer-journey>
        </ng-container>
    </div>
</tw-wrapper>
