@import '@fuse/scss/fuse';

tw-email-panel {
    display: grid;

    .tw-static-panel {
        .tw-email-controls,
        .tw-customer-details,
        .tw-customer-journey {
            flex: 1;
            height: 33.3%;
            transition: all 300ms ease-in-out;

            &.maximized {
                flex: 0;
                &.collapsed {
                    flex: 0;
                }
            }
            &.collapsed {
                flex: 0;
            }
            &.floating {
                flex: 100%;
                &.collapsed {
                    flex: inherit;
                }
            }
        }

        .tw-email-controls {
            flex: 2;
            height: 66.6%;
        }
    }
}
