<div class="fab-container" *transloco="let locale">
    <button
        mat-fab
        color="accent"
        class="fab-toggler"
        cdkOverlayOrigin
        #widgetList="cdkOverlayOrigin"
        (click)="toggleWidgetList()"
        [matTooltip]="locale('sharedComponents.aotWidgets')"
    >
        <mat-icon [@fabToggler180]="{ value: openWidgetList ? 'active' : 'inactive' }"> {{ openWidgetList ? 'expand_less' : 'menu_open' }} </mat-icon>
    </button>

    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="widgetList"
        [cdkConnectedOverlayOpen]="openWidgetList"
        cdkConnectedOverlayHasBackdrop
        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        (overlayOutsideClick)="openWidgetList = false"
        cdkConnectedOverlayPush="true"
        [cdkConnectedOverlayPositions]="[{ originX: 'center', originY: 'top', overlayX: 'center', overlayY: 'bottom' }]"
    >
        <div fxLayout="column" fxLayoutGap="10px" class="mb-12 create-interaction-buttons" [@widgetStagger]="buttons.length">
            <ng-container *ngFor="let btn of buttons">
                <button
                    mat-mini-fab
                    color="default"
                    *ngIf="btn.Config.Enabled && !btn.Config.Hidden"
                    (click)="openAOTWidget(btn)"
                    [matTooltip]="btn.Name || 'Widget'"
                >
                    <mat-icon *ngIf="btn.Config.Icon.indexOf('custom') < 0">{{ btn.Config.Icon || 'widgets' }}</mat-icon>
                    <mat-icon *ngIf="btn.Config.Icon.indexOf('custom') >= 0" [svgIcon]="btn.Config.Icon"></mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-template>
</div>
