<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent($event)">
    <!-- <ad-table
        *ngIf="adTableData.enabled"
        [columns]="adTableData.tableColumns"
        [searchable]="adTableData.searchable"
        [displayedColumns]="interactionDetailsTable.columns"
        [icons]="adTableData.iconMap"
        [data]="interactionDetailsTable.source.data"
    ></ad-table> -->
    <div
        class="twd-w-full twd-h-full twd-flex twd-flex-col bg-inherit"
        *ngIf="{
            data: interactionDetailsTable.source.data.length,
            noFilteredData: !interactionDetailsTable.source.filteredData?.length && interactionDetailsTable.source.filter
        } as avl"
    >
        <div *ngIf="avl.data" class="twd-max-h-11/12 twd-overflow-y-auto bg-inherit" [ngClass]="{ 'twd-flex-1': !avl.noFilteredData }">
            <mat-table
                [dataSource]="interactionDetailsTable.source"
                matSort
                matSortActive="CreatedDateTime"
                matSortDirection="desc"
                matSortDisableClear
            >
                <ng-container matColumnDef="SessionId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>SessionId</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.SessionId || 'NA' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Channel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="maximized ? 10 : 20">Channel</mat-header-cell>
                    <mat-cell *matCellDef="let element" [fxFlex]="maximized ? 10 : 20">
                        <ng-container [ngSwitch]="element.Channel | lowercase">
                            <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'voice'" matTooltip="Voice">phone</mat-icon>
                            <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'textchat'" matTooltip="Chat">chat</mat-icon>
                            <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'audiochat'" matTooltip="Audio">wifi_calling_3</mat-icon>
                            <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'videochat'" matTooltip="Video">duo</mat-icon>
                            <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'sms'" matTooltip="SMS">sms</mat-icon>
                            <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'email'" matTooltip="Email">email</mat-icon>
                            <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'emc'" matTooltip="Email">email</mat-icon>
                            <mat-icon color="primary" *ngSwitchDefault [matTooltip]="element.Channel"> feed </mat-icon>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Direction">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Direction</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element.Direction | uppercase }}
                        <mat-icon class="channel-icon" color="accent">
                            {{ element.Direction === 'In' ? 'south' : 'north' }}
                        </mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="SubChannel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sub Channel</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ng-container [ngSwitch]="element.Channel | lowercase">
                            <ng-container *ngSwitchCase="'textchat'">
                                <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'audiochat'">
                                <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'videochat'">
                                <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'services'">
                                <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                            </ng-container>

                            <ng-template #interactionBrandType let-subChannel="SubChannel">
                                <ng-container [ngSwitch]="subChannel | lowercase">
                                    <mat-icon color="primary" *ngSwitchCase="'textchat'" matTooltip="Chat">chat</mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'chat'" matTooltip="Chat">chat</mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'text'" matTooltip="Chat">chat</mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'audio'" matTooltip="Audio">wifi_calling_3</mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'video'" matTooltip="Video">duo</mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'whatsapp'" svgIcon="custom-whatsapp" matTooltip="WhatsApp"></mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'we'" svgIcon="custom-we" matTooltip="We Chat"></mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'line'" svgIcon="custom-line" matTooltip="Line"></mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'viber'" svgIcon="custom-viber" matTooltip="Viber"></mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'twitter'" svgIcon="custom-twitter" matTooltip="Twitter"></mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'fb'" svgIcon="custom-fb" matTooltip="Facebook"></mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'telegram'" svgIcon="custom-telegram" matTooltip="Telegram"></mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'store'" matTooltip="Store">store</mat-icon>
                                    <mat-icon color="primary" *ngSwitchCase="'field'" matTooltip="Field">roofing</mat-icon>
                                    <mat-icon color="primary" *ngSwitchDefault> feed </mat-icon>
                                </ng-container>
                            </ng-template>

                            <mat-icon color="primary" *ngSwitchCase="'voice'" matTooltip="Voice"> phone </mat-icon>
                            <mat-icon color="primary" *ngSwitchCase="'sms'" matTooltip="SMS"> sms </mat-icon>
                            <mat-icon color="primary" *ngSwitchCase="'email'" matTooltip="Email"> email </mat-icon>
                            <mat-icon color="primary" *ngSwitchCase="'fax'" matTooltip="Fax"> print </mat-icon>
                            <mat-icon color="primary" *ngSwitchDefault [matTooltip]="element.SubChannel"> feed </mat-icon>
                        </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="User">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.User">
                        <div class="text-truncate">
                            {{ element.User || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Dnis">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>DNIS</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.Dnis">
                        <div class="text-truncate">
                            {{ element.Dnis || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Intent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Intent</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.Intent">
                        <div class="text-truncate">
                            {{ element.Intent || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="CreatedDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="px-8">Created On</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.CreatedDateTime | date: 'd/M/yy, hh:mm a'">
                        <div class="text-truncate">
                            {{ element.CreatedDateTime | date: 'd/M/yy, hh:mm a' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ClosedDateTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="px-8">Closed On</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.ClosedDateTime | date: 'd/M/yy, hh:mm a'">
                        <div class="text-truncate">
                            {{ element.ClosedDateTime | date: 'd/M/yy, hh:mm a' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ActiveTime">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">Active Time</mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="10">
                        {{ element.ActiveTime * 1000 | date: 'HH:mm:ss':'UTC' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="AgentComment">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Comments</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="px-8">
                        {{ element.AgentComment?.trim() ? '' : 'NA' }}
                        <button
                            *ngIf="element.AgentComment?.trim()"
                            mat-icon-button
                            matTooltip="View Comments"
                            (click)="showNotes(element.AgentComment)"
                        >
                            <mat-icon> notes </mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="interactionDetailsTable.columns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: interactionDetailsTable.columns"></mat-row>
            </mat-table>
        </div>

        <div *ngIf="!avl.data" class="twd-flex-1 twd-grid twd-items-center">
            <p class="text-center twd-text-2xl twd-font-semibold twd-mb-20">No Data Available</p>
        </div>

        <div *ngIf="avl.noFilteredData" class="twd-flex-1 twd-grid twd-items-center">
            <p class="text-center twd-text-2xl twd-font-semibold twd-mb-20">No Data With Applied Filters Available</p>
        </div>
        <div class="twd-flex twd-justify-between twd-py-2" [ngClass]="{ 'twd-hidden': !(maximized && avl.data) }">
            <div class="twd-flex twd-items-center twd-gap-2 twd-px-2">
                <button (click)="showAdvanceSearchModal()" mat-button class="twd-rounded-3xl" color="primary">
                    <mat-icon>search</mat-icon>
                    Advanced Search
                </button>
                <button
                    mat-raised-button
                    type="button"
                    class="twd-rounded-3xl"
                    [disabled]="!interactionDetailsTable.source.filter"
                    (click)="advancedSearchForm.reset(); doAdvancedSearch()"
                >
                    Reset
                </button>
            </div>
            <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 40, 60, 100]" showFirstLastButtons> </mat-paginator>
        </div>
    </div>
</tw-wrapper>

<ng-template #advanceSearchModal>
    <div
        *ngIf="{
            anchor: (customFuse.anchor$ | async),
            widget: (customFuse.widget$ | async)
        } as customFuse$"
        class="mat-elevation-z1 twd-p-4"
        [ngClass]="customFuse$.anchor?.body || customFuse$.widget?.body"
    >
        <div class="twd-rounded-3xl mat-elevation-z1 twd-p-4" [ngClass]="customFuse$.anchor?.content || customFuse$.widget?.content">
            <p class="twd-text-xl twd-font-bold twd-mt-1 twd-mb-6">Advanced Search</p>
            <form
                class="twd-grid twd-grid-cols-1 xl:twd-grid-cols-2 twd-gap-3"
                (ngSubmit)="doAdvancedSearch()"
                [formGroup]="advancedSearchForm"
                novalidate
            >
                <mat-form-field>
                    <mat-label>Channel</mat-label>
                    <input matInput type="text" formControlName="Channel" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Sub Channel</mat-label>
                    <input matInput type="text" formControlName="SubChannel" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Direction</mat-label>
                    <input matInput type="text" formControlName="Direction" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>User</mat-label>
                    <input matInput type="text" formControlName="User" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Intent</mat-label>
                    <input matInput type="text" formControlName="Intent" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Created On</mat-label>
                    <mat-date-range-input [rangePicker]="createdTimePicker">
                        <input matStartDate placeholder="Start date" formControlName="CreatedTimeStart" />
                        <input matEndDate placeholder="End date" formControlName="CreatedTimeEnd" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="createdTimePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #createdTimePicker></mat-date-range-picker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Closed On</mat-label>
                    <mat-date-range-input [rangePicker]="closedTimePicker">
                        <input matStartDate placeholder="Start date" formControlName="ClosedTimeStart" />
                        <input matEndDate placeholder="End date" formControlName="ClosedTimeEnd" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="closedTimePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #closedTimePicker></mat-date-range-picker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>DNIS</mat-label>
                    <input matInput type="text" formControlName="Dnis" />
                </mat-form-field>

                <mat-form-field class="twd-col-span-2">
                    <mat-label>Comments</mat-label>
                    <input matInput type="text" formControlName="AgentComment" />
                </mat-form-field>

                <div class="xl:twd-col-span-2 twd-my-1 twd-flex twd-gap-4 twd-justify-end">
                    <button
                        mat-raised-button
                        class="twd-w-2/12 twd-rounded-3xl"
                        type="button"
                        (click)="advancedSearchForm.reset(); doAdvancedSearch()"
                    >
                        Reset
                    </button>
                    <button mat-raised-button class="twd-w-2/12 twd-rounded-3xl" color="primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>
