@import 'src/app/styles/colors';

tw-ad-interaction-details {
    mat-icon {
        &.channel-icon {
            line-height: 1.5;
        }
    }

    .status {
        display: block;
        background-size: 80%;
        background-position: center center;
        margin: 4px auto;
        border-radius: 20px;
        &.active {
            background-color: $tw-success;
        }
        &.closed {
            background-color: $tw-danger;
        }
        &.on-hold {
            background-color: $tw-warning;
        }

        mat-icon {
            font-size: 18px;
            line-height: 2;
        }
    }

    small {
        font-weight: bold;
    }
}
