<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent($event)">
    <div class="w-100-p bg-inherit custom-scroll-adjust" [ngClass]="maximized ? 'h-90-p' : 'h-100-p'">
        <mat-table [dataSource]="interactionDetailsTable.source" matSort matSortActive="CreatedDateTime" matSortDirection="desc" matSortDisableClear>
            <ng-container matColumnDef="SessionId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>SessionId</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.SessionId || 'NA' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Channel">
                <mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="maximized ? 10 : 20">Channel</mat-header-cell>
                <mat-cell *matCellDef="let element" [fxFlex]="maximized ? 10 : 20">
                    <ng-container [ngSwitch]="element.Channel | lowercase">
                        <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'voice'" matTooltip="Voice">phone</mat-icon>
                        <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'textchat'" matTooltip="Chat">chat</mat-icon>
                        <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'audiochat'" matTooltip="Audio">wifi_calling_3</mat-icon>
                        <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'videochat'" matTooltip="Video">duo</mat-icon>
                        <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'sms'" matTooltip="SMS">sms</mat-icon>
                        <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'email'" matTooltip="Email">email</mat-icon>
                        <mat-icon class="channel-icon" color="primary" *ngSwitchCase="'emc'" matTooltip="Email">email</mat-icon>
                        <mat-icon color="primary" *ngSwitchDefault [matTooltip]="element.Channel"> feed </mat-icon>
                    </ng-container>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Direction">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Direction</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.Direction | uppercase }}
                    <mat-icon class="channel-icon" color="accent">
                        {{ element.Direction === 'In' ? 'south' : 'north' }}
                    </mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="SubChannel">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Sub Channel</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <ng-container [ngSwitch]="element.Channel | lowercase">
                        <ng-container *ngSwitchCase="'textchat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'audiochat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'videochat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'services'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>

                        <ng-template #interactionBrandType let-subChannel="SubChannel">
                            <ng-container [ngSwitch]="subChannel | lowercase">
                                <mat-icon color="primary" *ngSwitchCase="'textchat'" matTooltip="Chat">chat</mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'chat'" matTooltip="Chat">chat</mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'text'" matTooltip="Chat">chat</mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'audio'" matTooltip="Audio">wifi_calling_3</mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'video'" matTooltip="Video">duo</mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'whatsapp'" svgIcon="custom-whatsapp" matTooltip="WhatsApp"></mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'we'" svgIcon="custom-we" matTooltip="We Chat"></mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'line'" svgIcon="custom-line" matTooltip="Line"></mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'viber'" svgIcon="custom-viber" matTooltip="Viber"></mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'twitter'" svgIcon="custom-twitter" matTooltip="Twitter"></mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'fb'" svgIcon="custom-fb" matTooltip="Facebook"></mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'telegram'" svgIcon="custom-telegram" matTooltip="Telegram"></mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'store'" matTooltip="Store">store</mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'field'" matTooltip="Field">roofing</mat-icon>
                                <mat-icon color="primary" *ngSwitchDefault> feed </mat-icon>
                            </ng-container>
                        </ng-template>

                        <mat-icon color="primary" *ngSwitchCase="'voice'" matTooltip="Voice"> phone </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'sms'" matTooltip="SMS"> sms </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'email'" matTooltip="Email"> email </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'fax'" matTooltip="Fax"> print </mat-icon>
                        <mat-icon color="primary" *ngSwitchDefault [matTooltip]="element.SubChannel"> feed </mat-icon>
                    </ng-container>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="User">
                <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.User">
                    <div class="text-truncate">
                        {{ element.User || 'NA' }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Dnis">
                <mat-header-cell *matHeaderCellDef mat-sort-header>DNIS</mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.Dnis">
                    <div class="text-truncate">
                        {{ element.Dnis || 'NA' }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Intent">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Intent</mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.Intent">
                    <div class="text-truncate">
                        {{ element.Intent || 'NA' }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="CreatedDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="px-8">Created Time</mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.CreatedDateTime | date: 'd/M/yy, hh:mm a'">
                    <div class="text-truncate">
                        {{ element.CreatedDateTime | date: 'd/M/yy, hh:mm a' }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ClosedDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="px-8">Closed Time</mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-8" [matTooltip]="element.ClosedDateTime | date: 'd/M/yy, hh:mm a'">
                    <div class="text-truncate">
                        {{ element.ClosedDateTime | date: 'd/M/yy, hh:mm a' }}
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ActiveTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">Active Time</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="10">
                    {{ element.ActiveTime * 1000 | date: 'HH:mm:ss':'UTC' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="AgentComment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Comments</mat-header-cell>
                <mat-cell *matCellDef="let element" class="px-8">
                    {{ element.AgentComment?.trim() ? '' : 'NA' }}
                    <button *ngIf="element.AgentComment?.trim()" mat-icon-button matTooltip="View Comments" (click)="showNotes(element.AgentComment)">
                        <mat-icon> notes </mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="interactionDetailsTable.columns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: interactionDetailsTable.columns"></mat-row>
        </mat-table>

        <p *ngIf="interactionDetailsTable.source.data.length === 0" class="text-center m-0 mat-title">No Data Available</p>
    </div>
    <div *ngIf="maximized" fxLayout fxLayoutAlign="space-between">
        <div fxLayout fxLayoutAlign="center center">
            <button
                cdkOverlayOrigin
                #advancedSearchOverlay="cdkOverlayOrigin"
                (click)="showAdvancedSearchOverlay = !showAdvancedSearchOverlay"
                mat-button
                color="primary"
            >
                <mat-icon>search</mat-icon>
                Advanced Search
            </button>

            <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="advancedSearchOverlay"
                [cdkConnectedOverlayOpen]="showAdvancedSearchOverlay"
                cdkConnectedOverlayHasBackdrop
                cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                (backdropClick)="showAdvancedSearchOverlay = false"
            >
                <div class="mat-elevation-z1 p-12 advanced-search-form">
                    <form fxLayout="column" [formGroup]="advancedSearchForm" novalidate>
                        <mat-form-field fxFlex="25">
                            <mat-label>Channel</mat-label>
                            <input matInput type="text" formControlName="Channel" />
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Sub Channel</mat-label>
                            <input matInput type="text" formControlName="SubChannel" />
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Direction</mat-label>
                            <input matInput type="text" formControlName="Direction" />
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>User</mat-label>
                            <input matInput type="text" formControlName="User" />
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>DNIS</mat-label>
                            <input matInput type="text" formControlName="Dnis" />
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Created Time</mat-label>
                            <mat-date-range-input [rangePicker]="createdTimePicker">
                                <input matStartDate placeholder="Start date" formControlName="CreatedTimeStart" />
                                <input matEndDate placeholder="End date" formControlName="CreatedTimeEnd" />
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="createdTimePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #createdTimePicker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Closed Time</mat-label>
                            <mat-date-range-input [rangePicker]="closedTimePicker">
                                <input matStartDate placeholder="Start date" formControlName="ClosedTimeStart" />
                                <input matEndDate placeholder="End date" formControlName="ClosedTimeEnd" />
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="closedTimePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #closedTimePicker></mat-date-range-picker>
                        </mat-form-field>

                        <mat-form-field fxFlex="25">
                            <mat-label>Comments</mat-label>
                            <input matInput type="text" formControlName="AgentComment" />
                        </mat-form-field>
                    </form>
                </div>
            </ng-template>
        </div>
        <mat-paginator
            *ngIf="interactionDetailsTable.source.data.length > 0"
            [pageSize]="20"
            [pageSizeOptions]="[20, 40, 60, 100]"
            showFirstLastButtons
        >
        </mat-paginator>
    </div>
</tw-wrapper>
