tw-ad-interaction-details {
    mat-table {
        mat-header-row {
            min-height: 30px;
        }
    }

    .status {
        margin: 4px auto;
        border-radius: 20px;

        mat-icon {
            font-size: 18px;
            line-height: 2;
        }
    }

    small {
        font-weight: bold;
    }
}
