<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent($event)">
    <div class="w-100-p bg-inherit" [ngClass]="maximized ? 'h-90-p' : 'h-100-p'" fusePerfectScrollbar>
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z0" matSortDisableClear [@animateStagger]="{ value: '50' }">
            <ng-container matColumnDef="Channel">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Channel</mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">
                    <mat-icon class="channel-icon" color="primary"> {{ element.Channel }} </mat-icon>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div
                        class="status text-center"
                        [ngClass]="{
                            'bg-success': element.Status === 'Active',
                            'bg-warning': element.Status === 'OnHold',
                            'bg-danger': element.Status === 'Closed',
                            'w-30-p': maximized,
                            'w-40-p': !maximized
                        }"
                    >
                        <mat-icon>
                            {{ element.Status === 'OnHold' ? 'phone_paused' : element.Status === 'Active' ? 'phone' : 'call_end' }}
                        </mat-icon>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Created Time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Created Time</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.CreatedTime | date: 'medium' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Active Time">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Active Time</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.ActiveTime }}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" [@animate]="{ value: '*', params: { y: '100%' } }"></mat-row>
        </mat-table>

        <p *ngIf="dataSource.data.length === 0" class="text-center m-0 font-size-16">No data available</p>
    </div>
    <mat-paginator *ngIf="maximized" [pageSizeOptions]="maximized ? [30, 40, 50] : [3, 6, 12]" showFirstLastButtons> </mat-paginator>
</tw-wrapper>
