<shared-wrapper [icon]="icon" [title]="title" [loading]="loading">
    <div mat-dialog-content class="twd-h-full !twd-max-h-full !lg:twd-w-6/12">
        <ng-container *ngIf="customFuse$ | async as customFuse">
            <ng-container *ngIf="switcherList[activeSwitcher] as tabConf">
                <ng-container
                    *ngIf="{
                        disabled: (!selectedItem && !tabConf.freeText.value) || !!loading
                    } as controls"
                >
                    <div class="twd-h-full twd-flex twd-flex-col">
                        <div class="twd-flex border-radius-20 twd-mb-1 twd-gap-x-2 twd-p-2" [ngClass]="customFuse?.content">
                            <div class="twd-flex twd-flex-col twd-flex-1">
                                <div class="twd-flex">
                                    <mat-form-field *ngIf="!tabConf.freeText.active" fxFlex appearance="outline" class="custom with-bg">
                                        <input matInput readonly required [placeholder]="tabConf.placeholder" [(ngModel)]="selectedItemDisplayName" />
                                        <button
                                            *ngIf="tabConf.freeText.allowed"
                                            mat-button
                                            matSuffix
                                            mat-icon-button
                                            type="button"
                                            matTooltip="Edit"
                                            (click)="clearSelected(); tabConf.freeText.active = true"
                                        >
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button
                                            mat-button
                                            color="primary"
                                            type="button"
                                            *ngIf="selectedItem?.trim()"
                                            matSuffix
                                            mat-icon-button
                                            aria-label="Clear"
                                            matTooltip="Clear"
                                            (keypress)="numberOnly($event)"
                                            (click)="clearSelected()"
                                        >
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="tabConf.freeText.active" fxFlex appearance="outline" class="custom with-bg twd-mt-1">
                                        <input
                                            matInput
                                            required
                                            [placeholder]="'Enter ' + tabConf.placeholder"
                                            [(ngModel)]="tabConf.freeText.value"
                                        />
                                        <button
                                            mat-button
                                            matSuffix
                                            mat-icon-button
                                            type="button"
                                            matTooltip="Cancel"
                                            (click)="clearSelected(); tabConf.freeText.active = false"
                                        >
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                        <input class="twd-hidden" required matInput [(ngModel)]="selectedItem" />
                                    </mat-form-field>
                                </div>
                                <mat-form-field
                                    floatLabel="never"
                                    appearance="standard"
                                    [ngClass]="{ 'twd-hidden': !tabConf.comments }"
                                    class="custom with-bg comments twd-flex-1 twd-mb-1"
                                >
                                    <textarea
                                        matInput
                                        [(ngModel)]="comments"
                                        placeholder="Enter comments here..."
                                        matTextareaAutosize
                                        matAutosizeMinRows="4"
                                        matAutosizeMaxRows="4"
                                    ></textarea>
                                </mat-form-field>
                            </div>
                            <div class="twd-flex twd-flex-col twd-items-center twd-py-1.5 twd-gap-y-2">
                                <button
                                    *ngIf="tabConf.consult"
                                    mat-raised-button
                                    class="custom-btn bg-success border-radius-20"
                                    [matTooltip]="actionTooltip"
                                    [disabled]="controls.disabled"
                                    (click)="executeAction(true)"
                                >
                                    <mat-icon *ngIf="!loading">{{ icon }}</mat-icon>
                                    <mat-spinner *ngIf="loading" diameter="28" class="my-4"></mat-spinner>
                                </button>

                                <button
                                    *ngIf="tabConf.blind"
                                    mat-raised-button
                                    matTooltip="Blind"
                                    class="custom-btn bg-success border-radius-20"
                                    [disabled]="controls.disabled"
                                    (click)="executeAction(false)"
                                >
                                    <span *ngIf="!loading" class="twd-font-extrabold"> {{ blindLabel }}</span>
                                    <mat-spinner *ngIf="loading" diameter="28" class="my-4"></mat-spinner>
                                </button>
                            </div>
                        </div>
                        <div class="twd-flex-1 twd-flex twd-flex-col border-radius-20" [ngClass]="customFuse?.content">
                            <div class="twd-flex twd-text-center twd-gap-3 border-bottom twd-p-2" *ngIf="switcherList | keyvalue as tabList">
                                <ng-container *ngIf="tabList.length > 1">
                                    <div
                                        *ngFor="let item of tabList"
                                        class="border-radius-20 twd-p-2 twd-font-bold twd-cursor-pointer twd-flex-1"
                                        [ngClass]="activeSwitcher === item.key && customFuse?.body"
                                        (click)="switchTab(item.key); agentSearchRef.focus()"
                                    >
                                        {{ item.key }}
                                    </div>
                                </ng-container>
                            </div>
                            <div class="twd-flex-1 twd-flex-col twd-overflow-x-hidden twd-overflow-y-auto twd-relative border-bottom twd-p-2">
                                <div class="twd-flex twd-items-center twd-gap-2" [ngClass]="{ 'twd-hidden': activeSwitcher !== 'Agent List' }">
                                    <div #skillSelectDropdown class="twd-flex-1">
                                        <mat-form-field class="form-field custom with-bg w-100-p" appearance="outline">
                                            <mat-select #skillSelectRef placeholder="Select Skill..." [(ngModel)]="selectedSkill">
                                                <mat-option (click)="clearSkillFilter()">None</mat-option>
                                                <mat-option *ngFor="let item of allSkills" [value]="item.SkillID" (click)="searchAgentsOnSkill()">{{
                                                    item.SkillName
                                                }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <!-- Search form field with form control searchKey -->
                                    <div #searchKeyText class="twd-hidden">
                                        <mat-form-field class="form-field custom with-bg w-100-p" appearance="outline">
                                            <input matInput #agentSearchRef [formControl]="searchKey" placeholder="Search" />
                                            <button
                                                *ngIf="agentSearchRef.value"
                                                mat-button
                                                color="primary"
                                                matSuffix
                                                mat-icon-button
                                                aria-label="Clear"
                                                (click)="searchKey.setValue('')"
                                            >
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <button mat-raised-button mat-icon-button matTooltip="Clear All" (click)="clearAllFilter()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>

                                    <div>
                                        <button mat-raised-button mat-icon-button matTooltip="Reload Agent List" (click)="reloadAgentList()">
                                            <mat-icon>refresh</mat-icon>
                                        </button>
                                    </div>

                                    <!-- skill select dropdown when clicked , select dropdown input form field shown -->
                                    <div #skillSelectButton class="twd-hidden">
                                        <button
                                            mat-raised-button
                                            mat-icon-button
                                            matTooltip="Select Skill"
                                            (click)="
                                                searchKeyText.classList.replace('twd-flex-1', 'twd-hidden');
                                                skillSelectDropdown.classList.replace('twd-hidden', 'twd-flex-1');
                                                searchKeyButton.classList.toggle('twd-hidden');
                                                skillSelectButton.classList.toggle('twd-hidden');
                                                skillSelectRef.focus()
                                            "
                                        >
                                            <mat-icon>school</mat-icon>
                                        </button>
                                    </div>

                                    <!-- search key button hidden by defaullt , when clicked , searchKey input form field shown -->
                                    <div #searchKeyButton>
                                        <button
                                            mat-raised-button
                                            mat-icon-button
                                            matTooltip="Search"
                                            (click)="
                                                skillSelectDropdown.classList.replace('twd-flex-1', 'twd-hidden');
                                                searchKeyText.classList.replace('twd-hidden', 'twd-flex-1');
                                                searchKeyButton.classList.toggle('twd-hidden');
                                                skillSelectButton.classList.toggle('twd-hidden');
                                                agentSearchRef.focus()
                                            "
                                        >
                                            <mat-icon>search</mat-icon>
                                        </button>
                                    </div>
                                </div>

                                <div class="twd-w-full" [ngClass]="{ 'twd-hidden': activeSwitcher === 'Agent List' }">
                                    <mat-form-field class="form-field custom with-bg w-100-p" appearance="outline">
                                        <input matInput [formControl]="searchKey" #searchRef placeholder="Search" />
                                        <button
                                            *ngIf="searchRef.value"
                                            mat-button
                                            color="primary"
                                            matSuffix
                                            mat-icon-button
                                            aria-label="Clear"
                                            (click)="searchKey.setValue('')"
                                        >
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>

                                <div
                                    class="twd-w-full twd-absolute twd-left-0 twd-h-[calc(100%-60px)] twd-max-h-full"
                                    [ngClass]="customFuse?.content"
                                >
                                    <ad-table
                                        #adTable
                                        [sort]="true"
                                        [selectable]="true"
                                        [pagination]="true"
                                        (actionReducer)="tabConf.onSelect($event.record)"
                                    >
                                    </ad-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</shared-wrapper>
