<!-- We are writing a wrapper over material card -->
<div class="tw-shared-wrapper">
    <mat-card
        class="widget-card"
        [ngClass]="
            fuseConfig.layout.anchorWidget.customBackgroundColor === true
                ? fuseConfig.layout.anchorWidget.bodyBackground
                : fuseConfig.layout.widget.customBackgroundColor === true
                ? fuseConfig.layout.widget.bodyBackground
                : ''
        "
    >
        <!-- Wrapper to wrap header and body -->
        <div fxLayout="column" fxLayoutAlign=" none" class="card-wrapper">
            <mat-card-header
                [ngClass]="
                    fuseConfig.layout.anchorWidget.customBackgroundColor === true
                        ? fuseConfig.layout.anchorWidget.headerBackground
                        : fuseConfig.layout.widget.customBackgroundColor === true
                        ? fuseConfig.layout.widget.headerBackground
                        : ''
                "
            >
                <div mat-card-avatar>
                    <mat-icon>{{ icon }}</mat-icon>
                </div>
                <mat-card-title>{{ title }}</mat-card-title>
                <span class="spacer"></span>
                <button mat-icon-button matTooltip="Close" mat-dialog-close #closeBtn tabindex="-1">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-card-header>
            <!-- Card content -->
            <mat-card-content
                [ngClass]="
                    fuseConfig.layout.anchorWidget.customBackgroundColor === true
                        ? fuseConfig.layout.anchorWidget.contentBackground
                        : fuseConfig.layout.widget.customBackgroundColor === true
                        ? fuseConfig.layout.widget.contentBackground
                        : ''
                "
            >
                <!-- <h1 mat-dialog-title>Compose SMS</h1> -->
                <div mat-dialog-content class="h-100-p">
                    <div fxFlex fxFill fxLayout="column">
                        <div
                            class="w-100-p px-16 pt-0 pb-12 border-radius-20"
                            fxLayout="row"
                            [ngClass]="
                                fuseConfig.layout.anchorWidget.customBackgroundColor === true
                                    ? fuseConfig.layout.anchorWidget.contentBackground
                                    : fuseConfig.layout.widget.customBackgroundColor === true
                                    ? fuseConfig.layout.widget.contentBackground
                                    : ''
                            "
                        >
                            <div fxFlex fxLayout="column">
                                <div fxLayout>
                                    <!-- <p fxFlex="20" fxLayoutAlign=" center" class="px-8">{{ mainLabel }}</p> -->
                                    <mat-form-field fxFlex appearance="outline" class="custom with-bg">
                                        <input matInput required [placeholder]="mainLabel" [(ngModel)]="selectedItem" />
                                        <button
                                            mat-button
                                            color="primary"
                                            type="button"
                                            *ngIf="selectedItem?.trim()"
                                            matSuffix
                                            mat-icon-button
                                            aria-label="Clear"
                                            matTooltip="Clear"
                                            (keypress)="numberOnly($event)"
                                            (click)="selectedItem = ''"
                                        >
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div fxFlex fxLayout *ngIf="showComments">
                                    <!-- <p fxFlex="20" fxLayoutAlign=" flex-start" class="px-8 mt-16">Comments</p> -->
                                    <mat-form-field fxFlex floatLabel="never" appearance="standard" class="custom with-bg comments">
                                        <textarea
                                            matInput
                                            [(ngModel)]="comments"
                                            placeholder="Enter comments here..."
                                            matTextareaAutosize
                                            matAutosizeMinRows="4"
                                            matAutosizeMaxRows="4"
                                        ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="column" class="pl-8 py-8">
                                <button
                                    mat-raised-button
                                    class="custom-btn bg-success border-radius-20"
                                    [matTooltip]="actionTooltip"
                                    [disabled]="!selectedItem || loading"
                                    (click)="executeAction(true)"
                                >
                                    <mat-icon *ngIf="!loading">{{ icon }}</mat-icon>
                                    <mat-spinner *ngIf="loading" diameter="30" class="my-4"></mat-spinner>
                                </button>

                                <button
                                    mat-raised-button
                                    *ngIf="blindAllowed"
                                    matTooltip="Blind"
                                    class="custom-btn bg-success border-radius-20 mt-8"
                                    [disabled]="!selectedItem || loading"
                                    (click)="executeAction(false)"
                                >
                                    <mat-icon *ngIf="!loading">double_arrow</mat-icon>
                                    <mat-spinner *ngIf="loading" diameter="30" class="my-4"></mat-spinner>
                                </button>
                            </div>
                        </div>
                        <div
                            fxFlex
                            class="w-100-p py-8 px-16 border-radius-20 grid-layout position-relative"
                            [ngClass]="
                                fuseConfig.layout.anchorWidget.customBackgroundColor === true
                                    ? fuseConfig.layout.anchorWidget.contentBackground
                                    : fuseConfig.layout.widget.customBackgroundColor === true
                                    ? fuseConfig.layout.widget.contentBackground
                                    : ''
                            "
                        >
                            <div fxLayout="column">
                                <div fxLayout class="switcher" *ngIf="showSwitcher">
                                    <div
                                        fxFlex
                                        class="switch-item"
                                        *ngFor="let item of switcherList"
                                        [ngClass]="{ 'bg-success': activeSwitcher === item.key }"
                                        (click)="switchTab(item)"
                                    >
                                        {{ item.label }}
                                    </div>
                                </div>
                                <div fxLayout="column">
                                    <div [hidden]="activeSwitcher !== 'agentList'">
                                        <div fxLayout="row" fxLayoutAlign=" center">
                                            <!-- <mat-form-field class="custom form-field w-100-p" appearance="outline">
                                            <input class="login-input" matInput placeholder="Search" [(ngModel)]="searchTerm" (input)="filterAgents()" />
                                            <button
                                                *ngIf="!searchTerm; else clearBtn"
                                                mat-icon-button
                                                matSuffix
                                                [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                                disabled
                                            >
                                                <mat-icon matSuffix>search</mat-icon>
                                            </button>
                                            <ng-template #clearBtn>
                                                <button
                                                    mat-button
                                                    color="primary"
                                                    matSuffix
                                                    mat-icon-button
                                                    aria-label="Clear"
                                                    [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                                    (click)="searchTerm = ''; filterAgents()"
                                                >
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </ng-template>
                                        </mat-form-field> -->

                                            <div>
                                                <button
                                                    mat-icon-button
                                                    (click)="openSearch = !openSearch"
                                                    type="button"
                                                    cdkOverlayOrigin
                                                    #trigger="cdkOverlayOrigin"
                                                    class="mr-4"
                                                >
                                                    <mat-icon>filter_alt</mat-icon>
                                                </button>
                                            </div>

                                            <!-- <ng-template
                                            cdkConnectedOverlay
                                            [cdkConnectedOverlayOrigin]="trigger"
                                            [cdkConnectedOverlayOpen]="openSearch"
                                            cdkConnectedOverlayHasBackdrop
                                            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                                            (overlayOutsideClick)="openSearch = !openSearch"
                                        >
                                            <div
                                                class="advanced-search-form mat-elevation-z2 position-absolute border-radius-20 animate__animated animate__fadeInDown animate__faster"
                                            >
                                                <p class="text-center text-bold">Advanced Search</p>
                                                <form [formGroup]="advancedSearchForm" class="px-12" novalidate fxLayout="row wrap" fxLayoutAlign="space-evenly">
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="email" type="text" placeholder="Email" />
                                                    </mat-form-field>
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="queue" type="text" placeholder="Queue" />
                                                    </mat-form-field>
                
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="fromDate" [matDatepicker]="fromDatePicker" placeholder="From Data" />
                                                        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #fromDatePicker></mat-datepicker>
                                                    </mat-form-field>
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="fromTime" type="time" placeholder="From Time" />
                                                    </mat-form-field>
                
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="toDate" [matDatepicker]="toDatePicker" placeholder="To Date" />
                                                        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                                        <mat-datepicker #toDatePicker></mat-datepicker>
                                                    </mat-form-field>
                
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="toTime" type="time" placeholder="To Time" />
                                                    </mat-form-field>
                
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="subject" type="text" placeholder="Subject" />
                                                    </mat-form-field>
                                                    <mat-form-field class="form-field custom with-border" fxFlex="48" appearance="outline">
                                                        <input matInput formControlName="content" type="text" placeholder="Content" />
                                                    </mat-form-field>
                                                    <button mat-raised-button class="adv-search-btn w-100-p h-40 mb-8 border-radius-20" matTooltip="Search">
                                                        Search
                                                    </button>
                                                </form>
                                            </div>
                                        </ng-template> -->

                                            <div fxFlex>
                                                <mat-form-field class="form-field custom with-bg w-100-p" appearance="outline">
                                                    <mat-select placeholder="Select Skill..." [(ngModel)]="selectedSkill">
                                                        <mat-option (click)="clearSkillFilter()">None</mat-option>
                                                        <mat-option
                                                            *ngFor="let item of allSkills"
                                                            [value]="item.SkillID"
                                                            (click)="filterAgentList()"
                                                            >{{ item.SkillName }}</mat-option
                                                        >
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div class="ml-8">
                                                <button mat-raised-button mat-icon-button matTooltip="Clear All" (click)="clearAllFilter()">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </div>

                                            <div class="ml-8">
                                                <button
                                                    mat-raised-button
                                                    mat-icon-button
                                                    matTooltip="Reload Agent List"
                                                    (click)="loadAgentList(true)"
                                                >
                                                    <mat-icon>refresh</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <div
                                            class="w-100-p h-100-p"
                                            fusePerfectScrollbar
                                            [fusePerfectScrollbarOptions]="{ suppressScrollX: true, updateOnRouteChange: true }"
                                        >
                                            <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

                                            <mat-table
                                                class="h-100-p"
                                                matSort
                                                matSortDisableClear
                                                [dataSource]="agentListTable.tableData.source"
                                                matSortActive="CurrentAgentStatus"
                                                matSortDirection="asc"
                                            >
                                                <ng-container matColumnDef="FirstName">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span> First Name </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.FirstName || 'NA' }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="LastName">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span> Last Name </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.LastName || 'NA' }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="AgentID">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> <span> ID </span> </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.LoginID }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="CurrentAgentStatus">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <mat-spinner *ngIf="row.CurrentAgentStatus === 'loading'" diameter="20"></mat-spinner>
                                                        <span *ngIf="row.CurrentAgentStatus !== 'loading'"> {{ row.CurrentAgentStatus }}</span>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="InteractionCounts">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span>
                                                            Interaction
                                                            <br />
                                                            Counts
                                                        </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.InteractionCounts }} </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="agentListTable.tableData.columns; sticky: true"></mat-header-row>
                                                <mat-row
                                                    *matRowDef="let row; columns: agentListTable.tableData.columns"
                                                    (click)="selectAgent(row)"
                                                    class="selectable"
                                                    [ngClass]="{ selected: !!agentListTable.tableData.selection.isSelected(row) }"
                                                ></mat-row>
                                            </mat-table>

                                            <p
                                                *ngIf="!loading && agentListTable.tableData.source.data.length === 0"
                                                class="text-center m-0 mat-title"
                                            >
                                                No Data Available
                                            </p>
                                        </div>
                                    </div>
                                    <div [hidden]="activeSwitcher !== 'skillList'">
                                        <div>
                                            <!-- <mat-form-field class="custom form-field w-100-p" appearance="outline">
                                            <input class="login-input" matInput placeholder="Search" [(ngModel)]="searchTerm" (input)="filterAgents()" />
                                            <button
                                                *ngIf="!searchTerm; else clearBtn"
                                                mat-icon-button
                                                matSuffix
                                                [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                                disabled
                                            >
                                                <mat-icon matSuffix>search</mat-icon>
                                            </button>
                                            <ng-template #clearBtn>
                                                <button
                                                    mat-button
                                                    color="primary"
                                                    matSuffix
                                                    mat-icon-button
                                                    aria-label="Clear"
                                                    [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                                    (click)="searchTerm = ''; filterAgents()"
                                                >
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </ng-template>
                                        </mat-form-field> -->
                                        </div>
                                        <div
                                            class="w-100-p h-100-p"
                                            fusePerfectScrollbar
                                            [fusePerfectScrollbarOptions]="{ suppressScrollX: true, updateOnRouteChange: true }"
                                        >
                                            <mat-table class="h-100-p" matSort matSortDisableClear [dataSource]="skillListTable.tableData.source">
                                                <ng-container matColumnDef="Name">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span> Name </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.Name }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="VDN">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                        <span> VDN </span>
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.VDN }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="ID">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> <span> ID </span> </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.ID }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Stf">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Stf </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.Staff }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Avl">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Avl </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.Avail }} </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="CIQ">
                                                    <mat-header-cell *matHeaderCellDef mat-sort-header> CIQ </mat-header-cell>
                                                    <mat-cell *matCellDef="let row"> {{ row.CIQ }} </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="skillListTable.tableData.columns; sticky: true"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: skillListTable.tableData.columns"></mat-row>
                                            </mat-table>
                                            <p *ngIf="skillListTable.tableData.source.data.length === 0" class="text-center m-0 mat-title">
                                                No Data Available
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>
