@mixin tw-toolbar-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    // .tw-navbar-menu {
    //     .menu-item {
    //         .mat-icon-button:not(.mat-button-disabled) {
    //             .mat-icon {
    //                 @if ($is-dark) {
    //                     color: white;
    //                 } @else {
    //                     color: rgba(0, 0, 0, 0.64);
    //                 }
    //             }
    //         }
    //     }
    // }
}
