<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent($event)">
    <!-- your code goes here -->
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="w-100-p h-100-p" #chartContainerRef>
        <div class="w-100-p h-100-p position-relative">
            <ngx-charts-pie-chart
                [view]="widget.view.length === 0 ? [chartContainerRef.offsetWidth / 2, chartContainerRef.offsetHeight] : widget.view"
                [scheme]="pieChat.scheme"
                [results]="pieChat.data"
                [gradient]="pieChat.gradient"
                [legend]="pieChat.legend"
                [legendPosition]="pieChat.legendPosition"
                [labels]="widget.state.maximized"
                [doughnut]="pieChat.doughnut"
            >
            </ngx-charts-pie-chart>
            <div
                fxFlex
                fxFill
                fxLayout="row"
                fxLayoutAlign="center center"
                class="w-100-p h-100-p position-absolute m-0"
                [ngClass]="widget.state.maximized ? 'mat-display-4' : 'mat-display-1'"
            >
                76
            </div>
        </div>
        <div class="w-100-p h-100-p">
            <ngx-charts-bar-vertical-stacked
                [view]="widget.view.length === 0 ? [chartContainerRef.offsetWidth / 2, chartContainerRef.offsetHeight] : widget.view"
                [scheme]="barChart.colorScheme"
                [results]="barChart.dataSource"
                [gradient]="barChart.gradient"
                [xAxis]="barChart.showXAxis"
                [yAxis]="barChart.showYAxis"
                [legend]="barChart.showLegend"
                [showXAxisLabel]="barChart.showXAxisLabel"
                [showYAxisLabel]="barChart.showYAxisLabel"
                [xAxisLabel]="barChart.xAxisLabel"
                [yAxisLabel]="barChart.yAxisLabel"
                [animations]="barChart.animations"
                [barPadding]="30"
            >
            </ngx-charts-bar-vertical-stacked>
        </div>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
