<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="statusChart.legend = $event">
    <!-- your code goes here -->
    <div
        *ngIf="statusChart.datasets.length >= 1 && statusChart.datasets[0].data.length"
        fxLayout="column"
        fxLayoutAlign="center center"
        class="w-100-p h-100-p"
    >
        <div class="tw-chart w-100-p h-100-p p-8" #chartContainerRef>
            <canvas
                baseChart
                class="box-shadow-3d"
                [colors]="statusChart.colors"
                [datasets]="statusChart.datasets"
                [options]="statusChart.options"
                [labels]="statusChart.labels"
                [legend]="statusChart.legend"
                chartType="pie"
            >
            </canvas>
            <!-- <div class="t-pie-chart-value">{{ widget.data[1].value }}</div> -->
        </div>
    </div>

    <div
        *ngIf="statusChart.datasets.length === 0 || (statusChart.datasets.length >= 1 && !statusChart.datasets[0].data.length)"
        class="w-100-p h-100-p text-center"
        fxLayout
        fxLayoutAlign="center center"
    >
        <p class="mat-title">No Data Available</p>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
