<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div fxFlex fxFill fxLayout="row" class="p-8">
        <mat-chip-list *ngIf="nlpData.length > 0; else noData">
            <mat-chip
                *ngFor="let intent of nlpData"
                removable
                (click)="openAssitWidget(intent.Name)"
                [ngClass]="{
                    'bg-info': intent.Count < 5,
                    'bg-secondary': intent.Count >= 5 && intent.Count > 10,
                    'bg-success': intent.Count >= 10 && intent.Count > 20,
                    'bg-warning': intent.Count >= 20 && intent.Count > 30,
                    'bg-danger': intent.Count >= 30
                }"
            >
                {{ intent.Name }}
                <mat-icon matChipRemove>close</mat-icon>
            </mat-chip>
        </mat-chip-list>

        <ng-template #noData>
            <div fxFill fxLayout fxLayoutAlign="center center" class="mat-title">No Data Available</div>
        </ng-template>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
