<section class="notification-container" *ngIf="data">
    <div [@inOutAnimation]="'in'" (click)="onClick()" class="snackbar twd-items-center" [ngClass]="data.state">
        <div class="twd-flex twd-gap-3 twd-items-center">
            @switch (data.state) {
                @case ('warning') {
                    <img src="assets/images/vectors/warning.svg" />
                }
                @case ('success') {
                    <img src="assets/images/vectors/success.svg" />
                }
                @case ('failure') {
                    <img src="assets/images/vectors/error.svg" />
                }
                @case ('info') {
                    <mat-icon *ngIf="data.state !== 'close'" matRipple (click)="dismiss()" color="accent">
                        {{ data.icon }}
                    </mat-icon>
                }
                @case ('loading') {
                    <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
                }
            }
            <div [innerHTML]="data.message"></div>
        </div>
        <button mat-icon-button *ngIf="data.state === 'close'" color="warn" (click)="dismiss()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</section>
