<section class="notification-container">
    <div [@inOutAnimation]="'in'" (click)="onClick()" class="snackbar twd-items-center">
        <div [innerHTML]="data.message"></div>
        <mat-icon
            *ngIf="data.state !== 'close'"
            matRipple
            (click)="dismiss()"
            class="ml-8 border-radius-20"
            [ngClass]="{
                spin: data.loading,
                'text-info': data.state === 'info' || data.state === 'loading',
                'text-alt-success': data.state === 'success',
                'text-alt-warning': data.state === 'warning',
                'text-alt-danger': data.state === 'failure'
            }"
        >
            {{ data.icon }}
        </mat-icon>

        <button mat-icon-button *ngIf="data.state === 'close'" color="warn" (click)="dismiss()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</section>
