tw-ad-callbacks {
    .callbacks {
        padding: 10px;
    }
    .callback-total {
        & > * {
            min-width: 210px;
            background-color: white;
            padding: 8px 14px;
            border-radius: 20px;
            margin: 8px 0px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        &.maximized {
            & > * {
                font-size: 16px;
                padding: 16px;
                margin: 10px;
            }
        }
    }
}

body.theme-dark {
    tw-ad-callbacks {
        .callback-total {
            & > * {
                background-color: rgba(255, 255, 255, 0.04);
            }
        }
    }
}
