<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="maximizeEvent($event)">
    <!-- your code goes here -->
    <div
        *ngIf="!getDashboardDataRes.loading && !getDashboardDataRes.error"
        fxFlex
        fxFill
        fxLayout="row"
        fxLayoutAlign="space-between"
        class="w-100-p h-100-p p-4"
    >
        <div class="callbacks" fxFlex="55" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{ suppressScrollX: true }">
            <div *ngFor="let cb of getDashboardDataRes.data.callbacks" class="callback mb-20" fxLayout fxLayoutAlign="space-between center">
                <div fxFlex="65" fxLayout fxLayoutAlign="start center" fxLayoutGap="20px">
                    <div mat-card-avatar class="border-info">
                        <mat-icon> phone_callback </mat-icon>
                    </div>
                    <span class="font-weight-600"> Callback with {{ cb.contact.name }} </span>
                </div>
                <small fxFlex="30" class="font-weight-600">
                    {{ cb.contact.directAgentScheduleTime }}
                </small>
            </div>
            <div *ngIf="!getDashboardDataRes.data.callbacks.length" class="w-100-p h-100-p">
                <img
                    src="assets/images/vectors/no-data-1.svg"
                    class="w-100-p box-shadow-3d"
                    [ngClass]="{ 'h-95-p': maximized, ' h-85-p': !maximized }"
                />
                <p class="text-center mat-title m-0">No Callbacks Yet!</p>
            </div>
        </div>
        <div
            fxFlex="40"
            fxLayout="column"
            class="callback-total"
            [ngClass]="{ maximized: maximized }"
            fxLayoutAlign="{{ maximized ? 'start stretch' : 'center center' }}"
        >
            <div class="handled p-10 mat-elevation-z2" fxLayout fxLayoutGap="15" fxLayoutAlign="space-between center">
                <span fxFlex="20">
                    <div mat-card-avatar class="bg-success">
                        <mat-icon>done_all</mat-icon>
                    </div>
                </span>
                <strong fxFlex="50" class="ml-20">
                    <span> Handled </span>
                </strong>
                <strong fxFlex="30" class="text-center"> {{ getDashboardDataRes.data.handled }} </strong>
            </div>
            <div class="handled p-10 mat-elevation-z2" fxLayout fxLayoutGap="15" fxLayoutAlign="space-between center">
                <span fxFlex="20">
                    <div mat-card-avatar class="bg-danger">
                        <mat-icon>call_missed</mat-icon>
                    </div>
                </span>
                <strong fxFlex="50" class="ml-20">
                    <span> Missed </span>
                </strong>
                <strong fxFlex="30" class="text-center"> {{ getDashboardDataRes.data.missed }} </strong>
            </div>
            <div class="missed p-10 mat-elevation-z2" fxLayout fxLayoutGap="15" fxLayoutAlign="space-between center">
                <span fxFlex="20">
                    <div mat-card-avatar class="bg-warning">
                        <mat-icon>pending_actions</mat-icon>
                    </div>
                </span>
                <strong fxFlex="50" class="ml-20">
                    <span> Pending </span>
                </strong>
                <strong fxFlex="30" class="text-center"> {{ getDashboardDataRes.data.pending }} </strong>
            </div>
        </div>
    </div>

    <div *ngIf="getDashboardDataRes.loading" class="w-100-p h-100-p" fxLayout fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="getDashboardDataRes.error" class="w-100-p h-100-p text-center" fxLayout="column" fxLayoutAlign="center center">
        <p>
            {{ getDashboardDataRes.msg }}
        </p>
        <button mat-raised-button color="primary">Retry</button>
    </div>

    <!-- your code goes here -->
</tw-wrapper>
