<tw-wrapper [data]="data" *transloco="let locale" (maximizeEvent)="this.maximized = $event">
    <div
        *ngIf="!getDashboardDataRes.loading && !getDashboardDataRes.error"
        class="twd-w-full twd-h-full p-8 twd-flex twd-flex-1 twd-flex-row twd-justify-around"
    >
        <div class="twd-flex-1 twd-max-w-7/12">
            <div class="twd-h-full custom-scroll-adjust twd-p-2">
                <div
                    *ngFor="let cb of getDashboardDataRes.data.callbacks"
                    class="twd-p-2 border-radius-20 twd-flex twd-justify-between twd-items-center twd-gap-1"
                >
                    <div class="twd-flex-1 twd-max-w-8/12 twd-flex twd-justify-start twd-items-center twd-gap-3">
                        <div mat-card-avatar class="border-info" [ngClass]="'bg-' + cb.uiState" [matTooltip]="cb.status">
                            <mat-icon> phone_callback </mat-icon>
                        </div>
                        <span class="font-weight-600"> {{ locale('widgets.adCallbacks.callWith') }} {{ cb.contact.name }} </span>
                    </div>
                    <small class="twd-flex-1 twd-max-w-4/12 font-weight-600 twd-text-center">
                        {{ cb.contact.scheduleTime }}
                    </small>
                </div>

                <div *ngIf="!getDashboardDataRes.data.callbacks.length" class="twd-w-full twd-h-full">
                    <img
                        src="assets/images/vectors/no-data-4.svg"
                        class="twd-w-full box-shadow-3d"
                        [ngClass]="{ 'twd-h-11/12': maximized, 'twd-h-10/12': !maximized }"
                    />
                    <p class="text-center mat-title m-0">{{ locale('widgets.adCallbacks.callbacksNotFound') }}</p>
                </div>
            </div>
        </div>

        <div
            class="callback-total twd-flex-1 twd-max-w-5/12 twd-flex twd-flex-col"
            [ngClass]="{
                'maximized twd-justify-start twd-items-stretch twd-gap-3': maximized,
                'twd-justify-center twd-items-center twd-gap-2': !maximized
            }"
        >
            <div
                class="p-10 mat-elevation-z2 twd-flex twd-justify-between twd-items-center twd-cursor-pointer"
                [ngClass]="{ selected: currentFilter === 'handled' }"
                (click)="filterCallbacks('handled')"
            >
                <span class="twd-flex-1 twd-max-w-4/12">
                    <div mat-card-avatar class="bg-success">
                        <mat-icon>done_all</mat-icon>
                    </div>
                </span>
                <strong class="twd-flex-1 twd-max-w-6/12">
                    <span>{{ locale('widgets.adCallbacks.handled') }} </span>
                </strong>
                <strong class="text-center twd-flex-1 twd-max-w-2/12"> {{ getDashboardDataRes.data.handled }} </strong>
            </div>

            <div
                class="p-10 mat-elevation-z2 twd-flex twd-justify-between twd-items-center twd-cursor-pointer"
                [ngClass]="{ selected: currentFilter === 'missed' }"
                (click)="filterCallbacks('missed')"
            >
                <span class="twd-flex-1 twd-max-w-4/12">
                    <div mat-card-avatar class="bg-danger">
                        <mat-icon>call_missed</mat-icon>
                    </div>
                </span>
                <strong class="twd-flex-1 twd-max-w-6/12">
                    <span>{{ locale('widgets.adCallbacks.missed') }} </span>
                </strong>
                <strong class="text-center twd-flex-1 twd-max-w-2/12"> {{ getDashboardDataRes.data.missed }} </strong>
            </div>

            <div
                class="p-10 mat-elevation-z2 twd-flex twd-justify-between twd-items-center twd-cursor-pointer"
                [ngClass]="{ selected: currentFilter === 'pending' }"
                (click)="filterCallbacks('pending')"
            >
                <span class="twd-flex-1 twd-max-w-4/12">
                    <div mat-card-avatar class="bg-warning">
                        <mat-icon>pending_actions</mat-icon>
                    </div>
                </span>
                <strong class="twd-flex-1 twd-max-w-6/12">
                    <span>{{ locale('widgets.adCallbacks.pending') }} </span>
                </strong>
                <strong class="text-center twd-flex-1 twd-max-w-2/12"> {{ getDashboardDataRes.data.pending }} </strong>
            </div>
        </div>
    </div>

    <div *ngIf="getDashboardDataRes.loading" class="twd-w-full twd-h-full twd-flex twd-justify-center twd-items-center">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="getDashboardDataRes.error" class="twd-w-full twd-h-full text-center twd-flex twd-flex-col twd-justify-center twd-items-center">
        <p class="mat-title twd-mb-3">
            {{ getDashboardDataRes.msg }}
        </p>
        <button mat-raised-button color="primary" (click)="fetchCallbacks()">{{ locale('global.retry') }}</button>
    </div>
</tw-wrapper>
