:host {
    height: 100%;
    width: 100%;
}

.email-header {
    scroll-behavior: smooth;
}

.twd-truncate {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

::ng-deep .mat-chip-list-wrapper {
    width: 100%;
    padding: 0px;
}

.mat-chip {
    @apply twd-text-xs;
    cursor: pointer !important;
    max-width: 300px;
}
