<div class="twd-w-full twd-h-full twd-overflow-hidden twd-flex twd-flex-col">
    <div
        #emailHeader
        class="email-header twd-max-h-6/12 twd-overflow-x-hidden twd-overflow-y-auto twd-z-10 twd-shadow-md"
        [ngClass]="{ 'twd-overflow-y-hidden': _internal.headerCollapsed, 'twd-pb-2': !_internal.headerCollapsed }"
    >
        <ng-container>
            <div
                id="subject"
                *ngIf="email?.Subject"
                class="twd-text-xl twd-flex twd-justify-between twd-p-2"
                mat-ripple
                (click)="emailHeader.scrollTop = 0; _internal.headerCollapsed = !_internal.headerCollapsed"
            >
                <span
                    class="twd-flex-1 twd-max-w-11/12 twd-text-left"
                    [ngClass]="{ 'twd-truncate': _internal.headerCollapsed }"
                    [innerHtml]="email?.Subject || 'Subject: NA'"
                ></span>
                <span class="twd-p-1">
                    <mat-icon>
                        {{ _internal.headerCollapsed ? 'expand_more' : 'expand_less' }}
                    </mat-icon>
                </span>
            </div>
            <ng-container *ngIf="!email?.Subject && loading">
                <skeleton class="twd-opacity-60 twd-w-6/12 twd-m-3"> </skeleton>
            </ng-container>
        </ng-container>

        <div class="twd-transform twd-px-1" [ngClass]="{ 'twd-max-h-0 twd-pb-0': _internal.headerCollapsed }">
            <ng-container>
                <ng-content *ngIf="!loading && !error; else emailInfoRef" select="#emailInfo"></ng-content>
                <ng-template #emailInfoRef>
                    <skeleton *ngIf="!error" class="twd-opacity-70 twd-mx-3 twd-w-3/12" [rows]="3"> </skeleton>
                </ng-template>
            </ng-container>
            <ng-content *ngIf="!loading" select="#emailNotification"></ng-content>
            <div
                id="attachmentList"
                class="twd-text-left twd-my-1 twd-rounded-2xl twd-overflow-hidden twd-text-xs attachment-list"
                *ngIf="!loading && email?.Files && email?.Files.length && email?.Files as attachments"
            >
                <button
                    *ngFor="let file of attachments | slice: 0:2"
                    mat-stroked-button
                    class="border-radius-20 twd-truncate m-4 twd-max-w-3/12 lg:twd-max-w-6/12"
                    [matTooltip]="file.Ext | uppercase"
                    (click)="openFile(file.URL)"
                >
                    <mat-icon class="custom" color="primary" [svgIcon]="file.Icon"></mat-icon>
                    <span>{{ file.Name }}</span>
                </button>

                <button
                    *ngIf="attachments.length > 2"
                    mat-stroked-button
                    class="border-radius-20 m-4"
                    [matMenuTriggerFor]="attachList"
                    matTooltip="Show More"
                >
                    +{{ attachments.length - 2 }}
                </button>

                <mat-menu class="custom attachment-overlay" #attachList="matMenu">
                    <div class="attachment-menu">
                        <div
                            *ngFor="let file of attachments | slice: 2:attachments.length"
                            class="
                                twd-flex twd-items-center twd-text-base twd-font-bold twd-p-2 twd-rounded-full twd-overflow-hidden twd-cursor-pointer
                                mx-8
                                my-4
                                border
                            "
                            [matTooltip]="file.Ext | uppercase"
                            (click)="openFile(file.URL)"
                        >
                            <mat-icon class="custom" color="primary" [svgIcon]="file.Icon"></mat-icon>
                            <span class="twd-truncate twd-ml-2"> {{ file.Name }} </span>
                        </div>
                    </div>
                </mat-menu>
            </div>
            <ng-content *ngIf="!loading" select="#emailControlButtons"></ng-content>
        </div>
    </div>

    <div class="twd-relative twd-flex-1 twd-overflow-auto">
        <div
            *ngIf="!loading && !error"
            [ngClass]="{ 'twd-hidden': _internal.iframeLoading }"
            class="twd-absolute twd-top-0 twd-left-0 twd-w-full twd-h-full twd-pt-1"
        >
            <iframe #emailBodyIframe class="twd-w-full twd-h-full" (load)="loadEmailInIframe(emailBodyIframe)"></iframe>
        </div>

        <div *ngIf="(loading || _internal.iframeLoading) && !error" class="twd-h-3/4 twd-ml-3 twd-mt-8 twd-w-10/12">
            <skeleton class="twd-opacity-70 twd-w-3/12 twd-mb-2"> </skeleton>
            <skeleton class="twd-opacity-70 twd-w-7/12 twd-mb-2" [rows]="3"> </skeleton>
            <skeleton class="twd-opacity-70 twd-w-5/12 twd-mb-2" [rows]="2"> </skeleton>
            <skeleton class="twd-opacity-70 twd-w-3/12 twd-mb-2"> </skeleton>
            <skeleton class="twd-opacity-70 twd-w-2/12"> </skeleton>
        </div>

        <div *ngIf="error" class="twd-h-3/4 twd-w-full twd-flex twd-items-center twd-justify-center">
            <div class="twd-text-center">
                <p class="twd-font-bold twd-mb-3 twd-text-lg">Unable to load email</p>
                <button mat-raised-button class="twd-mx-auto" color="primary" (click)="retry()">Retry</button>
            </div>
        </div>
    </div>
</div>
