<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data" (maximizeEvent)="onMaximizeEvent($event)" (collapseEvent)="onCollapseEvent($event)" (floatEvent)="onFloatEvent($event)">
    <!-- your code goes here -->
    <div class="twd-flex twd-flex-col twd-flex-1 h-100-p w-100-p">
        <img src="assets/images/vectors/no-data-1.svg" class="w-100-p h-80-p box-shadow-3d twd-p-8" />
        <p class="text-center mat-title m-0 mt-8">{{ data.Name }}</p>
    </div>

    <!-- your code goes here -->
</tw-wrapper>
