// @ All the component theme goes here
// @ Mixin name should start with tw-<widget-name>-theme

// NOTE:: This theme.scss should be added in app/scss/_theme.scss
//        Import in @ Component theming section like @import 'src/app/modules/t-widgets/tw-collections/tw-sample.theme';
//        and include the theme in @mixin app-core($theme) section

@mixin tw-sample-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    @debug 'theme';

    tw-sample {
        &.tw-bg-header {
            .mat-mdc-card {
                color: map-get($foreground, text);

                // If it's a light theme, use a darker background
                // color other than the default #dadada
                @if ($is-dark) {
                    background: #424242;
                } @else {
                    background: #dadada;
                }

                .card-header {
                    color: map-get($foreground, text);

                    // If it's a light theme, use a darker background
                    // color other than the default #fafafa
                    @if ($is-dark) {
                        background: map-get($background, background);
                    } @else {
                        background: #fafafa;
                    }
                }
            }
        }

        &.tw-bg-body {
            .mat-mdc-card {
                .mat-mdc-card-content {
                    color: map-get($foreground, text);

                    // If it's a light theme, use a darker background
                    // color other than the default #fafafa
                    @if ($is-dark) {
                        background: map-get($background, background);
                    } @else {
                        background: #fafafa;
                    }
                }
            }
        }
    }
}
