<tw-wrapper [data]="data" (maximizeEvent)="maximized = $event" *ngIf="showUI">
    <ng-container
        *ngIf="{
            anchor: (customFuse.anchor$ | async),
            widget: (customFuse.widget$ | async)
        } as customFuse"
    >
        <!-- <div *ngIf="callType === 'audio'" class="audio twd-w-full twd-h-full">
            <div class="twd-w-full twd-h-full twd-flex twd-flex-col twd-justify-between twd-px-3">
                <div *ngIf="userList.length" class="twd-flex twd-flex-max twd-flex-row twd-flex-wrap twd-items-center">
                    <ng-container *ngFor="let item of userList">
                        <avatar
                            *ngIf="item.streamInfo.type === 'audio'"
                            name="{{ item.streamInfo.user || 'User' }}"
                            classes="w-48 h-48 border-radius-16 fuse-white mat-elevation-z2"
                            matTooltip="{{ item.streamInfo.user || 'User' }}"
                            class="mr-8"
                            [ngClass]="{ talking: item.level > 0 }"
                        ></avatar>
                    </ng-container>
                </div>

                <div
                    class="call-details twd-flex twd-flex-max twd-flex-col twd-justify-center twd-rounded-20 twd-p-2"
                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                >
                    <div class="w-100-p border-radius-20 remote-video-container" *ngIf="remoateScreenshareRef">
                        <div class="border-radius-20 bg-dark remote-video">
                            <video
                                autoplay
                                playsinline="true"
                                [srcObject]="remoateScreenshareRef.stream"
                                [id]="remoateScreenshareRef.stream.id"
                                #remoteVideo
                            ></video>
                            <span class="text-boxed user">{{ remoateScreenshareRef.streamInfo.user }}</span>
                        </div>
                    </div>

                    <div class="twd-flex twd-flex-row twd-justify-between">
                        <span class="twd-flex twd-flex-row twd-items-center"> <mat-icon>construction</mat-icon> {{ sessionId }} </span>
                        <span class="twd-flex twd-flex-row twd-items-center"> <mat-icon>wifi</mat-icon> {{ mos }} </span>
                        <span class="twd-flex twd-flex-row twd-items-center">
                            <mat-icon>alarm_on</mat-icon> {{ startTime | date: 'mediumTime' }}</span
                        >
                    </div>

                    <div class="twd-flex twd-flex-row twd-justify-between">
                        <span class="twd-flex twd-flex-row twd-items-center">
                            <mat-icon>timer</mat-icon> {{ (duration | date: 'HH:mm:ss':'UTC') || '00:00:00' }}
                        </span>
                        <span class="twd-flex twd-flex-row twd-items-center"> <mat-icon>offline_bolt</mat-icon> {{ status }} </span>
                    </div>
                </div>

                <div class="call-controls twd-flex twd-flex-row twd-flex-wrap twd-flex-max twd-justify-between twd-items-center">
                    <div class="actions-1 twd-flex twd-flex-row twd-justify-start twd-items-center">
                        <button
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold"
                            [matTooltip]="audioMuted ? 'Unmute' : 'Mute'"
                            (click)="muteUnmuteAudioCall()"
                            [ngClass]="{ 'mat-warn': audioMuted }"
                        >
                            <mat-icon> mic_off </mat-icon>
                        </button>

                        <button
                            *ngIf="agentFeatures.screenshare"
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold || remoteScreenSharing || onCallHoldEvent"
                            [matTooltip]="screenSharing ? 'Stop Screen Share' : 'Screen Share'"
                            [ngClass]="{ 'bg-alt-danger': screenSharing }"
                            (click)="shareScreen()"
                        >
                            <mat-icon> {{ screenSharing ? 'stop_screen_share' : 'screen_share' }} </mat-icon>
                        </button>

                        <button
                            *ngIf="agentFeatures.toggleUserView"
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold || remoteScreenSharing || onCallHoldEvent"
                            matTooltip="Toggle User View"
                            (click)="toggleUserView()"
                        >
                            <mat-icon> {{ userView === 'call' ? 'wysiwyg' : 'view_carousel' }} </mat-icon>
                        </button>
                    </div>

                    <div class="actions-2 twd-flex twd-flex-row twd-justify-start twd-items-center">
                        <button
                            *ngIf="agentFeatures.hold"
                            [disabled]="!connected || (onCallHoldEvent && !manualHold)"
                            mat-flat-button
                            mat-icon-button
                            [class]="hold ? 'success' : 'warning'"
                            [matTooltip]="hold ? 'Unhold Call' : 'Hold Call'"
                            (click)="holdUnholdCall()"
                        >
                            <mat-icon>{{ hold ? 'phone_in_talk' : 'phone_paused' }}</mat-icon>
                        </button>

                        <button mat-flat-button mat-icon-button color="warn" matTooltip="End Call" (click)="endCall()">
                            <mat-icon>call_end</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div hidden>
                <ng-container *ngFor="let item of userList">
                    <audio
                        *ngIf="item.streamInfo.type === 'audio'"
                        autoplay
                        playsinline="true"
                        [srcObject]="item.stream"
                        id="{{ item.stream.id }}"
                    ></audio>
                </ng-container>
            </div>
        </div> -->

        <div class="video twd-w-full twd-h-full twd-flex twd-flex-max">
            <div class="video-controls twd-relative twd-w-full twd-h-full twd-flex twd-flex-col twd-justify-between twd-items-stretch twd-flex-max">
                <div
                    class="remote-video-container twd-w-full twd-flex twd-flex-max twd-flex-row twd-flex-wrap twd-justify-center twd-items-start twd-rounded-20 twd-overflow-auto"
                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                    [@animateStagger]="{ value: '50' }"
                >
                    <div
                        class="border-radius-20 bg-dark remote-video"
                        *ngFor="let user of userList"
                        [ngClass]="'vd-' + userList.length + ' ' + (maximized ? 'maximized' : '')"
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                    >
                        <div *ngIf="user.streamInfo.type === 'audio'" class="twd-w-full twd-h-full twd-flex twd-justify-center twd-items-center">
                            <audio autoplay playsinline="true" [srcObject]="user.stream" [id]="user.stream.id"></audio>
                            <div class="twd-absolute twd-inset-0 twd-m-auto twd-w-48 twd-h-48 twd-bg-gray-400 twd-rounded-full twd-z-[1]">
                                <div class="pulse-element-1" [style.font-size]="user.level + 'px'"></div>
                                <div class="pulse-element-2" [style.font-size]="user.level + 'px'"></div>
                            </div>

                            <avatar
                                [name]="user.streamInfo.user || 'User'"
                                class="twd-z-[1]"
                                initialClass="!twd-text-5xl"
                                classes="!twd-w-48 !twd-h-48 border-radius-100 fuse-white mat-elevation-z2"
                                [matTooltip]="user.streamInfo.user || 'User'"
                                [ngClass]="{ talking: user.level > 0 }"
                            ></avatar>
                        </div>

                        <video
                            *ngIf="user.streamInfo.type === 'video'"
                            autoplay
                            playsinline="true"
                            [srcObject]="user.stream"
                            [id]="user.stream.id"
                            #remoteVideo
                        ></video>

                        <div class="button-group">
                            <button
                                *ngIf="user.streamInfo.type === 'video' && agentFeatures.snapshot"
                                mat-flat-button
                                mat-icon-button
                                [disabled]="!connected || hold || snapshotRequested"
                                matTooltip="Take Snapshot"
                                (click)="takeSnapShot(user)"
                            >
                                <mat-icon> camera </mat-icon>
                            </button>

                            <button
                                *ngIf="agentFeatures.webrtcTest"
                                mat-flat-button
                                mat-icon-button
                                [disabled]="!connected || hold"
                                matTooltip="Stats"
                                (click)="showWebRTCStats()"
                            >
                                <mat-icon> event_note </mat-icon>
                            </button>
                        </div>

                        <span class="text-boxed user">{{ user.streamInfo.user }}</span>
                    </div>

                    <div class="twd-w-full twd-h-full twd-flex twd-flex-max twd-justify-center twd-items-center" *ngIf="userList.length === 0">
                        <img title="no-avatar" src="assets/images/vectors/no-widget.svg" />
                    </div>
                </div>

                <div class="call-details twd-flex twd-flex-col twd-justify-center twd-px-3 twd-py-1">
                    <div class="twd-flex twd-flex-row twd-justify-between">
                        <span class="twd-flex twd-flex-row twd-items-center">
                            <mat-icon>construction</mat-icon>
                            <span> {{ sessionId }} </span>
                        </span>
                        <span class="twd-flex twd-flex-row twd-items-center">
                            <mat-icon>wifi</mat-icon>
                            <span> {{ mos }} </span>
                        </span>
                        <span class="twd-flex twd-flex-row twd-items-center">
                            <mat-icon>alarm_on</mat-icon> {{ startTime | date: 'mediumTime' }}</span
                        >
                    </div>
                    <div class="twd-flex twd-flex-row twd-justify-between">
                        <span class="twd-flex twd-flex-row twd-items-center">
                            <mat-icon>offline_bolt</mat-icon>
                            <span> {{ status }} </span>
                        </span>
                        <span class="twd-flex twd-flex-row twd-items-center">
                            <mat-icon>timer</mat-icon>
                            <span>{{ (duration | date: 'HH:mm:ss':'UTC') || '00:00:00' }}</span>
                        </span>
                    </div>
                </div>

                <div class="call-controls twd-flex twd-flex-row twd-flex-wrap">
                    <div class="actions-1 twd-flex twd-flex-row twd-justify-start twd-items-center twd-flex-max twd-max-w-5/12">
                        <button
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold"
                            [matTooltip]="audioMuted ? 'Unmute Audio' : 'Mute Audio'"
                            (click)="muteUnmuteAudioCall()"
                            [ngClass]="{ 'mat-warn': audioMuted }"
                        >
                            <mat-icon> mic_off </mat-icon>
                        </button>

                        <button
                            *ngIf="selfVideo?.type === 'video' && !agentFeatures.oneWayVideo"
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold"
                            [matTooltip]="videoMuted ? 'Unmute Video' : 'Mute Video'"
                            (click)="muteUnmuteVideoCall()"
                            [ngClass]="{ 'mat-warn': videoMuted }"
                        >
                            <mat-icon> videocam_off </mat-icon>
                        </button>

                        <button
                            *ngIf="agentFeatures.oneWayVideo || callType === 'audio'"
                            #upgradeToVideoBtn
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold || onCallHoldEvent"
                            matTooltip="Change to Video"
                            (click)="changeToVideo(upgradeToVideoBtn)"
                        >
                            <mat-icon> video_call </mat-icon>
                        </button>

                        <button
                            *ngIf="agentFeatures.screenshare"
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold || remoteScreenSharing || onCallHoldEvent"
                            [matTooltip]="screenSharing ? 'Stop Screen Share' : 'Screen Share'"
                            [ngClass]="{ 'bg-alt-danger': screenSharing }"
                            (click)="shareScreen()"
                        >
                            <mat-icon> {{ screenSharing ? 'stop_screen_share' : 'screen_share' }} </mat-icon>
                        </button>

                        <button
                            *ngIf="userCameraList?.length"
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold || onCallHoldEvent"
                            matTooltip="Toggle User Camera"
                            [matMenuTriggerFor]="userCameraMenu"
                        >
                            <mat-icon> cameraswitch </mat-icon>

                            <mat-menu #userCameraMenu="matMenu">
                                <button mat-menu-item *ngFor="let item of userCameraList" (click)="toggleUserCamera(item)" [disabled]="item.selected">
                                    <mat-icon>videocam</mat-icon>
                                    <span>{{ item.label }}</span>
                                </button>
                            </mat-menu>
                        </button>

                        <button
                            *ngIf="agentFeatures.toggleUserView"
                            mat-flat-button
                            mat-icon-button
                            [disabled]="!connected || hold || remoteScreenSharing || onCallHoldEvent"
                            [matTooltip]="userView === 'call' ? 'Change to chat view' : 'Change to call view'"
                            (click)="toggleUserView()"
                        >
                            <mat-icon> {{ userView === 'call' ? 'view_carousel' : 'wysiwyg' }} </mat-icon>
                        </button>
                    </div>

                    <div class="actions-2 twd-flex twd-flex-row twd-justify-start twd-items-center twd-flex-max twd-max-w-7/12">
                        <button
                            *ngIf="agentFeatures.hold"
                            [disabled]="!connected || (onCallHoldEvent && !manualHold)"
                            mat-flat-button
                            mat-icon-button
                            [class]="hold ? 'success' : 'warning'"
                            [matTooltip]="hold ? 'Unhold Call' : 'Hold Call'"
                            (click)="holdUnholdCall()"
                        >
                            <mat-icon>{{ hold ? 'phone_in_talk' : 'phone_paused' }}</mat-icon>
                        </button>

                        <button mat-flat-button mat-icon-button color="warn" matTooltip="End Call" (click)="endCall()">
                            <mat-icon>call_end</mat-icon>
                        </button>
                    </div>
                </div>

                <div
                    cdkDrag
                    cdkDragBoundary=".video-controls"
                    class="border-radius-20 bg-dark self-video"
                    [ngClass]="{ minimize: selfViewSmall }"
                    (dblclick)="minimizeVideo()"
                    *ngIf="selfVideo?.type === 'video' && !agentFeatures.oneWayVideo"
                    [@animate]="{ value: '*', params: { scale: '0.5' } }"
                >
                    <div class="drag-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path
                                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                            ></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <div class="overlay"></div>
                    <video autoplay playsinline="true" [muted]="true" [srcObject]="selfVideo.stream" [id]="selfVideo.stream.id"></video>
                </div>
            </div>
        </div>
    </ng-container>
</tw-wrapper>
