@import 'src/app/scss/shared';

tw-audio-video-controls {
    .mat-card-content {
        background: inherit !important;
        padding: 0px !important;

        avatar {
            &.talking {
                .avatar-content {
                    border: 3px solid;
                    @apply twd-border-primary-700;
                }
            }
        }

        .call-details {
            line-height: 1.8;
        }

        .call-controls {
            height: 48px;
            margin-bottom: 4px;

            .actions-1 {
                button {
                    margin: 8px 4px 0px;
                }

                button:not(.mat-warn) {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }

            .actions-2 {
                button:not(.mat-button-disabled, .mat-warn) {
                    @apply twd-bg-primary-700;
                }

                button {
                    margin: 8px 4px 0px;
                    width: 70px;
                    height: 40px;
                    border-radius: 20px;

                    &.success:not(.mat-button-disabled) {
                        background: $tw-success;
                    }

                    &.danger:not(.mat-button-disabled) {
                        background: $tw-danger;
                    }

                    &.warning:not(.mat-button-disabled) {
                        background: $tw-warning;
                    }
                }
            }
        }

        .remote-video-container {
            position: relative;
            height: calc(100% - (52px + 33px));
            gap: 4px;

            .remote-video {
                overflow: hidden;
                position: relative;
                // position: absolute;
                min-width: 160px;
                // min-height: 120px;
                min-height: 100%;
                max-width: 100%;
                max-height: 44vh;
                border: 2px solid #ffffff;
                transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

                &.maximized {
                    max-height: 85vh;
                }

                &.vd-1 {
                    width: 100%;
                    height: 100%;
                }

                &.vd-2 {
                    width: 48%;
                    height: 80%;
                }

                &.vd-3,
                &.vd-4 {
                    width: 48%;
                    height: 48%;
                }

                .button-group {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    width: 100%;
                    display: flex;

                    &>* {
                        margin: 0 10px;
                    }

                    // width: 32px;
                    // height: 32px;
                }

                .user {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    z-index: 1;
                    font-size: 14px;
                    background-color: rgb(49 49 49);
                    color: rgb(255 255 255 / 54%);

                    .mat-icon {
                        font-size: 18px;
                        min-width: 18px;
                        min-height: 18px;
                        height: 18px;
                        width: 18px;
                        margin-left: 2px;
                    }
                }
            }
        }

        .audio {
            .remote-video-container {
                flex: 1;
                height: auto;
            }
        }

        .self-video {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 250px;
            z-index: 1;
            max-height: 150px;
            cursor: pointer;
            border: 2px solid #ffffff;
            transition: box-shadow, height, width 200ms cubic-bezier(0, 0, 0.2, 1);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

            &.minimize {
                width: 64px;
                height: 64px;
            }

            &:active {
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
            }

            .overlay {
                opacity: 0;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(0 0 0 / 30%);
                border-radius: inherit;
                transition: opacity 300ms cubic-bezier(0, 0, 0.2, 1);
            }

            .drag-handle {
                opacity: 0;
                position: absolute;
                z-index: 2;
                top: 10px;
                right: 10px;
                color: #ccc;
                cursor: move;
                width: 24px;
                height: 24px;
                transition: opacity 300ms cubic-bezier(0, 0, 0.2, 1);
            }

            &:hover {

                .drag-handle,
                .overlay {
                    opacity: 1;
                }
            }

            video {
                max-height: 146px;
                max-width: 250px;
            }
        }

        video {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            transition: opacity 1s;
        }
    }
}