<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div fxFill fxLayout="column" fxLayoutAlign=" none">
        <div class="w-100-p">
            <mat-form-field class="form-field w-100-p" appearance="outline">
                <input class="login-input" matInput placeholder="Search" [(ngModel)]="searchTerm" (input)="filterAgents()" />
                <button
                    *ngIf="!searchTerm; else clearBtn"
                    mat-icon-button
                    matSuffix
                    [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                    disabled
                >
                    <mat-icon matSuffix>search</mat-icon>
                </button>
                <ng-template #clearBtn>
                    <button
                        mat-button
                        color="primary"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                        (click)="searchTerm = ''; filterAgents()"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </ng-template>
            </mat-form-field>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign=" none" class="agent-list" [@animateStagger]="{ value: '50' }" fusePerfectScrollbar>
            <div
                *ngFor="let item of filteredAgents"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="w-100-p p-12 border-radius-20 agent-item"
                [ngClass]="
                    fuseConfig.layout.anchorWidget.customBackgroundColor === true && data.Config.Anchor
                        ? fuseConfig.layout.anchorWidget.contentBackground
                        : fuseConfig.layout.widget.customBackgroundColor === true
                        ? fuseConfig.layout.widget.contentBackground
                        : ''
                "
            >
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="40">
                    <div class="position-relative">
                        <avatar name="{{ item.AgentName }}"></avatar>
                        <span
                            class="element-status"
                            [ngClass]="
                                item.CurrentAgentStatus.includes('Available')
                                    ? 'success'
                                    : item.CurrentAgentStatus.includes('On Call')
                                    ? 'danger'
                                    : 'warning'
                            "
                        ></span>
                    </div>
                    <div fxLayout="column" fxLayoutAlign=" none" class="ml-16">
                        <span class="font-weight-700"> {{ item.AgentName }}</span>
                        <span>{{ item.CurrentAgentStatus }}</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50" class="channel-list">
                    <div mat-card-avatar matBadge="4">
                        <mat-icon>phone</mat-icon>
                    </div>
                    <div mat-card-avatar matBadge="4">
                        <mat-icon>chat</mat-icon>
                    </div>
                    <div mat-card-avatar matBadge="4">
                        <mat-icon>duo</mat-icon>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="10">
                    <mat-icon>wifi</mat-icon>
                </div>
            </div>
            <div
                *ngIf="filteredAgents.length === 0"
                fxLayout="row"
                fxLayoutAlign="center center"
                class="w-100-p h-68 p-12 border-radius-20 agent-item"
                [ngClass]="
                    fuseConfig.layout.anchorWidget.customBackgroundColor === true && data.Config.Anchor
                        ? fuseConfig.layout.anchorWidget.contentBackground
                        : fuseConfig.layout.widget.customBackgroundColor === true
                        ? fuseConfig.layout.widget.contentBackground
                        : ''
                "
                [@animate]="{ value: '*', params: { y: '100%' } }"
            >
                <span class="mat-title m-0"> No agents found!</span>
            </div>
        </div>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
