<tw-wrapper *transloco="let locale" twChart [data]="data" (maximizeEvent)="maximized = $event">
    <div *ngIf="data.Data?.Type === 'grid'" class="twd-w-full twd-h-full">
        <ad-table></ad-table>
    </div>

    <div *ngIf="data.Data?.Type === 'chart'" class="twd-w-full twd-h-full">
        <div class="twd-h-full twd-w-full twd-relative" *ngIf="chartData$ | async as stats; else noData">
            <kendo-chart
                *ngIf="stats.length && (data.Data.Limit || stats.length); else noData"
                class="twd-h-full"
                [seriesColors]="multiColors.backgroundColor"
                [transitions]="false"
                field="value"
                categoryField="category"
            >
                <kendo-chart-area background="transparent"></kendo-chart-area>
                <kendo-chart-legend [visible]="maximized"></kendo-chart-legend>
                <kendo-chart-series>
                    <kendo-chart-series-item
                        *ngFor="let series of stats; let outermost = last"
                        [border]="{
                            color: 'rgba(255, 255, 255, 0.7)',
                            width: 2
                        }"
                        [highlight]="{
                            inactiveOpacity: 0.5
                        }"
                        type="donut"
                        [name]="series.name"
                        [data]="series.data"
                        field="value"
                        categoryField="category"
                        [autoFit]="true"
                    >
                        <kendo-chart-series-item-tooltip>
                            <ng-template let-category="category" let-value="value">
                                <p>{{ category }}</p>
                                <div *ngIf="series.name !== 'AHT'">Value: {{ value }}</div>
                            </ng-template>
                        </kendo-chart-series-item-tooltip>
                        <kendo-chart-series-item-labels
                            *ngIf="(data.Data.Label || maximized) && outermost"
                            background="none"
                            position="outsideEnd"
                            align="column"
                            [content]="labelContent"
                        >
                        </kendo-chart-series-item-labels>
                    </kendo-chart-series-item>
                </kendo-chart-series>
            </kendo-chart>

            <mat-checkbox
                *ngIf="!maximized && stats.length"
                class="twd-absolute twd-bottom-2.5 twd-left-2.5 twd-scale-75"
                [(ngModel)]="data.Data.Label"
            >
                {{ locale('contentComponent.labels') }}
            </mat-checkbox>
        </div>

        <ng-template #noData>
            <div class="twd-flex twd-flex-col twd-justify-center twd-items-center twd-w-full twd-h-full twd-text-center">
                <img src="assets/images/vectors/no-data-1.svg" class="twd-w-10/12 twd-h-10/12 box-shadow-3d" />
                <p class="text-center m-0" [ngClass]="{ 'mat-display-2': maximized }">{{ locale('contentComponent.noDataAvailable') }}</p>
            </div>
        </ng-template>
    </div>
</tw-wrapper>
