<tw-wrapper [data]="data" *transloco="let locale">
    <mat-progress-bar *ngIf="progressLoading" mode="query"></mat-progress-bar>
    <div class="twd-h-full twd-w-full twd-absolute twd-left-0 twd-top-0">
        <div class="twd-flex twd-flex-row twd-justify-center twd-items-center twd-w-full twd-px-4 twd-py-2 border-bottom twd-h-[56px]">
            <div
                *ngIf="searchable"
                class="twd-flex twd-flex-row twd-justify-end twd-items-center twd-w-full"
                [@animate]="{ value: '*', params: { delay: '100ms', y: '-100%' } }"
            >
                <button
                    mat-button
                    color="primary"
                    mat-icon-button
                    aria-label="Close"
                    (click)="searchable = false; searchTerm = ''"
                    [matTooltip]="locale('widgets.bookmarks.exitSearch')"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <mat-form-field class="custom search form-field twd-w-full" appearance="outline">
                    <input matInput [placeholder]="locale('global.search')" [(ngModel)]="searchTerm" #searchField (input)="filterBookmarks()" />
                    <button
                        *ngIf="!searchTerm; else clearBtn"
                        mat-icon-button
                        matSuffix
                        [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                        disabled
                    >
                        <mat-icon>search</mat-icon>
                    </button>
                    <ng-template #clearBtn>
                        <button
                            mat-button
                            color="primary"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            [matTooltip]="locale('widgets.bookmarks.clear')"
                            [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                            (click)="searchTerm = ''; filterBookmarks()"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    </ng-template>
                </mat-form-field>
            </div>

            <div
                *ngIf="!searchable"
                class="twd-w-full twd-flex twd-justify-end twd-items-center"
                [@animate]="{ value: '*', params: { delay: '100ms', y: '100%' } }"
            >
                <button
                    *ngIf="!editable"
                    mat-icon-button
                    color="primary"
                    [matTooltip]="locale('global.search')"
                    (click)="enableSearch()"
                    [disabled]="skeltonLoading || !dataSource.data.length"
                >
                    <mat-icon>search</mat-icon>
                </button>

                <button
                    *ngIf="!editable"
                    mat-icon-button
                    color="primary"
                    [matTooltip]="locale('global.reload')"
                    (click)="getBookmarks()"
                    [disabled]="skeltonLoading"
                >
                    <mat-icon [ngClass]="{ 'spin-o': loading }">refresh</mat-icon>
                </button>

                <button
                    *ngIf="!editable"
                    mat-icon-button
                    color="primary"
                    [matTooltip]="locale('widgets.bookmarks.addBookmark')"
                    (click)="openAddUpdateDataDialog('add', 'url')"
                    [disabled]="skeltonLoading"
                >
                    <mat-icon>bookmark_add</mat-icon>
                </button>

                <button
                    *ngIf="!editable"
                    mat-icon-button
                    color="primary"
                    [matTooltip]="locale('widgets.bookmarks.addFolder')"
                    (click)="openAddUpdateDataDialog('add', 'folder')"
                    [disabled]="skeltonLoading"
                >
                    <mat-icon>create_new_folder</mat-icon>
                </button>

                <button
                    *ngIf="!editable"
                    mat-icon-button
                    color="primary"
                    [matTooltip]="locale('widgets.bookmarks.editBookmark')"
                    (click)="editBookmarks(true)"
                    [disabled]="skeltonLoading"
                >
                    <mat-icon>edit</mat-icon>
                </button>

                <button
                    *ngIf="editable"
                    mat-icon-button
                    class="secondary-text"
                    [matTooltip]="locale('interactionComponent.cancel')"
                    (click)="editBookmarks(false)"
                >
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </div>

        <div class="twd-w-full twd-h-[calc(100%-56px)]">
            <div *ngIf="skeltonLoading" class="twd-flex twd-flex-col twd-pr-4">
                <div class="twd-flex twd-flex-row twd-p-1 twd-h-9" *ngFor="let item of skeletonList">
                    <mat-icon class="mat-icon-rtl-mirror s-32 secondary-text"> arrow_right </mat-icon>
                    <skeleton class="twd-w-6 twd-ml-2"></skeleton>
                    <skeleton class="twd-w-full twd-pl-3"></skeleton>
                </div>
            </div>

            <div *ngIf="dataSource.data.length && !searchTerm" class="twd-w-full twd-h-full twd-overflow-auto">
                <mat-tree class="twd-h-full" [dataSource]="dataSource" [treeControl]="treeControl">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="openBookmark(node)">
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <button mat-icon-button disabled></button>

                        <div
                            class="twd-w-full twd-flex twd-items-center twd-pr-2 twd-cursor-pointer"
                            [matTooltip]="node.team && editable ? 'You cannot edit the record created for the team' : ''"
                            [ngClass]="{
                                'twd-opacity-70': editable && node.team
                            }"
                        >
                            <!-- <mat-checkbox
                                class="checklist-leaf-node"
                                [disabled]="!editable"
                                [checked]="checklistSelection.isSelected(node)"
                                (change)="todoLeafItemSelectionToggle(node)"
                                [ngClass]="{
                                    editable: false
                                }"
                                [matTooltip]="node.data"
                                [matTooltipDisabled]="editable"
                            >
                                <mat-icon mat-list-icon class="text-warning"> star </mat-icon>
                                <span class="twd-pl-3"> {{ node.name }} </span>
                            </mat-checkbox> -->

                            <div class="twd-inline-block twd-text-base">
                                <span class="text-truncate">
                                    <span class="twd-flex twd-items-center">
                                        <mat-icon
                                            mat-list-icon
                                            class="text-warning"
                                            [matTooltip]="
                                                node.team ? locale('widgets.bookmarks.teamBookmark') : locale('widgets.bookmarks.agentBookmark')
                                            "
                                        >
                                            {{ node.team ? 'stars' : 'star' }}
                                        </mat-icon>
                                        <span class="twd-pl-3" [matTooltip]="node.data" [matTooltipDisabled]="editable"> {{ node.name }} </span>
                                    </span>
                                </span>
                            </div>

                            <div class="twd-flex twd-flex-1 twd-h-9" [matTooltip]="node.data" [matTooltipDisabled]="editable"></div>

                            <div>
                                <button
                                    *ngIf="editable && !deletable"
                                    [disabled]="node.team"
                                    mat-icon-button
                                    color="primary"
                                    [matTooltip]="locale('widgets.bookmarks.editBookmark')"
                                    (click)="openAddUpdateDataDialog('edit', 'url', node)"
                                >
                                    <mat-icon class="s-20">edit</mat-icon>
                                </button>

                                <button
                                    *ngIf="editable && !deletable"
                                    [disabled]="node.team"
                                    mat-icon-button
                                    color="warn"
                                    [matTooltip]="locale('widgets.bookmarks.deleteBookmark')"
                                    (click)="deleteBookmark('url', node)"
                                >
                                    <mat-icon class="s-20">bookmark_remove</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-tree-node>

                    <!-- This is the tree node template for expandable nodes -->
                    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                        <button *ngIf="!node.expandable" mat-icon-button disabled></button>

                        <button *ngIf="node.expandable" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                            <mat-icon
                                class="mat-icon-rtl-mirror s-32"
                                [@fabToggler90]="{ value: treeControl.isExpanded(node) ? 'active' : 'inactive' }"
                            >
                                arrow_right
                            </mat-icon>
                        </button>

                        <div
                            class="twd-w-full twd-flex twd-items-center twd-pr-2 twd-cursor-pointer"
                            [ngClass]="{
                                'twd-opacity-70': editable && node.team
                            }"
                            [matTooltip]="editable && node.team ? locale('widgets.bookmarks.warningOnEditTeamBookmark') : ''"
                        >
                            <!-- <mat-checkbox
                                [disabled]="!editable"
                                [checked]="node.expandable ? descendantsAllSelected(node) : checklistSelection.isSelected(node)"
                                [indeterminate]="descendantsPartiallySelected(node)"
                                (change)="todoItemSelectionToggle(node)"
                                (click)="toggleTreeNode(node)"
                                [matTooltip]="node.name"
                                [matTooltipDisabled]="editable"
                                [ngClass]="{
                                    editable: false
                                }"
                            >
                                <mat-icon mat-list-icon class="text-alt-warning">
                                    {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}</mat-icon
                                >
                                <span class="twd-pl-3"> {{ node.name }} </span>
                            </mat-checkbox> -->

                            <div class="twd-inline-block twd-text-base" (click)="toggleTreeNode(node)">
                                <span class="text-truncate">
                                    <span class="twd-flex twd-items-center">
                                        <mat-icon
                                            mat-list-icon
                                            class="text-alt-warning"
                                            [matTooltip]="
                                                node.team ? locale('widgets.bookmarks.teamFolder') : locale('widgets.bookmarks.agentFolder')
                                            "
                                        >
                                            {{ treeControl.isExpanded(node) ? 'folder_open' : node.team ? 'folder_shared' : 'folder' }}</mat-icon
                                        >
                                        <span class="twd-pl-3" [matTooltip]="node.name" [matTooltipDisabled]="editable"> {{ node.name }} </span>
                                    </span>
                                </span>
                            </div>

                            <div
                                class="twd-flex twd-flex-1 twd-h-9"
                                [matTooltip]="node.name"
                                [matTooltipDisabled]="editable"
                                (click)="toggleTreeNode(node)"
                            ></div>

                            <button
                                *ngIf="!editable && !deletable"
                                mat-icon-button
                                class="action"
                                color="primary"
                                [matTooltip]="locale('widgets.bookmarks.addBookmark')"
                                (click)="openAddUpdateDataDialog('add', 'url', node)"
                            >
                                <mat-icon class="s-20">bookmark_add</mat-icon>
                            </button>

                            <button
                                *ngIf="!editable && !deletable"
                                mat-icon-button
                                class="action"
                                color="primary"
                                [matTooltip]="locale('widgets.bookmarks.addFolder')"
                                (click)="openAddUpdateDataDialog('add', 'folder', node)"
                            >
                                <mat-icon class="s-20">create_new_folder</mat-icon>
                            </button>

                            <button
                                *ngIf="editable && !deletable"
                                [disabled]="node.team"
                                mat-icon-button
                                color="primary"
                                [matTooltip]="locale('widgets.bookmarks.renameFolder')"
                                (click)="openAddUpdateDataDialog('edit', 'folder', node)"
                            >
                                <mat-icon class="s-20">drive_file_rename_outline</mat-icon>
                            </button>

                            <button
                                *ngIf="editable && !deletable"
                                [disabled]="node.team"
                                mat-icon-button
                                color="warn"
                                [matTooltip]="locale('widgets.bookmarks.deleteFolder')"
                                (click)="deleteBookmark('folder', node)"
                            >
                                <mat-icon class="s-20">folder_delete</mat-icon>
                            </button>
                        </div>
                    </mat-tree-node>
                </mat-tree>
            </div>

            <div *ngIf="serachData.length">
                <mat-selection-list [multiple]="false" class="!twd-pt-0" [@animateStagger]="{ value: '50' }">
                    <mat-list-option
                        *ngFor="let item of serachData"
                        class="!twd-h-9"
                        (click)="openBookmark(item)"
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                    >
                        <div class="twd-inline-block twd-text-base">
                            <span class="text-truncate">
                                <span class="twd-flex twd-items-center">
                                    <mat-icon
                                        mat-list-icon
                                        class="text-warning"
                                        [matTooltip]="
                                            item.userType === 'orgunit'
                                                ? locale('widgets.bookmarks.teamBookmark')
                                                : locale('widgets.bookmarks.agentBookmark')
                                        "
                                    >
                                        {{ item.userType === 'orgunit' ? 'stars' : 'star' }}
                                    </mat-icon>
                                    <span class="twd-pl-3" [matTooltip]="item.bookmarkData">
                                        {{ item.bookmarkName }}
                                    </span>
                                </span>
                            </span>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
                <!-- <div
                    *ngFor="let item of serachData"
                    class="twd-h-9 twd-w-full twd-flex twd-items-center twd-cursor-pointer hover:twd-to-gray-800"
                    (click)="openBookmark(item)"
                ></div> -->
            </div>

            <div
                *ngIf="!skeltonLoading && (!dataSource.data.length || (searchTerm && !serachData.length))"
                class="twd-w-full twd-h-full twd-grid twd-place-items-center"
            >
                <p class="text-center twd-text-2xl twd-font-semibold twd-mb-32">{{ locale('contentComponent.noDataAvailable') }}</p>
            </div>
        </div>
    </div>
</tw-wrapper>

<ng-template #addBookmarkDataDialog *transloco="let locale" class="custom">
    <div *ngIf="addBookmarkData" class="twd-w-full twd-h-full">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="px-12 py-4">
            <p class="mat-title m-0">{{ addBookmarkData.title }}</p>
            <button mat-icon-button tabindex="-1" mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <div class="twd-flex twd-flex-col twd-px-4 twd-pb-4">
            <ul *ngIf="addBookmarkData.folderList" class="twd-m-0 twd-p-0 twd-list-none twd-overflow-hidden twd-whitespace-nowrap">
                <li *ngFor="let item of addBookmarkData.folderList; index as i" class="twd-m-0 twd-p-0 twd-list-none twd-inline-block">
                    <span
                        class="twd-relative twd-block twd-text-[12px] twd-leading-6"
                        [ngClass]="{
                            'twd-pl-8 before:twd-content-[\'chevron_right\'] before:twd-font-material before:twd-absolute before:twd-top-[50%] before:twd-left-1 before:twd-mt-[-12px] before:twd-text-xl before:twd-block before:twd-text-gray-500':
                                i > 0
                        }"
                        >{{ item }}</span
                    >
                </li>
            </ul>
            <mat-form-field class="form-field custom" appearance="outline">
                <input matInput required [placeholder]="locale('generalFormFields.name')" [(ngModel)]="addBookmarkData.name" />
                <button
                    *ngIf="addBookmarkData.name"
                    mat-button
                    type="button"
                    color="primary"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="addBookmarkData.name = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error> {{ locale('generalFormFields.nameRequired') }} </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="addBookmarkData.type === 'url'" class="form-field custom" appearance="outline">
                <input matInput required [placeholder]="locale('generalFormFields.url')" [(ngModel)]="addBookmarkData.data" />
                <button
                    *ngIf="addBookmarkData.data"
                    mat-button
                    type="button"
                    color="primary"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="addBookmarkData.data = ''"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error>{{ locale('generalFormFields.urlRequired') }}</mat-error>
            </mat-form-field>

            <div class="twd-flex twd-flex-row twd-gap-4 twd-pt-2">
                <button
                    class="twd-flex-1 !twd-rounded-full"
                    mat-raised-button
                    color="primary"
                    [matTooltip]="locale('global.save')"
                    [disabled]="addBookmarkData.name?.trim() === '' || addBookmarkData.data?.trim() === ''"
                    (click)="addBookmarkData.source === 'add' ? saveBookmark() : updateBookmark()"
                    mat-dialog-close
                >
                    {{ locale('global.save') }}
                </button>
                <button
                    class="twd-flex-1 !twd-rounded-full"
                    mat-raised-button
                    color="warn"
                    [matTooltip]="locale('interactionComponent.cancel')"
                    mat-dialog-close
                >
                    {{ locale('interactionComponent.cancel') }}
                </button>
            </div>
        </div>
    </div>
</ng-template>
