@import 'src/@fuse/scss/fuse';

tw-chat-panel {
    display: grid;
    .tw-chat-panel {
        max-height: calc(100vh - 86px);
        gap: 8px;
        tw-chat-controls,
        tw-customer-details,
        tw-customer-journey {
            transition: all 0.6s ease-in-out;
            &.maximize {
                flex: 0;
                &.minimize {
                    flex: 0;
                }
            }
            &.minimize {
                flex: 0;
            }
            &.float {
                flex: 1;
                &.minimize {
                    flex: inherit;
                }
            }
        }

        tw-chat-controls,
        tw-customer-journey {
            flex: 1;
            height: 32.5%;
        }

        tw-customer-details {
            height: 20%;
        }

        tw-chat-controls {
            flex: 2;
        }

        @include media-breakpoint('gt-md') {
            max-height: calc(100vh - 95px);
        }
    }
}
