<tw-wrapper [data]="data">
    <div fxFlex fxFill fxLayout="column" class="tw-chat-panel">
        <ng-template #widgetTemplates></ng-template>
        <!-- <tw-template
            *ngFor="let widget of chatPanelWidgets"
            [widget]="widget"
            [ngClass]="
                widget.Type +
                (maximized[widget.Type] || widget.Config.ViewState === 'maximize' ? ' maximized' : '') +
                (collapsed[widget.Type] || widget.Config.ViewState === 'minimize' ? ' collapsed' : '') +
                (floating[widget.Type] || widget.Config.ViewState === 'float' ? ' floating' : '')
            "
            (maximizeEvent)="onmaximized($event, widget.Type)"
            (collapseEvent)="onCollapsed($event, widget.Type)"
            (floatEvent)="onFloating($event, widget.Type)"
        ></tw-template> -->
    </div>
</tw-wrapper>
