@import '@fuse/scss/fuse';

tw-chat-panel {
    display: grid;

    .tw-static-panel {
        .tw-chat-controls,
        .tw-customer-details,
        .tw-customer-journey {
            transition: all 300ms ease-in-out;

            &.maximized {
                flex: 0;
                &.collapsed {
                    flex: 0;
                }
            }
            &.collapsed {
                flex: 0;
            }
            &.floating {
                flex: 1;
                &.collapsed {
                    flex: inherit;
                }
            }
        }

        .tw-chat-controls,
        .tw-customer-journey {
            flex: 1;
            // height: 32.5%;
        }

        .tw-customer-details {
            // height: 20%;
        }

        .tw-chat-controls {
            flex: 2;
        }
    }
}
