<tw-wrapper [data]="data">
    <div class="tw-static-panel twd-w-full twd-h-full twd-flex twd-flex-1 twd-flex-col">
        <ng-container *ngFor="let widget of widgets">
            <tw-chat-controls
                [data]="widget"
                *ngIf="widget.Type === 'tw-chat-controls'"
                [class]="widget.Type"
                [ngClass]="{
                    maximized: maximized[widget.Type],
                    collapsed: collapsed[widget.Type],
                    floating: floating[widget.Type]
                }"
                (maximizeEvent)="maximized[widget.Type] = $event"
                (collapseEvent)="collapsed[widget.Type] = $event"
                (floatEvent)="floating[widget.Type] = $event"
            >
            </tw-chat-controls>

            <tw-customer-details
                [data]="widget"
                *ngIf="widget.Type === 'tw-customer-details'"
                [class]="widget.Type"
                [ngClass]="{
                    maximized: maximized[widget.Type],
                    collapsed: collapsed[widget.Type],
                    floating: floating[widget.Type],
                    'twd-flex-[1]': maximized['tw-chat-controls'] || collapsed['tw-chat-controls'] || floating['tw-chat-controls']
                }"
                (maximizeEvent)="maximized[widget.Type] = $event"
                (collapseEvent)="collapsed[widget.Type] = $event"
                (floatEvent)="floating[widget.Type] = $event"
            >
            </tw-customer-details>

            <tw-customer-journey
                [data]="widget"
                *ngIf="widget.Type === 'tw-customer-journey'"
                [class]="widget.Type"
                [ngClass]="{
                    maximized: maximized[widget.Type],
                    collapsed: collapsed[widget.Type],
                    floating: floating[widget.Type]
                }"
                (maximizeEvent)="maximized[widget.Type] = $event"
                (collapseEvent)="collapsed[widget.Type] = $event"
                (floatEvent)="floating[widget.Type] = $event"
            >
            </tw-customer-journey>
        </ng-container>
    </div>
</tw-wrapper>
