<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->
<tw-wrapper [data]="data" *ngIf="showUI">
    <ng-container *ngIf="{ anchor: (customFuse.anchor$ | async), widget: (customFuse.widget$ | async) } as customFuse">
        <div fxFill fxLayout="column" fxLayoutAlign="space-between none" class="px-12">
            <div fxLayout="row wrap" fxLayoutAlign=" none" class="mb-8">
                <ng-container *ngFor="let item of userList">
                    <avatar
                        *ngIf="item.streamInfo.type === 'audio'"
                        name="{{ item.streamInfo.user || 'User' }}"
                        classes="w-48 h-48 border-radius-16 fuse-white mat-elevation-z2"
                        matTooltip="{{ item.streamInfo.user || 'User' }}"
                        class="mr-8"
                        [ngClass]="{ talking: item.level > 0 }"
                    ></avatar>
                </ng-container>
            </div>

            <div
                fxFlex
                fxLayout="column"
                fxLayoutAlign="center none"
                class="px-8 border-radius-20 call-details"
                [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
            >
                <div class="w-100-p border-radius-20 remote-video-container" *ngIf="remoateScreenshareRef">
                    <div class="border-radius-20 bg-dark remote-video">
                        <video
                            autoplay
                            playsinline="true"
                            [srcObject]="remoateScreenshareRef.stream"
                            [id]="remoateScreenshareRef.stream.id"
                            #remoteVideo
                        ></video>
                        <span class="text-boxed user">{{ remoateScreenshareRef.streamInfo.user }}</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between none">
                    <div fxLayout="row" fxLayoutAlign=" center"><mat-icon>alarm_on</mat-icon> {{ startTime | date: 'mediumTime' }}</div>
                    <span fxLayout="row" fxLayoutAlign=" center"> <mat-icon>wifi</mat-icon> {{ mos }} </span>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between none">
                    <span fxLayout="row" fxLayoutAlign=" center">
                        <mat-icon>timer</mat-icon> {{ (duration | date: 'HH:mm:ss':'UTC') || '00:00:00' }}
                    </span>
                    <span fxLayout="row" fxLayoutAlign=" center"> <mat-icon>offline_bolt</mat-icon> {{ status }} </span>
                </div>
            </div>

            <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between center" class="call-controls">
                <div fxLayout="row" fxLayoutAlign="start center" class="actions">
                    <button
                        mat-flat-button
                        mat-icon-button
                        [disabled]="!connected"
                        [matTooltip]="muted ? 'Un Mute' : 'Mute'"
                        (click)="muteCall()"
                        [ngClass]="{ 'mat-warn': muted }"
                    >
                        <mat-icon> mic_off </mat-icon>
                    </button>
                    <button
                        *ngIf="widgetData.chatConfig?.ScreenShareAllowed"
                        mat-flat-button
                        mat-icon-button
                        [disabled]="!connected || remoteScreenSharing"
                        [matTooltip]="screenSharing ? 'Stop Share' : 'Start Share'"
                        [ngClass]="{ 'bg-alt-danger': screenSharing }"
                        (click)="shareScreen()"
                    >
                        <mat-icon> {{ screenSharing ? 'stop_screen_share' : 'screen_share' }} </mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="controls">
                    <button
                        *ngIf="!hold"
                        [disabled]="!connected"
                        mat-flat-button
                        mat-icon-button
                        class="warning"
                        matTooltip="Hold"
                        (click)="holdUnholdCall()"
                    >
                        <mat-icon>phone_paused</mat-icon>
                    </button>

                    <button *ngIf="hold" mat-flat-button mat-icon-button class="success" matTooltip="Un Hold" (click)="holdUnholdCall()">
                        <mat-icon>phone_in_talk</mat-icon>
                    </button>

                    <button mat-flat-button mat-icon-button color="warn" matTooltip="End Call" (click)="endCall()">
                        <mat-icon>call_end</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- For audio call -->
    <div hidden>
        <ng-container *ngFor="let item of userList">
            <audio *ngIf="item.streamInfo.type === 'audio'" autoplay playsinline="true" [srcObject]="item.stream" id="{{ item.stream.id }}"></audio>
        </ng-container>
    </div>
</tw-wrapper>
