// Material components custom theming
@import 'themes/material.theme';

// Common theming
@import 'themes/common.theme';

// Layout components theming
@import 'app/layout/components/instant-messaging/instant-messaging.theme';
@import 'app/layout/components/toolbar/toolbar.theme';
@import 'app/layout/components/theme-options/theme-options.theme';

// Core components theming
@import 'app/modules/core/login/login.theme';

// Shared componenents theming
@import 'app/modules/shared/shared.theme';

// Module components theming
@import 'app/modules/t-widgets/tw-toolbar/tw-toolbar.theme';
@import 'app/modules/t-widgets/tw-content/tw-content.theme';
@import 'app/modules/t-widgets/tw-wrapper/tw-wrapper.theme';
@import 'app/modules/t-widgets/tw-collections/tw-collections.theme';

@import 'themes/tailwind.theme';

// Define a mixin for easier access
@mixin app-core-theme($theme) {
    $is-dark: map-get($theme, is-dark);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    // Base colors
    & {
        color: map-get($foreground, text);

        // If it's a light theme, use a darker background
        // color other than the default #F5F5F5
        @if ($is-dark) {
            background: map-get($background, background);
        } @else {
            background: #f5f5f5;
        }
    }

    // Material custom
    @include matarial-theme($theme);

    // Common theme
    @include common-theme($theme);

    // Layout components
    @include instant-messaging-theme($theme);
    @include toolbar-theme($theme);
    @include app-theme-options-theme($theme);

    // Core components
    @include login-theme($theme);

    // Shared components
    @include shared-theme($theme);

    // T-Widgets components
    @include tw-toolbar-theme($theme);
    @include tw-content-theme($theme);
    @include tw-wrapper-theme($theme);
    @include tw-collections-theme($theme);
}
