<ng-container *ngIf="{
    anchor: (customFuse.anchor$ | async),
    widget: (customFuse.widget$ | async)
} as customFuse">

    <ng-container *ngIf="{
        search: {
            global: {
                empty: !globalSearch.form.value,
                edited: globalSearch.data[currentTab] !== globalSearch.form.value
            },
            form: advancedSearch.data[currentTab]?.changed
        },
        openPostResData: openPostRes.data | async
    } as state">
        <div *transloco="let locale" #smpWorkbench
            class="smp-workbench twd-w-full twd-h-full twd-py-2 twd-flex twd-relative"
            [ngClass]="customFuse.anchor?.body || customFuse.widget?.body">

            <!-- Tab side bar container -->
            <div *ngIf="!noTabsAvailable" class="twd-ml-2 lg:twd-mx-2 border-radius-20 h-100-p">
                <div class="h-100-p py-20 twd-flex twd-flex-col twd-justify-between">
                    <div class="tab-menu twd-flex twd-flex-col twd-gap-4">
                        <ng-container *ngFor="let tab of availableTabs">
                            <button class="twd-mb-3 pb-20" mat-button *ngIf="tab.enabled" [matTooltip]="tab.label"
                                (click)="switchTab(tab.key)" matTooltipPosition="right"
                                [ngClass]="{ 'mat-raised-button': currentTab === tab.key }"
                                [color]="currentTab === tab.key && 'accent'" [disabled]="postSearchRes.loading">
                                <mat-icon>{{ tab.icon }}</mat-icon>
                                <div>{{ tab.label }}</div>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="twd-w-full twd-grid twd-grid-cols-3 twd-gap-2 twd-px-2">
                <!-- Side body -->
                <div class="theme-bg border-radius-20 twd-h-full twd-overflow-hidden twd-col-span-3 lg:twd-col-span-1 twd-flex twd-flex-col"
                    [ngClass]="{
                    'twd-justify-center': noTabsAvailable
                }">
                    <ng-container *ngIf="!noTabsAvailable">
                        <!-- Posts modifiers container -->
                        <div class="theme-bg twd-top-0 twd-left-0 twd-z-10 twd-py-2 twd-px-1.5 twd-shadow-md">
                            <div
                                class="mt-8 border-radius-20 twd-relative twd-flex twd-items-center twd-justify-between lg:twd-justify-center">
                                <!-- Global search form -->
                                <form class="twd-max-w-6/12 lg:twd-max-w-full twd-flex-1"
                                    (ngSubmit)="submitGlobalSearchForm()">
                                    <mat-form-field class=" custom with-border form-field w-100-p" appearance="outline">
                                        <!-- Search bar -->
                                        <input class="login-input" matInput
                                            [placeholder]="locale('sharedComponents.socialMediaPosts.searchPlaceholder')"
                                            [formControl]="globalSearch.form" />
                                        <button *ngIf="state.search.global.empty" mat-icon-button matSuffix disabled
                                            type="button">
                                            <mat-icon matSuffix>search</mat-icon>
                                        </button>
                                        <button *ngIf="state.search.global.edited" mat-button color="primary" matSuffix
                                            mat-icon-button aria-label="Go"
                                            [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }">
                                            <mat-icon>east</mat-icon>
                                        </button>
                                        <button *ngIf="!state.search.global.empty && !state.search.global.edited"
                                            type="button" mat-button color="accent" matSuffix mat-icon-button
                                            aria-label="Clear"
                                            [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </form>

                                <!-- Refresh workbench -->
                                <button mat-icon-button (click)="doAdvancedSearch()"
                                    [ngClass]="{ 'twd-animate-spin': polling.active }" [disabled]="polling.active"
                                    [matTooltip]="locale('widgets.workbench.refresh')">
                                    <mat-icon>refresh</mat-icon>
                                </button>

                                <!-- Advanced search trigger -->
                                <button mat-icon-button (click)="advancedSearch.show = !advancedSearch.show"
                                    class="twd-relative" [matTooltip]="locale('widgets.workbench.advanceSearch')">
                                    <mat-icon> more_vert </mat-icon>
                                </button>
                            </div>
                            <div id="sortControls" class="twd-flex twd-items-center twd-justify-end twd-px-2 twd-pt-2">
                                <div class="twd-flex twd-items-center">
                                    <div class="twd-font-bold twd-text-sm">
                                        <button id="sortKeyBtn" mat-button class="twd-px-1.5"
                                            [matMenuTriggerFor]="sortMenu" [disabled]="!segregatedPosts?.length">
                                            <span>{{ locale('sharedComponents.socialMediaPosts.sortBy') }} {{
                                                sortControls.sortBy
                                                }} </span>
                                            <mat-menu class="custom" #sortMenu="matMenu">
                                                <button mat-menu-item
                                                    (click)="sortControls.sortBy = 'Subject'; sortPosts()">
                                                    <span>{{ locale('sharedComponents.socialMediaPosts.postSubject')
                                                        }}</span>
                                                </button>
                                                <button mat-menu-item
                                                    (click)="sortControls.sortBy = 'Date'; sortPosts()">
                                                    <span>{{ locale('sharedComponents.socialMediaPosts.postDate')
                                                        }}</span>
                                                </button>
                                            </mat-menu>
                                        </button>
                                        <button id="sortOrderBtn" mat-button
                                            (click)="sortControls.ascending = !sortControls.ascending; sortPosts()"
                                            class="twd-max-w-min twd-px-0" [disabled]="!segregatedPosts?.length">
                                            <mat-icon>
                                                {{ sortControls.ascending ? 'arrow_upward' : 'arrow_downward' }}
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Side body mini tabs container -->
                        <div *ngIf="!advancedSearch.show && !postSearchRes.error && (segregatedPosts.length || postSearchRes.loading)"
                            class="twd-relative twd-h-full">
                            <div class="twd-absolute twd-h-full twd-w-full twd-p-3 twd-overflow-y-auto">
                                <!-- Post list -->
                                <div class="posts-list twd-w-full" *ngIf="segregatedPosts.length">
                                    <div class="twd-w-full twd-rounded-3xl ng-tns-c543-38 red-200 dropdowns twd-pb-2 {{getObjectKeyString(channel)}}"
                                        [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
                                        *ngFor="let channel of segregatedPosts">
                                        <div class="dropdown-header twd-w-full twd-pl-2 twd-pr-2">
                                            <div class="sc-flex">
                                                <mat-icon [id]="getObjectKeyString(channel)"
                                                    (click)="toggleDropdown(getObjectKeyString(channel))"
                                                    role="button">arrow_drop_down_circle</mat-icon>
                                                <img class="sc-icon"
                                                    src="assets/images/vectors/{{getObjectKeyString(channel)}}.svg"
                                                    alt="Facebook Icon">
                                                <p>{{getObjectKeyString(channel)}}</p>
                                            </div>
                                            <p>({{getTotalArrayCount(channel)}})</p>
                                        </div>
                                        <!-- Level 1 dropdown -->
                                        <div class="dropdown-l1 twd-w-full twd-pl-5 {{getObjectKeyString(channel)}}-{{getObjectKeyString(skill).split('@')[0]}}"
                                            *ngFor="let skill of getObjectValueData(channel)">
                                            <div class="dropdown-header twd-w-full twd-pl-2 twd-pr-2">
                                                <div class="sc-flex">
                                                    <mat-icon role="button"
                                                        [id]="getObjectKeyString(skill).split('@')[0]"
                                                        (click)="toggleDropdown(getObjectKeyString(channel)+'-'+getObjectKeyString(skill).split('@')[0])">arrow_drop_down_circle</mat-icon>
                                                    <p>{{getObjectKeyString(skill)}}</p>
                                                </div>
                                                <p>({{getTotalArrayCount(channel, getObjectKeyString(skill))}})</p>
                                            </div>
                                            <!-- Level 2 dropdown -->
                                            <div class="post-list-flex twd-w-full twd-pl-5">
                                                <div mat-ripple (click)="openPost(post)"
                                                    class="post-list mat-elevation-z1 twd-w-full twd-relative twd-rounded-3xl twd-p-3"
                                                    [ngClass]="
                                                    ((currentTab !== 'sent' && currentTab !== 'drafts' && (selectedPostSessionId === post.PostData.SessionId)) || ((currentTab === 'sent' || currentTab === 'drafts') && selectedPostOutSessionId === post.PostData.OutSessionId))
                                                        ? ' twd-bg-primary-100 twd-border-primary-default twd-border-opacity-100'
                                                        : ' theme-bg'
                                                " *ngFor="let post of getObjectValueData(skill)">
                                                    <h5 class="font-weight-700 poster">{{post.PostData.From}}</h5>
                                                    <p class="font-weight-500">{{post.PostData.Subject}}</p>
                                                    <div class="date-time-flex twd-absolute twd-pr-3 twd-pt-3">
                                                        <h5 class="font-weight-700">
                                                            {{formatDate(post.AddedTime).date}}</h5>
                                                        <p class="font-weight-500">{{formatDate(post.AddedTime).time}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Loading UI -->
                                <div class="twd-p-3" *ngIf="postSearchRes.loading">
                                    <div [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
                                        class="twd-flex twd-items-center twd-truncate twd-rounded-3xl twd-w-full twd-pl-2"
                                        style="height: 45px;">
                                        <span
                                            class="twd-transform twd-transition-transform twd--rotate-90 twd-grid twd-place-items-center">
                                            <mat-icon> arrow_drop_down_circle </mat-icon>
                                        </span>
                                        <div class="twd-opacity-30 twd-w-5/12 twd-m-2">
                                            <div
                                                class="twd-inline-flex twd-bg-gray-400 twd-animate-pulse twd-h-7 twd-w-full twd-rounded-md">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Advanced search form -->
                        <div *ngIf="advancedSearch.show" class="advanced-search-form mat-elevation-z2 border-radius-20">
                            <p class="text-center text-bold twd-py-4 twd-h-[52px] border-bottom">
                                {{ locale('widgets.workbench.advanceSearch') }}
                            </p>

                            <form [formGroup]="advancedSearch.form"
                                [style.pointer-events]="this.disableAdvSearchActions ? 'none' : 'auto'"
                                class="px-12 twd-grid twd-grid-cols-2 twd-gap-1 lg:twd-gap-2 twd-h-[calc(100%-52px)] twd-overflow-y-auto twd-relative"
                                (ngSubmit)="submitAdvanceSearchForm()" novalidate>

                                <!-- Search in progress -->
                                <div *ngIf="disableAdvSearchActions"
                                    class="twd-col-span-2 twd-flex twd-justify-center twd-items-center twd-spinner">
                                    <mat-spinner></mat-spinner>
                                </div>

                                <mat-form-field class="twd-text-sm" appearance="outline">
                                    <mat-label>{{ locale('widgets.workbench.fromDate') }} </mat-label>
                                    <input matInput formControlName="fromDate" [matDatepicker]="fromDatePicker" />
                                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDatePicker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="twd-text-sm" appearance="outline">
                                    <mat-label> {{ locale('widgets.workbench.fromTime') }} </mat-label>
                                    <input matInput formControlName="fromTime" type="time" />
                                </mat-form-field>

                                <mat-form-field class="twd-text-sm" appearance="outline">
                                    <mat-label>{{ locale('widgets.workbench.toDate') }} </mat-label>
                                    <input matInput formControlName="toDate" [matDatepicker]="toDatePicker" />
                                    <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #toDatePicker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field class="twd-text-sm" appearance="outline">
                                    <mat-label> {{ locale('widgets.workbench.toTime') }} </mat-label>
                                    <input matInput formControlName="toTime" type="time" />
                                </mat-form-field>

                                <mat-form-field class="twd-text-sm" appearance="outline">
                                    <mat-label>{{ locale('widgets.workbench.subject') }} </mat-label>
                                    <input matInput formControlName="subject" type="text" />
                                </mat-form-field>

                                <mat-form-field class="twd-text-sm" appearance="outline">
                                    <mat-label>{{ locale('widgets.workbench.content') }} </mat-label>
                                    <input matInput formControlName="content" type="text" />
                                </mat-form-field>

                                <mat-form-field class="twd-text-sm" [ngClass]="{ 'twd-hidden': currentTab !== 'inbox' }"
                                    appearance="outline">
                                    <mat-label>
                                        {{ locale('widgets.workbench.assignedTo') }}
                                    </mat-label>
                                    <input matInput formControlName="assignedTo" type="text" />
                                </mat-form-field>

                                <mat-form-field class="twd-text-sm" appearance="outline"
                                    [ngClass]="{ 'twd-hidden': currentTab === 'queue' }">
                                    <mat-label>{{ locale('widgets.workbench.sessionId') }} </mat-label>
                                    <input matInput formControlName="inSessionId" type="text" />
                                </mat-form-field>

                                <div class="twd-col-span-2 twd-grid twd-grid-cols-2 twd-gap-3">
                                    <button mat-raised-button class="adv-search-btn h-40 mb-8 border-radius-20"
                                        [disabled]="this.disableAdvSearchActions">
                                        {{ locale('global.search') }}
                                    </button>
                                    <button mat-raised-button class="adv-search-btn h-40 mb-8 border-radius-20"
                                        type="button" (click)="resetForm(); doAdvancedSearch()"
                                        [disabled]="this.disableAdvSearchActions">
                                        {{ locale('sharedComponents.socialMediaPosts.reset') }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </ng-container>

                    <!-- No posts found UI -->
                    <div *ngIf="!segregatedPosts.length && !postSearchRes.loading && !postSearchRes.error"
                        class="w-100-p h-50-p twd-flex twd-items-center twd-justify-center">
                        <span class="twd-text-2xl">{{ locale('sharedComponents.socialMediaPosts.postsNotFound') }}
                        </span>
                    </div>

                    <!-- Getting post error UI -->
                    <div *ngIf="!postSearchRes.loading && postSearchRes.error"
                        class="h-80-p twd-flex twd-justify-center twd-items-center">
                        <div class="twd-w-5/12">
                            <div class="w-100-p h-100-p text-center twd-flex twd-flex-col" fxLayout="column"
                                fxLayoutAlign="center center" style="gap: 10px">
                                <img src="assets/images/vectors/no-data-1.svg" class="w-100-p h-85-p box-shadow-3d" />
                                <h4 style="font-size: 16px;" class="text-center m-0 font-weight-600">{{
                                    postSearchRes.msg }}</h4>
                            </div>
                            <button class="mx-auto w-80-p mt-20 d-block" mat-raised-button color="primary"
                                (click)="doAdvancedSearch()">
                                {{ locale('global.retry') }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Actual body -->
                <div class="wsmp-open border-radius-20 twd-flex twd-flex-col twd-absolute twd-overflow-auto twd-h-full twd-w-full twd-left-0 twd-top-0 twd-z-10 lg:twd-relative lg:twd-col-span-2 lg:twd-overflow-hidden lg:twd-h-auto twd-p-3"
                    *ngIf="openPostRes.loading || state.openPostResData as selectedPost"
                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content">
                    <div class="twd-flex twd-justify-end twd-gap-4 twd-py-3 w-95-p"
                        *ngIf="!openPostRes.loading && !openPostRes.error && selectedPostSessionId">
                        <button mat-raised-button class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            (click)="showPostDetails()">
                            {{ locale('sharedComponents.socialMediaPosts.postDetails') }}
                        </button>
                        <button mat-raised-button class="border-radius-20 twd-text-xs lg:twd-text-sm">
                            {{ locale('sharedComponents.socialMediaPosts.transfer') }}
                        </button>
                        <button mat-raised-button class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            (click)="pullPosts([selectedPost])">
                            {{ locale('sharedComponents.socialMediaPosts.pull') }}
                        </button>
                    </div>
                    <div
                        class="wsmp-open__body twd-mx-4 border-radius-20 twd-mb-3 twd-flex-1 twd-flex twd-flex-col lg:twd-overflow-hidden lg:twd-max-h-full">
                        <smp-template
                            *ngIf="!(openPostRes.loading || openPostRes.error) && state.openPostResData !== null"
                            [MaximumAllowedPostImageRendering]="MaximumAllowedPostImageRendering" [mode]="'workbench'"
                            [postData]="state.openPostResData"></smp-template>

                        <!-- Open post loading page -->
                        <div class="twd-flex twd-justify-center twd-items-center twd-flex twd-h-full" fxLayout="column"
                            fxLayoutAlign="center center" *ngIf="openPostRes.loading && !openPostRes.error">
                            <div class="twd-w-5/12">
                                <div class="w-100-p h-100-p text-center twd-flex twd-flex-col" fxLayout="column"
                                    fxLayoutAlign="center center" style="gap: 10px">
                                    <img src="assets/images/vectors/no-data-1.svg"
                                        class="w-100-p h-85-p box-shadow-3d" />
                                    <h4 style="font-size: 16px;" class="text-center m-0 font-weight-600">{{
                                        locale('sharedComponents.socialMediaPosts.loadingPostLabel') }}</h4>
                                </div>
                            </div>
                        </div>

                        <!-- Open post error page -->
                        <div class="twd-flex twd-justify-center twd-items-center twd-flex twd-h-full" fxLayout="column"
                            fxLayoutAlign="center center" *ngIf="openPostRes.error">
                            <div class="twd-w-5/12">
                                <div class="w-100-p h-100-p text-center twd-flex twd-flex-col" fxLayout="column"
                                    fxLayoutAlign="center center" style="gap: 10px">
                                    <img src="assets/images/vectors/no-data-1.svg"
                                        class="w-100-p h-85-p box-shadow-3d" />
                                    <h4 style="font-size: 16px;" class="text-center m-0 font-weight-600">{{
                                        locale('sharedComponents.socialMediaPosts.invalidPostResponse') }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Select post placeholder -->
                <div *ngIf="!state.openPostResData && !openPostRes.loading"
                    class="wsmp-open theme-bg twd-h-auto lg:twd-h-full border-radius-20 twd-col-span-2 twd-hidden lg:twd-flex twd-items-center twd-justify-center">
                    <div class="twd-flex twd-flex-col twd-justify-center">
                        <mat-icon class="s-128 mb-16 select-message-icon hint-text twd-mx-auto"> video_label </mat-icon>
                        <span class="twd-text-2xl">{{ locale('sharedComponents.socialMediaPosts.selectPostLabel') }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</ng-container>