workbench-smp {
    .polling-btn.enabled {
        background: lightgrey !important;
    }

    smp-template {
        height: 100%;
    }

    p {
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
    }

    .wbsmp {
        overflow: hidden;
        padding-right: 9px;
    }

    .wsmp-open {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 10px auto;
        height: calc(100% - 20px);
        border-radius: 10px !important;
        overflow: hidden;
    }

    .yellow-icon {
        color: #ffd900 !important;
    }

    .red-icon {
        color: #ff0000 !important;
    }

    #mainContentWbsmp:fullscreen {
        width: 100%;
        height: 100%;
    }

    .wsmp-open.actual-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 !important;

        .top-actions {
            width: 100%;
            min-height: 40px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            z-index: 2;

            .actions-flex {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;

                mat-icon {
                    font-size: 22px;
                    width: 16px;
                    height: 21px;
                    min-height: 0 !important;
                    cursor: pointer;
                }

                .button-info-flex {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    p {
                        font-size: 14px;
                        margin-top: 1px;
                    }
                }
            }

            .core-actions {
                gap: 25px;

                mat-icon {
                    font-size: 20px;
                }
            }

            .warn-info {
                align-items: center;
                justify-content: center;

                mat-icon {
                    min-height: 0 !important;
                    font-size: 20px;
                    height: 20px;
                    min-width: 0 !important;
                    width: 12px;
                }
            }

            .high-context {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                p {
                    font-size: 14px;
                }

                mat-icon {
                    font-size: 20px;
                    width: 16px;
                    height: 22px;
                    min-height: 0 !important;
                }
            }
        }
    }

    .posts-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        .dropdowns {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            cursor: pointer;
            max-height: 50px;
            overflow: hidden;

            .dropdown-header {
                min-height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sc-flex {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;

                    .sc-icon {
                        width: 24px;
                        height: 24px;
                    }

                    mat-icon {
                        transform: rotate(-90deg);
                    }

                    .expanded {
                        // width: 30px;
                        transform: rotate(0deg);
                    }
                }
            }

            .dropdown-l1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                cursor: pointer;
                max-height: 40px;
                overflow: hidden;

                .dropdown-header {
                    min-height: 40px;
                }

                .post-list-flex {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 5px;
                    max-height: 50vh;
                    overflow-y: scroll;
                    padding: 5px;
                    border-radius: 5px;
                }
            }

            .expanded {
                max-height: unset;
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }

        .poster {
            text-overflow: ellipsis;
            max-width: 50%;
            -webkit-line-clamp: 1;
            white-space: pre;
            overflow: hidden;
        }

        .subject {
            opacity: 0.6;
        }

        .expanded {
            max-height: unset;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: none;
        }
    }

    .mat-form-field.custom .mat-form-field-wrapper {
        padding: 0 !important;
        margin: 0;
    }

    .mat-form-field-infinix {
        padding: 2px 0px !important;
    }

    .search-input {
        position: relative;
        margin: auto;
        z-index: 1;
        width: calc(100% - 20px);
    }

    .loader {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 20px;
        top: 0;
        left: 0;
        z-index: 11;
        background-color: rgba(black, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;

        .mx-auto {
            margin: auto;
        }
    }

    .twd-text-primary-default {
        color: var(--twd-primary-default) !important;
    }

    .hint-mail-text {
        font-size: 28px;
        font-weight: 500;
    }

    .cdk-virtual-scroll-content-wrapper {
        display: grid;
        gap: 8px;
    }
}

.twd-spinner {
    position: fixed;
    top: 45vh;
    left: 22vw;
    z-index: 100%;
}

.advanced-search-form {
    width: calc(100% - 20px);
    margin-left: 10px;

    .twd-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mat-form-field-suffix {
        top: -0.25em !important;
    }

    input {
        height: 30px;
    }
}

.post-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: fit-content;
    max-height: 90px;
    min-height: 75px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    gap: 10px;
    padding: 5px 10px;

    .author-info {
        height: 100%;
        width: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .name-bubble {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                color: inherit;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }

    .main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 4px 0;
        overflow: hidden;

        .mc-top,
        .mc-bottom {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .name-date-flex {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;

                h4 {
                    font-size: 14px;
                    font-weight: 500;
                }

                .date-holder {
                    padding: 1px 5px;
                    border-radius: 2.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        color: inherit;
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
            }

            p {
                font-size: 12px;
                font-weight: 500;
            }
        }

        .mc-bottom {
            .content-flex {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 5px;

                img {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    max-width: 80px;
                }

                mat-icon {
                    font-size: 8px;
                    min-width: 0px !important;
                    width: 10px;
                    height: 5px;
                    min-height: 0px !important;
                }

                .content {
                    font-weight: 500;
                    max-width: 15vw;
                }
            }

            .comment-icon {
                position: absolute;
                bottom: 7px;
                right: 5px;
                font-size: 18px;
                min-width: 0px !important;
                width: 14px;
                height: 10px;
                min-height: 0px !important;
            }
        }
    }
}

.smp-workbench.custom-theme-default {
    .wbsmp-left {
        border-right: 2px solid #ebecf0 !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #fdfaf1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #fdf1f1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid #ebecf0;

                    .post-list {
                        border: 1px solid #ebecf0;

                        .author-info {
                            .name-bubble {
                                background: #f1f4fd;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #6e737d;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #f7f7f9;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #4a4f62;
                                }

                                .comment-icon {
                                    color: #6e737d;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #f5f1fd;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

.smp-workbench.custom-theme-default-2 {
    .wbsmp-left {
        border-right: 2px solid #ebecf0 !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #fdfaf1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #fdf1f1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid #ebecf0;

                    .post-list {
                        border: 1px solid #ebecf0;

                        .author-info {
                            .name-bubble {
                                background: #f1f4fd;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #6e737d;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #f7f7f9;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #4a4f62;
                                }

                                .comment-icon {
                                    color: #6e737d;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #f5f1fd;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

.smp-workbench.custom-theme-default-3 {
    .wbsmp-left {
        border-right: 2px solid #ebecf0 !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #fdfaf1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #fdf1f1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid #ebecf0;

                    .post-list {
                        border: 1px solid #ebecf0;

                        .author-info {
                            .name-bubble {
                                background: #f1f4fd;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #6e737d;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #f7f7f9;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #4a4f62;
                                }

                                .comment-icon {
                                    color: #6e737d;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #f5f1fd;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

.smp-workbench.custom-theme-teal-red {
    .wbsmp-left {
        border-right: 2px solid #ebf0ee !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #fdfaf1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #fdf1f1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid #ebf0ee;

                    .post-list {
                        border: 1px solid #ebf0ee;

                        .author-info {
                            .name-bubble {
                                background: #f1fdf9;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #6e7d79;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #f7f9f8;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #4a625a;
                                }

                                .comment-icon {
                                    color: #6e7d79;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #f1fdf9;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

.smp-workbench.custom-theme-cyan-orange {
    .wbsmp-left {
        border-right: 2px solid #ebf0f0 !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #fdfaf1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #fdf1f1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid #ebf0f0;

                    .post-list {
                        border: 1px solid #ebf0f0;

                        .author-info {
                            .name-bubble {
                                background: #f1fdfc;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #6e7b7d;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #f7f9f9;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #4a6262;
                                }

                                .comment-icon {
                                    color: #6e7b7d;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #f1fcfd;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

.smp-workbench.custom-theme-indigo-deeporange {
    .wbsmp-left {
        border-right: 2px solid #ebebf0 !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #fdfaf1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #fdf1f1 !important;

        .author-info .name-bubble,
        .main-content .mc-top .name-date-flex .date-holder {
            background: #fff !important;
        }
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid #ebebf0;

                    .post-list {
                        border: 1px solid #ebebf0;

                        .author-info {
                            .name-bubble {
                                background: #f1f1fd;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #6f6e7d;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #f7f7f9;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #4a4c62;
                                }

                                .comment-icon {
                                    color: #6e6f7d;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #f1f1fd;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
}

.custom-theme-default,
.custom-theme-default-2,
.custom-theme-default-3,
.custom-theme-teal-red,
.custom-theme-cyan-orange,
.custom-theme-indigo-deeporange {
    .theme-icon {
        color: var(--twd-primary-default) !important;
    }

    .twd-border-primary-default {
        border: 2px solid var(--twd-primary-default) !important;
    }
}

.smp-workbench.custom-theme-default-dark {
    .wbsmp-left {
        border-right: 2px solid #424242 !important;
    }

    .theme-icon {
        color: #fff !important;
    }

    .twd-border-primary-default {
        border: 2px solid #fff !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #53400b !important;
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #520c0c !important;
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid #424242;

                    .post-list {
                        border: 1px solid #424242;

                        .author-info {
                            .name-bubble {
                                background: #303030;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #ffffff;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #303030;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #ffffff;
                                }

                                .comment-icon {
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #303030;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #000;
                        }
                    }
                }
            }
        }
    }
}

.smp-workbench.custom-theme-pink-grey-dark {
    .wbsmp-left {
        border-right: 2px solid rgb(159, 39, 87) !important;
    }

    .theme-icon {
        color: #fff !important;
    }

    .twd-border-primary-default {
        border: 2px solid #fff !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #53400b !important;
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #520c0c !important;
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid rgb(159, 39, 87);

                    .post-list {
                        border: 1px solid rgb(159, 39, 87);

                        .author-info {
                            .name-bubble {
                                background: #303030;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #ffffff;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #303030;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #ffffff;
                                }

                                .comment-icon {
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: rgb(53, 53, 53);

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #000;
                        }
                    }
                }
            }
        }
    }
}

.smp-workbench.custom-theme-blue-grey-dark {
    .wbsmp-left {
        border-right: 2px solid rgb(73, 89, 99) !important;
    }

    .theme-icon {
        color: #fff !important;
    }

    .twd-border-primary-default {
        border: 2px solid #fff !important;
    }

    .edit-item {
        border: 2px solid #ffcf74 !important;
        background-color: #53400b !important;
    }

    .delete-item {
        border: 2px solid #ec5757 !important;
        background-color: #520c0c !important;
    }

    .posts-list {
        .dropdowns {
            .dropdown-l1 {
                .post-list-flex {
                    border: 2px solid rgb(73, 89, 99);

                    .post-list {
                        border: 1px solid rgb(73, 89, 99);

                        .author-info {
                            .name-bubble {
                                background: #283237;
                            }
                        }

                        .main-content {
                            .mc-top {
                                p {
                                    color: #ffffff;
                                }

                                .name-date-flex {
                                    .date-holder {
                                        background: #283237;
                                    }
                                }
                            }

                            .mc-bottom {
                                .content-flex {
                                    color: #ffffff;
                                }

                                .comment-icon {
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .active.normal {
                        background-color: #283237;

                        .author-info .name-bubble,
                        .main-content .mc-top .name-date-flex .date-holder {
                            background: #000;
                        }
                    }
                }
            }
        }
    }
}
