<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper twChart [data]="data" (maximizeEvent)="maximized = !maximized">
    <!-- your code goes here -->

    <div fxLayout fxLayoutAlign="start center" class="p-4 w-100-p h-100-p" fusePerfectScrollbar>
        <div fxLayout="column" fxLayoutAlign="space-around center" class="h-100-p">
            <button mat-button matTooltip="Wireless" color="primary">
                <mat-icon>phonelink_ring</mat-icon>
            </button>
            <button mat-button matTooltip="Fixed">
                <mat-icon>vibration</mat-icon>
            </button>
            <button mat-button matTooltip="Broadband">
                <mat-icon>tap_and_play</mat-icon>
            </button>
            <button mat-button matTooltip="TV">
                <mat-icon>live_tv</mat-icon>
            </button>
        </div>

        <div fxFlex fxLayout="column" class="h-100-p">
            <div fxFlex fxLayout fxLayoutAlign="center center">
                <div fxFlex="30" class="position-relative">
                    <canvas
                        baseChart
                        [data]="wirelessData[0].data"
                        [options]="wirelessData[0].options"
                        [labels]="wirelessData[0].labels"
                        chartType="doughnut"
                        [colors]="wirelessData[0].colors"
                    >
                    </canvas>
                    <span fxFlex fxLayoutAlign="center center" class="absolute-center">66%</span>
                </div>
                <div class="h5" fxFlex="70" fxLayout="row" fxLayoutAlign="space-between none">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <div class="text-bold">+6586734993</div>
                        <div>Used: 20GB / 30GB</div>
                    </div>
                    <div fxLayout fxLayoutAlign="center center" class="ml-16 mr-4 p-12 bg-success border-radius-16">
                        <div class="">$250.50</div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center end" class="p-12 bg-danger border-radius-16 text-right w-40-p">
                        <div>Due Date</div>
                        <div class="text-bold">17 Sep 2020</div>
                    </div>
                </div>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="center center">
                <div fxFlex="30" class="position-relative">
                    <canvas
                        baseChart
                        [data]="wirelessData[1].data"
                        [options]="wirelessData[1].options"
                        [labels]="wirelessData[1].labels"
                        chartType="doughnut"
                        [colors]="wirelessData[1].colors"
                    >
                    </canvas>
                    <span fxFlex fxLayoutAlign="center center" class="absolute-center">50%</span>
                </div>
                <div class="h5" fxFlex="70" fxLayout="row" fxLayoutAlign="space-between none">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <div class="text-bold">+6596975347</div>
                        <div>Used: 15GB / 30GB</div>
                    </div>
                    <div fxLayout fxLayoutAlign="center center" class="ml-16 mr-4 p-12 bg-success border-radius-16">
                        <div class="">$120.70</div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center end" class="p-12 bg-success border-radius-16 text-right w-40-p">
                        <div>Due Date</div>
                        <div class="text-bold">17 Sep 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- your code goes here -->
</tw-wrapper>
