<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper twChart [data]="data" (maximizeEvent)="maximized = !maximized">
    <div fxLayout fxLayoutAlign="start center" class="p-4 w-100-p h-100-p custom-scroll-adjust" *ngIf="isAuthenticated">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="h-100-p">
            <button mat-button matTooltip="Wireless" color="primary">
                <mat-icon>phonelink_ring</mat-icon>
            </button>
            <button mat-button matTooltip="Fixed">
                <mat-icon>vibration</mat-icon>
            </button>
            <button mat-button matTooltip="Broadband">
                <mat-icon>tap_and_play</mat-icon>
            </button>
            <button mat-button matTooltip="TV">
                <mat-icon>live_tv</mat-icon>
            </button>
        </div>

        <div fxFlex fxLayout="column" class="h-100-p">
            <div fxFlex fxLayout fxLayoutAlign="center center">
                <div fxFlex="30" class="position-relative">
                    <canvas
                        baseChart
                        [data]="wirelessData[0].data"
                        [options]="wirelessData[0].options"
                        [labels]="wirelessData[0].labels"
                        chartType="doughnut"
                        [colors]="wirelessData[0].colors"
                    >
                    </canvas>
                    <span fxFlex fxLayoutAlign="center center" class="absolute-center">66%</span>
                </div>
                <div class="h5" fxFlex="70" fxLayout="row" fxLayoutAlign="space-between none">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <div class="text-bold">+6586734993</div>
                        <div>Used: 20GB / 30GB</div>
                    </div>
                    <div fxLayout fxLayoutAlign="center center" class="ml-16 mr-4 p-12 bg-success border-radius-16">
                        <div class="">$250.50</div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center end" class="p-12 bg-danger border-radius-16 text-right w-40-p">
                        <div>Due Date</div>
                        <div class="text-bold">17 Sep 2020</div>
                    </div>
                </div>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="center center">
                <div fxFlex="30" class="position-relative">
                    <canvas
                        baseChart
                        [data]="wirelessData[1].data"
                        [options]="wirelessData[1].options"
                        [labels]="wirelessData[1].labels"
                        chartType="doughnut"
                        [colors]="wirelessData[1].colors"
                    >
                    </canvas>
                    <span fxFlex fxLayoutAlign="center center" class="absolute-center">50%</span>
                </div>
                <div class="h5" fxFlex="70" fxLayout="row" fxLayoutAlign="space-between none">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        <div class="text-bold">+6596975347</div>
                        <div>Used: 15GB / 30GB</div>
                    </div>
                    <div fxLayout fxLayoutAlign="center center" class="ml-16 mr-4 p-12 bg-success border-radius-16">
                        <div class="">$120.70</div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center end" class="p-12 bg-success border-radius-16 text-right w-40-p">
                        <div>Due Date</div>
                        <div class="text-bold">17 Sep 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between none" class="p-12 w-100-p h-100-p voice-bio custom-scroll-adjust" *ngIf="!isAuthenticated">
        <div fxLayout>
            <div fxLayout="column" fxFlex="33.33">
                <div>
                    <label>Personal ID: </label>
                    <span class="text-bold">{{ NRIC }}</span>
                </div>
                <button
                    mat-raised-button
                    color="primary"
                    style="width: fit-content"
                    [disabled]="disable.updateNRIC"
                    matTooltip="Edit Personal ID"
                    (click)="updateVBNRIC()"
                >
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div fxFlex="33.33">
                <label>CLI: </label>
                <span class="text-bold">{{ CLI }}</span>
            </div>

            <div fxFlex="33.33">
                <label>Tier Verified + Customer Consent</label>
                <mat-checkbox class="ml-8"></mat-checkbox>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign=" none">
            <div fxLayout="column" fxFlex="33.33">
                <label>VB Enroll Status</label>
                <span
                    class="label"
                    [ngClass]="{
                        'label-alt-success': enrolledStatus === 'YES',
                        'label-alt-danger': enrolledStatus === 'NO'
                    }"
                    >{{ enrolledStatus }}</span
                >
            </div>
            <div fxLayout="column" fxFlex="33.33">
                <div>
                    <label>Declained: </label>
                    <span class="text-bold">None</span>
                </div>
                <span class="label label-info">-</span>
            </div>
            <div fxLayout="column" fxFlex="33.33">
                <label>Verification Status</label>
                <span
                    class="label label-info"
                    [ngClass]="{
                        'label-alt-warning': audioStatus === 'collecting',
                        'label-alt-success': audioStatus === 'enough'
                    }"
                    >{{ audioStatus === 'collecting' ? 'Collecting Audio' : audioStatus === 'enough' ? 'Enough Audio' : '-' }}</span
                >
            </div>
        </div>

        <div fxLayout>
            <div fxFlex="33.3">
                <button mat-raised-button class="custom-btn bg-alt-success" [disabled]="disable.enroll" (click)="enroll()">
                    <mat-icon>thumb_up</mat-icon> Enroll
                </button>
            </div>

            <div fxFlex="33.3">
                <button mat-raised-button color="warn" (click)="reject()" [disabled]="disable.reject"><mat-icon>cancel</mat-icon> Reject</button>
            </div>

            <div fxFlex="33.3">
                <button mat-raised-button class="custom-btn bg-alt-warning" (click)="thirdParty()" [disabled]="disable.thirdParty">
                    <mat-icon>transform</mat-icon> 3<sup>rd</sup> Party
                </button>
            </div>
        </div>
    </div>
</tw-wrapper>
