tw-account-information {
    .voice-bio {
        .mat-icon {
            font-size: 20px;
        }

        label {
            font-weight: 600;
        }

        button {
            &.mat-button-disabled {
                background-color: rgba(0, 0, 0, 0.12) !important;
                color: rgba(0, 0, 0, 0.26) !important;
            }
        }
    }
}
