.mat-chip.mat-standard-chip {
    @apply twd-text-xs;
    @apply twd-cursor-pointer;
    @apply twd-max-w-[300px];

    &.email-id {
        @apply twd-min-h-0;
        @apply twd-h-auto;
        @apply twd-pl-2;
        @apply twd-pr-0;
        @apply twd-py-0.5;
        @apply twd-m-0.5;
    }
}
.attachments-summary .mat-chip {
    max-width: 40%;
}

::ng-deep .mat-chip-list-wrapper {
    width: 100%;
    padding: 0px;
}

label {
    width: 14%;
}

input {
    border-bottom: 1px solid var(--twd-primary-default) !important;
    padding: 4px !important;
}

.select-box {
    border-radius: 20px;
    background-color: rgb(0 0 0 / 0.1);
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}
mat-form-field.custom .mat-form-field-wrapper .mat-form-field-infix {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px;
}

email-editor {
    min-height: 250px;
}

.email-header.twd-pb-2 {
    min-height: 200px;
}

.email-body {
    text-align: initial;
}

.email-attachment-available {
    background-color: #028a00 !important;
    color: rgb(255, 255, 255) !important;
    mat-icon {
        color: rgb(255, 255, 255) !important;
        // width:100%;
    }
}

.email-attachment-archived {
    background-color: rgb(241, 177, 0) !important;
    color: rgb(255, 255, 255) !important;
    mat-icon {
        color: rgb(255, 255, 255) !important;
    }
}

.email-attachment-deep-archived {
    background-color: rgb(207, 66, 0) !important;
    color: rgb(255, 255, 255) !important;
    mat-icon {
        color: rgb(255, 255, 255) !important;
    }
}

.email-attachment-restoring {
    background-color: rgb(148, 164, 255) !important;
    color: rgb(0, 0, 0) !important;
    mat-icon {
        color: black !important;
    }
}

.email-attachment-failed {
    background-color: rgb(255, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    mat-icon {
        color: rgb(255, 255, 255) !important;
    }
}

.payload-stat {
    bottom: 5px;
    right: 5px;
    align-items: center;
    justify-content: flex-end;

    mat-icon {
        color: red;
        height: 18px;
        font-size: 18px;
        margin-top: 3px;
    }

    p {
        font-size: 12px;
        font-weight: 600;
    }
}