.mat-chip {
    @apply twd-text-xs;
    padding: 15px !important;
    max-width: 40%;
}

::ng-deep .mat-chip-list-wrapper {
    width: 100%;
}

label {
    width: 14%;
}

input {
    border-bottom: 1px solid var(--twd-primary-default) !important;
    // min-width: 200px !important;
    // width: auto !important;
    padding: 4px !important;
}

.select-box {
    border-radius: 20px;
    background-color: rgb(0 0 0 / 0.1);
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}
mat-form-field.custom .mat-form-field-wrapper .mat-form-field-infix {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 5px;
}

.attachment-list {
    button {
        max-width: 150px;

        .mat-button-wrapper {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
