<button mat-raised-button mat-icon-button color="primary" matTooltip="Templates" [matMenuTriggerFor]="departmentMenu" class="mx-4">
    <!-- <span class="mr-4"> Choose Template </span> -->
    <mat-icon>description</mat-icon>
</button>

<mat-menu #departmentMenu="matMenu">
    <ng-template matMenuContent>
        <ng-container *ngFor="let dept of availableTemplates.departments | keyvalue">
            <button mat-menu-item [matMenuTriggerFor]="groupMenu" (menuOpened)="setGroups(dept.key)">
                {{ dept.value.Name }}
            </button>
            <mat-menu #groupMenu="matMenu">
                <ng-template matMenuContent>
                    <ng-container *ngIf="dept.value.groups">
                        <button
                            mat-menu-item
                            [matMenuTriggerFor]="templateMenu"
                            *ngFor="let group of dept.value.groups | keyvalue"
                            (menuOpened)="setTemplates(dept.value.ID, group.key)"
                        >
                            {{ group.value.Name }}
                            <mat-menu #templateMenu="matMenu">
                                <ng-template matMenuContent>
                                    <ng-container *ngIf="group.value.templates">
                                        <button
                                            mat-menu-item
                                            *ngFor="let template of group.value.templates | keyvalue"
                                            (click)="emitSelectTemplate(template.value)"
                                        >
                                            {{ template.value.Name }}
                                        </button>
                                    </ng-container>
                                    <button mat-menu-item disabled *ngIf="!group.value.templates && !loading">No templates for this group</button>
                                    <button mat-menu-item disabled *ngIf="!group.value.templates && loading">
                                        <skeleton></skeleton>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </button>
                    </ng-container>
                    <button mat-menu-item disabled *ngIf="!(dept.value.groups || loading)">No groups for this department</button>
                    <button mat-menu-item disabled *ngIf="!dept.value.groups && loading">
                        <skeleton></skeleton>
                    </button>
                </ng-template>
            </mat-menu>
        </ng-container>
    </ng-template>
</mat-menu>
