<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" *transloco="let locale">
    <!-- your code goes here -->
    <div fxFill fxLayout="row wrap" class="p-12">
        <div fxFlex="100" fxLayout fxLayoutAlign="start center" class="mb-16">
            <div class="w-50-p" fxLayout fxLayoutAlign="start center">
                <div style="border-radius: 10px" class="w-40 h-40">
                    <img src="assets/images/vectors/positive-score.svg" class="w-100-p box-shadow-3d" />
                </div>
                <div class="ml-16">
                    <h4 class="m-0">
                        <strong> {{ locale('widgets.adScore.positivePercentage') }} </strong>
                    </h4>
                    <small>{{ locale('widgets.adScore.positive') }} </small>
                </div>
            </div>
            <div class="w-50-p">
                <mat-progress-bar mode="determinate" value="84"></mat-progress-bar>
            </div>
        </div>
        <div fxFlex="100" fxLayout fxLayoutAlign="start center" class="mb-16">
            <div class="w-50-p" fxLayout fxLayoutAlign="start center">
                <div style="border-radius: 10px" class="w-40 h-40">
                    <img src="assets/images/vectors/neutral-score.svg" class="w-100-p box-shadow-3d" />
                </div>
                <div class="ml-16">
                    <h4 class="m-0">
                        <strong>{{ locale('widgets.adScore.avgPercentage') }} </strong>
                    </h4>
                    <small> {{ locale('widgets.adScore.average') }} </small>
                </div>
            </div>
            <div class="w-50-p">
                <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
            </div>
        </div>
        <div fxFlex="100" fxLayout fxLayoutAlign="start center">
            <div class="w-50-p" fxLayout fxLayoutAlign="start center">
                <div style="border-radius: 10px" class="w-40 h-40">
                    <img src="assets/images/vectors/negative-score.svg" class="w-100-p box-shadow-3d" />
                </div>
                <div class="ml-16">
                    <h4 class="m-0">
                        <strong>{{ locale('widgets.adScore.negativePercentage') }} </strong>
                    </h4>
                    <small>{{ locale('widgets.adScore.negative') }} </small>
                </div>
            </div>
            <div class="w-50-p">
                <mat-progress-bar mode="determinate" value="6"></mat-progress-bar>
            </div>
        </div>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
