<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="channelsChart.legend = $event">
    <!-- your code goes here -->
    <div
        *ngIf="channelsChart.datasets.length >= 1 && channelsChart.datasets[0].data.length"
        fxLayout="column"
        fxLayoutAlign="center center"
        class="w-100-p h-100-p"
    >
        <div class="tw-chart w-100-p h-100-p p-8 animate__animated animate__zoomIn animate__faster" #chartContainerRef>
            <canvas
                baseChart
                class="box-shadow-3d"
                [colors]="channelsChart.colors"
                [datasets]="channelsChart.datasets"
                [options]="channelsChart.options"
                [labels]="channelsChart.labels"
                [legend]="channelsChart.legend"
                chartType="pie"
            >
            </canvas>
            <!-- <div class="t-pie-chart-value">{{ widget.data[1].value }}</div> -->
        </div>
    </div>

    <div
        *ngIf="channelsChart.datasets.length === 0 || (channelsChart.datasets.length >= 1 && !channelsChart.datasets[0].data.length)"
        class="w-100-p h-100-p text-center"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <img src="assets/images/vectors/no-data-1.svg" class="w-100-p h-85-p box-shadow-3d" />
        <p class="text-center m-0" [ngClass]="{ 'mat-display-2': channelsChart.legend, ' mat-title': !channelsChart.legend }">No Data Available</p>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
