<!-- We are writing a wrapper over material card -->
<div class="tw-shared-wrapper" *transloco="let locale">
    <ng-container *ngIf="customFuse$ | async as customFuse">
        <mat-card class="widget-card" [ngClass]="customFuse.body">
            <!-- Wrapper to wrap header and body -->
            <div fxLayout="column" fxLayoutAlign=" none" class="card-wrapper">
                <mat-card-header [ngClass]="customFuse.header">
                    <mat-card-title class="!twd-flex twd-gap-2">
                        <div class="twd-flex twd-items-center">
                            <mat-icon *ngIf="icon.indexOf('custom') < 0">{{ icon || 'widgets' }}</mat-icon>
                            <mat-icon [svgIcon]="icon" *ngIf="icon.indexOf('custom') >= 0"></mat-icon>
                        </div>
                        <span>{{ title || locale('sharedComponents.widget') }}</span>
                    </mat-card-title>
                    <span class="spacer"></span>
                    <button [matTooltip]="locale('wrapperComponent.close')" mat-dialog-close #closeBtn tabindex="-1">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-header>
                <!-- Card content -->
                <mat-card-content class="shared-content" [ngClass]="customFuse.content">
                    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
                    <!-- All the card content goes here -->
                    <ng-content></ng-content>
                </mat-card-content>
            </div>
        </mat-card>
    </ng-container>
</div>
