<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data">
    <ng-container
        *ngIf="{
            anchor: (customFuse.anchor$ | async),
            widget: (customFuse.widget$ | async)
        } as customFuse"
    >
        <div class="tw-static-panel twd-w-full twd-h-full twd-relative">
            <mat-tab-group class="twd-absolute twd-h-full twd-w-full twd-top-0 twd-left-0" animationDuration="0ms">
                <mat-tab *ngFor="let channel of channels" [label]="channel.Type" #tab>
                    <ng-template mat-tab-label>
                        <div *transloco="let locale"
                            class="tab-header"
                            [ngClass]="
                                tab.isActive
                                    ? customFuse.anchor?.body || customFuse.widget?.body
                                    : customFuse.anchor?.content || customFuse.widget?.content
                            "
                        >
                            <mat-icon>{{ channel.Icon }}</mat-icon>
                           <span class="ml-4"> {{locale('widgets.workbench.' + channel.Type) !== 'widgets.workbench.' + channel.Type ? locale('widgets.workbench.' + channel.Type) : channel.Type ? channel.Type : 'Widget'}} </span>
                        </div>
                    </ng-template>
                    <ng-container [ngSwitch]="channel.Type | lowercase">
                        <workbench-email
                            [data]="{ Data: data.Data?.General || {}, Config: data.Config }"
                            [channelConf]="channel"
                            *ngSwitchCase="'email'"
                        ></workbench-email>

                        <workbench-chat
                            [data]="{ Data: data.Data?.General || {}, Config: data.Config }"
                            [channelConf]="channel"
                            *ngSwitchCase="'chat'"
                        ></workbench-chat>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
</tw-wrapper>
