@mixin tw-workbench-panel-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    $mat-warn: map-get($theme, warn);

    tw-workbench-panel {
        .mat-tab-label {
            @if ($is-dark == true) {
                color: #fafafa;
                background-color: map-get($background, hover);
            } @else {
                color: rgba(0, 0, 0, 0.87);
                background-color: #fafafa;
            }

            &-active {
                @if ($is-dark == true) {
                    background-color: map-get($background, hover);
                }
            }
        }

        workbench-email {
            .search-input {
                @if ($is-dark == true) {
                    color: #fafafa;
                    background-color: map-get($background, hover);
                } @else {
                    color: rgba(0, 0, 0, 0.87);
                    background-color: #fafafa;
                }
            }

            .email-workbench {
                @if ($is-dark == true) {
                    background-color: map-get($background, hover);
                }

                mat-nested-tree-node {
                    &.active li {
                        &::before {
                            background: map-get($primary, 300);
                        }
                    }
                }

                .email-list {
                    @if ($is-dark == true) {
                        background-color: #303030;
                    } @else {
                        background-color: #fafafa;
                    }

                    .tw-list-item {
                        &:hover {
                            background-color: map-get($background, hover);
                        }
                    }
                }

                .email-open {
                    @if ($is-dark == true) {
                        background-color: #303030;
                    } @else {
                        background-color: #fafafa;
                    }

                    &__body {
                        @if ($is-dark == true) {
                            background-color: map-get($background, hover);
                        }
                    }
                }

                .email-open {
                    @if ($is-dark == true) {
                        background-color: #303030;
                    }
                }
            }
        }
    }
}
