<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div class="w-100-p h-100-p">
        <mat-tab-group class="w-100-p h-100-p" animationDuration="0ms">
            <mat-tab *ngFor="let channel of channels" [label]="channel.Type" #tab>
                <ng-template mat-tab-label>
                    <div class="tab-header" [ngClass]="tab.isActive ? tabActiveClass : tabInactiveClass">
                        <mat-icon>{{ channel.Icon }}</mat-icon>
                        <span class="ml-4"> {{ channel.Type }} </span>
                    </div>
                </ng-template>
                <ng-container [ngSwitch]="channel.Type | lowercase">
                    <workbench-email
                        [data]="{ Data: data.Data?.General || {}, Config: data.Config }"
                        [channelConf]="channel"
                        *ngSwitchCase="'email'"
                    ></workbench-email>
                    <workbench-chat
                        [data]="{ Data: data.Data?.General || {}, Config: data.Config }"
                        [channelConf]="channel"
                        *ngSwitchCase="'chat'"
                    ></workbench-chat>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
