.smp-template {
    height: 100%;

    .collapsed-images {
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        position: absolute;
        top: 47%;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        mat-icon {
            font-size: 28px;
            width: 26px;
            height: 26px;
            color: white;
        }
    }

    .post-content-container {
        width: 100%;
        height: 55%;
        background-image: url('./../../../../../../assets/images/backgrounds/mesh.png');
        padding: 15px;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .pcc-top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .pcc-content {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;

                img {
                    height: 50px;
                    border-radius: 50%;
                }

                p {
                    font-size: 16px;
                    color: #656d8a;
                    font-size: 500;

                    span {
                        color: var(--twd-primary-default);
                    }
                }
            }
        }

        .pcc-middle {
            p {
                font-size: 16px;
                color: #303338;
                font-weight: 400;
                transition: 200ms ease all;
                line-height: 1.5;
                cursor: pointer;

                &:hover {
                    line-height: 1.6;
                }
            }
        }

        .pcc-bottom {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .toolbar-footer {
        height: 40px;
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        position: relative;
        border: 1px solid #ebecf0;
        z-index: 2;

        .reaction-stats,
        .comment-stats {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;

            img {
                height: 15px;

                &:not(:first-child) {
                    margin-left: -10px;
                }
            }

            p {
                font-size: 14px;
                color: #656d8a;
                font-weight: 500;

                span {
                    font-weight: 800;
                }
            }
        }
    }

    .header-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        * {
            color: #656d8a;
        }

        div {
            align-items: center;
            justify-content: center;

            mat-icon {
                min-height: 0 !important;
                font-size: 20px;
                height: 20px;
                min-width: 0 !important;
                width: 12px;
            }
        }
    }

    .comment-content-container {
        width: 100%;
        height: calc(100% - 75px - 55%);
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .comment-container {
            width: 100%;
            position: relative;
            border: 1px solid #ebecf0;

            .comment-box {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                padding: 10px;

                .comment-info-flex {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 10px;

                    .author-info {
                        padding: 2px 10px;
                        border-radius: 5px;
                        background: #f4f1fd;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 5px;

                        img {
                            height: 16px;
                            border-radius: 50%;
                        }

                        p {
                            font-size: 14px;
                            color: #303338;
                            font-weight: 500;
                        }

                        .comment-status {
                            height: 100%;
                            padding-top: 2px;

                            mat-icon {
                                padding-top: 2px !important;
                            }
                        }
                    }

                    .comment-content {
                        padding-left: 2px;

                        p {
                            font-size: 14px;
                            color: #303338;
                            font-weight: 500;
                        }
                    }

                    .comment-attachments-placeholder {
                        padding: 2px 8px;
                        border-radius: 5px;
                        background: #f4f1fd;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        cursor: pointer;

                        * {
                            color: #303338;
                        }

                        mat-icon {
                            height: 18px;
                            min-width: 0 !important;
                            width: 20px;
                            font-size: 18px;
                            min-height: 0 !important;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                    .comment-attachment-flex {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 10px;
                        
                        .comment-attachment {
                            max-height: 100px;
                            border-radius: 10px;
                        }
                    }

                    .timing-info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 5px;
                        padding-left: 2px;

                        * {
                            color: #656d8a;
                        }

                        p {
                            font-size: 14px;
                            font-weight: 400;
                        }

                        mat-icon {
                            font-size: 8px;
                            min-width: 0px !important;
                            width: 10px;
                            height: 5px;
                            min-height: 0px !important;
                        }

                        .reply-toggler {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            cursor: pointer;

                            p {
                                font-size: 14px;
                                font-weight: 500;
                            }

                            mat-icon {
                                font-size: 16px;
                                height: 14px;
                            }
                        }

                        .reaction-stats {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 5px;

                            img {
                                height: 13.5px;

                                &:not(:first-child) {
                                    margin-left: -10px;
                                }
                            }

                            p {
                                font-size: 14px;
                                color: #656d8a;
                                font-weight: 500;

                                span {
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }

            .not-rimg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                height: 30px;
            }
        }

        .reply-wrapper {
            width: 100%;
            padding: 5px;
            background-color: #f9f9f9 !important;

            .reply-box {
                width: 100%;
                border-radius: 5px;
                border: 2px solid #ebecf0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                textarea {
                    border: none;
                    outline: none;
                    width: 100%;
                    min-height: 80px;
                    padding: 5px 10px;
                    resize: none;

                    * {
                        font-family: inherit;
                    }
                }

                .attachment-box {
                    height: 100px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 60px;
                    margin: 10px;

                    .close-icon-holder {
                        position: absolute;
                        top: 6px;
                        right: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba($color: #fff, $alpha: 0.8);
                        border-radius: 50%;
                        cursor: pointer;

                        mat-icon {
                            color: #303338;
                            min-height: 0 !important;
                            min-width: 0 !important;
                            font-size: 16px;
                            font-size: 16px;
                            width: 16px;
                            height: 16px;
                        }
                    }

                    img, video {
                        height: 100%;
                        width: auto;
                        border-radius: 10px;
                    }
                }

                .reply-actions {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 15px;
                    height: 30px;
                    background: #f9f9f9;

                    mat-icon {
                        min-height: 0 !important;
                        height: 18px;
                        font-size: 22px;
                        color: #656d8a;
                    }

                    .r-actions {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 5px;
                    }
                }
            }
        }

        .load-next-flex {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            * {
                color: #656d8a;
            }

            mat-icon {
                min-height: 0 !important;
                font-size: 20px;
                height: 20px;
            }

            img {
                height: 25px;
            }
        }

        .active-comment {
            background-image: url('./../../../../../../assets/images/backgrounds/mesh.png');

            .comment-box {
                background-color: transparent !important;

                .comment-info-flex {
                    .author-info {
                        background: #fff;
                    }

                    .comment-attachments-placeholder {
                        background: #fff;
                    }
                }
            }
        }

        .child-comment,
        .previous-comment {
            background-color: #f9f9f9 !important;

            .comment-box {
                background-color: #f9f9f9 !important;

                .comment-info-flex {
                    .author-info {
                        background: #fff;
                    }

                    .comment-attachments-placeholder {
                        background: #fff;
                    }
                }
            }
        }

        .parent-comment {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            z-index: 1;
        }

        .previous-comment {
            border: 2px solid #ffcf74 !important;
            background-color: #fdfaf1 !important;

            .comment-box {
                background-color: transparent !important;
            }
        }
    }
}

.clamp {
    display: -webkit-box;
    line-height: 1.6;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-icon {
    font-size: 18px;
    min-width: 0px !important;
    width: 18px;
    height: 10px;
    min-height: 0px !important;
    color: #6e737d;
}

.no-shadow {
    box-shadow: none !important;
}
