<ng-container
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async),
        config: (customFuse.config$ | async)
    } as customFuse"
>
    <div class="smp-template theme-bg twd-w-full wd-h-full twd-relative" *transloco="let locale">
        <div
            class="collapsed-images"
            role="button"
            (click)="openGallery()"
            *ngIf="postData?.PostAttachments?.length > 1 && mode === 'workbench'"
        >
            <mat-icon>photo_library</mat-icon>
        </div>
        <div class="post-content-container twd-relative">
            <div class="pcc-top" *ngIf="mode !== 'interaction-min' && mode !== 'interaction-max'">
                <div class="pcc-content">
                    <img src="assets/images/vectors/{{ postData?.SubChannel }}.svg" alt="Poster profile picture" />
                    <p>
                        {{ !('includes' | MiscellaneousPipe: postData?.PostUpdatedTime:['-']) ? 'Edited' : 'Created' }}
                        {{
                            'formatSinceWithDotnetDate'
                                | CustomDatePipe
                                    : (!('includes' | MiscellaneousPipe: postData?.PostUpdatedTime:['-'])
                                          ? postData?.PostUpdatedTime
                                          : postData?.PostCreatedTime)
                        }}
                        ago by <span>{{ postData?.PostAccountName }}</span>
                    </p>
                </div>
            </div>
            <div class="pcc-middle">
                <p
                    (click)="onReadMore()"
                    class="post-content-text clamp"
                    [innerHTML]="'stylizeContent' | SMPPipe: postData?.PostText?.Text"
                ></p>
            </div>
            <ng-container *ngIf="postData?.PostAttachments?.length">
                <div
                    class="pcc-bottom"
                    *ngIf="{
                        mediaData: postData.PostAttachments[0]
                    } as postMedia"
                >
                    <img
                        *ngIf="'includes' | MiscellaneousPipe: postMedia.mediaData.MediaType:['image']"
                        [src]="postMedia.mediaData?.MediaUrl"
                        (click)="previewMedia(postMedia.mediaData)"
                    />
                </div>
            </ng-container>
        </div>

        <div class="toolbar-footer">
            <div class="reaction-stats">
                <ng-container *ngIf="'getTotalReactionCount' | SMPPipe: postData?.PostEngagements">
                    <ng-container *ngFor="let eng of postData?.PostEngagements">
                        <img
                            *ngIf="eng.ReactionCount"
                            src="assets/images/vectors/{{
                                'replaceAll' | MiscellaneousPipe: eng.ReactionType:[' ', '']
                            }}.svg"
                        />
                    </ng-container>
                    <p>
                        <span>{{ 'getTotalReactionCount' | SMPPipe: postData?.PostEngagements }}</span> people reacted
                        to this post
                    </p>
                </ng-container>
                <ng-container *ngIf="!('getTotalReactionCount' | SMPPipe: postData?.PostEngagements)">
                    <p>No reactions found yet on this post</p>
                </ng-container>
            </div>
            <div class="comment-stats">
                <i class="fi fi-sr-comment"></i>
                <p>
                    <span>{{
                        'getCommentCount' | SMPPipe: flattenedCommentHistory:[enhanceCommentContainer, postData]
                    }}</span>
                    active comments found on this post
                </p>
            </div>
        </div>

        <div class="header-flex">
            <div class="twd-flex">
                <h5 class="twd-p-2 font-weight-600">Comments</h5>
                <mat-icon matTooltip="View only mode. Please pull the post to react/reply">visibility</mat-icon>
            </div>
            <div
                class="twd-flex"
                (click)="scrollToActiveComment()"
                role="button"
                *ngIf="mode !== 'workbench' && enhanceCommentContainer"
            >
                <mat-icon matTooltip="Focus on active comment" class="theme-icon">priority_high</mat-icon>
                <h5 class="twd-p-2 font-weight-600">Active comment</h5>
            </div>
        </div>

        <div class="comment-content-container" *ngIf="!enhanceCommentContainer">
            <!-- Parent comment -->
            <div class="comment-container parent-comment">
                <div
                    class="comment-box theme-bg"
                    [id]="postData?.SmParentComments?.CommentId"
                    *ngIf="postData?.SmParentComments"
                >
                    <div class="comment-info-flex">
                        <div class="author-info">
                            <img src="assets/images/avatars/profile.jpg" />
                            <p>
                                {{
                                    postData?.SmParentComments?.FromName
                                        ? postData?.SmParentComments?.FromName
                                        : postData?.PostAccountName
                                }}
                            </p>
                            <div
                                class="comment-status"
                                *ngIf="{
                                    isEdited: postData.IsParentCommentEdited || isParentCommentEdited,
                                    isDeleted: postData.IsParentCommentDeleted || isParentCommentDeleted
                                } as commentStatus"
                            >
                                <mat-icon class="comment-icon theme-icon" *ngIf="commentStatus.isEdited">edit</mat-icon>
                                <mat-icon class="comment-icon red-icon" *ngIf="commentStatus.isDeleted"
                                    >delete</mat-icon
                                >
                            </div>
                        </div>
                        <div class="comment-content">
                            <p
                                [innerHTML]="'stylizeContent' | SMPPipe: postData?.SmParentComments?.CommentText?.Text"
                            ></p>
                        </div>

                        <!-- Attachment section -->
                        <ng-container
                            *ngIf="
                                !renderParentCommentAttachment &&
                                postData?.SmParentComments?.CommentAttachments?.length === 1
                            "
                        >
                            <div
                                role="button"
                                class="comment-attachments-placeholder"
                                (click)="this.renderParentCommentAttachment = true"
                            >
                                <mat-icon> attach_file</mat-icon>
                                <p>View attachments</p>
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                renderParentCommentAttachment &&
                                postData?.SmParentComments?.CommentAttachments?.length === 1
                            "
                            [ngSwitch]="
                                'getFileType'
                                    | SMPPipe
                                        : postData?.SmParentComments?.CommentAttachments[0]?.MediaUrl
                                        : [postData?.SmParentComments?.CommentAttachments[0]?.MediaType]
                            "
                        >
                            <img
                                class="comment-attachment"
                                *ngSwitchCase="'image'"
                                [src]="postData?.SmParentComments?.CommentAttachments[0]?.MediaUrl"
                            />
                            <video
                                class="comment-attachment"
                                *ngSwitchCase="'video'"
                                [src]="postData?.SmParentComments?.CommentAttachments[0]?.MediaUrl"
                                [autoplay]="false"
                                controls
                            ></video>
                        </ng-container>

                        <div class="timing-info">
                            <p>
                                <span *ngIf="postData.IsParentCommentEdited || isParentCommentEdited">
                                    Edited
                                    {{
                                        'formatSinceWithDotnetDate'
                                            | CustomDatePipe: postData?.SmParentComments?.UpdatedDateTime
                                    }}
                                </span>
                                <span *ngIf="!(postData.IsParentCommentEdited || isParentCommentEdited)">
                                    {{
                                        'formatSinceWithDotnetDate'
                                            | CustomDatePipe: postData?.SmParentComments?.CreatedDateTime
                                    }}
                                </span>
                                ago
                            </p>
                            <ng-container
                                *ngIf="
                                    'getTotalReactionCount' | SMPPipe: postData?.SmParentComments?.CommentEngagements
                                "
                            >
                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                <div class="reaction-stats">
                                    <ng-container *ngFor="let eng of postData?.SmParentComments?.CommentEngagements">
                                        <img
                                            *ngIf="eng.ReactionCount"
                                            src="assets/images/vectors/{{
                                                'replaceAll' | MiscellaneousPipe: eng.ReactionType:[' ', '']
                                            }}.svg"
                                        />
                                    </ng-container>
                                    <p>
                                        <span>{{
                                            'getTotalReactionCount'
                                                | SMPPipe: postData?.SmParentComments?.CommentEngagements
                                        }}</span>
                                        people reacted to this comment
                                    </p>
                                </div>
                            </ng-container>
                            <mat-icon class="dot">fiber_manual_record</mat-icon>
                            <div class="reply-toggler">
                                <p>1 reply</p>
                            </div>
                        </div>
                    </div>
                </div>

                <img
                    class="not-rimg"
                    *ngIf="
                        engagementFromNotification &&
                        (engagementFromNotification?.smmId === postData?.SmParentComments?.CommentId ||
                            engagementFromNotification?.smmId === postData?.SmParentComments?.PostId)
                    "
                    src="assets/images/vectors/{{
                        'replaceAll' | MiscellaneousPipe: engagementFromNotification.reactionType:[' ', '']
                    }}.svg"
                />
            </div>

            <!-- Active comment -->
            <div
                class="comment-container active-comment"
                [ngStyle]="{ paddingLeft: postData?.SmActiveComment?.ParentId !== postData?.PostId ? '25px' : 0 }"
            >
                <div
                    class="comment-box theme-bg"
                    [id]="postData?.SmActiveComment?.CommentId"
                    *ngIf="postData?.SmActiveComment"
                >
                    <div class="comment-info-flex">
                        <div class="author-info">
                            <img src="assets/images/avatars/profile.jpg" />
                            <p>
                                {{
                                    postData?.SmActiveComment?.FromName
                                        ? postData?.SmActiveComment?.FromName
                                        : postData?.PostAccountName
                                }}
                            </p>
                            <div
                                class="comment-status"
                                *ngIf="{
                                    isEdited:
                                        ('findPreviousCommentIndex'
                                            | SMPPipe: previousCommentFromNotification:[postData]) ||
                                        isActiveCommentEdited ||
                                        postData.IsCommentEdited,
                                    isDeleted: postData.IsCommentDeleted || isActiveCommentDeleted
                                } as commentStatus"
                            >
                                <mat-icon class="comment-icon theme-icon" *ngIf="commentStatus.isEdited">edit</mat-icon>
                                <mat-icon class="comment-icon red-icon" *ngIf="commentStatus.isDeleted"
                                    >delete</mat-icon
                                >
                            </div>
                        </div>
                        <div class="comment-content">
                            <p
                                [innerHTML]="'stylizeContent' | SMPPipe: postData?.SmActiveComment?.CommentText?.Text"
                            ></p>
                        </div>

                        <!-- Attachment section -->
                        <ng-container
                            *ngIf="
                                !renderActiveCommentAttachment &&
                                postData?.SmActiveComment?.CommentAttachments?.length === 1
                            "
                        >
                            <div
                                role="button"
                                class="comment-attachments-placeholder"
                                (click)="this.renderActiveCommentAttachment = true"
                            >
                                <mat-icon> attach_file</mat-icon>
                                <p>View attachments</p>
                            </div>
                        </ng-container>
                        <ng-container
                            *ngIf="
                                renderActiveCommentAttachment &&
                                postData?.SmActiveComment?.CommentAttachments?.length === 1
                            "
                            [ngSwitch]="
                                'getFileType'
                                    | SMPPipe
                                        : postData?.SmActiveComment?.CommentAttachments[0]?.MediaUrl
                                        : [postData?.SmActiveComment?.CommentAttachments[0]?.MediaType]
                            "
                        >
                            <img
                                class="comment-attachment"
                                *ngSwitchCase="'image'"
                                [src]="postData?.SmActiveComment?.CommentAttachments[0]?.MediaUrl"
                            />
                            <video
                                class="comment-attachment"
                                *ngSwitchCase="'video'"
                                [src]="postData?.SmActiveComment?.CommentAttachments[0]?.MediaUrl"
                                [autoplay]="false"
                                controls
                            ></video>
                        </ng-container>

                        <!-- Comment bottom section -->
                        <div class="timing-info">
                            <!-- Edited timings -->
                            <ng-container
                                *ngIf="
                                    ('findPreviousCommentIndex'
                                        | SMPPipe: previousCommentFromNotification:[postData]) &&
                                    !(isActiveCommentEdited || postData.IsCommentEdited)
                                "
                            >
                                Edited
                                <p>
                                    {{
                                        'formatSinceWithDotnetDate'
                                            | CustomDatePipe
                                                : (
                                                      'findPreviousCommentIndex'
                                                      | SMPPipe: previousCommentFromNotification:[postData]
                                                  )?.UpdatedDateTime
                                    }}
                                    ago
                                </p>
                            </ng-container>
                            <ng-container *ngIf="isActiveCommentEdited || postData.IsCommentEdited">
                                <p>
                                    Edited
                                    {{
                                        'formatSinceWithDotnetDate'
                                            | CustomDatePipe: postData.SmActiveComment?.UpdatedDateTime
                                    }}
                                    ago
                                </p>
                            </ng-container>
                            <ng-container
                                *ngIf="
                                    !(
                                        (('findPreviousCommentIndex'
                                            | SMPPipe: previousCommentFromNotification:[postData]) &&
                                            !(isActiveCommentEdited || postData.IsCommentEdited)) ||
                                        isActiveCommentEdited ||
                                        postData.IsCommentEdited
                                    )
                                "
                            >
                                <p>
                                    {{
                                        'formatSinceWithDotnetDate'
                                            | CustomDatePipe: postData?.SmActiveComment?.CreatedDateTime
                                    }}
                                    ago
                                </p>
                            </ng-container>
                            <!-- Created timings -->
                            <ng-container
                                *ngIf="'getTotalReactionCount' | SMPPipe: postData?.SmActiveComment?.CommentEngagements"
                            >
                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                <div class="reaction-stats">
                                    <ng-container *ngFor="let eng of postData?.SmActiveComment?.CommentEngagements">
                                        <img
                                            *ngIf="eng.ReactionCount"
                                            src="assets/images/vectors/{{
                                                'replaceAll' | MiscellaneousPipe: eng.ReactionType:[' ', '']
                                            }}.svg"
                                        />
                                    </ng-container>
                                    <p>
                                        <span>{{
                                            'getTotalReactionCount'
                                                | SMPPipe: postData?.SmActiveComment?.CommentEngagements
                                        }}</span>
                                        people reacted to this comment
                                    </p>
                                </div>
                            </ng-container>

                            <!-- Previous comment detail -->
                            <ng-container
                                *ngIf="
                                    'findPreviousCommentIndex'
                                        | SMPPipe: previousCommentFromNotification:[postData] as prevComment
                                "
                            >
                                <mat-icon class="dot">fiber_manual_record</mat-icon>
                                <div
                                    class="reply-toggler"
                                    (click)="this.showPreviousCommentData = !this.showPreviousCommentData"
                                >
                                    <p>View previous comment</p>
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <img
                    class="not-rimg"
                    *ngIf="
                        engagementFromNotification &&
                        (engagementFromNotification?.smmId === postData?.SmActiveComment?.CommentId ||
                            engagementFromNotification?.smmId === postData?.SmActiveComment?.PostId)
                    "
                    src="assets/images/vectors/{{
                        'replaceAll' | MiscellaneousPipe: engagementFromNotification.reactionType:[' ', '']
                    }}.svg"
                />
            </div>

            <!-- previous comment -->
            <ng-container *ngIf="showPreviousCommentData">
                <div
                    *ngIf="
                        'findPreviousCommentIndex' | SMPPipe: previousCommentFromNotification:[postData] as prevComment
                    "
                    class="comment-container previous-comment"
                    [ngStyle]="{ paddingLeft: postData?.SmActiveComment?.ParentId !== postData?.PostId ? '25px' : 0 }"
                >
                    <div class="comment-box theme-bg">
                        <div class="comment-info-flex">
                            <div class="author-info">
                                <img src="assets/images/avatars/profile.jpg" />
                                <p>
                                    {{ prevComment?.FromName ? prevComment?.FromName : postData?.PostAccountName }}
                                </p>
                            </div>
                            <div class="comment-content">
                                <p
                                    [innerHTML]="'stylizeContent' | SMPPipe: prevComment?.CommentText?.PreviousComment"
                                ></p>
                            </div>

                            <!-- Attachment section -->
                            <ng-container
                                *ngIf="!renderPrevCommentAttachment && prevComment?.CommentAttachments?.length === 1"
                            >
                                <div
                                    role="button"
                                    class="comment-attachments-placeholder"
                                    (click)="this.renderPrevCommentAttachment = true"
                                >
                                    <mat-icon> attach_file</mat-icon>
                                    <p>View attachments</p>
                                </div>
                            </ng-container>
                            <ng-container
                                *ngIf="renderPrevCommentAttachment && prevComment?.CommentAttachments?.length === 1"
                                [ngSwitch]="
                                    'getFileType'
                                        | SMPPipe
                                            : prevComment?.CommentAttachments[0]?.MediaUrl
                                            : [prevComment?.CommentAttachments[0]?.MediaType]
                                "
                            >
                                <img
                                    class="comment-attachment"
                                    *ngSwitchCase="'image'"
                                    [src]="prevComment?.CommentAttachments[0]?.MediaUrl"
                                />
                                <video
                                    class="comment-attachment"
                                    *ngSwitchCase="'video'"
                                    [src]="prevComment?.CommentAttachments[0]?.MediaUrl"
                                    [autoplay]="false"
                                    controls
                                ></video>
                            </ng-container>

                            <!-- Comment bottom section -->
                            <div class="timing-info">
                                <p>
                                    {{ 'formatSinceWithDotnetDate' | CustomDatePipe: prevComment?.CreatedDateTime }}
                                    ago
                                </p>
                                <!-- Created timings -->
                                <ng-container
                                    *ngIf="'getTotalReactionCount' | SMPPipe: prevComment?.CommentEngagements"
                                >
                                    <mat-icon class="dot">fiber_manual_record</mat-icon>
                                    <div class="reaction-stats">
                                        <ng-container *ngFor="let eng of prevComment?.CommentEngagements">
                                            <img
                                                *ngIf="eng.ReactionCount"
                                                src="assets/images/vectors/{{
                                                    'replaceAll' | MiscellaneousPipe: eng.ReactionType:[' ', '']
                                                }}.svg"
                                            />
                                        </ng-container>
                                        <p>
                                            <span>{{
                                                'getTotalReactionCount' | SMPPipe: prevComment?.CommentEngagements
                                            }}</span>
                                            people reacted to this comment
                                        </p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Reply container -->
            <ng-container *ngIf="mode === 'interaction-min' && draftData">
                <div
                    class="reply-wrapper"
                    [ngStyle]="{
                        paddingLeft: postData?.SmActiveComment?.ParentId !== postData?.PostId ? '30px' : '35px'
                    }"
                >
                    <div class="reply-box theme-bg twd-relative">
                        <textarea
                            #replyInput
                            [(ngModel)]="draftData.body"
                            name="reply"
                            id="reply"
                            [rows]="2"
                            placeholder="Enter your reply here..."
                            (input)="dataChanged.emit(interactionId)"
                        ></textarea>
                        <div class="attachment-box" *ngIf="draftData?.rawAttachmentData">
                            <img
                                *ngIf="'includes' | MiscellaneousPipe: draftData?.mimeConstraints:['image']"
                                (click)="previewMedia({ MediaType: 'image', MediaUrl: draftData?.rawAttachmentData })"
                                [src]="draftData?.rawAttachmentData"
                            />
                            <video
                                *ngIf="'includes' | MiscellaneousPipe: draftData?.mimeConstraints:['video']"
                                (click)="previewMedia({ MediaType: 'video', MediaUrl: draftData?.rawAttachmentData })"
                                [src]="draftData?.rawAttachmentData"
                            ></video>
                            <div class="close-icon-holder" role="button" (click)="onClearAttachment()">
                                <mat-icon>close</mat-icon>
                            </div>
                        </div>
                        <div class="reply-actions twd-w-full twd-flex">
                            <div class="r-actions twd-flex">
                                <mat-icon
                                    [matTooltip]="locale('widgets.smpControls.tooltips.addEmoji')"
                                    (click)="this.showEmojiPicker = !this.showEmojiPicker"
                                    role="button"
                                    >tag_faces</mat-icon
                                >
                                <mat-icon
                                    [matTooltip]="locale('widgets.smpControls.tooltips.attachGif')"
                                    [ngStyle]="{ pointerEvents: draftData?.attachments?.length ? 'none' : 'all' }"
                                    (click)="onAttach('image/gif')"
                                    role="button"
                                    >gif</mat-icon
                                >
                                <mat-icon
                                    [matTooltip]="locale('widgets.smpControls.tooltips.attachImage')"
                                    [ngStyle]="{ pointerEvents: draftData?.attachments?.length ? 'none' : 'all' }"
                                    (click)="onAttach('image/*')"
                                    role="button"
                                    >camera_alt</mat-icon
                                >
                                <mat-icon
                                    [matTooltip]="locale('widgets.smpControls.tooltips.attachVideo')"
                                    [ngStyle]="{ pointerEvents: draftData?.attachments?.length ? 'none' : 'all' }"
                                    (click)="onAttach('video/mp4')"
                                    role="button"
                                    >movie</mat-icon
                                >
                            </div>
                            <mat-icon
                                [matTooltip]="locale('widgets.smpControls.tooltips.sendReply')"
                                role="button"
                                (click)="onSendReply()"
                                >send</mat-icon
                            >
                        </div>
                        <emoji-mart
                            *ngIf="showEmojiPicker"
                            style="z-index: 2"
                            (emojiClick)="addEmoji($event)"
                            [darkMode]="'includes' | MiscellaneousPipe: customFuse.config.colorTheme:['dark']"
                            [showPreview]="false"
                            isNative="true"
                            navPosition="none"
                            searchPosition="none"
                        ></emoji-mart>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="comment-content-container" *ngIf="enhanceCommentContainer">
            <ng-container *ngFor="let commentData of flattenedCommentHistory">
                <div
                    *ngIf="commentData?.isVisible"
                    class="comment-container {{
                        (engagementFromNotification && engagementFromNotification?.smmId === commentData?.CommentId) ||
                        engagementFromNotification?.smmId === commentData?.PostId ||
                        (mode === 'interaction-max' && commentData?.CommentId === postData?.SmActiveComment?.CommentId)
                            ? 'active-comment'
                            : commentData.nestLevel === 0
                            ? 'parent-comment'
                            : 'child-comment'
                    }} {{ commentData?.ReplyComments?.length ? '' : 'no-shadow' }}"
                    [ngStyle]="{
                        paddingLeft: commentData.nestLevel * 25 + 'px',
                        marginTop:
                            engagementFromNotification &&
                            (engagementFromNotification?.smmId === commentData.CommentId ||
                                engagementFromNotification?.smmId === commentData.PostId)
                                ? '10px'
                                : 0
                    }"
                >
                    <div class="comment-box theme-bg" [id]="commentData?.CommentId" *ngIf="commentData?.isVisible">
                        <div class="comment-info-flex">
                            <div class="author-info">
                                <img src="assets/images/avatars/profile.jpg" />
                                <p>
                                    {{ commentData?.FromName ? commentData?.FromName : postData?.PostAccountName }}
                                </p>
                                <div
                                    class="comment-status"
                                    *ngIf="{
                                        isEdited: commentData.IsEdited,
                                        isDeleted: commentData.IsDeleted
                                    } as commentStatus"
                                >
                                    <!-- <mat-icon style="opacity: 0" *ngIf="!commentStatus.isEdited && !commentStatus.isDeleted"
                                >comment</mat-icon
                            > -->
                                    <mat-icon class="comment-icon theme-icon" *ngIf="commentStatus.isEdited"
                                        >edit</mat-icon
                                    >
                                    <mat-icon class="comment-icon red-icon" *ngIf="commentStatus.isDeleted"
                                        >delete</mat-icon
                                    >
                                </div>
                            </div>
                            <div class="comment-content">
                                <p [innerHTML]="'stylizeContent' | SMPPipe: commentData?.CommentText?.Text"></p>
                            </div>

                            <!-- Attachment section -->
                            <ng-container
                                *ngIf="!commentData.renderMedia && commentData?.CommentAttachments?.length === 1"
                            >
                                <div
                                    role="button"
                                    class="comment-attachments-placeholder"
                                    (click)="commentData.renderMedia = true"
                                >
                                    <mat-icon> attach_file</mat-icon>
                                    <p>View attachments</p>
                                </div>
                            </ng-container>
                            <ng-container
                                *ngIf="commentData.renderMedia && commentData?.CommentAttachments?.length === 1"
                                [ngSwitch]="
                                    'getFileType'
                                        | SMPPipe
                                            : commentData?.CommentAttachments[0]?.MediaUrl
                                            : [commentData?.CommentAttachments[0]?.MediaType]
                                "
                            >
                                <img
                                    class="comment-attachment"
                                    *ngSwitchCase="'image'"
                                    [src]="commentData?.CommentAttachments[0]?.MediaUrl"
                                />
                                <video
                                    class="comment-attachment"
                                    *ngSwitchCase="'video'"
                                    [src]="commentData?.CommentAttachments[0]?.MediaUrl"
                                    [autoplay]="false"
                                    controls
                                ></video>
                            </ng-container>

                            <!-- Comment bottom section -->
                            <div class="timing-info">
                                <!-- Edited timings -->
                                <ng-container *ngIf="commentData.IsEdited">
                                    <p>
                                        Edited
                                        {{ 'formatSinceWithDotnetDate' | CustomDatePipe: commentData?.UpdatedDateTime }}
                                        ago
                                    </p>
                                </ng-container>
                                <ng-container *ngIf="!commentData.IsEdited">
                                    <p>
                                        {{ 'formatSinceWithDotnetDate' | CustomDatePipe: commentData?.CreatedDateTime }}
                                        ago
                                    </p>
                                </ng-container>
                                <!-- Created timings -->
                                <ng-container
                                    *ngIf="'getTotalReactionCount' | SMPPipe: commentData?.CommentEngagements"
                                >
                                    <mat-icon class="dot">fiber_manual_record</mat-icon>
                                    <div class="reaction-stats">
                                        <ng-container *ngFor="let eng of commentData?.CommentEngagements">
                                            <img
                                                *ngIf="eng.ReactionCount"
                                                src="assets/images/vectors/{{
                                                    'replaceAll' | MiscellaneousPipe: eng.ReactionType:[' ', '']
                                                }}.svg"
                                            />
                                        </ng-container>
                                        <p>
                                            <span>{{
                                                'getTotalReactionCount' | SMPPipe: commentData?.CommentEngagements
                                            }}</span>
                                            people reacted to this comment
                                        </p>
                                    </div>
                                </ng-container>

                                <ng-container
                                    *ngIf="
                                        commentData?.ReplyComments?.length &&
                                        commentData?.isVisible &&
                                        !('validateLoadHistory' | SMPPipe: commentData:[flattenedCommentHistory])
                                    "
                                >
                                    <mat-icon class="dot">fiber_manual_record</mat-icon>
                                    <div class="reply-toggler" (click)="onForceLoadHistory(commentData)">
                                        <p>View replies</p>
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reply container -->
                <ng-container
                    *ngIf="
                        mode === 'interaction-max' &&
                        draftData &&
                        commentData?.CommentId === postData?.SmActiveComment?.CommentId
                    "
                >
                    <div class="reply-wrapper" [ngStyle]="{ paddingLeft: (commentData.nestLevel + 1) * 25 + 'px' }">
                        <div class="reply-box theme-bg twd-relative">
                            <textarea
                                #replyInput
                                [(ngModel)]="draftData.body"
                                name="reply"
                                id="reply"
                                [rows]="2"
                                placeholder="Enter your reply here..."
                                (input)="dataChanged.emit(interactionId)"
                            ></textarea>
                            <div class="attachment-box" *ngIf="draftData?.rawAttachmentData">
                                <img
                                    *ngIf="'includes' | MiscellaneousPipe: draftData?.mimeConstraints:['image']"
                                    (click)="
                                        previewMedia({ MediaType: 'image', MediaUrl: draftData?.rawAttachmentData })
                                    "
                                    [src]="draftData?.rawAttachmentData"
                                />
                                <video
                                    *ngIf="'includes' | MiscellaneousPipe: draftData?.mimeConstraints:['video']"
                                    (click)="
                                        previewMedia({ MediaType: 'video', MediaUrl: draftData?.rawAttachmentData })
                                    "
                                    [src]="draftData?.rawAttachmentData"
                                ></video>
                                <div class="close-icon-holder" role="button" (click)="onClearAttachment()">
                                    <mat-icon>close</mat-icon>
                                </div>
                            </div>
                            <div class="reply-actions twd-w-full twd-flex">
                                <div class="r-actions twd-flex">
                                    <mat-icon
                                        [matTooltip]="locale('widgets.smpControls.tooltips.addEmoji')"
                                        (click)="this.showEmojiPicker = !this.showEmojiPicker"
                                        role="button"
                                        >tag_faces</mat-icon
                                    >
                                    <mat-icon
                                        [matTooltip]="locale('widgets.smpControls.tooltips.attachGif')"
                                        [ngStyle]="{ pointerEvents: draftData?.attachments?.length ? 'none' : 'all' }"
                                        (click)="onAttach('image/gif')"
                                        role="button"
                                        >gif</mat-icon
                                    >
                                    <mat-icon
                                        [matTooltip]="locale('widgets.smpControls.tooltips.attachImage')"
                                        [ngStyle]="{ pointerEvents: draftData?.attachments?.length ? 'none' : 'all' }"
                                        (click)="onAttach('image/*')"
                                        role="button"
                                        >camera_alt</mat-icon
                                    >
                                    <mat-icon
                                        [matTooltip]="locale('widgets.smpControls.tooltips.attachVideo')"
                                        [ngStyle]="{ pointerEvents: draftData?.attachments?.length ? 'none' : 'all' }"
                                        (click)="onAttach('video/mp4')"
                                        role="button"
                                        >movie</mat-icon
                                    >
                                </div>
                                <mat-icon
                                    [matTooltip]="locale('widgets.smpControls.tooltips.sendReply')"
                                    role="button"
                                    (click)="onSendReply()"
                                    >send</mat-icon
                                >
                            </div>
                            <emoji-mart
                                *ngIf="showEmojiPicker"
                                style="z-index: 2"
                                (emojiClick)="addEmoji($event)"
                                [darkMode]="'includes' | MiscellaneousPipe: customFuse.config.colorTheme:['dark']"
                                [showPreview]="false"
                                isNative="true"
                                navPosition="none"
                                searchPosition="none"
                            ></emoji-mart>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <!-- Next set of comment loader -->
            <div
                class="load-next-flex twd-flex"
                (click)="onLoadNextHistory()"
                [ngStyle]="{
                    opacity: isCommentHistoryLoading ? '0.8' : '1.0',
                    'pointer-events': isCommentHistoryLoading ? 'none' : 'all'
                }"
                *ngIf="flattenedCommentHistory?.length && !hasNoFurtherComments"
            >
                <h5 class="twd-p-2 font-weight-600">{{ isCommentHistoryLoading ? 'Loading...' : 'Load more' }}</h5>
                <img src="assets/images/vectors/loading.svg" *ngIf="isCommentHistoryLoading" />
                <mat-icon *ngIf="!isCommentHistoryLoading">keyboard_arrow_down</mat-icon>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #previewMediaDialog>
    <div *transloco="let locale" class="twd-flex twd-justify-between twd-items-center twd-h-16">
        <div class="twd-flex twd-flex-col twd-gap-1">
            <span class="twd-font-bold">{{ postData?.AccountName }}</span>
            <span class="twd-text-xs">{{ previewMediaDialogData?.timestamp | date: 'dd/MM/yyyy hh:mm:ss a' }}</span>
        </div>
        <div>
            <button
                mat-icon-button
                color="warn"
                mat-dialog-close
                (click)="previewMediaDialogData = null"
                tabindex="-1"
                [matTooltip]="locale('interactionComponent.close')"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div *transloco="let locale" mat-dialog-content fxLayout="column" fxLayoutAlign=" none">
        <drag-scroll scrollbar-hidden>
            <div
                class="preview-container twd-w-full twd-h-full twd-origin-top-left twd-overflow-hidden"
                [style.transform]="'scale(' + previewMediaDialogData?.otherData?.scale + ')'"
                [ngClass]="{ 'twd-cursor-move': previewMediaDialogData?.otherData?.scale > 1 }"
            >
                <img
                    *ngIf="'includes' | MiscellaneousPipe: previewMediaDialogData?.attachment?.type:['image']"
                    title="Attachment preview"
                    [src]="previewMediaDialogData?.attachment?.src"
                    width="100%"
                    width="100%"
                />
            </div>
            <video
                *ngIf="'includes' | MiscellaneousPipe: previewMediaDialogData?.attachment?.type:['video']"
                controls
                autoplay
                [src]="previewMediaDialogData?.attachment?.src"
                width="100%"
                width="100%"
            ></video>
        </drag-scroll>
    </div>
</ng-template>

<input
    type="file"
    *ngIf="draftData"
    #fileInput
    style="display: none"
    [accept]="draftData?.mimeConstraints"
    [multiple]="false"
    (change)="onFileSelected($event)"
/>
