<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data">
    <div fxFill fxFlex fxLayout="column" fxLayoutAlign="space-between none" class="position-relative video-controls">
        <div
            fxFlex
            fxLayout="row wrap"
            fxLayoutAlign="center start"
            class="w-100-p border-radius-20 remote-video-container"
            [ngClass]="
                fuseConfig.layout.anchorWidget.customBackgroundColor === true && data.Config.Anchor
                    ? fuseConfig.layout.anchorWidget.contentBackground
                    : fuseConfig.layout.widget.customBackgroundColor === true
                    ? fuseConfig.layout.widget.contentBackground
                    : ''
            "
            [@animateStagger]="{ value: '50' }"
        >
            <div
                class="border-radius-20 bg-dark remote-video"
                *ngFor="let user of userList"
                [ngClass]="'vd-' + userList.length"
                [@animate]="{ value: '*', params: { y: '100%' } }"
            >
                <video autoplay playsinline="true" [srcObject]="user.stream" [id]="user.stream.id" #remoteVideo></video>

                <button
                    *ngIf="chatConfig.SnapshotAllowed"
                    mat-flat-button
                    mat-icon-button
                    [disabled]="status !== 'connected'"
                    matTooltip="Take Snapshot"
                    (click)="takeSnapShot(user)"
                >
                    <mat-icon> camera </mat-icon>
                </button>

                <span class="text-boxed user">{{ user.streamInfo.user }}</span>
            </div>

            <div fxFill fxFlex fxLayout fxLayoutAlign="center center" *ngIf="userList.length === 0">
                <img src="assets/images/vectors/no-widget.svg" />
            </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center none" class="px-12 py-4 call-details">
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <span fxLayout="row" fxLayoutAlign=" center"> <mat-icon>offline_bolt</mat-icon> {{ status }} </span>
                <span fxLayout="row" fxLayoutAlign=" center"> <mat-icon>wifi</mat-icon> {{ mos }} </span>
                <div fxLayout="row" fxLayoutAlign=" center"><mat-icon>alarm_on</mat-icon> {{ startTime | date: 'mediumTime' }}</div>
                <span fxLayout="row" fxLayoutAlign=" center">
                    <mat-icon>timer</mat-icon> {{ (duration | date: 'H:mm:ss':'UTC') || '00:00:00' }}
                </span>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayout="row" fxLayoutAlign=" none" class="call-controls h-48">
            <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center" class="actions">
                <button
                    mat-flat-button
                    mat-icon-button
                    [disabled]="status !== 'connected'"
                    [matTooltip]="audioMuted ? 'Un Mute' : 'Mute'"
                    (click)="muteAudioCall()"
                    [ngClass]="{ 'mat-warn': audioMuted }"
                >
                    <mat-icon> mic_off </mat-icon>
                </button>

                <button
                    mat-flat-button
                    mat-icon-button
                    [disabled]="status !== 'connected'"
                    [matTooltip]="videoMuted ? 'Un Mute' : 'Mute'"
                    (click)="muteVideoCall()"
                    [ngClass]="{ 'mat-warn': videoMuted }"
                >
                    <mat-icon> videocam_off </mat-icon>
                </button>

                <button
                    *ngIf="chatConfig.ScreenShareAllowed"
                    mat-flat-button
                    mat-icon-button
                    [disabled]="status !== 'connected' || this.remoteScreenSharing"
                    [matTooltip]="screenSharing ? 'Stop Share' : 'Start Share'"
                    (click)="shareScreen()"
                >
                    <mat-icon> {{ screenSharing ? 'stop_screen_share' : 'screen_share' }} </mat-icon>
                </button>
            </div>

            <div fxFlex="60" fxLayout="row" fxLayoutAlign="start center" class="controls">
                <button [disabled]="status !== 'connected'" *ngIf="!hold" mat-flat-button class="warning" matTooltip="Hold" (click)="holdCall()">
                    <mat-icon>phone_paused</mat-icon>
                </button>

                <button *ngIf="hold" mat-flat-button class="success" matTooltip="Un Hold" (click)="holdCall()">
                    <mat-icon>phone_in_talk</mat-icon>
                </button>

                <button [disabled]="status !== 'connected'" mat-flat-button class="danger" matTooltip="End Call" (click)="endCall()">
                    <mat-icon>call_end</mat-icon>
                </button>
            </div>
        </div>

        <div
            cdkDrag
            cdkDragBoundary=".video-controls"
            class="border-radius-20 bg-dark self-video"
            [ngClass]="{ minimize: selfViewSmall }"
            (dblclick)="minimizeVideo()"
            *ngIf="selfVideo"
            [@animate]="{ value: '*', params: { scale: '0.5' } }"
        >
            <div class="drag-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
            <div class="overlay"></div>
            <video autoplay playsinline="true" [muted]="true" [srcObject]="selfVideo" [id]="selfVideo.id"></video>
        </div>
    </div>
</tw-wrapper>
