$tw-primary: #bda0bc;
$tw-secondary: #989898;
$tw-tertiary: #5a4980;
$tw-danger: #d38a73;
$tw-warning: #f1c754;
$tw-success: #c4e1be;
$tw-dark: rgba(0, 0, 0, 0.87);

$tw-status-success: #8bb768;
$tw-status-warning: #fca000;
$tw-status-danger: #e74c6c;
