$tw-primary: #8f6593;
$tw-secondary: #bda0bc;
$tw-info: #cacaca;
$tw-danger: #d38a73;
$tw-success: #A7C4A0;
$tw-dark: rgba(0, 0, 0, 0.87);
$tw-light: rgba(277, 277, 277, 0.87);

$tw-alt-info: #757575;
$tw-alt-success: #4caf50;
$tw-alt-warning: #ff9800;
$tw-alt-danger: #f44336;

// Used on upgrade 6.0.0
$tw-action: #FF9347;
$tw-danger-bg: #FFD5D5;
$tw-warning-bg: #FFEBB8;
$tw-success-bg: #CDE8C6;
$tw-warning: #f1c754;