$tw-primary: #8f6593;
$tw-secondary: #bda0bc;
$tw-info: #cacaca;
$tw-danger: #d38a73;
$tw-warning: #f1c754;
$tw-success: #c4e1be;
$tw-dark: rgba(0, 0, 0, 0.87);

$tw-status-success: #8bb768;
$tw-status-warning: #fca000;
$tw-status-danger: #e74c6c;

$tw-alt-success: #8bb768;
$tw-alt-warning: #fca000;
$tw-alt-danger: #e74c6c;
