@import 'src/@fuse/scss/fuse';

.widget-grid {
    position: relative;
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: none;
    // grid-auto-rows: 29vh;
    grid-auto-rows: minmax(275px, 1fr);
    height: calc(100vh - 94px);
    max-width: calc(100vw - 20px);

    @include media-breakpoint('gt-xs') {
        max-width: calc(100vw - 112px);
    }

    @include media-breakpoint('gt-sm') {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 5), 1fr));
        // grid-auto-rows: minmax(calc(100% / 3), 1fr);
    }

    @include media-breakpoint('gt-md') {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 7), 1fr));
        // grid-auto-rows: minmax(calc(100% / 4), 1fr);
    }
}

.static-widget-grid {
    position: unset;
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: none;
    grid-auto-rows: minmax(275px, 1fr);
    margin-bottom: 16px;
    max-width: calc(100vw - 20px);

    @include media-breakpoint('gt-xs') {
        max-width: calc(100vw - 112px);
    }

    @include media-breakpoint('gt-md') {
        margin-bottom: 0;
        height: calc(100vh - 94px);
    }
}

.dynamic-widget-grid {
    position: unset;
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: none;
    grid-auto-rows: minmax(275px, 1fr);
    margin-bottom: 16px;
    max-width: calc(100vw - 20px);

    @include media-breakpoint('gt-xs') {
        max-width: calc(100vw - 112px);
    }

    @include media-breakpoint('md') {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), 1fr));
    }

    @include media-breakpoint('gt-md') {
        margin-bottom: 0;
        height: calc(100vh - 94px);
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 5), 1fr));
    }
}

.twc-card,
.tw-card {
    width: 100%;
    height: 100%;
    max-width: calc(100vw - 20px);

    @include media-breakpoint('gt-xs') {
        max-width: calc(100vw - 112px);
    }

    @include media-breakpoint('lt-md') {
        grid-column: auto !important;
    }
}

.tw-full {
    height: 100% !important;
    width: 100% !important;
}

.tw-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;
}

.tw-chart {
    position: relative;
    .t-pie-chart-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }
}

.tw-interaction {
    display: none !important;
    &.active {
        display: flex !important;
    }
}

.tw-accordion {
    & + &-menu {
        // transition: padding 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
        background-color: inherit;
        padding: 0;
    }
    &.active + &-menu {
        padding: 20px 5px;
        max-height: 1000px;
    }
}
