.widget-grid {
    position: relative;
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: none;
    grid-auto-rows: 29vh;
    height: calc(100vh - 94px);
    max-width: calc(100vw - 112px);
}

.tw-card {
    &.hidden {
        display: none;
    }
}

// material drag return to orignal position on drag disable
.widget-card {
    &:not(.floating) {
        transition: all 0.3s !important;
    }
}

.tw-full {
    height: 100% !important;
    width: 100% !important;
}

.tw-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
    width: 100% !important;
}

.t-chart {
    position: relative;
    .t-pie-chart-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }
}

@media screen and (max-width: 768px) {
    .twc-card,
    .tw-card {
        grid-column: auto !important;
    }
}

@media screen and (max-width: 600px) {
    .widget-grid {
        max-width: calc(100vw - 20px);
    }
}

@media screen and (min-width: 768px) {
    .widget-grid {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 5), 1fr));
        grid-auto-rows: minmax(calc(100% / 3), 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .widget-grid {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 7), 1fr));
        grid-auto-rows: minmax(calc(100% / 4), 1fr);
    }
}
