<div
    [ngStyle]="{ 'background-color': circleColor }"
    [ngClass]="(classes ? classes : '') + ' ' + (circleColor ? circleColor : '') + ' avatar-content mat-elevation-z1'"
>
    <img *ngIf="!showInitials && photoUrl" src="{{ photoUrl }}" />

    <div *ngIf="!showInitials && matIcon" class="initials">
        <mat-icon *ngIf="matIcon.indexOf('custom') < 0">{{ matIcon || 'widgets' }}</mat-icon>
        <mat-icon [svgIcon]="matIcon" *ngIf="matIcon.indexOf('custom') >= 0"></mat-icon>
    </div>

    <div *ngIf="showInitials" [ngClass]="'initials ' + initialClass">
        {{ initials }}
    </div>
</div>
