avatar {
    .avatar-content {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        
        &.circle {
            border-radius: 50%;
            overflow: hidden;
        }

        img {
            width: inherit;
            height: inherit;
        }

        .initials {
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.2625px;
            font-weight: 700;
        }
    }

    .mat-mdc-badge-content {
        right: -4px !important;
        top: -4px !important;
        font-size: 11px;
    }
}
