<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data" (maximizeEvent)="ciqChart.legend = $event">
    <!-- your code goes here -->
    <div
        *ngIf="ciqChart.datasets.length >= 1 && ciqChart.datasets[0].data.length"
        fxLayout="column"
        fxLayoutAlign="center center"
        class="w-100-p h-100-p"
    >
        <div class="tw-chart w-100-p h-100-p p-4" #chartContainerRef>
            <canvas
                baseChart
                [colors]="ciqChart.colors"
                [datasets]="ciqChart.datasets"
                [options]="ciqChart.options"
                [labels]="ciqChart.labels"
                [legend]="ciqChart.legend"
                chartType="pie"
            >
            </canvas>
            <!-- <div class="t-pie-chart-value">{{ widget.data[1].value }}</div> -->
        </div>
    </div>

    <div
        *ngIf="ciqChart.datasets.length === 0 || (ciqChart.datasets.length >= 1 && !ciqChart.datasets[0].data.length)"
        class="w-100-p h-100-p text-center"
        fxLayout
        fxLayoutAlign="center center"
    >
        <p>No Data Available</p>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
