<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data">

    <!-- your code goes here -->
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="center center">
        <span class="mat-headline mb-0 text-center tw-su-total-calls-relative">
            <!-- inorder to access the class variable use angular expression {{ data }} -->
            <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-pie-chart>
            <div class="tw-su-total-calls-chart-value">76</div>
        </span>
    </div>
    <!-- your code goes here -->

</tw-wrapper>