@mixin shared-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    $mat-warn: map-get($theme, warn);

    bookmarks {
        .mat-tree-node {
            &:hover {
                background-color: map-get($background, hover);
            }
        }
    }
}
