<!-- No interaction template -->
<twc-not-found
    *ngIf="interactions.length === 0"
    class="tw-widget-container"
    [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }"
    title="No Interaction"
    type="interaction"
    [message]="'No ' + type + ' interaction yet!'"
></twc-not-found>

<!-- Interaction template -->
<ng-container *ngFor="let item of interactions; index as i">
    <!-- widget template -->
    <div
        class="tw-interaction tw-widget-container"
        [ngClass]="item.interactionDetails.InteractionID === activeInteraction ? 'active' : ''"
        [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }"
    >
        <div
            class="twd-flex twd-flex-col twd-justify-start twd-items-center xl:twd-flex-row xl:twd-justify-center xl:twd-items-stretch twd-flex-full twd-w-full twd-h-full twd-gap-1.5"
        >
            <tw-template
                *ngIf="item.widgets.static.length > 0"
                [ngClass]="{ 'xl:twd-max-w-4/12': item.widgets.dynamic.length > 0 }"
                class="static-widget-grid twd-flex-full twd-gap-1.5"
                [widgets]="item.widgets.static"
            ></tw-template>

            <tw-template
                *ngIf="item.widgets.dynamic.length > 0"
                [ngClass]="{ 'xl:twd-max-w-8/12': item.widgets.static.length > 0, 'static-less': item.widgets.static.length === 0 }"
                class="dynamic-widget-grid twd-flex-full twd-gap-1.5"
                [widgets]="item.widgets.dynamic"
            ></tw-template>

            <ng-container *ngIf="item.widgets.localAOT$ | async as localAOTs">
                <div class="aot-widgets">
                    <tw-template *ngFor="let item of localAOTs" [widget]="item"></tw-template>
                </div>
            </ng-container>

            <div
                class="tw-aot-fab"
                cdkDrag
                cdkDragBoundary=".tw-widget-container"
                (cdkDragStarted)="aotFABDrag = true"
                (cdkDragReleased)="aotFABDrag = false"
                *ngIf="item.widgets.aot?.length > 0"
            >
                <widget-fab [aotFABDrag]="aotFABDrag" [fabWidgets]="item.widgets.aot"></widget-fab>
            </div>
        </div>
    </div>

    <!-- No widget for interaction -->
    <twc-not-found
        *ngIf="!item.widgets.static.length && !item.widgets.dynamic.length"
        class="tw-widget-container"
        [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }"
        title="No Widgets"
        type="widget"
        [message]="'No ' + type + ' widgets found!'"
    ></twc-not-found>
</ng-container>
