@import 'app/scss/general/_variables';

.tw-notification-list {
    width: 360px;
    max-width: 400px;
    max-height: 600px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: $generic-border-radius-sm;

    button {
        height: 3.2rem;
        line-height: 2rem;
    }

    .nill {
        background: #B8B8B8 !important;
    }

    & > div {
        padding: 0 !important;
    }

    .menu-header {
        @apply twd-p-3 twd-font-semibold twd-text-white;
    }

    .notification-icon {
        @apply twd-bg-primary-200 twd-rounded-full twd-h-10 twd-min-w-10;
    }

    .notification-list {
        width: 100%;
        height: calc(100% - 40px);

        .item {
            padding: 12px;
            border-bottom: 1px solid rgb(0 0 0 / 0.1);
            &:not(:last-child) {
                margin-bottom: 8px;
            }
            .notification-time {
                color: #ACAEBE;
                @apply twd-font-medium;
            }
        }

        .message {
            word-break: break-word;
            font-size: 14px;
            line-height: 20px;
            .notcol {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }
}

.nr-img {
    height: 30px;
    width: auto;
}

.notification-btn
{
    position: relative;
    &::after{
        
            content: "";
            position: absolute;
            bottom: -10px; /* Adjust based on placement */
    
            width: 10px;
            height: 20px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid; /* Match menu background */
            border-bottom-color: var(--twd-accent-700);
            opacity: 0;
    }
    &.opened::after{
        opacity: 1;
    }
    &.nill::after{
        border-bottom-color: #B8B8B8;
    }
}