@import 'src/@fuse/scss/fuse';

tw-agent-details {
    .agent-details {
        width: 130px;

        @include media-breakpoint('xs') {
            width: 80px;
        }

        @include media-breakpoint('sm') {
            width: 100px;
        }

        .agent-status,
        .username {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
    }
    .avatar {
        background-size: cover;
        border-radius: 1rem;
        border: 2px solid #fafafa;
        height: 44px;
        width: 48px;
    }

    .element-status {
        left: 38px;
        bottom: 0px;
        border: 1px solid #ffffff;
    }

    .user-button {
        padding: 0 8px;
    }
}

.agent-info-menu {
    &.mat-menu-panel {
        .mat-menu-item {
            .mat-icon {
                margin-right: 8px;
            }
        }
    }
}
