@import '@fuse/scss/fuse';

tw-agent-details {
    .agent-details {
        width: 130px;
        height: 64px;
        cursor: pointer;
        margin-top: 10px;

        &.auxCode {
            width: 150px;
        }

        @include media-breakpoint('xs') {
            width: 80px;
        }

        @include media-breakpoint('sm') {
            width: 100px;
        }

        .arrow-icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }

    .avatar {
        @apply twd-rounded-full;
        background-size: cover;
        
        border: 2px solid #fafafa;
        height: 44px;
        width: 48px;
    }

    .element-status {
        left: 32px;
        bottom: 0px;
        border: 1.5px solid #ffffff;
    }

    .user-button {
        padding: 0 8px;
    }
}

.agent-info-menu, .aux-menu {
    max-height: 350px;
}
