<div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center" *ngIf="agentData.agentName">
    <button
        mat-button
        class="user-button"
        [ngClass]="{ opened: opened }"
        (menuOpened)="opened = true"
        (menuClosed)="opened = false"
        [matMenuTriggerFor]="userMenu"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div fxLayout="row" fxLayoutAlign="center center" class="position-relative">
            <img
                class="avatar mr-0 mat-elevation-z3"
                [style.backgroundImage]="'url(' + (agentData.profilePicture ? agentData.profilePicture : 'assets/images/avatars/profile.jpg') + ')'"
                *ngIf="data.Data.ProfilePicture"
                [ngClass]="
                    agentData.agentStatus.includes('Available')
                        ? 'border-sm-alt-success'
                        : agentData.agentStatus.includes('On Call')
                        ? 'border-sm-alt-danger'
                        : 'border-sm-alt-warning'
                "
            />
            <span
                class="element-status"
                [ngClass]="
                    agentData.agentStatus.includes('Available')
                        ? 'bg-alt-success'
                        : agentData.agentStatus.includes('On Call')
                        ? 'bg-alt-danger'
                        : 'bg-alt-warning'
                "
            ></span>
        </div>
    </button>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="agent-info-menu custom">
        <button mat-menu-item fxLayout fxLayoutAlign=" center" matTooltip="Lan ID">
            <mat-icon>view_agenda</mat-icon>
            <span>{{ agentData.lanId }}</span>
        </button>

        <button mat-menu-item fxLayout fxLayoutAlign=" center" matTooltip="Agent ID">
            <mat-icon>perm_identity</mat-icon>
            <span>{{ agentData.agentId }}</span>
        </button>

        <button mat-menu-item *ngIf="agentData.agentProfile" fxLayout fxLayoutAlign=" center" matTooltip="Agent Profile">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>{{ agentData.agentProfile === 'S' ? 'Supervisor' : 'Agent' }}</span>
        </button>

        <button mat-menu-item *ngIf="agentData.lanId !== agentData.deviceId" fxLayout fxLayoutAlign=" center" matTooltip="Station ID">
            <mat-icon>phonelink_setup</mat-icon>
            <span>{{ agentData.deviceId }}</span>
        </button>

        <button mat-menu-item *ngIf="agentData.teamName" fxLayout fxLayoutAlign=" center" matTooltip="Team Name">
            <mat-icon>people_alt</mat-icon>
            <span> {{ agentData.teamName }} </span>
        </button>

        <button mat-menu-item *ngIf="agentData.isMSAgent" fxLayout fxLayoutAlign=" center">
            <mat-icon>phonelink</mat-icon>
            <span>Webphone</span>
        </button>
    </mat-menu>

    <div
        fxLayout="column"
        fxLayoutAlign="center start"
        class="p-4 agent-details"
        matRipple
        [matRippleDisabled]="!auxCodeConfig.Enabled"
        [matMenuTriggerFor]="auxCodeConfig.Enabled && auxMenu"
        [ngClass]="{
            opened: auxOpened,
            auxCode: auxCodeConfig.Enabled
        }"
        (menuOpened)="auxOpened = true"
        (menuClosed)="auxOpened = false"
    >
        <span class="mat-body-2 m-0 username mr-12 line-height-24">{{ agentData.agentName }}</span>
        <span class="mat-caption agent-status" *ngIf="data.Data.Status">{{ agentData.agentStatus }}</span>
        <mat-icon *ngIf="auxCodeConfig.Enabled" class="arrow-icon s-24" fxHide.xs>keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu class="custom" #auxMenu="matMenu" xPosition="before">
        <button
            mat-menu-item
            *ngFor="let item of auxCodesList"
            (click)="changeStatus(item)"
            disabled="{{ item.Name === currentAux || item.Code === 'nodata' }}"
        >
            <mat-icon class="{{ item.Code.toLowerCase() }}">
                {{ item.Code.toLowerCase() === 'available' ? 'check_circle' : item.Code === 'logout' ? 'settings_power' : 'remove_circle' }}
            </mat-icon>
            <span>{{ item.Name }}</span>
        </button>
    </mat-menu>
</div>
