tw-agent-details {
    .agent-details {
        width: 100px;

        .agent-status,
        .username {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
        }
    }
    .avatar {
        background-size: cover;
        border-radius: 1rem;
        border: 2px solid #fafafa;
        height: 44px;
        width: 48px;
    }

    .user-button {
        padding: 0 8px;
    }
}
