<div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center" *ngIf="agentData.agentName">
    <button mat-button class="user-button" [matMenuTriggerFor]="userMenu" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center" class="position-relative">
            <img
                class="avatar mr-0"
                [style.backgroundImage]="'url(' + (agentData.profilePicture ? agentData.profilePicture : 'assets/images/avatars/profile.jpg') + ')'"
                *ngIf="data.Data.ProfilePicture"
                [ngClass]="
                    agentData.agentStatus.includes('Available')
                        ? 'border-sm-alt-success'
                        : agentData.agentStatus.includes('On Call')
                        ? 'border-sm-alt-danger'
                        : 'border-sm-alt-warning'
                "
            />
            <span
                class="element-status"
                [ngClass]="
                    agentData.agentStatus.includes('Available')
                        ? 'bg-alt-success'
                        : agentData.agentStatus.includes('On Call')
                        ? 'bg-alt-danger'
                        : 'bg-alt-warning'
                "
            ></span>
        </div>
    </button>

    <div fxLayout="column" fxLayoutAlign="center start" class="ml-4 agent-details">
        <span class="mat-body-2 m-0 username mr-12 line-height-24">{{ agentData.agentName }}</span>
        <span class="mat-caption agent-status" *ngIf="data.Data.Status">{{ agentData.agentStatus }}</span>
    </div>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="agent-info-menu">
        <button mat-menu-item fxLayout fxLayoutAlign=" center">
            <mat-icon>perm_identity</mat-icon>
            <span>{{ agentData.agentId }}</span>
        </button>

        <button mat-menu-item *ngIf="agentData.agentProfile" fxLayout fxLayoutAlign=" center">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>{{ agentData.agentProfile === 'S' ? 'Supervisor' : 'Agent' }}</span>
        </button>

        <button mat-menu-item *ngIf="agentData.lanId !== agentData.deviceId" fxLayout fxLayoutAlign=" center">
            <mat-icon>phonelink_setup</mat-icon>
            <span>{{ agentData.deviceId }}</span>
        </button>

        <button mat-menu-item *ngIf="agentData.teamName" fxLayout fxLayoutAlign=" center">
            <mat-icon>people_alt</mat-icon>
            <span> {{ agentData.teamName }} </span>
        </button>

        <button mat-menu-item *ngIf="agentData.isMSAgent" fxLayout fxLayoutAlign=" center">
            <mat-icon>phonelink</mat-icon>
            <span>MS Agent</span>
        </button>
    </mat-menu>
</div>
