<tw-wrapper [data]="data" (maximizeEvent)="chart.legend = $event">
    <div
        *ngIf="chart.datasets.length >= 1 && chart.datasets[0].data.length"
        class="twd-flex twd-flex-col twd-justify-center twd-items-center twd-w-full twd-h-full animate__animated animate__zoomIn animate__faster"
    >
        <div class="tw-chart twd-w-full twd-h-full twd-p-2" #chartContainerRef>
            <canvas
                baseChart
                class="box-shadow-3d"
                [colors]="chart.colors"
                [datasets]="chart.datasets"
                [options]="chart.options"
                [labels]="chart.labels"
                [legend]="chart.legend"
                [chartType]="chart.type"
            >
            </canvas>
            <!-- <div class="t-pie-chart-value">{{ widget.data[1].value }}</div> -->
        </div>
    </div>

    <div
        *ngIf="chart.datasets.length === 0 || (chart.datasets.length >= 1 && !chart.datasets[0].data.length)"
        class="twd-flex twd-flex-col twd-justify-center twd-items-center twd-w-full twd-h-full twd-text-center"
    >
        <img src="assets/images/vectors/no-data-1.svg" class="twd-w-10/12 twd-h-10/12 box-shadow-3d" />
        <p class="text-center m-0" [ngClass]="{ 'mat-display-2': chart.legend, ' mat-title': !chart.legend }">{{ noDataMessage }}</p>
    </div>
</tw-wrapper>
