<div class="custom-scroll-adjust twd-flex twd-flex-1 twd-flex-col">
    <mat-list class="date" cdkFocusRegionStart>
        <h3 matSubheader cdkFocusInit>
            <span>Today</span>
        </h3>
        <div class="secondary-text mb-0 p-16">
            <ng-container *ngIf="date$ | async as date">
                <div class="mb-12 twd-text-3xl">
                    {{ date | date: 'mediumTime' }}
                </div>

                <div class="twd-flex twd-flex-row twd-items-start twd-justify-start twd-text-2xl">
                    <span> {{ date | date: 'd' }}</span>
                    <span class="mat-subheading-1">th</span>
                    <span> {{ date | date: 'MMMM' }}</span>
                    <span> , {{ date | date: 'EEEE' }} </span>
                </div>
            </ng-container>
        </div>
    </mat-list>

    <mat-divider cdkFocusRegionEnd></mat-divider>

    <!-- <mat-list>
        <h3 matSubheader>
            <span>Events</span>
        </h3>

        <mat-list-item *ngFor="let event of events">
            <h3 matLine>{{ event.title }}</h3>
            <p matLine class="secondary-text">{{ event.detail }}</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
        <h3 matSubheader>
            <span>Notes</span>
        </h3>

        <mat-list-item *ngFor="let note of notes">
            <h3 matLine>{{ note.title }}</h3>
            <p matLine class="secondary-text">{{ note.detail }}</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider> -->

    <mat-list>
        <h3 matSubheader>
            <span>Quick Settings</span>
        </h3>

        <mat-list-item>
            <mat-slide-toggle
                class="mat-primary twd-flex-1"
                [(ngModel)]="settings.desktopAlert"
                (change)="updateSettings('desktopAlert', $event.checked)"
                aria-label="Notifications"
                labelPosition="before"
            >
                <h3>Browser Notifications</h3>
            </mat-slide-toggle>
        </mat-list-item>

        <mat-list-item>
            <mat-slide-toggle
                class="mat-primary twd-flex-1"
                [(ngModel)]="settings.sounds"
                (change)="updateSettings('sounds', $event.checked)"
                aria-label="Notifications"
                labelPosition="before"
            >
                <h3>Notifications Sound</h3>
            </mat-slide-toggle>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <!-- <mat-list>
        <h3 matSubheader>
            <span>Pinned Widgets</span>
        </h3>
        <div class="p-16 pt-0">
            <ng-container *ngFor="let widget of pinnedAOTs">
                <button
                    mat-mini-fab
                    color="secondary"
                    *ngIf="widget.Config.Enabled"
                    class="fab-secondary mr-8 mb-8"
                    [matTooltip]="widget.Name || 'Widget'"
                    (click)="openAOTWidget(widget)"
                >
                    <mat-icon>{{ widget.Config.Icon || 'widget' }}</mat-icon>
                </button>
            </ng-container>
            <button
                mat-mini-fab
                color="primary"
                class="fab-secondary mr-8 mb-8"
                (click)="openAddLink = !openAddLink"
                matTooltip="Add New Link"
                cdkOverlayOrigin
                #addLink="cdkOverlayOrigin"
            >
                <mat-icon [@fabToggler]="{ value: openAddLink ? 'active' : 'inactive' }">add</mat-icon>

                <ng-template
                    cdkConnectedOverlay
                    [cdkConnectedOverlayOrigin]="addLink"
                    [cdkConnectedOverlayOpen]="openAddLink"
                    cdkConnectedOverlayHasBackdrop
                    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                    (overlayOutsideClick)="openAddLink = false"
                    [cdkConnectedOverlayPositions]="[{ originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top' }]"
                >
                    <mat-card class="add-link-card">
                        <mat-card-header>
                            <mat-card-title>Add New Link</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="twd-flex twd-flex-row twd-justify-start twd-items-center">
                                <div class="text-bold w-80">Name:</div>
                                <mat-form-field appearance="outline" class="custom with-bg with-border twd-flex-1">
                                    <input matInput required placeholder="Name" [(ngModel)]="linkName" />
                                    <mat-error> Link name is required </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="twd-flex twd-flex-row twd-justify-start twd-items-center mt-4">
                                <div class="text-bold w-80">URL:</div>
                                <mat-form-field
                                    floatLabel="never"
                                    appearance="standard"
                                    class="link-txt mb-8 border-radius-20 border-xs-info twd-flex-1"
                                >
                                    <textarea
                                        [(ngModel)]="newLink"
                                        matInput
                                        matTextareaAutosize
                                        matAutosizeMinRows="3"
                                        matAutosizeMaxRows="5"
                                        placeholder="Enter URL Here..."
                                    ></textarea>
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                        <div class="twd-flex twd-flex-row twd-justify-end twd-items-center">
                            <button mat-button class="mr-8" color="warn" (click)="openAddLink = false">CANCEL</button>
                            <button mat-raised-button color="primary" (click)="addNewLink()" [disabled]="!linkName && !newLink">ADD</button>
                        </div>
                    </mat-card>
                </ng-template>
            </button>
        </div>
    </mat-list>
    <mat-divider></mat-divider> -->
</div>
