<div fxLayout="column" class="w-100-p h-100-p px-20 twd-overflow-y-auto">
    <form class="my-8" novalidate>
        <div class="border-primary border-radius-20 w-100-p p-12">
            <div [formGroup]="emailRecipientFacade">
                <div *ngIf="from">
                    <div>
                        <span class="twd-font-bold twd-mr-1"> From: </span>
                        {{ from }}
                    </div>
                </div>
                <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="8px" class="twd-my-3">
                    <label for="toField" class="font-weight-700">To : </label>
                    <div class="twd-flex-1 twd-flex">
                        <ng-container *ngTemplateOutlet="recipientInputField; context: { key: 'To' }"></ng-container>
                        <span class="twd-cursor-pointer twd-text-xs twd-font-bold" (click)="showCcBcc = !showCcBcc"> CC/BCC </span>
                    </div>
                </div>
                <small *ngIf="emailRecipientFacade.controls.To.errors" class="twd-text-red-600"> To Email Address required </small>

                <ng-container *ngIf="showCcBcc">
                    <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="8px" class="twd-my-3">
                        <label for="ccField" class="font-weight-700">CC : </label>
                        <ng-container *ngTemplateOutlet="recipientInputField; context: { key: 'CC' }"></ng-container>
                    </div>

                    <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="8px" class="twd-my-3">
                        <label for="bccField" class="font-weight-700">BCC : </label>
                        <ng-container *ngTemplateOutlet="recipientInputField; context: { key: 'BCC' }"></ng-container>
                    </div>
                </ng-container>
            </div>

            <div fxLayout fxLayoutGap="8px" fxLayoutAlign="space-between" class="twd-my-3">
                <label for="subjectField" class="font-weight-700">Subject : </label>
                <input id="subjectField" class="flex-1 my-2" matInput [(ngModel)]="email.Subject" name="Subject" />
            </div>
        </div>
    </form>

    <div fxLayout="row wrap" fxLayoutGap="10px" *ngIf="email.Files.length || uploadingFiles.length" class="w-100-p mb-12">
        <mat-chip-list #chipList aria-label="file selection">
            <mat-chip class="twd-py-4 twd-text-sm twd-font-bold" *ngFor="let file of email.Files" removable (removed)="removeFiles(file.Id)">
                <mat-icon>attach_file</mat-icon>
                <div class="twd-ml-1 twd-w-10/12">
                    <div class="m-0 twd-truncate twd-w-full">{{ file.Name }}</div>
                    <a target="_blank" [href]="file.URL">
                        <small>View file</small>
                    </a>
                </div>
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip class="twd-py-4 twd-text-sm twd-font-bold" *ngFor="let file of uploadingFiles">
                <mat-icon>attach_file</mat-icon>
                <div class="twd-ml-1 twd-w-10/12">
                    <div class="m-0 twd-truncate twd-w-full">{{ file }}</div>
                    <span> (uploading ...) </span>
                </div>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="email-editor-container border-primary flex-1 twd-flex twd-flex-col border-radius-20 mb-12 twd-overflow-hidden">
        <div class="twd-flex-1 editor-wrapper position-relative twd-overflow-hidden">
            <div class="h-100-p w-100-p twd-absolute twd-top-0 twd-left-0">
                <quill-editor
                    (onEditorCreated)="setFocus($event)"
                    class="email-editor"
                    classes="editor-container twd-overflow-auto twd-max-h-full border-radius-20"
                    [(ngModel)]="email.Body"
                    placeholder="Write your mail"
                    [modules]="editorConfig.modules"
                    format="html"
                >
                </quill-editor>
            </div>
        </div>
    </div>

    <div class="twd-flex twd-justify-end twd-gap-2">
        <button mat-raised-button mat-icon-button color="primary" class="mx-4" matTooltip="Attach file" (click)="attachFileRef.click()">
            <mat-icon>attach_file</mat-icon>
            <input #attachFileRef type="file" (click)="$event.target.value = null" (change)="onFileInput($event)" style="display: none" />
        </button>
        <email-template-selector (selectTemplate)="selectTemplate($event)"></email-template-selector>
        <button mat-raised-button mat-icon-button color="primary" class="mx-4" matTooltip="Send Email" (click)="triggerEmailSend()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>

<ng-template let-key="key" #recipientInputField>
    <mat-chip-list class="twd-w-full twd-flex-1 twd-flex twd-flex-wrap" #chipList>
        <mat-chip *ngFor="let email of email[key]" class="twd-my-0 twd-min-h-0" selectable removable (removed)="remove(key, email)">
            <span class="twd-truncate">
                {{ email }}
            </span>
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input [formControl]="emailRecipientFacade.get(key)" matInput [matAutocomplete]="suggestedUsersRef" class="my-2 twd-flex-1" />
    </mat-chip-list>
    <mat-autocomplete autoActiveFirstOption #suggestedUsersRef="matAutocomplete" (optionSelected)="select(key, $event)">
        <mat-option *ngFor="let user of suggestedUsers" [value]="user">
            {{ user }}
        </mat-option>
    </mat-autocomplete>
</ng-template>
