@mixin tw-amdocs-bcc-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    $mat-warn: map-get($theme, warn);

    tw-ad-amdocs-bcc {
        mat-form-field {
            &.custom {
                .mat-form-field-wrapper {
                    .mat-form-field-outline {
                        @if ($is-dark) {
                            background-color: map-get($background, hover);
                        }
                    }
                }
            }
        }
        .mat-form-field-wrapper {
            .mat-form-field-flex {
                .mat-form-field-infix {
                    textarea {
                        @if ($is-dark) {
                            background-color: map-get($background, hover);
                        }
                    }
                }
            }
        }
    }
}
