tw-ad-amdocs-bcc {
    mat-form-field {
        .mat-form-field-wrapper {
            padding: 0 !important;
            .mat-form-field-outline {
                border-radius: 16px;
                background-color: #ffffff;
            }
            .mat-form-field-infix {
                padding: 0.65em 0.5rem !important;
            }
        }
    }

    .case-note {
        .mat-form-field-wrapper {
            height: 90%;

            .mat-form-field-flex {
                height: 100%;
                padding: 0 !important;

                .mat-form-field-infix {
                    border-top: 0.3em solid transparent;
                    height: 100%;
                    padding: 0 !important;

                    textarea {
                        border-radius: 16px;
                        background-color: #ffffff;
                        overflow: hidden;
                        width: 100%;
                        height: 100% !important;
                        padding: 12px 12px 10px 12px;
                    }
                }
            }

            .mat-form-field-underline {
                display: none !important;
            }
        }

        button {
            position: absolute;
            bottom: -12px;
            right: 20px;
        }
    }
}
