<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->

<!-- PLEASE NOTE: do not add any other attributes or directive to 'tw-wrapper' selector -->

<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div
        *ngIf="!caseData.submitted"
        fxFill
        fxLayout="column"
        class="px-16"
        fusePerfectScrollbar
        [fusePerfectScrollbarOptions]="{ suppressScrollX: true }"
    >
        <div fxLayout>
            <p fxFlex="20" fxLayoutAlign=" center" class="px-8">Case ID</p>
            <mat-form-field fxFlex appearance="outline" class="custom case-id">
                <input matInput required placeholder="Case ID" [(ngModel)]="caseData.caseId" />
                <mat-error> Case ID is required </mat-error>
            </mat-form-field>
        </div>
        <div fxFlex fxLayout>
            <p fxFlex="20" fxLayoutAlign=" flex-start" class="px-8 mt-16">Case Notes</p>
            <mat-form-field fxFlex floatLabel="never" appearance="standard" class="custom case-note">
                <textarea
                    fxFlex
                    matInput
                    placeholder="Enter case notes here..."
                    matAutosizeMinRows="1"
                    [(ngModel)]="caseData.caseText"
                    [matTextareaAutosize]="true"
                ></textarea>
                <button class="submit-btn bg-success border-radius-20" (click)="addCase()" mat-button>Submit</button>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="caseData.submitted" class="w-100-p h-100-p">
        <ul class="tw-list w-100-p" fusePerfectScrollbar>
            <li class="tw-list-item selectable" *ngFor="let case of caseData.cases; let i = index" fxLayout fxLayoutAlign="space-between center">
                <div fxFlex="50" fxLayout fxLayoutAlign="start center">
                    <mat-icon class="mr-4"> insert_drive_file </mat-icon>
                    <span class="text-truncate"> {{ case.name }} </span>
                </div>
                <mat-chip-list>
                    <mat-chip
                        [ngClass]="{
                            'text-primary': i != 2,
                            'text-danger': i == 2
                        }"
                    >
                        <small> {{ i == 2 ? 'Open' : 'Closed' }} </small>
                    </mat-chip>
                </mat-chip-list>
            </li>
        </ul>
    </div>

    <!-- your code goes here -->
</tw-wrapper>
