<ng-container
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async)
    } as customFuse"
>
    <ng-container
        *ngIf="{
            bulkSelection: !['sentitem'].includes(currentTab) && (state?.allowQueueTransfer || state?.deleteAllowed || currentTab === 'queue'),
            deleteAllowed: deleteAllowed && currentTab !== 'sentitem' && currentTab !== 'queue',
            hideCategoryMenu: false,
            allowQueueTransfer: currentTab === 'queue' && allowQueueTransfer,
            showEmailSwitcher: ['draft', 'sentitem', 'queue'].includes(currentTab),
            search: {
                global: {
                    empty: !globalSearch.form.value,
                    edited: globalSearch.data[currentTab] !== globalSearch.form.value
                },
                form: advancedSearch.data[currentTab]?.changed
            },
            openEmailResData: openEmailRes.data | async
        } as state"
    >
        <div
            #emailWorkBench
            class="email-workbench twd-w-full twd-h-full twd-py-2 twd-flex twd-relative"
            [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
        >
            <div *ngIf="!state.hideCategoryMenu && !noTabsAvailable" class="twd-ml-2 lg:twd-mx-2 border-radius-20 h-100-p">
                <div class="h-100-p py-20 twd-flex twd-flex-col twd-justify-between">
                    <div class="tab-menu twd-flex twd-flex-col twd-gap-4">
                        <ng-container *ngFor="let tab of availableTabs">
                            <button
                                class="twd-mb-3 pb-20"
                                mat-button
                                *ngIf="tab.enabled"
                                [matTooltip]="tab.label"
                                (click)="switchTab(tab.key)"
                                [disabled]="emailSearchRes.loading"
                                matTooltipPosition="right"
                                [ngClass]="{ 'mat-raised-button': currentTab === tab.key }"
                                [color]="currentTab === tab.key && 'accent'"
                            >
                                <mat-icon>{{ tab.icon }}</mat-icon>
                                <div>{{ tab.label }}</div>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="twd-w-full twd-grid twd-grid-cols-3 twd-gap-2 twd-px-2">
                <div
                    *ngIf="getEmailChecks() as selectedMails"
                    class="theme-bg twd-pb-5 border-radius-20 twd-h-full twd-col-span-3 lg:twd-col-span-1 twd-flex twd-flex-col"
                    [ngClass]="{
                        'twd-justify-center': noTabsAvailable
                    }"
                >
                    <ng-container *ngIf="!noTabsAvailable">
                        <div class="twd-sticky theme-bg twd-top-0 twd-left-0 twd-z-10 twd-py-2 twd-px-1.5 twd-shadow-md">
                            <div class="mt-8 border-radius-20 twd-relative twd-flex twd-items-center twd-justify-between lg:twd-justify-center">
                                <button class="lg:twd-hidden" #expandableButton (click)="state.hideCategoryMenu = !state.hideCategoryMenu">
                                    <mat-icon>{{ state.hideCategoryMenu ? 'menu' : 'menu_open' }}</mat-icon>
                                </button>
                                <form class="twd-max-w-6/12 lg:twd-max-w-full twd-flex-1" (ngSubmit)="submitGlobalSearchForm()">
                                    <mat-form-field class="custom with-border form-field w-100-p" appearance="outline">
                                        <input
                                            class="login-input"
                                            matInput
                                            [placeholder]="currentTab === 'queue' ? 'Search by Subject' : 'Search'"
                                            [formControl]="globalSearch.form"
                                        />
                                        <button *ngIf="state.search.global.empty" mat-icon-button matSuffix disabled type="button">
                                            <mat-icon matSuffix>search</mat-icon>
                                        </button>
                                        <button
                                            *ngIf="state.search.global.edited"
                                            mat-button
                                            color="primary"
                                            matSuffix
                                            mat-icon-button
                                            aria-label="Go"
                                            [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                        >
                                            <mat-icon>east</mat-icon>
                                        </button>
                                        <button
                                            *ngIf="!state.search.global.empty && !state.search.global.edited"
                                            type="button"
                                            mat-button
                                            color="accent"
                                            matSuffix
                                            mat-icon-button
                                            aria-label="Clear"
                                            [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                                            (click)="resetGlobalSearchForm(); doAdvancedSearch()"
                                        >
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </form>
                                <button
                                    mat-icon-button
                                    (click)="doAdvancedSearch()"
                                    [ngClass]="{ 'twd-animate-spin': polling.active }"
                                    [disabled]="polling.active"
                                    matTooltip="Refresh"
                                >
                                    <mat-icon>refresh</mat-icon>
                                </button>
                                <button
                                    mat-icon-button
                                    (click)="advancedSearch.show = !advancedSearch.show"
                                    cdkOverlayOrigin
                                    #advancedSearchMenu="cdkOverlayOrigin"
                                    class="twd-relative"
                                    matTooltip="Advance Search"
                                >
                                    <span
                                        *ngIf="state.search.form"
                                        class="twd-absolute twd-h-2 twd-w-2 twd-top-1.5 twd-right-1.5 twd-rounded-full twd-bg-primary-default"
                                    ></span>
                                    <mat-icon> more_vert </mat-icon>
                                    <ng-template
                                        cdkConnectedOverlay
                                        [cdkConnectedOverlayOrigin]="advancedSearchMenu"
                                        [cdkConnectedOverlayOpen]="advancedSearch.show"
                                        cdkConnectedOverlayHasBackdrop
                                        cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                                        (backdropClick)="advancedSearch.show = false"
                                        [cdkConnectedOverlayPositions]="[{ originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top' }]"
                                    >
                                        <div class="advanced-search-form mat-elevation-z2 border-radius-20">
                                            <p class="text-center text-bold twd-py-4 twd-h-[52px] border-bottom">Advanced Search</p>

                                            <form
                                                [formGroup]="advancedSearch.form"
                                                class="
                                                    px-12
                                                    twd-grid twd-grid-cols-2 twd-gap-1
                                                    lg:twd-gap-2
                                                    twd-h-[calc(100%-52px)] twd-overflow-y-auto
                                                "
                                                (ngSubmit)="submitAdvanceSearchForm()"
                                                novalidate
                                            >
                                                <mat-form-field class="twd-text-sm twd-col-span-2" appearance="outline">
                                                    <mat-label> Email ID </mat-label>
                                                    <input matInput formControlName="email" type="text" />
                                                </mat-form-field>
                                                <mat-form-field class="twd-text-sm" appearance="outline">
                                                    <mat-label> From Date </mat-label>
                                                    <input matInput formControlName="fromDate" [matDatepicker]="fromDatePicker" />
                                                    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #fromDatePicker></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field class="twd-text-sm" appearance="outline">
                                                    <mat-label> From Time </mat-label>
                                                    <input matInput formControlName="fromTime" type="time" />
                                                </mat-form-field>

                                                <mat-form-field class="twd-text-sm" appearance="outline">
                                                    <mat-label> To Date </mat-label>
                                                    <input matInput formControlName="toDate" [matDatepicker]="toDatePicker" />
                                                    <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #toDatePicker></mat-datepicker>
                                                </mat-form-field>
                                                <mat-form-field class="twd-text-sm" appearance="outline">
                                                    <mat-label> To Time </mat-label>
                                                    <input matInput formControlName="toTime" type="time" />
                                                </mat-form-field>

                                                <mat-form-field class="twd-text-sm" appearance="outline">
                                                    <mat-label> Subject </mat-label>
                                                    <input matInput formControlName="subject" type="text" />
                                                </mat-form-field>
                                                <mat-form-field class="twd-text-sm" appearance="outline">
                                                    <mat-label> Content </mat-label>
                                                    <input matInput formControlName="content" type="text" />
                                                </mat-form-field>

                                                <mat-form-field
                                                    class="twd-text-sm"
                                                    [ngClass]="{ 'twd-hidden': currentTab !== 'inbox' }"
                                                    appearance="outline"
                                                >
                                                    <mat-label> Assigned To (by agentID) </mat-label>
                                                    <input matInput formControlName="assignedTo" type="text" />
                                                </mat-form-field>

                                                <mat-form-field
                                                    class="twd-text-sm"
                                                    appearance="outline"
                                                    [ngClass]="{ 'twd-hidden': currentTab === 'queue' }"
                                                >
                                                    <mat-label> Session Id </mat-label>
                                                    <input matInput formControlName="inSessionId" type="text" />
                                                </mat-form-field>

                                                <mat-form-field appearance="outline" class="twd-text-sm twd-col-span-2">
                                                    <ng-container *ngIf="advancedSearch.form.controls.listOfMailboxes?.value as selectedMailboxes">
                                                        <mat-label>
                                                            {{
                                                                selectedMailboxes && selectedMailboxes.length
                                                                    ? 'List of mailboxes'
                                                                    : 'No mailboxes available'
                                                            }}
                                                        </mat-label>
                                                        <mat-select formControlName="listOfMailboxes" multiple>
                                                            <mat-select-trigger>
                                                                {{ selectedMailboxes ? selectedMailboxes[0] : '' }}
                                                                <span *ngIf="selectedMailboxes?.length > 1">
                                                                    (+{{ selectedMailboxes.length - 1 }}
                                                                    {{ selectedMailboxes?.length === 2 ? 'other' : 'others' }})
                                                                </span>
                                                            </mat-select-trigger>
                                                            <mat-option *ngFor="let mailbox of availableMailboxes" [value]="mailbox">{{
                                                                mailbox
                                                            }}</mat-option>
                                                        </mat-select>
                                                    </ng-container>
                                                </mat-form-field>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': currentTab !== 'inbox' }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Attachments : </span>
                                                    <input matInput placeholder="Input" class="twd-hidden" />
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="hasAttachments">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': currentTab !== 'inbox' }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Replied : </span>
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="replied">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': currentTab !== 'inbox' }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Closed : </span>
                                                    <input matInput placeholder="Input" class="twd-hidden" />
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="closed">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>

                                                <div class="my-16 twd-col-span-2 twd-flex" [ngClass]="{ 'twd-hidden': currentTab !== 'inbox' }">
                                                    <span class="mat-subheading-2 m-0 twd-w-4/12"> Assigned : </span>
                                                    <input matInput placeholder="Input" class="twd-hidden" />
                                                    <mat-radio-group class="twd-flex-1 twd-grid twd-grid-cols-3" formControlName="assigned">
                                                        <mat-radio-button [value]="2">Any</mat-radio-button>
                                                        <mat-radio-button [value]="1">Yes</mat-radio-button>
                                                        <mat-radio-button [value]="0">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="twd-col-span-2 twd-grid twd-grid-cols-2 twd-gap-3">
                                                    <button mat-raised-button class="adv-search-btn h-40 mb-8 border-radius-20">Search</button>
                                                    <button
                                                        mat-raised-button
                                                        class="adv-search-btn h-40 mb-8 border-radius-20"
                                                        type="button"
                                                        (click)="resetForm(); doAdvancedSearch()"
                                                    >
                                                        Reset
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </ng-template>
                                </button>
                            </div>

                            <div
                                id="sortControls"
                                class="twd-flex twd-items-center twd-justify-end twd-px-2 twd-pt-2"
                                [ngClass]="{ 'twd-justify-between': state.bulkSelection }"
                            >
                                <mat-checkbox
                                    *ngIf="state.bulkSelection"
                                    id="selectAllCtrl"
                                    (change)="selectEmails($event.checked)"
                                    [indeterminate]="selectedMails.some"
                                    [checked]="selectedMails.all"
                                    [disabled]="!dataSource.data?.length"
                                >
                                    Select All
                                </mat-checkbox>
                                <div class="twd-flex twd-items-center">
                                    <div class="twd-font-bold twd-text-sm">
                                        <button
                                            id="sortKeyBtn"
                                            mat-button
                                            class="twd-px-1.5"
                                            [matMenuTriggerFor]="sortMenu"
                                            [disabled]="!dataSource.data?.length"
                                        >
                                            <span> Sort By {{ sortControls.sortBy }} </span>
                                            <mat-menu class="custom" #sortMenu="matMenu">
                                                <button mat-menu-item (click)="sortControls.sortBy = 'Subject'; groupNodes()">
                                                    <span>Subject</span>
                                                </button>
                                                <button mat-menu-item (click)="sortControls.sortBy = 'Date'; groupNodes()">
                                                    <span>Date</span>
                                                </button>
                                            </mat-menu>
                                        </button>
                                        <button
                                            id="sortOrderBtn"
                                            mat-button
                                            (click)="sortControls.ascending = !sortControls.ascending; groupNodes()"
                                            class="twd-max-w-min twd-px-0"
                                            [disabled]="!dataSource.data?.length"
                                        >
                                            <mat-icon>
                                                {{ sortControls.ascending ? 'arrow_upward' : 'arrow_downward' }}
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="selectedMails.some || selectedMails.all" class="bulk-operations twd-mt-3 twd-mb-2 twd-flex twd-gap-1">
                                <button
                                    mat-raised-button
                                    class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                    *ngIf="currentTab === 'queue'"
                                    (click)="replyToSelectedEmails(getSelectedEmails())"
                                >
                                    Reply All
                                </button>

                                <button
                                    mat-raised-button
                                    class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                    *ngIf="state.allowQueueTransfer"
                                    (click)="transferEmail(getSelectedEmails())"
                                >
                                    Transfer All
                                </button>

                                <button
                                    mat-raised-button
                                    color="primary"
                                    *ngIf="currentTab === 'queue'"
                                    class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                    (click)="closeEmails(getSelectedEmails())"
                                >
                                    Close Emails
                                </button>

                                <button
                                    mat-raised-button
                                    color="accent"
                                    class="twd-flex-1 twd-text-xs sm:twd-text-sm lg:twd-text-base border-radius-20 mx-8"
                                    *ngIf="state.deleteAllowed"
                                    (click)="deleteEmails(getSelectedEmails())"
                                >
                                    Delete Emails
                                </button>
                            </div>
                        </div>

                        <!-- [ngClass]="{
                            'twd-h-[calc(100%-72px)]': !state.bulkSelection,
                            'twd-h-[calc(100%-116px)]': state.bulkSelection,
                            'twd-h-[calc(100%-172px)]': selectedMails.some || selectedMails.all
                        }" -->
                        <div *ngIf="dataSource.data.length && !emailSearchRes.error" class="twd-flex-1 twd-relative">
                            <div class="twd-absolute twd-h-full twd-w-full twd-p-3 twd-overflow-y-auto">
                                <ng-container *ngTemplateOutlet="treeNodeRef; context: { treeNode: dataSource.data }"></ng-container>
                            </div>
                        </div>

                        <div class="twd-p-3" *ngIf="emailSearchRes.loading && !dataSource.data.length">
                            <div
                                [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
                                class="twd-flex twd-items-center twd-truncate twd-rounded-3xl twd-w-full twd-pl-2"
                            >
                                <span class="twd-transform twd-transition-transform twd--rotate-90 twd-grid twd-place-items-center">
                                    <mat-icon> arrow_drop_down </mat-icon>
                                </span>
                                <skeleton class="twd-opacity-30 twd-w-5/12 twd-m-2"></skeleton>
                            </div>
                        </div>
                    </ng-container>

                    <div
                        *ngIf="!dataSource.data.length && !emailSearchRes.loading && !emailSearchRes.error"
                        class="w-100-p h-50-p twd-flex twd-items-center twd-justify-center"
                    >
                        <span class="twd-text-2xl"> There are no emails </span>
                    </div>

                    <div *ngIf="!emailSearchRes.loading && emailSearchRes.error" class="h-80-p twd-flex twd-justify-center twd-items-center">
                        <div class="twd-w-5/12">
                            <no-data-available [msg]="emailSearchRes.msg"></no-data-available>
                            <button class="mx-auto w-80-p mt-20 d-block" mat-raised-button color="primary" (click)="doAdvancedSearch()">Retry</button>
                        </div>
                    </div>
                </div>

                <div
                    *ngIf="openEmailRes.loading || state.openEmailResData as selectedEmail"
                    class="
                        email-open
                        border-radius-20
                        twd-flex twd-flex-col twd-absolute twd-overflow-auto twd-h-full twd-w-full twd-left-0 twd-top-0 twd-z-10
                        lg:twd-relative lg:twd-col-span-2 lg:twd-overflow-hidden lg:twd-h-auto
                    "
                >
                    <div class="twd-flex twd-justify-end twd-gap-4 twd-py-3 w-95-p">
                        <button
                            mat-raised-button
                            class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            *ngIf="state.allowQueueTransfer"
                            (click)="transferEmail([selectedEmail])"
                        >
                            Transfer
                        </button>
                        <button mat-raised-button class="border-radius-20 twd-text-xs lg:twd-text-sm" (click)="pullEmails([selectedEmail])">
                            Pull
                        </button>
                        <button
                            mat-raised-button
                            class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            *ngIf="state.deleteAllowed"
                            (click)="deleteEmails([selectedEmail])"
                        >
                            Delete
                        </button>
                        <!-- <button
                            mat-raised-button
                            class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            *ngIf="currentTab === 'queue'"
                            (click)="replyToSelectedEmails([selectedEmail])"
                        >
                            Reply
                        </button> -->
                        <button mat-raised-button class="border-radius-20 twd-text-xs lg:twd-text-sm" (click)="closeEmails([selectedEmail])">
                            Close
                        </button>
                        <button
                            mat-raised-button
                            class="border-radius-20 twd-text-xs lg:twd-text-sm"
                            color="accent"
                            *ngIf="currentTab === 'inbox'"
                            (click)="markAsSpam(selectedEmail)"
                        >
                            Mark As Spam
                        </button>
                        <button mat-icon-button (click)="openEmailRes.data.next(null)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>

                    <div
                        class="
                            email-open__body
                            twd-mx-4
                            border-radius-20
                            twd-mb-3 twd-flex-1 twd-flex twd-flex-col
                            lg:twd-overflow-hidden lg:twd-max-h-full
                        "
                        [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                    >
                        <email
                            class="twd-h-full"
                            mode="preview"
                            [email]="state.openEmailResData"
                            [state]="openEmailRes.error ? 'error' : openEmailRes.loading || sendingEmailAsMaker ? 'loading' : 'loaded'"
                            (retry)="openEmail(selectedEmail)"
                        >
                            <div id="emailInfo">
                                <div class="twd-flex twd-justify-between twd-px-7">
                                    <div fxFlex="80">
                                        <p class="text-bold my-4">To: {{ selectedEmail.ToList }}</p>
                                        <p class="text-bold my-4" *ngIf="selectedEmail.CCList">Cc : {{ selectedEmail.CCList }}</p>
                                        <p class="my-4 text-bold">From: {{ selectedEmail.From || 'NA' }}</p>
                                        <p class="my-4 text-bold">Status: {{ selectedEmail.CurrentStatus || 'NA' }}</p>
                                        <p class="my-4 text-bold">Agent: {{ selectedEmail.AgentName || 'NA' }}</p>

                                        <p class="my-4 text-bold">
                                            Closed Status: {{ selectedEmail.ClosedBy ? 'Closed by ' + selectedEmail.ClosedBy : 'Open' }}
                                        </p>

                                        <p class="my-4 text-bold" *ngIf="selectedEmail.Priority">Priority: {{ selectedEmail.Priority }}</p>
                                        <p class="my-4 text-bold" *ngIf="selectedEmail.RepliedStatus">
                                            Replied Status: {{ selectedEmail.RepliedStatus }}
                                        </p>
                                        <p class="my-4 text-bold" *ngIf="selectedEmail.Intent">Intent: {{ selectedEmail.Intent }}</p>
                                    </div>
                                    <div fxFlex="15">
                                        <p class="my-4">{{ selectedEmail.AddedTime | date: 'longDate' }}</p>
                                        <p class="my-4">{{ selectedEmail.AddedTime | date: 'shortTime' }}</p>
                                    </div>
                                </div>

                                <div
                                    *ngIf="
                                        state.showEmailSwitcher &&
                                        this.emailBodies[selectedEmail.InSessionId] &&
                                        this.emailBodies[selectedEmail.OutSessionId]
                                    "
                                    class="twd-p-3 twd-mt-1"
                                >
                                    <a
                                        *ngIf="latestEmailPreview"
                                        class="twd-cursor-pointer"
                                        (click)="latestEmailPreview = !latestEmailPreview; openEmail(selectedEmail)"
                                    >
                                        View original
                                    </a>
                                    <a
                                        *ngIf="!latestEmailPreview"
                                        class="twd-cursor-pointer"
                                        (click)="latestEmailPreview = !latestEmailPreview; openEmail(selectedEmail)"
                                    >
                                        View Checker Email
                                    </a>
                                </div>
                            </div>
                        </email>
                    </div>
                </div>

                <div
                    *ngIf="!state.openEmailResData && !openEmailRes.loading"
                    class="
                        email-open
                        twd-h-auto
                        lg:twd-h-full
                        border-radius-20
                        twd-col-span-2 twd-hidden
                        lg:twd-flex
                        twd-items-center twd-justify-center
                    "
                >
                    <div class="twd-flex twd-flex-col twd-justify-center">
                        <mat-icon class="s-128 mb-16 select-message-icon hint-text twd-mx-auto"> email </mat-icon>
                        <span class="twd-text-2xl">Select an email to read</span>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #replyDialog>
            <div class="twd-h-full twd-w-full twd-flex twd-flex-col twd-relative twd-p-2">
                <email
                    class="twd-h-full"
                    mode="quick-reply"
                    (sendEmail)="replyEditorModal.sendEmail($event)"
                    [email]="state.openEmailResData"
                    [state]="openEmailRes.error ? 'error' : openEmailRes.loading || sendingEmailAsMaker ? 'loading' : 'loaded'"
                    (retry)="openEmail(selectedEmail)"
                >
                </email>
            </div>
        </ng-template>

        <ng-template let-treeNode="treeNode" #treeNodeRef>
            <div
                [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
                class="twd-grid twd-w-full twd-rounded-3xl twd-pl-2 twd-mb-2"
                *ngFor="let node of treeNode; trackBy: trackBy"
            >
                <div
                    class="border-radius-20 twd-py-2"
                    [ngClass]="
                        customFuse.anchor?.body ||
                        customFuse.widget?.body +
                            ' ' +
                            (state.openEmailResData
                                ? state.openEmailResData.Mailbox === node.Mailbox
                                    ? node.Skill
                                        ? state.openEmailResData.Skill === node.Skill
                                            ? ' twd-text-primary-default'
                                            : ''
                                        : ' twd-text-primary-default'
                                    : ''
                                : '')
                    "
                >
                    <div class="twd-flex twd-items-center">
                        <div *ngIf="state.bulkSelection && !node.grandChildren && getEmailChecks(node.children) as selected">
                            <mat-checkbox
                                [indeterminate]="selected.some"
                                [checked]="selected.all"
                                (change)="selectEmails($event.checked, node.children)"
                            ></mat-checkbox>
                        </div>
                        <div
                            class="twd-flex-1 twd-flex twd-items-center twd-justify-between twd-cursor-pointer"
                            (click)="
                                node.expanded = !node.expanded; childrenRef.classList.toggle('twd-h-0'); iconRef.classList.toggle('twd--rotate-90')
                            "
                        >
                            <div class="twd-flex twd-items-center twd-truncate twd-max-w-11/12">
                                <span class="twd-transform twd-transition-transform twd--rotate-90 twd-grid twd-place-items-center" #iconRef>
                                    <mat-icon> arrow_drop_down </mat-icon>
                                </span>
                                <span class="twd-flex-1 font-weight-700 twd-truncate">
                                    {{ node.name || 'NA' }}
                                </span>
                            </div>
                            <span *ngIf="node.children" class="twd-px-3 twd-font-bold twd-text-sm twd-min-w-max">
                                ({{ node.grandChildren || node.children.length }})
                            </span>
                        </div>
                    </div>
                </div>

                <div class="twd-transition-all twd-h-0 twd-overflow-hidden" #childrenRef>
                    <ng-container *ngIf="node.grandChildren">
                        <ng-container *ngTemplateOutlet="treeNodeRef; context: { treeNode: node.children }"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="!node.grandChildren">
                        <ng-container *ngTemplateOutlet="emailListRef; context: { emailList: node.children }"></ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-template>

        <ng-template #emailListRef let-emailList="emailList">
            <div class="twd-flex twd-items-center">
                <cdk-virtual-scroll-viewport
                    [itemSize]="64"
                    [minBufferPx]="488"
                    [maxBufferPx]="512"
                    class="twd-w-full twd-min-h-[74px] twd-max-h[512px]"
                    [ngStyle]="{ 'height.px': emailList.length * 74 > 512 ? 512 : emailList.length * 76 }"
                >
                    <div
                        [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
                        class="twd-flex twd-rounded-3xl twd-pl-2"
                        [ngClass]="{ 'twd-pb-[1px]': emailList.length === 1 }"
                        *cdkVirtualFor="let node of emailList"
                        [cdkVirtualForTrackBy]="trackBy"
                    >
                        <div *ngIf="!node.children" class="twd-pl-3 twd-pr-2 twd-w-full">
                            <div
                                class="
                                    twd-rounded-3xl twd-w-full twd-flex twd-items-center twd-transition-all twd-border-2 twd-border-opacity-0
                                    mat-elevation-z1
                                "
                                [ngClass]="
                                    state.openEmailResData?.uiId === node.uiId
                                        ? ' twd-bg-primary-100 twd-border-primary-default twd-border-opacity-100'
                                        : ' theme-bg'
                                "
                            >
                                <div class="twd-p-3" *ngIf="state.bulkSelection">
                                    <mat-checkbox [value]="node.uiId" [(ngModel)]="node.checked"></mat-checkbox>
                                </div>

                                <div
                                    mat-ripple
                                    class="
                                        twd-flex-1 twd-flex twd-flex-wrap
                                        2xl:twd-flex-nowrap
                                        twd-justify-between twd-px-2 twd-py-1 twd-overflow-hidden
                                    "
                                    (click)="latestEmailPreview = true; openEmail(node)"
                                >
                                    <div class="twd-w-full 2xl:twd-max-w-9/12">
                                        <p class="font-weight-600 my-4 twd-break-all 2xl:twd-w-10/12">
                                            {{ (['sentitem', 'draft'].includes(currentTab) ? node.ToList : node.From) || 'NA' }}
                                        </p>
                                        <p class="my-4 twd-truncate twd-max-w-[180px]">
                                            Subject: <span class="twd-truncate" [innerHtml]="node.Subject"></span>
                                        </p>
                                    </div>

                                    <div class="twd-flex-1 twd-flex 2xl:twd-justify-between twd-items-start">
                                        <div class="twd-text-xs twd-font-bold twd-mt-1.5">
                                            <p>{{ node.AddedTime | date: 'mediumDate' }}</p>
                                            <span> {{ node.AddedTime | date: 'shortTime' }} </span>
                                        </div>
                                        <div *ngIf="node.HasAttachment" class="twd-transform twd-rotate-90">
                                            <span><mat-icon>attachment</mat-icon></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
        </ng-template>
    </ng-container>
</ng-container>
