@import 'app/scss/shared';

snack-bar-container {
    .cursor {
        cursor: pointer;
    }
    & > * {
        &,
        & > * {
            height: 100%;
        }
    }
}
    .mat-mdc-snack-bar-container {
        &.app-snackbar, .mat-mdc-snackbar-surface {
            color: #323232 !important;
            background: #ffffff !important;
            
            min-height: 56px;
            padding: 0;

            .icon {
                
            }

            &.info-snackbar {
                .icon {
                    color: $tw-info;
                }
            }

            &.success-snackbar {
                .icon {
                    // color: #ffffff;
                    // background: $tw-alt-success;
                    color: $tw-alt-success;
                }
            }

            &.warning-snackbar {
                .icon {
                    // color: #ffffff;
                    // background: $tw-alt-warning;
                    color: $tw-alt-warning;
                }
            }

            &.danger-snackbar {
                .icon {
                    // color: #ffffff;
                    // background: $tw-alt-danger;
                    color:  $tw-alt-danger;
                }
            }
        }
    }

