fuse-sidebar {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    navbar, .navbar-layout {
        @apply twd-h-full;

        .navbar-header {
            img {
                height: 32px;
                width: 32px;
            }
        }
        .navbar-content {
            .nav-list {
                @apply twd-justify-center twd-text-center twd-flex twd-flex-col twd-items-center twd-gap-2;
                .nav-item {
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    overflow: visible;
                    justify-content: center;
                    &.selected {
                        @apply twd-bg-accent-700;
                    }
                    .mdc-list-item__primary-text {
                        @apply twd-flex twd-overflow-visible;
                    }
                }
            }
        }
    }
}




