fuse-sidebar {
    width: 60px;
    max-width: 60px;
    min-width: 60px;
    navbar, .navbar-layout {
        @apply twd-h-full;

        .navbar-header {
            img {
                height: 32px;
                width: 32px;
            }
        }
    }
}




