@import "src/@fuse/scss/fuse";

fuse-sidebar {
    width: 72px;
    min-width: 72px;
    max-width: 72px;

    @include media-breakpoint("xs") {
        min-width: 0 !important;
        max-width: 72px !important;
        width: 72px !important;
    }

    &.navbar-fuse-sidebar {
        overflow: hidden;

        &.folded:not(.unfolded) {
            navbar {
                .navbar-header {
                    padding: 0 13px;

                    .logo {
                        .logo-text {
                            opacity: 0;
                            transition: opacity 200ms ease;
                        }
                    }
                }

                .navbar-content {
                    // Material 2 specific style
                    .material2 {
                        .nav-item {
                            .nav-link {
                                border-radius: 20px;
                                margin: 0 12px;
                                padding: 0 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.navbar {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        height: 100%;

        &.right-navbar {
            .toggle-sidebar-opened {
                mat-icon {
                    transform: rotate(180deg);
                }
            }
        }
    }

    navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .navbar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            min-height: 64px;
            padding: 0 16px 0 24px;
            transition: padding 200ms ease;
            @include mat-elevation(1);

            .logo {
                display: flex;
                align-items: center;

                .logo-icon {
                    width: 38px;
                    height: 38px;
                }

                .logo-text {
                    margin-left: 8px;
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 0.4px;
                }
            }
        }

        .navbar-content {
            flex: 1 1 auto;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            .twn-list {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .mat-list-item {
                    color: currentColor !important;
                }

                mat-selection-list {
                    overflow-x: hidden;
                    display: flex;
                    flex: 1 0 auto;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0;

                    // .top {
                    //     margin-top: 4rem;
                    // }

                    .bottom {
                        margin-bottom: 4rem;
                    }

                    .mat-list-option {
                        margin-bottom: 0.25rem;
                    }

                    .mat-ripple:not(:empty) {
                        border-top-right-radius: 2rem;
                        border-bottom-left-radius: 2rem;
                    }

                    .mat-list-option:hover {
                        border-top-right-radius: 2rem;
                        border-bottom-left-radius: 2rem;
                        background: rgba(0, 0, 0, 0.12);
                    }

                    .mat-list-item {
                        width: 70px !important;
                        height: 48px !important;
                        margin-bottom: 12px !important;
                    }
                    .mat-list-single-selected-option,
                    .mat-list-single-selected-option:hover,
                    .mat-list-single-selected-option:focus {
                        border-top-right-radius: 2rem;
                        border-bottom-left-radius: 2rem;
                        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                            0 6px 10px 0 rgba(0, 0, 0, 0.14),
                            0 1px 18px 0 rgba(0, 0, 0, 0.12);
                    }

                    .mat-list-text {
                        padding: 0 !important;
                    }
                }

                .brand-logo {
                    margin-bottom: 3rem;
                }
            }

            .mat-icon {
                color: currentColor !important;
            }
        }
    }
}

.top-navbar {
    .navbar-content {
        .twn-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5rem;

            .mat-list-item {
                color: currentColor !important;
            }

            mat-selection-list {
                overflow-x: hidden;
                display: flex;
                flex: 1 0 auto;
                justify-content: space-between;
                padding: 0;

                .top {
                    display: flex;
                }

                .bottom {
                    display: flex;
                    margin-right: 4rem;
                }

                .mat-list-option {
                    margin-right: 0.25rem;
                }

                .mat-ripple:not(:empty) {
                    border-top-right-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                }

                .mat-list-option:hover {
                    border-top-right-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    background: rgba(0, 0, 0, 0.12);
                }

                .mat-list-item {
                    width: 70px !important;
                    height: 48px !important;
                    margin-right: 12px !important;
                }
                .mat-list-single-selected-option,
                .mat-list-single-selected-option:hover,
                .mat-list-single-selected-option:focus {
                    border-top-right-radius: 2rem;
                    border-bottom-left-radius: 2rem;
                    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
                        0 6px 10px 0 rgba(0, 0, 0, 0.14),
                        0 1px 18px 0 rgba(0, 0, 0, 0.12);
                }

                .mat-list-text {
                    padding: 0 !important;
                }
            }

            .brand-logo {
                margin-right: 3rem;
            }
        }

        .mat-icon {
            color: currentColor !important;
        }
    }
}
