<div class="navbar-layout" fxLayout="column" fxFlex fxLayoutGap="3" [ngClass]="(customFuse$ | async).background">
    <div class="navbar-header twd-p-3">
        <img src="assets/images/logos/tetherfi-logo-white.png" />
    </div>
    <div class="navbar-content twd-gap-3" fxLayout="column" fxFlex fxLayoutGap="2">
        <mat-nav-list>
            <ng-container *ngFor="let item of topWidgets">
                <mat-list-item
                    *ngIf="item.Config.Enabled"
                    (click)="selectTab(item)"
                    #sidebarListOption
                    [activated]="item.Data.Active"
                    [matTooltip]="item.Name"
                    matTooltipPosition="after"
                    matTooltipClass="tooltip"
                    class="twd-mb-2 twd-opacity-50 hover:twd-opacity-100"
                    [ngClass]="{ 'twd-opacity-100': selected === item.Data.Path }"
                >
                    <mat-icon class="icon custom-warn-badge" mat-list-icon [matBadge]="item.Data.Count || ''">{{
                        item.Config.Icon || 'widgets'
                    }}</mat-icon>
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let item of bottomWidgets">
                <mat-list-item
                    *ngIf="item.Config.Enabled"
                    (click)="selectTab(item)"
                    #sidebarListOption
                    [activated]="item.Data.Active"
                    [matTooltip]="item.Name"
                    matTooltipPosition="after"
                    matTooltipClass="tooltip"
                    class="twd-mb-2 twd-opacity-50 hover:twd-opacity-100"
                    [ngClass]="{ 'twd-opacity-100': selected === item.Data.Path }"
                >
                    <mat-icon class="icon" mat-list-icon>{{ item.Config.Icon || 'widgets' }}</mat-icon>
                </mat-list-item>
            </ng-container>

            <mat-list-item mat-button class="button-settings" (click)="toggleSidebarOpen('themeOptionsPanel')">
                <mat-icon class="icon">settings</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>
