<div class="navbar-layout" fxLayout="column" fxFlex fxLayoutGap="3" [ngClass]="(customFuse$ | async).background">
    <div class="navbar-header twd-p-3">
        <!-- customer logo here -->
        <img src="assets/images/logos/tetherfi-logo-white.png" class="twd-h-10" />
    </div>
    <div class="navbar-content twd-gap-3" fxLayout="column" fxFlex fxLayoutGap="2">
        <mat-nav-list class="nav-list">
            <ng-container *ngFor="let item of topWidgets">
                <mat-list-item
                    *ngIf="item.Config.Enabled"
                    (click)="selectTab(item)"
                    #sidebarListOption
                    [activated]="item.Data.Active"
                    [matTooltip]="item.Name"
                    matTooltipPosition="after"
                    matTooltipClass="tooltip"
                    class="twd-mb-2 twd-opacity-50 hover:twd-opacity-100 hover:twd-bg-accent-700 nav-item"
                    [ngClass]="{ '!twd-opacity-100 selected': selected === item.Data.Path }"
                >
                    <mat-icon
                        class="icon custom-warn-badge !twd-text-white"
                        mat-list-icon
                        [matBadge]="item.Data.Count || ''"
                        >{{ item.Config.Icon || 'widgets' }}</mat-icon
                    >
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
            <ng-container *ngFor="let item of bottomWidgets">
                <mat-list-item
                    *ngIf="item.Config.Enabled"
                    (click)="selectTab(item)"
                    #sidebarListOption
                    [activated]="item.Data.Active"
                    [matTooltip]="item.Name"
                    matTooltipPosition="after"
                    matTooltipClass="tooltip"
                    class="twd-mb-2 twd-opacity-50 hover:twd-opacity-100"
                    [ngClass]="{ 'twd-opacity-100': selected === item.Data.Path }"
                >
                    <mat-icon class="icon !twd-text-white" mat-list-icon>{{ item.Config.Icon || 'widgets' }}</mat-icon>
                </mat-list-item>
            </ng-container>

            <mat-list-item mat-button class="button-settings" (click)="toggleSidebarOpen('themeOptionsPanel')">
                <mat-icon class="icon !twd-text-white">settings</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="twd-p-2.5">
        <img src="assets/images/logos/tetherfi-logo-white.png" class="twd-h-10" />
    </div>
</div>
