<div class="theme-options-panel custom-scroll-adjust">
    <div class="header">
        <span class="title">Theme Options</span>

        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form [formGroup]="form">
        <!-- COLOR THEME -->
        <div class="group">
            <h2>Color themes</h2>

            <mat-radio-group class="twd-flex twd-flex-col twd-justify-start twd-items-start" formControlName="colorTheme">
                <mat-radio-button class="mb-12" value="theme-default">Default Light</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-default-2">Default Light 2</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-default-3">Default Light 3</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-teal-red">Teal-Red Light</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-cyan-orange">Cyan-Orange Light</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-default-dark">Default Dark</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-blue-grey-dark">Blue-Grey Dark</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-pink-grey-dark">Pink-Grey Dark</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- WEB FONT -->
        <div class="group">
            <h2>Web Fonts</h2>

            <mat-radio-group class="twd-flex twd-flex-col twd-justify-start twd-items-start" formControlName="webFont">
                <mat-radio-button class="mb-12" value="wf-muli">Muli (Default)</mat-radio-button>
                <mat-radio-button class="mb-12" value="wf-montserrat">Montserrat</mat-radio-button>
                <mat-radio-button class="mb-12" value="wf-source-sans-pro">Source Sans Pro</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Flat theme -->
        <div class="group">
            <h2>Flat theme</h2>
            <mat-slide-toggle class="mb-12" formControlName="flatTheme"> Enable flat theme </mat-slide-toggle>
        </div>

        <!-- LAYOUT STYLES -->
        <div class="group" formGroupName="layout">
            <h2>Layout Styles</h2>

            <div>
                <ng-container [ngSwitch]="layoutStyle">
                    <!-- VERTICAL LAYOUT #1 -->
                    <ng-container *ngSwitchCase="'vertical-layout'">
                        <!-- LAYOUT WIDTH -->

                        <!-- NAVBAR -->
                        <div class="group" formGroupName="navbar">
                            <h2>Navbar</h2>

                            <h3 class="mt-24">Position:</h3>
                            <mat-radio-group class="twd-flex twd-flex-col twd-justify-start twd-items-start" formControlName="position">
                                <mat-radio-button class="mb-16" value="left">Left</mat-radio-button>
                                <mat-radio-button class="mb-16" value="right">Right</mat-radio-button>
                            </mat-radio-group>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-16 mb-8">Background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- TOOLBAR -->
                        <div class="group" formGroupName="toolbar">
                            <h2>Toolbar</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-24 mb-8">Background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- CONTENT -->
                        <div class="group" formGroupName="content">
                            <h2>Content</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-24 mb-8">Background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- ANCHOR WIDGET -->
                        <div class="group" formGroupName="anchorWidget">
                            <h2>Anchor Widget</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-24 mb-8">Body background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Header background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Content background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>

                        <!-- WIDGET -->
                        <div class="group" formGroupName="widget">
                            <h2>Widget</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-24 mb-8">Body background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Header background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Content background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>
                    </ng-container>

                    <!-- HORIZONTAL LAYOUT #1 -->
                    <ng-container *ngSwitchCase="'horizontal-layout-1'">
                        <!-- LAYOUT WIDTH -->

                        <!-- NAVBAR -->
                        <div class="group" formGroupName="navbar">
                            <h2>Navbar</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-16 mb-8">Background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- TOOLBAR -->
                        <div class="group" formGroupName="toolbar">
                            <h2>Toolbar</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-24 mb-8">Background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- CONTENT -->
                        <div class="group" formGroupName="content">
                            <h2>Content</h2>

                            <h3 class="mt-24 mb-8">Background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- ANCHOR WIDGET -->
                        <div class="group" formGroupName="anchorWidget">
                            <h2>Anchor Widget</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-24 mb-8">Body background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Header background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Content background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>

                        <!-- WIDGET -->
                        <div class="group" formGroupName="widget">
                            <h2>Widget</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"> Use custom background color </mat-checkbox>

                            <h3 class="mt-24 mb-8">Body background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Header background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">Content background color:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>
</div>
