<div *transloco="let locale" class="theme-options-panel custom-scroll-adjust">
    <div class="header">
        <span class="title">{{ locale('themeOptions.themeOptionTitle') }}</span>

        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form [formGroup]="form">
        <!-- LANGUAGES -->
        <div *ngIf="languageSelectionEnabled">
            <div class="group">
                <h2>{{ locale('themeOptions.language') }}</h2>
                 
                <mat-select class="lang-selection" (selectionChange)="changeLanguage($event.value)" [(value)]="selectedLanguage">
                    <mat-option *ngFor="let lang of languages" [value]="lang">
                         {{ lang }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        
        <!-- COLOR THEME -->
        <div class="group">
            <h2>{{ locale('themeOptions.colorThemeTitle') }}</h2>

            <mat-radio-group class="twd-flex twd-flex-col twd-justify-start twd-items-start" formControlName="colorTheme">
                <mat-radio-button class="mb-12" value="theme-default">{{ locale('themeOptions.defaultLight') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-default-2">{{ locale('themeOptions.defaultLight2') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-default-3">{{ locale('themeOptions.defaultLight3') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-teal-red">{{ locale('themeOptions.tealRedLight') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-cyan-orange">{{ locale('themeOptions.cyanOrangeLight') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-indigo-deeporange">{{ locale('themeOptions.indigoDeepOrangeLight') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-default-dark">{{ locale('themeOptions.defaultDark') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-blue-grey-dark">{{ locale('themeOptions.blueGreyDark') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-pink-grey-dark">{{ locale('themeOptions.pinkGreyDark') }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- WEB FONT -->
        <div class="group">
            <h2>{{ locale('themeOptions.webFonts') }}</h2>

            <mat-radio-group class="twd-flex twd-flex-col twd-justify-start twd-items-start" formControlName="webFont">
                <mat-radio-button class="mb-12" value="wf-muli">{{ locale('themeOptions.muli') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="wf-montserrat">{{ locale('themeOptions.montserrat') }}</mat-radio-button>
                <mat-radio-button class="mb-12" value="wf-source-sans-pro">{{ locale('themeOptions.sansPro') }}</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Flat theme -->
        <div class="group">
            <h2>{{ locale('themeOptions.flatTheme') }}</h2>
            <mat-slide-toggle class="mb-12" formControlName="flatTheme">{{ locale('themeOptions.enableFlatTheme') }} </mat-slide-toggle>
        </div>

        <!-- LAYOUT STYLES -->
        <div class="group" formGroupName="layout">
            <h2>{{ locale('themeOptions.layoutStyles') }}</h2>

            <div>
                <ng-container [ngSwitch]="layoutStyle">
                    <!-- VERTICAL LAYOUT #1 -->
                    <ng-container *ngSwitchCase="'vertical-layout'">
                        <!-- LAYOUT WIDTH -->

                        <!-- NAVBAR -->
                        <div class="group" formGroupName="navbar">
                            <h2>{{ locale('themeOptions.navbar') }}</h2>

                            <h3 class="mt-24">{{ locale('themeOptions.position') }}:</h3>
                            <mat-radio-group class="twd-flex twd-flex-col twd-justify-start twd-items-start" formControlName="position">
                                <mat-radio-button class="mb-16" value="left">{{ locale('themeOptions.left') }}</mat-radio-button>
                                <mat-radio-button class="mb-16" value="right">{{ locale('themeOptions.right') }}</mat-radio-button>
                            </mat-radio-group>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-16 mb-8">{{ locale('themeOptions.bgColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- TOOLBAR -->
                        <div class="group" formGroupName="toolbar">
                            <h2>{{ locale('themeOptions.toolbar') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bgColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- CONTENT -->
                        <div class="group" formGroupName="content">
                            <h2>{{ locale('themeOptions.content') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bgColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- ANCHOR WIDGET -->
                        <div class="group" formGroupName="anchorWidget">
                            <h2>{{ locale('themeOptions.anchorWidget') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bodyBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.headerBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.contentBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>

                        <!-- WIDGET -->
                        <div class="group" formGroupName="widget">
                            <h2>{{ locale('themeOptions.widget') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bodyBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.headerBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.contentBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>
                    </ng-container>

                    <!-- HORIZONTAL LAYOUT #1 -->
                    <ng-container *ngSwitchCase="'horizontal-layout-1'">
                        <!-- LAYOUT WIDTH -->

                        <!-- NAVBAR -->
                        <div class="group" formGroupName="navbar">
                            <h2>{{ locale('themeOptions.navbar') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-16 mb-8">{{ locale('themeOptions.bgColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- TOOLBAR -->
                        <div class="group" formGroupName="toolbar">
                            <h2>{{ locale('themeOptions.toolbar') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bgColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- CONTENT -->
                        <div class="group" formGroupName="content">
                            <h2>{{ locale('themeOptions.content') }}</h2>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bgColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="background"> </fuse-material-color-picker>
                        </div>

                        <!-- ANCHOR WIDGET -->
                        <div class="group" formGroupName="anchorWidget">
                            <h2>{{ locale('themeOptions.anchorWidget') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor"
                                >{{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bodyBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.headerBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.contentBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>

                        <!-- WIDGET -->
                        <div class="group" formGroupName="widget">
                            <h2>{{ locale('themeOptions.widget') }}</h2>

                            <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                                {{ locale('themeOptions.useCustomBGColor') }}
                            </mat-checkbox>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.bodyBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="bodyBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.headerBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="headerBackground"> </fuse-material-color-picker>

                            <h3 class="mt-24 mb-8">{{ locale('themeOptions.contentBGColor') }}:</h3>
                            <fuse-material-color-picker class="mb-16" formControlName="contentBackground"> </fuse-material-color-picker>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>
</div>
