:host {
    .dynamic-input {
        min-width: 50px;
        border-bottom: 1px solid gray;
        width: 100px;
        display: inline-block;
    }
}

.email-template-dialog {
    .mat-dialog-container.--Form {
        padding: 0 !important;
        background-color: transparent !important;
        background: transparent !important;
    }
}
