:host {
    .dynamic-input {
        min-width: 50px;
        border-bottom: 1px solid gray;
        width: 100px;
        display: inline-block;
    }
    .email-body {
        max-height: 50vh;
    }
}

.email-template-dialog__Form {
    .mat-dialog-container {
        padding: 0 !important;
        background-color: transparent !important;
        background: transparent !important;
    }
}
