tw-email-template-preview {
    .dynamic-input {
        min-width: 50px;
        border-bottom: 1px solid gray;
        width: 100px;
        display: inline-block;
        word-wrap: break-word; // Ensure long content wraps within the block
    }
    .email-body {
        margin-top: 30px;
        margin-left: 32px;
        margin-right: 20px;
        max-height: 50vh;
        overflow-y: auto; 
        overflow-x: hidden; 
        white-space: normal; 
        word-wrap: break-word; 
        display: block; 
        padding: 10px; 
    }
}

.email-template-dialog__Form {
    .mat-mdc-dialog-container {
        padding: 0 !important;
        max-width: 100%; 
        overflow: hidden; 
    }
}
