<tw-wrapper [data]="data">
    <ng-container *ngIf="templateInfo.ID !== 4">
        <div [innerHTML]="templateInfo.BodyHTML"></div>
        <div class="w-100-p" fxLayout fxLayoutAlign="end center">
            <button mat-raised-button color="primary" (click)="use(templateInfo)">Use</button>
            <button mat-button color="accent" (click)="close()">Cancel</button>
        </div>
    </ng-container>

    <ng-container *ngIf="templateInfo.ID === 4">
        <div class="p-8">
            <div [innerHTML]="safeHtml"></div>
            <div class="w-100-p" fxLayout fxLayoutAlign="end center">
                <button mat-raised-button color="primary" (click)="processFormTemplate()">Use</button>
                <button mat-button color="accent" (click)="close()">Cancel</button>
            </div>
        </div>
    </ng-container>
</tw-wrapper>
