<ng-container *ngIf="templateInfo.Type !== 'Form'">
    <div [innerHTML]="templateInfo.BodyHTML"></div>
    <div class="w-100-p" fxLayout fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="use(templateInfo)">Use</button>
        <button mat-button color="accent" (click)="close()">Cancel</button>
    </div>
</ng-container>
<ng-container *ngIf="templateInfo.Type === 'Form'">
    <tw-wrapper [data]="data">
        <div class="p-8 twd-overflow-auto email-body">
            <div [innerHTML]="safeHtml"></div>
            <div class="w-100-p" fxLayout fxLayoutAlign="end center">
                <button mat-raised-button color="primary" (click)="processFormTemplate()">Use</button>
                <button mat-button color="accent" (click)="close()">Cancel</button>
            </div>
        </div>
    </tw-wrapper>
</ng-container>
