<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div
        *ngIf="!gamificationReqStatus.loading && !gamificationReqStatus.error"
        fusePerfectScrollbar
        fxLayout="column"
        [fxLayoutAlign]="
            !(performanceChartProgress.goal | keyvalue).length && !(performanceChartProgress.badge | keyvalue).length ? 'center center' : ''
        "
        class="h-100-p w-100-p px-8"
    >
        <span *ngIf="(performanceChartProgress.badge | keyvalue).length" class="my-16 text-bold">Badges : </span>

        <div *ngFor="let b of performanceChartProgress.badge | keyvalue" class="mb-28">
            <div class="mb-8">{{ GAMIFICATION_METRIC_LABELS[b.key] }} : {{ b.value.current }} / {{ b.value.max }}</div>
            <mat-progress-bar [color]="primary" [value]="(b.value.current * 100) / b.value.max"> </mat-progress-bar>
        </div>

        <p *ngIf="(performanceChartProgress.goal | keyvalue).length" class="my-16 text-bold">Goals :</p>

        <div *ngFor="let g of performanceChartProgress.goal | keyvalue" class="mb-28">
            <div class="mb-8">{{ GAMIFICATION_METRIC_LABELS[g.key] }} : {{ g.value.current }} / {{ g.value.max }}</div>
            <mat-progress-bar [color]="primary" [value]="(g.value.current * 100) / g.value.max"> </mat-progress-bar>
        </div>

        <p *ngIf="!(performanceChartProgress.goal | keyvalue).length && !(performanceChartProgress.badge | keyvalue).length">No Data available</p>
    </div>

    <div *ngIf="gamificationReqStatus.loading" fxLayout fxLayoutAlign="center center" class="w-100-p h-100-p">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="gamificationReqStatus.error" fxLayout="column" fxLayoutAlign="center center" class="w-100-p h-100-p text-center">
        <span class="mb-16">{{ gamificationReqStatus.msg }}</span>
        <button mat-raised-button color="primary" (click)="setChartData()">Retry</button>
    </div>

    <!-- your code goes here -->
</tw-wrapper>
