.device-list {
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    &:last-child {
        border-bottom: none;
    }
}

.available-media-dialog {
    .mat-mdc-dialog-container {
        padding: 0;
    }
}
