.device-list {
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    &:last-child {
        border-bottom: none;
    }
}

.available-media-dialog {
    .mat-mdc-dialog-container {
        padding: 0;
    }
}

.avl-device-menu {
    .menu-header {
        @apply twd-p-3 twd-font-semibold twd-text-white;
    }
    .device-icon {
        @apply twd-bg-primary-200 twd-rounded-full twd-h-10 twd-min-w-10;
    }

    // to do: look for better way to do this
    .mat-mdc-form-field-flex {
        padding: 10px;
    }
    .mat-mdc-form-field-icon-prefix {
        padding-right: 10px;
    }
}
