<div fxLayout="row wrap" *transloco="let locale" fxLayoutAlign="space-around center">
    <button class="twd-flex" (click)="showAvailableDevices()">
        <mat-icon class="twd-text-primary-400" [matTooltip]="locale('toolbarComponent.availableDevices')">
            headset_mic
        </mat-icon>
    </button>
</div>

<ng-template *transloco="let locale" #availableDevicesMenu class="custom">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="px-12 py-4">
        <p class="mat-title m-0">{{ locale('toolbarComponent.availableDevices') }}</p>
        <button mat-icon-button tabindex="-1" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div *ngIf="stream" class="mb-8" fxLayout fxLayoutAlign="center center">
        <video class="w-100-p h-100-p" autoplay [srcObject]="stream" #videoElm></video>
    </div>
    <div
        *ngIf="!mediaDeviceInfo.error && !mediaDeviceInfo.loading && mediaDeviceInfo.devices as mediaDevices"
        fxLayout
        fxLayoutAlign="space-between center"
        class="w-100-p px-8"
        [formGroup]="mediaSelectFormGroup"
    >
        <div fxFlex="33%" fxLayout *ngFor="let device of mediaDevices | keyvalue" class="p-4">
            <mat-form-field fxFlex="100%" appearance="outline">
                <mat-select [placeholder]="'Select ' + device.key" [formControlName]="device.key">
                    <mat-option *ngFor="let myDevice of device.value" [value]="myDevice.deviceId">
                        {{ myDevice.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="text-center mt-20 mat-title" *ngIf="mediaDeviceInfo.error || mediaDeviceInfo.loading">
        {{ mediaDeviceInfo.error || mediaDeviceInfo.loading }}
    </div>
</ng-template>
