<div class="tw-navbar-menu">
    <ng-container *ngFor="let widget of toolbarMenuWidget">
        @if (widget.Config.Enabled) {
            @switch (widget.Type) {
                @case ('tw-available-media-device') {
                    <tw-available-media-device [data]="widget" fxHide fxShow.gt-xs></tw-available-media-device>
                }
                @case ('tw-aux-timer') {
                    <tw-aux-timer [data]="widget" fxHide fxShow.gt-xs></tw-aux-timer>
                }
                @case ('tw-agent-details') {
                    <tw-agent-details [data]="widget"></tw-agent-details>
                }
                @case ('tw-notifications') {
                    <tw-notifications [data]="widget" fxHide fxShow.gt-xs></tw-notifications>
                }
                @case ('tw-aux-codes') {
                    <tw-aux-codes [data]="widget"></tw-aux-codes>
                }
                @case ('tw-instant-messaging') {
                    <tw-instant-messaging [data]="widget" fxHide fxShow.gt-xs></tw-instant-messaging>
                }
                @case ('tw-logout') {
                    <tw-logout [data]="widget"></tw-logout>
                }
                @case ('tw-broadcast') {
                    <tw-broadcast [data]="widget" fxHide fxShow.gt-sm></tw-broadcast>
                }
                @case ('tw-create-interaction') {
                    <tw-create-interaction [data]="widget"></tw-create-interaction>
                }
                @case ('tw-toolbar-custom') {
                    <tw-toolbar-custom [data]="widget"></tw-toolbar-custom>
                }
            }
        }
    </ng-container>
</div>
