<div class="tw-navbar-menu">
    <div class="menu-item" *ngFor="let widget of toolbarMenuWidget">
        <tw-aux-timer [data]="widget" *ngIf="widget.Type === 'tw-aux-timer'"></tw-aux-timer>
        <tw-agent-details [data]="widget" *ngIf="widget.Type === 'tw-agent-details'"></tw-agent-details>
        <tw-aux-codes [data]="widget" *ngIf="widget.Type === 'tw-aux-codes'"></tw-aux-codes>
        <tw-notifications [data]="widget" *ngIf="widget.Type === 'tw-notifications'" fxHide fxShow.gt-sm></tw-notifications>
        <tw-instant-messaging [data]="widget" *ngIf="widget.Type === 'tw-instant-messaging'" fxHide fxShow.gt-sm></tw-instant-messaging>
        <tw-logout [data]="widget" *ngIf="widget.Type === 'tw-logout'"></tw-logout>
        <tw-broadcast [data]="widget" *ngIf="widget.Type === 'tw-broadcast'" fxHide fxShow.gt-sm></tw-broadcast>
    </div>
</div>
