.tw-navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    // .menu-item {
    //     margin: 0px 4px;
    // }

    .wrap {
        margin: 0px 6px;
    }

    .mat-icon {
        font-size: 28px;
        height: 28px;
        width: 28px;
        line-height: 28px;
    }
}
