<div class="tw-navbar-menu">
    <div class="menu-item" *ngFor="let widget of toolbarMenuWidget">
        <tw-aux-timer [data]="widget" *ngIf="widget.Type === 'tw-aux-timer' && widget.Config.Enabled" fxHide fxShow.gt-xs></tw-aux-timer>
        <tw-agent-details [data]="widget" *ngIf="widget.Type === 'tw-agent-details' && widget.Config.Enabled"></tw-agent-details>
        <tw-notifications [data]="widget" *ngIf="widget.Type === 'tw-notifications' && widget.Config.Enabled" fxHide fxShow.gt-xs></tw-notifications>
        <tw-aux-codes [data]="widget" *ngIf="widget.Type === 'tw-aux-codes' && widget.Config.Enabled"></tw-aux-codes>
        <tw-instant-messaging
            [data]="widget"
            *ngIf="widget.Type === 'tw-instant-messaging' && widget.Config.Enabled"
            fxHide
            fxShow.gt-xs
        ></tw-instant-messaging>
        <tw-logout [data]="widget" *ngIf="widget.Type === 'tw-logout' && widget.Config.Enabled"></tw-logout>
        <tw-broadcast [data]="widget" *ngIf="widget.Type === 'tw-broadcast' && widget.Config.Enabled" fxHide fxShow.gt-sm></tw-broadcast>
    </div>
</div>
