<div *transloco="let locale" class="header mat-elevation-z4 twd-flex twd-flex-row twd-justify-between twd-items-center">
    <ng-container *ngIf="!selectedContact">
        <div class="title ml-16 twd-flex twd-flex-row twd-justify-start twd-items-center" (click)="toggleSidebarOpen()">
            <mat-icon class="s-32">chat</mat-icon>
            <h3 class="ml-12">{{ locale('IM.teamChat') }}</h3>
        </div>
    </ng-container>

    <ng-container *ngIf="selectedContact">
        <div class="title twd-flex twd-flex-row twd-justify-start twd-items-center">
            <img *ngIf="selectedContact.avatar" [src]="selectedContact.avatar" class="avatar mx-16" />
            <avatar
                *ngIf="!selectedContact.avatar"
                circleColor="#5A4980"
                [name]="selectedContact.name"
                [matTooltip]="selectedContact.name"
                classes="w-44 h-44 border-radius-100 mx-16"
            >
            </avatar>
            <div>
                <h3 class="text-truncate">{{ selectedContact.name }}</h3>
                <span *ngIf="selectedContact.status" class="secondary-text ml-4"> {{ selectedContact.status }} </span>
            </div>
        </div>
    </ng-container>

    <div class="twd-flex">
        <div *ngIf="selectedContact" class="fab-container">
            <button
                [disabled]="actions.length === 0"
                mat-icon-button
                cdkOverlayOrigin
                #actionList="cdkOverlayOrigin"
                (click)="openActions = !openActions"
                [matTooltip]="locale('IM.moreActions')"
            >
                <mat-icon [@fabToggler180]="{ value: openActions ? 'active' : 'inactive' }"> expand_more </mat-icon>
            </button>

            <!-- This template displays the overlay content and is connected to the button -->
            <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="actionList"
                [cdkConnectedOverlayOpen]="openActions"
                cdkConnectedOverlayHasBackdrop
                cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                (overlayOutsideClick)="openActions = false"
            >
                <div class="mt-12 create-interaction-buttons twd-flex twd-flex-col twd-gap-2" [@widgetStagger]="actions.length">
                    <button
                        mat-mini-fab
                        color="default"
                        *ngFor="let action of actions"
                        [matTooltip]="action.label"
                        (click)="makeCall(action.type)"
                        [disabled]="callWidget"
                    >
                        <mat-icon>{{ action.icon }}</mat-icon>
                    </button>
                </div>
            </ng-template>
        </div>

        <button mat-icon-button class="toggle-sidebar-folded mr-8 !twd-hidden xl:!twd-block" (click)="toggleSidebarOpen(); resetChat()">
            <mat-icon class="secondary-text s-20">close</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-open mr-8 xl:!twd-hidden" (click)="toggleSidebarOpen(); resetChat()">
            <mat-icon class="secondary-text">close</mat-icon>
        </button>
    </div>
</div>

<div class="content twd-flex twd-flex-row">
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    <!-- Contacts -->
    <div id="contacts-list" class="custom-scroll-adjust">
        <div
            *ngFor="let contact of contacts; trackBy: trackByID"
            class="contacts-list-item"
            [ngClass]="contact.class"
            [class.active]="contact.id === selectedContact?.id"
            (click)="toggleChat(contact)"
        >
            <!-- <img class="avatar" [src]="contact.avatar" *ngIf="contact.avatar" [matTooltip]="contact.name" matTooltipPosition="left" /> -->
            <avatar
                *ngIf="!contact.avatar"
                [name]="contact.name"
                [matTooltip]="contact.name"
                circleColor="#5A4980"
                classes="w-44 h-44 circle"
            ></avatar>

            <avatar
                *ngIf="contact.avatar"
                [photoUrl]="contact.avatar"
                [matTooltip]="contact.name"
                circleColor="#5A4980"
                classes="w-44 h-44 circle"
            ></avatar>

            <div class="unread-count" *ngIf="contact.unread">{{ contact.unread }}</div>
            <div
                class="status-icon"
                [ngClass]="{
                    available: contact.status.toLowerCase() === 'available',
                    'on-call': contact.status.toLowerCase().includes('on call'),
                    'not-logged-in': contact.status.toLowerCase() === 'not logged in'
                }"
                [matTooltip]="contact.status || 'NA'"
            ></div>
        </div>
    </div>
    <!-- / Contacts -->

    <!-- Chat -->
    <div id="chat" *transloco="let locale" class="twd-flex twd-flex-col twd-flex-auto">
        <div id="messages" #messages class="messages custom-scroll-adjust twd-flex-auto">
            <ng-container *ngIf="selectedContact && chat && chat.dialog && chat.dialog.length > 0">
                <div
                    *ngFor="let message of chat.dialog; let i = index"
                    class="message-row"
                    [ngClass]="{
                        me: message.FromAgentId === user.agentId,
                        contact: message.FromAgentId !== user.agentId,
                        'first-of-group': isFirstMessageOfGroup(message, i),
                        'last-of-group': isLastMessageOfGroup(message, i)
                    }"
                >
                    <div class="bubble">
                        <div class="message">{{ message.Message }}</div>
                        <div class="time secondary-text">{{ message.CreatedTime | date: 'hh:mm a' }}</div>
                        <mat-icon *ngIf="message.Status === -1" class="twd-absolute twd--right-4 s-14" color="warn">error_outline</mat-icon>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="selectedContact && selectedContact.status !== 'Not Logged In' && chat && chat.dialog && chat.dialog.length === 0">
                <div class="no-messages-icon">
                    <mat-icon class="s-128 fade-text">chat</mat-icon>
                </div>

                <div class="no-messages secondary-text">{{ locale('IM.startChatMsg') }}</div>
            </ng-container>

            <ng-container *ngIf="!selectedContact">
                <div class="no-contact-selected">
                    <div class="no-contact-icon">
                        <mat-icon class="s-128 fade-text">chat</mat-icon>
                    </div>

                    <div class="no-contact secondary-text">{{ locale('IM.selectContactToChat') }}</div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="selectedContact" class="reply-form twd-flex twd-flex-row twd-justify-center twd-items-center twd-flex-initial twd-flex-shrink-0">
            <form
                class="twd-flex twd-flex-row twd-justify-start twd-items-center twd-flex-1"
                #replyForm="ngForm"
                (ngSubmit)="reply($event)"
                (keydown.enter)="reply($event)"
            >
                <mat-form-field
                    class="message-text twd-flex-1"
                    floatLabel="never"
                    appearance="standard"
                    [disabled]="selectedContact.status === 'Not Logged In'"
                >
                    <textarea
                        matInput
                        #replyInput
                        [(ngModel)]="allNewChats[selectedContact.id]"
                       
                        name="message"
                        placeholder="Type your message"
                        [rows]="1"
                        [matTextareaAutosize]="true"
                        [disabled]="selectedContact.status === 'Not Logged In'"
                    
                    ></textarea>
                </mat-form-field>

                <button
                    class="send-message-button"
                    mat-icon-button
                    type="submit"
                    aria-label="Send message"
                    [disabled]="selectedContact.status === 'Not Logged In' || !replyInput.value.trim() || !isAgentOnline"
                    >
                    <mat-icon class="secondary-text">send</mat-icon>
                </button>
            </form>
        </div>
    </div>
    <!-- / Chat -->
</div>
