<div class="twd-flex twd-flex-row twd-justify-center twd-items-center twd-w-full twd-px-4 twd-py-2 border-bottom">
    <mat-form-field class="custom search form-field twd-w-full" appearance="outline">
        <input matInput placeholder="Search" [(ngModel)]="searchTerm" (input)="filterBookmarks()" />
        <button
            *ngIf="!searchTerm; else clearBtn"
            mat-icon-button
            matSuffix
            [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
            disabled
        >
            <mat-icon>search</mat-icon>
        </button>
        <ng-template #clearBtn>
            <button
                mat-button
                color="primary"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                [@animate]="{ value: '*', params: { delay: '100ms', x: '100%' } }"
                (click)="searchTerm = ''; filterBookmarks()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </ng-template>
    </mat-form-field>

    <button mat-icon-button color="primary" matTooltip="Add Bookmark">
        <mat-icon>bookmark_add</mat-icon>
    </button>

    <button mat-icon-button color="primary" matTooltip="Add Folder">
        <mat-icon>create_new_folder</mat-icon>
    </button>

    <button *ngIf="!editable" mat-icon-button color="primary" matTooltip="Edit Bookmarks" (click)="editBookmarks(true)">
        <mat-icon>edit</mat-icon>
    </button>

    <button *ngIf="deletable" mat-icon-button color="warn" matTooltip="Delete Selected" (click)="deleteSelectedBookmarks()">
        <mat-icon>delete</mat-icon>
    </button>

    <button *ngIf="editable" mat-icon-button class="secondary-text" matTooltip="Cancel" (click)="editBookmarks(false)">
        <mat-icon>cancel</mat-icon>
    </button>
</div>

<div class="twd-w-full twd-h-full">
    <div *ngIf="!dataSource.data.length" class="twd-flex twd-flex-col twd-pr-4">
        <div class="twd-flex twd-flex-row twd-p-1 twd-h-9" *ngFor="let item of skeletonList">
            <mat-icon class="mat-icon-rtl-mirror s-32 secondary-text"> arrow_right </mat-icon>
            <skeleton class="twd-w-6 twd-ml-2"></skeleton>
            <skeleton class="twd-w-full twd-pl-3"></skeleton>
        </div>
    </div>

    <div *ngIf="dataSource.data.length" class="twd-w-full twd-h-full twd-overflow-auto">
        <mat-tree class="twd-h-full" [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node
                *matTreeNodeDef="let node"
                matTreeNodePadding
                matRipple
                [matRippleDisabled]="editable"
                (click)="openBookmark(node)"
                [matTooltip]="node.url"
                [matTooltipDisabled]="editable"
            >
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>

                <div
                    class="twd-w-full twd-flex twd-justify-between twd-items-center twd-pr-2"
                    [matMenuTriggerFor]="bookmarkCotextMenu"
                    #bookmarkCotextMenuTrigger="matMenuTrigger"
                >
                    <mat-checkbox
                        class="checklist-leaf-node"
                        [disabled]="!editable"
                        [checked]="checklistSelection.isSelected(node)"
                        (change)="todoLeafItemSelectionToggle(node)"
                        [ngClass]="{
                            editable: editable
                        }"
                    >
                        <mat-icon mat-list-icon class="text-warning"> star </mat-icon>
                        <span class="twd-pl-3"> {{ node.name }} </span>
                    </mat-checkbox>

                    <div>
                        <button *ngIf="editable && !deletable" mat-icon-button matTooltip="Edit Bookmark">
                            <mat-icon class="s-20">edit</mat-icon>
                        </button>

                        <button
                            *ngIf="editable && !deletable"
                            mat-icon-button
                            color="warn"
                            matTooltip="Delete Bookmark"
                            (click)="deleteBookmark(node)"
                        >
                            <mat-icon class="s-20">bookmark_remove</mat-icon>
                        </button>
                    </div>
                </div>

                <mat-menu #bookmarkCotextMenu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node
                *matTreeNodeDef="let node; when: hasChild"
                matTreeNodePadding
                matRipple
                [matRippleDisabled]="editable"
                [matTooltip]="node.name"
                [matTooltipDisabled]="editable"
            >
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror s-32" [@fabToggler90]="{ value: treeControl.isExpanded(node) ? 'active' : 'inactive' }">
                        arrow_right
                    </mat-icon>
                </button>

                <div class="twd-w-full twd-flex twd-items-center twd-pr-2">
                    <mat-checkbox
                        [disabled]="!editable"
                        [checked]="descendantsAllSelected(node)"
                        [indeterminate]="descendantsPartiallySelected(node)"
                        (change)="todoItemSelectionToggle(node)"
                        (click)="toggleTreeNode(node)"
                        [ngClass]="{
                            editable: editable
                        }"
                    >
                        <mat-icon mat-list-icon class="text-alt-warning"> {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}</mat-icon>
                        <span class="twd-pl-3"> {{ node.name }} </span>
                    </mat-checkbox>

                    <div class="twd-flex twd-flex-1 twd-h-9" matTreeNodeToggle></div>

                    <button *ngIf="editable && !deletable" mat-icon-button color="warn" matTooltip="Delete Folder" (click)="deleteBookmark(node)">
                        <mat-icon class="s-20">folder_delete</mat-icon>
                    </button>

                    <button mat-icon-button class="more-menu" [matMenuTriggerFor]="folderCotextMenu" #folderCotextMenuTrigger="matMenuTrigger">
                        <mat-icon> more_vert </mat-icon>
                    </button>
                </div   >

                <mat-menu #folderCotextMenu="matMenu" xPosition="after">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>
            </mat-tree-node>
        </mat-tree>
    </div>
</div>
