<ng-container *ngIf="customFuse$ | async as customFuse">
    <!-- SIDE PANEL -->
    <ng-container *ngIf="!customFuse.sidepanel.hidden && customFuse.sidepanel.position === 'left'">
        <!-- PANEL CONTENT -->
    </ng-container>
    <!-- / SIDE PANEL -->

    <div id="main" class="main" [ngClass]="customFuse.navbar.background">
        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="customFuse.toolbar.position === 'above'">
            <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <!-- NAVBAR: Top -->
        <ng-container>
            <ng-container *ngTemplateOutlet="topNavbar"></ng-container>
        </ng-container>
        <!-- / NAVBAR: Top -->

        <!-- TOOLBAR: Below -->
        <ng-container *ngIf="customFuse.toolbar.position === 'below'">
            <ng-container *ngTemplateOutlet="toolbar"></ng-container>
        </ng-container>
        <!-- / TOOLBAR: Below -->

        <div id="container-1" class="container">
            <!-- NAVBAR: Left -->
            <ng-container>
                <ng-container *ngTemplateOutlet="leftNavbar"></ng-container>
            </ng-container>
            <!-- / NAVBAR: Left -->

            <div id="container-2" class="container">
                <div id="container-3" class="container custom-scroll">
                    <!-- CONTENT -->
                    <content [ngClass]="customFuse.content.class"> </content>
                    <!-- / CONTENT -->

                    <!-- FOOTER: Below -->
                    <ng-container *ngIf="customFuse.footer.position === 'above-static'">
                        <ng-container *ngTemplateOutlet="footer"></ng-container>
                    </ng-container>
                    <!-- / FOOTER: Below -->
                </div>
            </div>
        </div>

        <!-- FOOTER: Above -->
        <ng-container *ngIf="customFuse.footer.position === 'above-fixed'">
            <ng-container *ngTemplateOutlet="footer"></ng-container>
        </ng-container>
        <!-- FOOTER: Above -->
    </div>

    <!-- SIDE PANEL -->
    <ng-container *ngIf="!customFuse.sidepanel.hidden && customFuse.sidepanel.position === 'right'">
        <!-- PANEL CONTENT -->
    </ng-container>
    <!-- / SIDE PANEL -->

    <!-- QUICK PANEL -->
    <fuse-sidebar name="quickPanel" position="right" class="quick-panel">
        <quick-panel></quick-panel>
    </fuse-sidebar>
    <!-- / QUICK PANEL -->

    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- @ PARTIALS                                                                                            -->
    <!-- ----------------------------------------------------------------------------------------------------- -->

    <!-- TOOLBAR -->
    <ng-template #toolbar>
        <toolbar *ngIf="!customFuse.toolbar.hidden" [ngClass]="customFuse.toolbar.class"> </toolbar>
    </ng-template>
    <!-- / TOOLBAR -->

    <!-- FOOTER -->
    <ng-template #footer>
        <footer *ngIf="!customFuse.footer.hidden" [ngClass]="customFuse.footer.class"></footer>
    </ng-template>
    <!-- / FOOTER -->

    <!-- TOP NAVBAR -->
    <ng-template #topNavbar>
        <navbar variant="horizontal-style-1" class="top-navbar" fxHide fxShow.gt-md *ngIf="!customFuse.navbar.hidden"> </navbar>
    </ng-template>
    <!-- / TOP NAVBAR -->

    <!-- LEFT NAVBAR -->
    <ng-template #leftNavbar>
        <fuse-sidebar name="navbar" class="navbar-fuse-sidebar" [folded]="customFuse.navbar.folded" *ngIf="!customFuse.navbar.hidden">
            <navbar class="left-navbar"></navbar>
        </fuse-sidebar>
    </ng-template>
    <!-- / LEFT NAVBAR -->
</ng-container>
