<div class="dialog-content-wrapper" [ngClass]="data.type">
    <div class="py-40" matDialogTitle fxLayout="column" fxLayoutAlign="center center">
        <mat-icon> {{ icon }} </mat-icon>
        <p class="mat-display-2 my-16">{{ data.heading }}</p>
    </div>

    <div mat-dialog-content fxLayout="column" fxLayoutAlign="center center" class="p-24 pb-0 m-0">
        <p class="text-center py-12">{{ data.message }}</p>
        <button mat-raised-button (click)="data.close()">CLOSE</button>
    </div>
</div>
