<div class="tw-widget-container" [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }" *ngIf="loaded">
    <div *ngIf="staticWidgets?.length" fxFill fxFlex fxLayout="row wrap" fxLayoutAlign=" none">
        <tw-template
            class="dynamic-widget-grid h-100-p w-100-p twd-absolute twd-overflow-hidden twd-top-0 twd-left-0"
            [widgets]="staticWidgets"
        ></tw-template>

        <div
            *ngIf="aotWidgets.length"
            class="tw-aot-fab"
            cdkDrag
            cdkDragBoundary=".tw-widget-container"
            (cdkDragStarted)="aotFABDrag = true"
            (cdkDragReleased)="aotFABDrag = false"
        >
            <widget-fab [aotFABDrag]="aotFABDrag" [fabWidgets]="aotWidgets"></widget-fab>
        </div>
    </div>
    <ng-container *transloco="let locale">
        <twc-not-found
            *ngIf="!staticWidgets || !staticWidgets.length"
            class="tw-widget-container"
            [ngStyle]="{ 'width.px': widgetWidth, 'height.px': widgetHeight }"
            [title]="locale('contentComponent.noWidgets')"
            type="widget"
            [message]="locale('contentComponent.wbWidgetsNotFound')"
        ></twc-not-found>
    </ng-container>
</div>
