<ng-container
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async)
    } as customFuse"
>
    <tw-wrapper
        [data]="data"
        (maximizeEvent)="maximizeEvent.emit($event)"
        (collapseEvent)="collapseEvent.emit($event)"
        (floatEvent)="floatEvent.emit($event)"
    >
        <div class="twd-w-full twd-h-full twd-flex twd-flex-col voice-controls">
            <div *transloco="let locale" class="twd-flex twd-flex-full twd-flex-row twd-h-9/12">
                <div
                    class="twd-flex twd-flex-col twd-items-center twd-w-[64px] twd-overscroll-y-auto twd-overflow-x-hidden twd-h-full twd-py-2 twd-mt-2 interactions"
                >
                    <avatar
                        *ngFor="let item of interactionList"
                        name="{{ item.user }}"
                        [ngClass]="
                            item.status +
                            (item.interactionId === interaction?.InteractionID ? ' active' : '') +
                            (item.status === 'incoming' ? ' animate__animated animate__flash animate__infinite animate__slow' : '')
                        "
                        matTooltip="{{ item.user }}"
                        matTooltipPosition="after"
                        (click)="selectInteraction(item)"
                        [circleColor]="customFuse.anchor?.content || customFuse.widget?.content"
                    ></avatar>
                </div>
                <divD
                    class="twd-flex twd-flex-full twd-flex-col twd-w-full twd-px-3 twd-py-2 border-radius-20 interaction-details twd-overflow-auto"
                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                >
                    <div class="twd-flex twd-flex-full twd-flex-col twd-justify-start">
                        <div class="twd-flex twd-flex-row twd-justify-between">
                            <div class="twd-flex twd-flex-row twd-items-center">
                                <mat-icon>alarm_on</mat-icon> {{ startTime | date: 'dd/MM/yyyy hh:mm:ss a' }}
                            </div>
                            <div class="twd-flex twd-flex-row twd-items-center">
                                <mat-icon *ngIf="!callLines.length">construction</mat-icon>
                                <mat-icon *ngIf="callLines.length" [matMenuTriggerFor]="sessionsMenu" class="twd-cursor-pointer"
                                    >construction</mat-icon
                                >
                                {{ sessionID + '|' + (interaction?.InteractionID || 'NA') }}
                                <mat-menu #sessionsMenu="matMenu" [overlapTrigger]="false" class="agent-info-menu custom">
                                    <div *ngFor="let item of callLines" mat-menu-item class="twd-flex twd-items-center">
                                        <mat-icon>construction</mat-icon>
                                        <span>{{ item }}</span>
                                    </div>
                                </mat-menu>
                            </div>
                        </div>

                        <div class="twd-flex twd-flex-row twd-justify-between twd-mt-1">
                            <div class="twd-flex twd-flex-row twd-items-center">
                                <mat-icon>timer</mat-icon>
                                <div>
                                    {{ (duration * 1000 | date: 'HH:mm:ss':'UTC') || '00:00:00' }}
                                </div>
                            </div>
                            <div *ngIf="isMSCall && mos" class="twd-flex twd-flex-row twd-items-center"><mat-icon>wifi</mat-icon> {{ mos }}</div>
                            <div class="twd-flex twd-flex-row twd-items-center">
                                <mat-icon>directions</mat-icon> <span>{{ direction }}</span>
                            </div>
                            <div *ngIf="subType" class="twd-flex twd-flex-row twd-items-center">
                                <mat-icon>{{ subType === 'camp' ? 'campaign' : '' }}</mat-icon>
                            </div>
                            <div class="twd-flex twd-flex-row twd-items-center">
                                <mat-icon>grading</mat-icon> <span class="text-bold">{{ intent }}</span>
                            </div>
                        </div>

                        <ng-container *ngIf="voiceControlsService.cannedAudioPlayer as audioPlayer">
                            <div *ngIf="audioPlayer" class="twd-w-full twd-flex twd-flex-full twd-flex-row twd-items-center">
                                <button
                                    *ngIf="audioPlayer._adpState === 'paused'"
                                    mat-icon-button
                                    class="!twd-mr-1 bg-success custom-btn"
                                    [matTooltip]="locale('interactionComponent.play')"
                                    (click)="voiceControlsService.playerAction(1)"
                                >
                                    <mat-icon>play_circle_outline</mat-icon>
                                </button>
                                <button
                                    *ngIf="audioPlayer._adpState === 'playing'"
                                    mat-icon-button
                                    class="!twd-mr-1 bg-warning custom-btn"
                                    [matTooltip]="locale('interactionComponent.pause')"
                                    (click)="voiceControlsService.playerAction(2)"
                                >
                                    <mat-icon>pause_circle_outline</mat-icon>
                                </button>
                                <button
                                    mat-icon-button
                                    class="!twd-mr-1 bg-danger custom-btn"
                                    [matTooltip]="locale('interactionComponent.stop')"
                                    (click)="voiceControlsService.playerAction(3)"
                                >
                                    <mat-icon>stop</mat-icon>
                                </button>
                                <marquee direction="left"
                                    >{{ locale('widgets.voiceControls.currentlyPlaying') }} '{{ audioPlayer.fileName }}'</marquee
                                >
                            </div>
                        </ng-container>
                    </div>

                    <div
                        *ngIf="!voiceControlsService.cannedAudioPlayer && widgetData.IVR?.MenuEnabled"
                        class="twd-flex twd-flex-row twd-flex-full px-12 border-radius-30 position-relative ivr-history"
                    >
                        <div class="ivr-label">
                            {{ direction === 'Out' ? locale('widgets.voiceControls.callFlow') : locale('widgets.voiceControls.ivrHistory') }}
                        </div>
                        <!-- <ul class="breadcrumbs">
                            <li>
                                <span>{{ last4IVR[0] || 'NA' }}</span>
                            </li>
                            <li>
                                <span>{{ last4IVR[1] || 'NA' }}</span>
                            </li>
                            <li>
                                <span>{{ last4IVR[2] || 'NA' }}</span>
                            </li>
                            <li>
                                <span>{{ last4IVR[3] || 'NA' }}</span>
                            </li>
                        </ul> -->
                        <div class="twd-flex twd-flex-row twd-flex-wrap twd-justify-center twd-items-center twd-px-1 twd-py-2 twd-w-full">
                            <div
                                class="timeline-item twd-grid twd-flex-1 twd-px-2"
                                [ngClass]="timelineItemColors[i % 4]"
                                *ngFor="let menu of last4IVR; let i = index"
                            >
                                <div
                                    class="timeline-bar twd-relative twd-h-[16px] twd-mb-4 twd-text-center after:twd-absolute after:twd-left-0 after:twd-bottom-0 after:twd-w-0 after:twd-h-0 after:twd-border-solid after:twd-border-t-8 after:twd-border-b-8 after:twd-border-l-[9px] after:twd-border-transparent before:twd-absolute before:twd-right-[-9px] before:twd-bottom-0 before:twd-w-0 before:twd-h-0 before:twd-border-solid before:twd-border-t-8 before:twd-border-b-8 before:twd-border-l-[9px] before:twd-border-transparent"
                                >
                                    <div
                                        class="timeline-info-connect-line twd-w-2 twd-h-2 twd-bg-white twd-inline-block twd-absolute twd-top-1 twd-rounded-full after:twd-w-1 after:twd-h-4 after:twd-absolute after:twd-top-3 after:twd-left-[2px]"
                                    ></div>
                                </div>
                                <div
                                    class="timeline-info mat-elevation-z1 twd-rounded-full twd-px-3 twd-py-1 text-truncate twd-text-center"
                                    [matTooltip]="menu"
                                >
                                    {{ menu || 'NA' }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="call-controls twd-mt-1 twd-flex twd-flex-row twd-flex-wrap">
                        <button
                            *ngIf="status !== 'disconnected'"
                            mat-mini-fab
                            color="default"
                            class="success mat-elevation-z2"
                            [disabled]="status !== 'incoming'"
                            #answerBtn
                            [matTooltip]="locale('widgets.voiceControls.answer')"
                            (click)="answerCall(answerBtn)"
                        >
                            <mat-icon>call</mat-icon>
                        </button>

                        <button
                            *ngIf="status !== 'disconnected'"
                            mat-mini-fab
                            color="warn"
                            class="mat-elevation-z2"
                            [disabled]="status !== 'connected' && status !== 'outgoing'"
                            #disconnectBtn
                            [matTooltip]="locale('interactionComponent.disconnect')"
                            (click)="confirmDisconnectCall(disconnectBtn)"
                        >
                            <mat-icon>call_end</mat-icon>
                        </button>

                        <button
                            *ngIf="status !== 'hold' && status !== 'disconnected'"
                            mat-mini-fab
                            color="default"
                            class="warning mat-elevation-z2"
                            [disabled]="status !== 'connected' || callLines.length > 1"
                            #holdBtn
                            [matTooltip]="locale('interactionComponent.hold')"
                            (click)="holdCall(holdBtn)"
                        >
                            <mat-icon>phone_paused</mat-icon>
                        </button>

                        <button
                            *ngIf="status === 'hold'"
                            mat-mini-fab
                            color="default"
                            class="success mat-elevation-z2"
                            #unHoldBtn
                            [matTooltip]="locale('interactionComponent.unhold')"
                            [disabled]="tempCallRef"
                            (click)="unHoldCall(unHoldBtn)"
                        >
                            <mat-icon>phone_in_talk</mat-icon>
                        </button>

                        <button
                            *ngIf="isMSCall && status !== 'disconnected'"
                            mat-mini-fab
                            color="default"
                            class="mat-elevation-z2"
                            [ngClass]="customFuse.anchor?.body"
                            [disabled]="status !== 'connected'"
                            [matTooltip]="muted ? locale('widgets.voiceControls.unmute') : locale('widgets.voiceControls.mute')"
                            (click)="muteUnMuteCall()"
                            [ngClass]="{ 'mat-warn': muted }"
                        >
                            <mat-icon> mic_off </mat-icon>
                        </button>

                        <button
                            *ngIf="widgetData?.Transfer.Allowed && status !== 'disconnected'"
                            mat-mini-fab
                            color="default"
                            class="mat-elevation-z2"
                            [ngClass]="customFuse.anchor?.body"
                            [disabled]="status !== 'connected'"
                            [matTooltip]="locale('interactionComopnent.transfer')"
                            (click)="openTransferConferenceDialog('transfer')"
                        >
                            <mat-icon>phone_forwarded</mat-icon>
                        </button>

                        <button
                            *ngIf="widgetData?.Conference.Allowed && status !== 'disconnected'"
                            mat-mini-fab
                            color="default"
                            class="mat-elevation-z2"
                            [ngClass]="customFuse.anchor?.body"
                            [disabled]="status !== 'connected'"
                            [matTooltip]="locale('interactionComopnent.conference')"
                            (click)="openTransferConferenceDialog('conference')"
                        >
                            <mat-icon>group</mat-icon>
                        </button>

                        <button
                            *ngIf="ivrMenus.length && status !== 'disconnected'"
                            mat-mini-fab
                            color="default"
                            class="mat-elevation-z2"
                            [ngClass]="customFuse.anchor?.body"
                            [disabled]="status !== 'connected'"
                            [matTooltip]="locale('widgets.voiceControls.ivrTransfer')"
                            [matMenuTriggerFor]="ivrMenu"
                        >
                            <mat-icon>phonelink_ring</mat-icon>

                            <mat-menu class="custom" #ivrMenu="matMenu" xPosition="before">
                                <button mat-menu-item *ngFor="let item of ivrMenus" (click)="transferToIVR(item.Value)">
                                    <mat-icon>{{ item.Icon }}</mat-icon>
                                    <span>{{ item.Text }}</span>
                                </button>
                            </mat-menu>
                        </button>

                        <button
                            *ngIf="widgetData?.DialpadAllowed && status !== 'disconnected'"
                            mat-mini-fab
                            color="default"
                            class="mat-elevation-z2"
                            [ngClass]="customFuse.anchor?.body"
                            [disabled]="status !== 'connected' || (tempCallRef?.isConsult && tempCallRef?.status !== 'connected')"
                            [matTooltip]="locale('widgets.voiceControls.dialpad')"
                            (click)="openDialpad = !openDialpad"
                            cdkOverlayOrigin
                            #dialpadMenu="cdkOverlayOrigin"
                        >
                            <mat-icon>dialpad</mat-icon>

                            <ng-template
                                cdkConnectedOverlay
                                [cdkConnectedOverlayOrigin]="dialpadMenu"
                                [cdkConnectedOverlayOpen]="openDialpad"
                                cdkConnectedOverlayHasBackdrop
                                cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                                (overlayOutsideClick)="openDialpad = false"
                            >
                                <div class="dialpad-menu mat-elevation-z1 twd-mt-1 twd-p-2 border-radius-20 twd-flex twd-flex-col">
                                    <div
                                        class="twd-pl-2 twd-pr-1 twd-my-1 twd-mx-1 border border-radius-20 twd-flex twd-flex-row twd-justify-between twd-items-center"
                                    >
                                        <div>
                                            {{ dialedNumbers }}
                                        </div>
                                        <button mat-button mat-icon-button color="warn" aria-label="Clear" (click)="dialedNumbers = ''">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>

                                    <div class="dialpad twd-flex twd-flex-row twd-flex-wrap twd-justify-center">
                                        <button *ngFor="let item of dialpadNumbers" mat-icon-button mat-stroked-button (click)="dialpadClick(item)">
                                            {{ item.key }}
                                        </button>
                                    </div>
                                </div>
                            </ng-template>
                        </button>

                        <button
                            *ngIf="widgetData?.MakeCallAllowed && status === 'disconnected'"
                            mat-mini-fab
                            class="mat-elevation-z2"
                            [ngClass]="customFuse.anchor?.body"
                            color="default"
                            [matTooltip]="locale('widgets.voiceControls.makeCall')"
                            (click)="makeCall()"
                        >
                            <mat-icon>call</mat-icon>
                        </button>

                        <button
                            *ngIf="widgetData?.SendSMSAllowed"
                            mat-mini-fab
                            class="mat-elevation-z2"
                            [ngClass]="customFuse.anchor?.body"
                            color="default"
                            [matTooltip]="locale('widgets.voiceControls.sendSMS')"
                            (click)="sendSMS()"
                        >
                            <mat-icon>sms</mat-icon>
                        </button>

                        <button
                            *ngIf="widgetData?.InteractionCommentAllowed"
                            mat-mini-fab
                            color="default"
                            class="mat-elevation-z2"
                            [ngClass]="
                                customFuse.anchor?.body + (commentsAdded ? ' animate__animated animate__flash animate__infinite animate__slow' : '')
                            "
                            [matTooltip]="locale('interactionComponent.interactionComment')"
                            (click)="commentsAdded = false; saveInteractionComments()"
                        >
                            <mat-icon>comment</mat-icon>
                        </button>

                        <button
                            *ngIf="status === 'disconnected'"
                            mat-raised-button
                            class="border-radius-20"
                            color="warn"
                            #closeBtn
                            (click)="confirmCloseInteraction(closeBtn)"
                            [matTooltip]="locale('interactionComponent.closeInteraction')"
                        >
                            {{ failedCounter >= 3 ? locale('widgets.voiceControls.forceClose') : locale('interactionComponent.close') }}
                        </button>

                        <br />

                        <!-- <button
                        *ngIf="(isMSCall && tempCallRef?.status === 'connected') || tempCallRef?.status === 'hold'"
                        mat-mini-fab
                        color="default"
                        class="mat-elevation-z2"
                        [ngClass]="(tempCallRef?.status === 'connected' ? 'warning' : 'success')"
                        #holdUnholdBtn
                        [matTooltip]="tempCallRef?.status === 'connected' ? 'Hold Call' : 'Unhold Call'"
                        (click)="holdUnholdMSConsultCall(holdUnholdBtn)"
                    >
                        <mat-icon>phone_paused</mat-icon>
                    </button> -->

                        <button
                            *ngIf="tempCallRef?.isConsult"
                            [disabled]="tempCallRef.status !== 'connected'"
                            mat-raised-button
                            class="border-radius-20"
                            color="primary"
                            #confirmBtn
                            (click)="confirmCallFn(true, confirmBtn)"
                            [matTooltip]="locale('widgets.voiceControls.confirm')"
                        >
                            {{ locale('widgets.voiceControls.confirm') }}
                        </button>

                        <!-- [disabled]="tempCallRef.status !== 'connected'" -->
                        <button
                            *ngIf="tempCallRef?.isConsult"
                            mat-raised-button
                            class="border-radius-20"
                            color="warn"
                            #cancelBtn
                            (click)="confirmCallFn(false, cancelBtn)"
                            [matTooltip]="locale('interactionComponent.cancel')"
                        >
                            {{ locale('interactionComponent.cancel') }}
                        </button>
                    </div>
                </divD>
            </div>
        </div>

        <!-- For web phone -->
        <div hidden>
            <audio *ngFor="let item of msAudioStreams" autoplay playsinline="true" [srcObject]="item.stream" id="{{ item.stream.id }}"></audio>
        </div>
    </tw-wrapper>

    <ng-template #makeCallDialog>
        <shared-wrapper icon="call" title="Make Call" [loading]="false">
            <div *transloco="let locale" [ngClass]="customFuse.anchor?.content || customFuse.widget?.content">
                <form (ngSubmit)="makeCallDialogRef?.close(true)" class="twd-flex twd-items-center twd-gap-2">
                    <mat-form-field class="form-field custom pb-0 with-border twd-pb-0 twd-flex-1 twd-max-w-9/12" appearance="outline">
                        <input
                            class="login-input"
                            matInput
                            required
                            [placeholder]="locale('widgets.voiceControls.number')"
                            name="number"
                            (keypress)="numberOnly($event)"
                            [(ngModel)]="callerID"
                        />
                        <button
                            mat-button
                            color="primary"
                            type="button"
                            *ngIf="callerID"
                            matSuffix
                            mat-icon-button
                            aria-label="Clear"
                            (click)="callerID = ''"
                        >
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <button mat-raised-button color="primary" class="border-radius-20 twd-flex-1 twd-max-w-3/12">
                        {{ locale('widgets.voiceControls.call') }}
                    </button>
                </form>
            </div>
        </shared-wrapper>
    </ng-template>
</ng-container>
