<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="center center">
        <span class="mat-headline mb-0 text-center w-100-p">
            <!-- inorder to access the class variable use angular expression {{ data }} -->
            <table mat-table [dataSource]="datasource" class="mat-elevation-z0 w-100-p">
                <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="Channel">
                    <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header>Channel</th> -->
                    <td mat-cell *matCellDef="let element">{{ element.channel }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="aht">
                    <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header>AHT</th> -->
                    <td mat-cell *matCellDef="let element">{{ element.aht }}</td>
                </ng-container>

                <!-- <tr mat-header-row *matHeaderRowDef="[]"></tr> -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </span>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
