custom-dialog {
    .mat-dialog-title {
        margin-bottom: -16px;
    }

    .mat-dialog-content {
        max-height: 80vh;
    }

    .mat-dialog-actions {
        margin-bottom: -20px;

        button {
            border-radius: 20px;
        }
    }
}
