<tw-wrapper [data]="data">
    <mat-progress-bar class="twd-absolute twd-w-full twd-top-0 twd-left-0" *ngIf="loading || !!templatesRef?.loading" mode="query"></mat-progress-bar>
    <div class="twd-flex twd-gap-x-2 twd-h-full twd-p-2">
        <div class="twd-w-5/12 twd-flex twd-flex-col">
            <mat-form-field class="custom custom-matfield with-border" appearance="outline">
                <input matInput placeholder="To Number" type="number" [(ngModel)]="toNumber" [disabled]="loading" autocomplete="off" />
                <button *ngIf="!toNumber; else clearBtn" mat-icon-button matSuffix disabled>
                    <mat-icon matSuffix>smartphone</mat-icon>
                </button>
                <ng-template #clearBtn>
                    <button mat-button color="primary" matSuffix mat-icon-button aria-label="Clear" (click)="toNumber = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                </ng-template>
            </mat-form-field>
            <div class="twd-flex-1 twd-relative">
                <div class="twd-absolute twd-h-full twd-w-full">
                    <mat-form-field class="twd-h-full twd-w-full custom-textarea custom border-radius-20 with-border" appearance="outline">
                        <textarea
                            matInput
                            matAutosizeMinRows="1"
                            placeholder="Please select a template or enter message..."
                            [(ngModel)]="comment"
                            [disabled]="loading"
                        ></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <text-templates #templatesRef class="twd-w-7/12 twd-pt-1" (sendTemplate)="sendTemplate($event)"></text-templates>
    </div>
</tw-wrapper>
