<tw-wrapper [data]="data">
    <div class="twd-flex twd-gap-x-2 twd-h-full twd-p-2 twd-pb-4 twd-relative">
        <ng-container *ngIf="!!templatesRef?.loading as widgetLoading">
            <mat-progress-bar class="!twd-absolute !twd-w-full twd-top-0 twd-left-0" *ngIf="widgetLoading" mode="query"></mat-progress-bar>
        </ng-container>
        <div class="twd-w-5/12 twd-flex twd-flex-col">
            <mat-form-field class="custom custom-matfield with-border" appearance="outline">
                <input matInput placeholder="To Number" type="tel" [(ngModel)]="toNumber" autocomplete="off" />
                <button *ngIf="!toNumber; else clearBtn" mat-icon-button matSuffix disabled>
                    <mat-icon matSuffix>smartphone</mat-icon>
                </button>
                <ng-template #clearBtn>
                    <button mat-button color="primary" matSuffix mat-icon-button aria-label="Clear" (click)="toNumber = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                </ng-template>
            </mat-form-field>
            <div class="twd-flex-1 twd-relative">
                <div class="twd-absolute twd-h-full twd-w-full">
                    <mat-form-field class="twd-h-full twd-w-full custom-textarea custom pb-0 border-radius-20 with-border" appearance="outline">
                        <textarea matInput matAutosizeMinRows="1" placeholder="Please enter comment..." [(ngModel)]="comment"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <text-templates
            #templatesRef
            class="twd-w-7/12 twd-pt-1"
            [editAllowed]="data?.Data?.EditAllowed"
            (sendTemplate)="sendTemplate($event)"
        ></text-templates>
    </div>
</tw-wrapper>
