@import 'src/app/scss/shared';

@mixin common-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    $mat-warn: map-get($theme, warn);

    .box-shadow-3d {
        @if ($is-dark) {
            filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.5));
        } @else {
            filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.2));
        }
    }

    .hint-text {
        @if ($is-dark == false) {
            color: rgba(0, 0, 0, 0.38) !important;
        }
    }

    .advanced-search-form {
        @if ($is-dark == true) {
            color: #fafafa;
            background-color: map-get($accent, 700);
        } @else {
            color: rgba(0, 0, 0, 0.87);
            background-color: #f1f1f1;
        }

        .adv-search-btn {
            @if ($is-dark == true) {
                color: rgba(0, 0, 0, 0.87);
                background-color: map-get($accent, default);
            } @else {
                color: #fafafa;
                background-color: map-get($primary, default);
            }
        }
    }

    .interactions {
        avatar {
            .avatar-content {
                border: 2px solid map-get($primary, default);
                @if ($is-dark == true) {
                    color: #fafafa !important;
                    // background-color: #303030 !important;
                } @else {
                    color: rgba(0, 0, 0, 0.87) !important;
                    // background-color: #fafafa !important;
                }
            }

            &.connected {
                .avatar-content {
                    border: 2px solid mat-color($mat-green, 700);
                }
            }

            &.disconnected {
                .avatar-content {
                    border: 2px solid map-get($mat-warn, default);
                }
            }

            &.hold {
                .avatar-content {
                    background-color: $tw-warning !important;
                }
            }
        }
    }

    .custom-icon {
        @if ($is-dark == true) {
            filter: invert(1);
        }
    }
}
