@use '@angular/material' as mat;
@mixin matarial-theme($theme) {
    $background: map-get($theme, background);
    $foreground: mat.get-theme-color($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    mat-selection-list {
        .mat-mdc-list-single-selected-option,
        .mat-mdc-list-single-selected-option:hover,
        .mat-mdc-list-single-selected-option:focus {
            animation: apply 1s;

            @if ($is-dark) {
                background: mat.get-theme-color($theme, accent, 700) !important;
            } @else {
                background: mat.get-theme-color($theme, accent, 700)!important;
            }

            @keyframes apply {
                from {
                    background-color: rgba(0, 0, 0, 0.12);
                }
                to {
                    @if ($is-dark) {
                        background: mat.get-theme-color($theme, accent, 700) !important;
                    } @else {
                        background: mat.get-theme-color($theme, accent, 700) !important;
                    }
                }
            }
        }
    }

    .mat-mdc-table {
        tr {
            td {
                @if ($is-dark) {
                    color: #eaeaea;
                    background-color: #303030;
                } @else {
                    color: #303030;
                    background-color: #eaeaea;
                }
            }

            &.selected {
                td {
                    @if ($is-dark) {
                        color: #eaeaea;
                        background-color: lighten(#303030, 5);
                    } @else {
                        color: #303030;
                        background-color: darken(#eaeaea, 5);
                    }
                }
            }
        }

        mat-header-cell {
            color: mat-color($foreground, text);
        }

        mat-row {
            @if ($is-dark) {
                color: rgb(0 0 0 / 0.04);
                background-color: map-get($background, hover);
            } @else {
                //color: map-get($background, hover);
                color: #3D3D3D;
                background-color: rgb(0 0 0 / 0.02);
            }
        }
    }

    mat-form-field {
        &.prompt,
        &.with-bg {
            .mat-mdc-text-field-wrapper .mat-mdc-form-field-outline,
            textarea {
                @if ($is-dark) {
                    background-color: map-get($background, hover);
                } @else {
                    background-color: #ffffff;
                }
            }
        }
    }

    .mat-mdc-paginator {
        @if ($is-dark) {
            color: #eaeaea;
            background-color: #303030;
        } @else {
            color: #303030;
            background-color: #eaeaea;
        }
    }



    /** added during upgrade to Angular Material 18, can be removed on latest design enhancement**/

    mat-selection-list {
        mat-list-option[tabindex="0"] {
            animation: apply 1s;

            @if ($is-dark) {
                background: mat.get-theme-color($theme, accent, 700) !important;
            } @else {
                background: mat.get-theme-color($theme, accent, 700)!important;
            }

            @keyframes apply {
                from {
                    background-color: rgba(0, 0, 0, 0.12);
                }
                to {
                    @if ($is-dark) {
                        background: mat.get-theme-color($theme, accent, 700) !important;
                    } @else {
                        background: mat.get-theme-color($theme, accent, 700) !important;
                    }
                }
            }
        }
    }
}
