@mixin matarial-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    mat-selection-list {
        .mat-list-single-selected-option,
        .mat-list-single-selected-option:hover,
        .mat-list-single-selected-option:focus {
            animation: apply 1s;

            @if ($is-dark) {
                background: mat-color($accent, 700) !important;
            } @else {
                background: mat-color($accent, 700) !important;
            }

            @keyframes apply {
                from {
                    background-color: rgba(0, 0, 0, 0.12);
                }
                to {
                    @if ($is-dark) {
                        background: mat-color($accent, 700) !important;
                    } @else {
                        background: mat-color($accent, 700) !important;
                    }
                }
            }
        }
    }

    .mat-table {
        tr {
            td {
                @if ($is-dark) {
                    color: #eaeaea;
                    background-color: #303030;
                } @else {
                    color: #303030;
                    background-color: #eaeaea;
                }
            }

            &.selected {
                td {
                    @if ($is-dark) {
                        color: #eaeaea;
                        background-color: lighten(#303030, 5);
                    } @else {
                        color: #303030;
                        background-color: darken(#eaeaea, 5);
                    }
                }
            }
        }

        // DEMO PURPOSE ONLY
        mat-header-cell {
            @if ($is-dark) {
                color: white;
            } @else {
                color: rgba(0, 0, 0, 0.87);
            }
        }
        // DEMO PURPOSE ONLY

        mat-row {
            @if ($is-dark) {
                color: rgb(0 0 0 / 0.04);
                background-color: map-get($background, hover);
            } @else {
                color: map-get($background, hover);
                background-color: rgb(0 0 0 / 0.02);
            }
        }
    }

    .mat-paginator {
        @if ($is-dark) {
            color: #eaeaea;
            background-color: #303030;
        } @else {
            color: #303030;
            background-color: #eaeaea;
        }
    }
}
