@import '~@tmac/styles/scss/tailwind.scss';

input[type='text'].twd-input,
input[type='password'].twd-input,
input[type='email'].twd-input,
input[type='number'].twd-input,
input[type='url'].twd-input,
input[type='date'].twd-input,
input[type='datetime-local'].twd-input,
input[type='month'].twd-input,
input[type='week'].twd-input,
input[type='time'].twd-input,
input[type='search'].twd-input,
input[type='tel'].twd-input,
input[type='checkbox'].twd-input,
input[type='radio'].twd-input,
select.twd-select,
select[multiple].twd-input,
textarea.twd-textarea,
button.twd-button {
    @apply twd-rounded-xl;
    &:focus {
        outline: none !important;
    }
}

button:focus {
    outline: none !important;
}

.twd-button {
    @apply twd-py-2;
    @apply twd-px-6;
    @apply twd-rounded-2xl;
    @apply twd-shadow-lg;
    @apply twd-transition;
    @apply twd-ease-in;
    @apply twd-duration-200;
    @apply twd-border-none;
    &:hover {
        @apply twd-shadow-xl;
    }
    &:focus {
        @apply twd-outline-none;
        @apply twd-border-transparent;
    }

    &.--icon {
        @apply twd-p-1;
        @apply twd-flex;
        @apply twd-justify-center;
        @apply twd-shadow-none;
    }

    &.--primary {
        @apply twd-bg-primary-600;
    }

    &.--accent {
        @apply twd-bg-accent-600;
    }

    &.--warn {
        @apply twd-bg-warn-600;
    }

    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        background: rgba(255, 255, 255, 0.3);
        display: block;
        position: absolute;
        border-radius: 50%;
        padding-top: 240%;
        padding-left: 240%;
        margin-top: -120%;
        margin-left: -120%;
        opacity: 0;
        transition: all 1s;
    }

    &:active:after {
        padding-top: 0;
        padding-left: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 1;
        transition: 0s;
    }
}

.twd-icon {
    @apply twd-h-5;
    @apply twd-w-5;
    @apply twd-mx-1;
    &.--sm {
        @apply twd-h-4;
        @apply twd-w-4;
    }
    &.--lg {
        @apply twd-h-6;
        @apply twd-w-6;
    }
}
