// Import Fuse core library
@import '@fuse/scss/core';

// import app core library
@import 'app/scss/core';

// Import app theme styles
@import 'app/app.theme';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
// @import '@tmac/notebook/styles/default.scss';

body {
    font-family: 'Arial', sans-serif;

    &.wf-muli {
        font-family: 'Muli';
    }

    &.wf-montserrat {
        font-family: 'Montserrat';
    }

    &.wf-source-sans-pro {
        font-family: 'Source Sans Pro';
    }
}

img {
    border: none;
}

img {
    border: none;
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 8px rgba(0, 0, 0, 0.37) !important;
}

.custom-scroll {
    overflow: auto;
    &-adjust {
        overflow: auto;
    }
}

input[type='text'] {
    color: currentColor !important;
}

input[type='time']::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}
