<tw-wrapper *transloco="let locale" [data]="data" (maximizeEvent)="maximized = $event">
    <mat-progress-bar *ngIf="progress" mode="query"></mat-progress-bar>
    <div *ngIf="customerInfo && !contactData.loading" class="h-100-p twd-overflow-auto twd-flex twd-flex-col twd-gap-2 px-12 py-8">
        <div class="w-100-p twd-flex twd-flex-row twd-flex-wrap border-radius-20">
            <div class="line-height-30 position-relative twd-p-1 twd-min-w-4/12 twd-max-w-4/12" *ngFor="let item of customerInfo">
                <div class="title text-bold">{{ item.Title }}:</div>
                <div>
                    {{ item.Value || item.DefaultValue || '-' }}
                    <mat-divider class="w-90-p"></mat-divider>
                </div>
            </div>

            <ng-container *ngIf="contactData.data">
                <div class="line-height-30 position-relative twd-p-1 twd-min-w-4/12 twd-max-w-4/12" *ngFor="let item of contactData.data.dynamicdata">
                    <ng-container>
                        <div class="title text-bold">{{ item.Key }}:</div>
                        <div>
                            {{ item.Value || 'NA' }}
                            <mat-divider class="w-90-p"></mat-divider>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <form name="submitForm" [formGroup]="submitForm" class="twd-flex twd-flex-1 twd-flex-row twd-items-start twd-gap-4">
            <div class="twd-flex twd-flex-1 twd-flex-col twd-items-start twd-max-w-4/12">
                <mat-form-field class="custom twd-w-full with-border pb-0" appearance="outline">
                    <mat-select
                        [placeholder]="locale('interactionComponent.status')"
                        formControlName="status"
                        (selectionChange)="onStatusChange($event)"
                    >
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let item of statusList" [value]="item.Value">{{ item.Text }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="widgetData.ReasonEnabled" class="custom twd-w-full with-border pb-0" appearance="outline">
                    <mat-select
                        [placeholder]="locale('widgets.campaignContact.reason')"
                        formControlName="reason"
                        [disabled]="(!submitForm.get('status')?.value ?? true) && reasonList?.length === 0"
                    >
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let item of reasonList" [value]="item.Value">{{ item.Text }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field class="twd-flex-1 custom mb-8 border-radius-20 with-border twd-max-w-4/12" appearance="outline">
                <textarea
                    [placeholder]="locale('widgets.customerJourney.comments')"
                    matInput
                    name="comment"
                    matTextareaAutosize
                    rows="5"
                    formControlName="comment"
                ></textarea>
            </mat-form-field>
            <div class="twd-flex twd-flex-1 twd-flex-col twd-items-start twd-gap-4 twd-max-w-4/12 twd-mt-2">
                <button
                    *ngIf="showMakeCall"
                    mat-raised-button
                    class="mat-custom-btn bg-success border-radius-20 mat-elevation-z2"
                    (click)="confirmMakeCall()"
                    [matTooltip]="locale('interactionComponent.makeCall')"
                >
                    <mat-icon>call</mat-icon>
                </button>

                <button
                    mat-raised-button
                    class="border-radius-20 twd-min-w-4/12"
                    color="primary"
                    [matTooltip]="locale('global.submit')"
                    #submitBtn
                    [disabled]="!checkForSubmit()"
                    (click)="submitCallback(submitBtn)"
                >
                    {{ locale('global.submit') }}
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="contactData.loading" class="twd-flex twd-justify-center twd-items-center w-100-p h-100-p border-radius-20">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="contactData.errorMessage" class="twd-flex twd-justify-center twd-items-center w-100-p h-100-p p-12 border-radius-20">
        <p>{{ contactData.errorMessage }}</p>
    </div>
</tw-wrapper>
