tw-customer-journey {
    .mat-card-content {
        background: inherit !important;
        padding: 0 !important;
    }

    .customer-journey {
        width: 100%;
        height: 100%;
        background: inherit;
        // .timeline {
        //     width: 100%;
        // height: 100%;
        .step {
            white-space: pre-wrap;
            border-radius: 20px;
            cursor: pointer;
            .step-details {
                position: relative;
            }
            &-details::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 150%;
                background-color: purple;
            }
            &:nth-child(3) .step-details::before {
                top: 30%;
            }
            &:last-child .step-details::before {
                top: unset;
                bottom: 70%;
            }
            &-details::after {
                content: '';
                position: absolute;
                width: 10px;
                z-index: 1;
                height: 10px;
                border-radius: 50%;
                background-color: white;
                border: 1px solid purple;
                top: 30%;
                left: -5px;
            }
        }
        .mat-form-field-wrapper {
            padding-bottom: 1em !important;
        }
        // }
        .table {
            width: 100%;
            // height: 35%;
            padding: 0px 8px;
            background: inherit;
            border-radius: 20px;
            .mat-table {
                padding-bottom: 0% !important;
                flex: 1;
            }

            transition-property: height;
            transition-duration: 0.4s;
            transition-timing-function: ease-in-out;
        }
        .spread {
            width: 100%;
            // height: 65%;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            & > *:nth-child(2) {
                flex: 1;
            }
            // justify-content: center;
            // align-items: center;
        }
        mat-icon {
            font-size: 18px;
            line-height: 18px;
            width: 18px;
            height: 18px;
            min-height: 18px;
            min-width: 18px;
        }
    }

    iframe {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 2rem;

        .none {
            display: none;
        }
    }

    .chat-container {
        .divider {
            height: 5px;
            width: 80%;
            margin: 8px auto;
            border-radius: 20px;
        }

        button {
            .mat-button-wrapper {
                line-height: normal;
            }

            &.more-option-button {
                background-color: grey;
                .mat-button-wrapper {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .chat-content {
            flex: 1;

            .chat-actions {
                button {
                    margin: 6px 6px 6px 0;
                    // width: 46px;
                    // height: 46px;

                    &:not(.mat-warn) {
                        background: #bdbdbd;
                    }
                }
            }

            .chat-transcripts {
                background: transparent;
                overflow: auto;
                -webkit-overflow-scrolling: touch;

                .chat-messages {
                    position: relative;
                    padding: 16px 0 40px 0px;

                    .message-row {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-end;
                        padding: 0 16px 4px 16px;

                        .avatar {
                            position: absolute;
                            left: -32px;
                            margin: 0;
                        }

                        .bubble {
                            position: relative;
                            overflow: hidden;
                            .reply-to {
                                position: absolute;
                                width: 40px;
                                z-index: 2;
                                height: 100%;
                                z-index: 100;
                                right: -40px;
                                top: 0;
                                background: linear-gradient(to right top, transparent 50%, gray);
                                transition: right 0.1s;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                max-height: 50px;
                                button {
                                    transform: scale(0.8);
                                }
                            }
                            &:hover {
                                .reply-to {
                                    right: 0;
                                }
                            }
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 6px 7px 8px 9px;
                            max-width: 95%;
                            margin-bottom: 2px;

                            &.maximized {
                                max-width: 60%;
                            }

                            .right-svg {
                                position: absolute;
                                right: -7px;
                                top: -1px;
                            }

                            .left-svg {
                                color: #d2c8d9;
                                position: absolute;
                                left: -7px;
                                top: -1px;
                            }

                            .message {
                                white-space: pre-wrap;
                                line-height: 1.4;
                                font-size: 14px;
                                margin-bottom: 12px;
                                font-weight: 600;

                                .spacer {
                                    width: 68px;
                                    display: inline-block;
                                    vertical-align: middle;
                                }

                                .attachments {
                                    width: 300px;
                                    border-radius: 5px;
                                    position: relative;

                                    img,
                                    video {
                                        min-height: 150px;
                                        max-height: 300px;
                                        cursor: pointer;
                                        border-radius: inherit;
                                        width: 100%;
                                        height: 100%;
                                    }

                                    .video-overlay {
                                        position: absolute;
                                        width: 100%;
                                        height: 100%;
                                        top: 0;
                                        left: 0;
                                        background: rgb(0 0 0 / 0.2);
                                        z-index: 2;

                                        button {
                                            width: 64px;
                                            height: 64px;
                                            background: #fff;

                                            .mat-icon {
                                                font-size: 48px;
                                                line-height: 48px;
                                                width: 48px;
                                                height: 48px;
                                            }
                                        }
                                    }

                                    video {
                                        -webkit-filter: blur(8px);
                                        -moz-filter: blur(8px);
                                        -o-filter: blur(8px);
                                        -ms-filter: blur(8px);
                                        filter: blur(8px);
                                    }

                                    .time-overlay {
                                        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
                                        position: absolute;
                                        bottom: 0;
                                        z-index: 2;
                                        width: 100%;
                                        height: 28px;
                                    }

                                    .file {
                                        padding: 10px 0px 10px 6px;
                                        background: rgb(0 0 0 / 0.2);
                                        border-radius: 5px;

                                        .file-icon {
                                            font-size: 36px;
                                            line-height: 36px;
                                            width: 36px;
                                            height: 36px;
                                            color: rgb(255 255 255 / 0.5);
                                        }

                                        .file-name {
                                            font-weight: 700;
                                            font-size: 14px;
                                            text-overflow: ellipsis;
                                            width: 100%;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            margin-left: 8px;
                                        }

                                        .download {
                                            background: rgb(0 0 0 / 0.1);
                                            color: rgb(255 255 255 / 0.5);
                                        }
                                    }
                                }
                            }

                            .time {
                                width: 100%;
                                z-index: 2;
                                font-size: 10px;
                                white-space: nowrap;
                                text-align: right;
                                margin: -8px 0px -4px -2px;

                                &.image,
                                &.video {
                                    color: #ffffff;
                                    margin-top: -24px;
                                }
                            }
                        }

                        &.contact {
                            .bubble {
                                border-radius: 5px;

                                .user-label {
                                    color: #6bcbef !important;
                                    &.agent {
                                        color: #35cd96 !important;
                                    }
                                }
                            }

                            &.first-of-group {
                                .bubble {
                                    border-top-left-radius: 0px;
                                }
                            }

                            &.last-of-group {
                                .bubble {
                                    border-bottom-left-radius: 10px;
                                }
                            }
                        }

                        &.me {
                            padding-left: 40px;

                            .avatar {
                                order: 2;
                                margin: 0 0 0 16px;
                            }

                            .bubble {
                                margin-left: auto;
                                border-radius: 5px;

                                .user-label {
                                    color: #91ab01 !important;
                                }
                            }

                            &.first-of-group {
                                .bubble {
                                    border-top-right-radius: 0px;
                                }
                            }

                            &.last-of-group {
                                .bubble {
                                    border-bottom-right-radius: 10px;
                                }
                            }
                        }

                        &.contact + .me,
                        &.me + .contact {
                            padding-top: 4px;
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}

.customer-journey-advanced-form .mat-dialog-container {
    @apply twd-p-0;
    @apply twd-rounded-2xl;
}
