<ng-container
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async)
    } as customFuse"
>
    <tw-wrapper [data]="data" (maximizeEvent)="onMaximized($event)">
        <div [ngClass]="maximized && (customFuse.anchor?.content || customFuse.widget?.content)" class="customer-journey">
            <ad-table
                [footer]="maximized ? 'show' : 'hide'"
                [pagination]="true"
                [sort]="true"
                (actionReducer)="handleActions($event)"
                [expandableRows]="true"
                [customRow]="maximized ? null : customRow"
                [expandedRow]="expandedRow"
                [loading]="table?.loading"
                (pageEvent)="pageEvent()"
            >
            </ad-table>
        </div>
    </tw-wrapper>

    <ng-template #customRow let-record="record">
        <div
            *ngIf="record as s"
            (click)="switchMaximizedViewMode('Session History', s)"
            class="twd-cursor-pointer twd-w-full twd-flex twd-py-1 twd-px-2"
            [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
        >
            <div class="twd-w-3/12">
                <small class="twd-pl-5 text-right twd-flex twd-items-center twd-pr-2 twd-break-words">
                    {{ s.InteractionDate | date: 'dd/MM/yyyy, hh:mm:ss a' }}
                </small>
            </div>
            <div class="twd-flex-1 twd-pl-3 twd-flex twd-justify-between twd-items-center">
                <div class="twd-flex-1 twd-flex twd-items-center twd-px-1 twd-truncate">
                    <div mat-card-avatar [ngSwitch]="s.Channel | lowercase" class="w-32 h-32 border-sm-primary">
                        <mat-icon color="primary" [matTooltip]="s.Channel">
                            {{ table.config.Channel.icon(record).name }}
                        </mat-icon>
                    </div>
                    <span class="ml-8" [ngSwitch]="s.Channel | lowercase">
                        <ng-container *ngSwitchCase="'voice'"> Voice with </ng-container>
                        <ng-container *ngSwitchCase="'chat'"> Chat with </ng-container>
                        <ng-container *ngSwitchCase="'textchat'"> Chat with </ng-container>
                        <ng-container *ngSwitchCase="'audiochat'"> Audio Call with </ng-container>
                        <ng-container *ngSwitchCase="'videochat'"> Video Call with </ng-container>
                        <ng-container *ngSwitchCase="'sms'"> SMS chat with </ng-container>
                        <ng-container *ngSwitchCase="'email'"> Email with </ng-container>
                        <ng-container *ngSwitchCase="'fax'"> Fax with </ng-container>
                        <ng-container *ngSwitchCase="'line'"> Line chat with </ng-container>
                        <ng-container *ngSwitchCase="'services'"> Serviced by </ng-container>
                        <ng-container *ngSwitchDefault> {{ s.Channel }} with </ng-container>
                        {{ s.LastServicedAgentName || s.AgentName }}
                    </span>
                </div>
                <ng-container *ngIf="s.Intent || 'Default' as intent">
                    <small [matTooltip]="intent" class="twd-w-2/12 twd-truncate">{{ intent }}</small>
                </ng-container>
            </div>
        </div>
    </ng-template>

    <ng-template #expandedRow let-record="record">
        <div
            *ngIf="expanded && expanded.value as selected"
            class="custom-row bg-inherit twd-w-full twd-pb-2 animate__slideInDown"
            [ngClass]="customFuse.anchor?.body || customFuse.widget?.body"
        >
            <div
                class="
                    twd-z-20 twd-text-xl twd-font-bold twd-top-0 twd-shadow-md
                    bg-inherit
                    twd-flex twd-justify-between twd-p-2 twd-items-center twd-sticky
                "
            >
                <span> {{ expanded.mode }} </span>
                <button mat-icon-button color="warn" class="twd-mr-auto" (click)="table.collapseExpanded(); table.selected = null">
                    <mat-icon> close </mat-icon>
                </button>
            </div>
            <div class="twd-py-2 twd-h-full twd-rounded-3xl">
                <ng-container *ngIf="expanded.mode === 'Comments'">
                    <ng-container *ngIf="selected.data | async as iNotes">
                        <div class="px-12 pb-12" *ngIf="!selected.error && !selected.loading">
                            <p *ngIf="!iNotes.length" class="text-center mat-headline mt-20">No Comments Available</p>
                            <div
                                class="step m-8 px-8 py-8 mat-elevation-z1 border-radius-20 font-size-16 font-weight-600 twd-text-left"
                                *ngFor="let note of iNotes"
                                [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                                [innerHTML]="note"
                            ></div>
                        </div>
                    </ng-container>
                    <p class="text-center mat-headline mt-20" *ngIf="selected.loading">Loading...</p>
                    <p class="text-center mat-headline mt-20" *ngIf="selected.error">Some Error Occured</p>
                </ng-container>

                <ng-container *ngIf="expanded.mode === 'Actions'">
                    <div class="px-12 pb-12" *ngIf="!selected.error && !selected.loading">
                        <div *ngIf="!selected.data?.length" class="text-center mt-40 mat-headline">No data available</div>

                        <div
                            *ngFor="let action of selected.data"
                            class="twd-mb-1 twd-pb-1 mat-elevation-z1 twd-text-base twd-font-semibold twd-rounded-3xl"
                            [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                        >
                            <div fxFlex="20" fxLayout fxLayoutAlign="center center" class="step-time p-8">
                                {{ action.ActionTime | date: 'dd/MM/yyyy, hh:mm:ss a' }}
                            </div>
                            <div fxFlex="75" fxLayout fxLayoutAlign="space-between center" class="step-details px-16 p-8">
                                {{ action.Action }}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="selected.loading" fxLayout fxLayoutAlign="center">
                        <p class="mt-20">
                            <mat-spinner></mat-spinner>
                        </p>
                    </div>
                    <div *ngIf="selected.error" fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <p>
                            {{ selected.msg }}
                        </p>
                        <!-- <button mat-button color="primary" (click)="selected(element.SessionID)">Retry</button> -->
                    </div>
                </ng-container>

                <ng-container *ngIf="expanded.mode === 'Session History'">
                    <iframe *ngIf="!!selected" [src]="selected" class="w-100-p h-100-p" frameborder="0" seamless="seamless"></iframe>
                </ng-container>

                <ng-container *ngIf="expanded.mode === 'Transcripts'">
                    <ng-container *ngIf="expanded.value as chatTranscripts">
                        <div *ngIf="chatTranscripts.length" fxLayout="row" fxLayoutAlign=" none" class="w-100-p pb-16 chat-container">
                            <div fxLayout="column" fxLayoutAlign=" none" class="border-radius-20 chat-content">
                                <!-- CHAT CONTENT -->
                                <div class="chat-transcripts" fxFlex="1 1 auto">
                                    <!-- CHAT MESSAGES -->
                                    <div class="chat-messages px-12">
                                        <!-- MESSAGE -->
                                        <ng-container *ngFor="let item of chatTranscripts; let i = index">
                                            <div
                                                *ngIf="item.message"
                                                class="message-row"
                                                [ngClass]="{
                                                    me: item?.who !== defaultCustomerName,
                                                    contact: item?.who === defaultCustomerName
                                                }"
                                            >
                                                <div
                                                    fxLayout="column"
                                                    fxLayoutAlign="start start"
                                                    class="bubble"
                                                    [ngClass]="item.isAgent ? 'right' : 'left'"
                                                >
                                                    <div
                                                        *ngIf="chatTranscripts[i - 1]?.who !== item.who"
                                                        class="user-label font-size-16 text-bold mb-4"
                                                    >
                                                        {{ item.who }}
                                                    </div>

                                                    <div class="message">
                                                        <div *ngIf="item.message.type === 'attachment'">
                                                            <img
                                                                [src]="
                                                                    ((fileUploadUrl$ | async) || 'TmacProxy') +
                                                                    '/' +
                                                                    selected.SessionID +
                                                                    '/' +
                                                                    item.message.attachment.name
                                                                "
                                                                class="w-100-p"
                                                                [alt]="item.message.attachment.name"
                                                            />

                                                            <!-- <img
                                                        [src]="item.message.attachment.src"
                                                        class="w-100-p"
                                                        [alt]="item.message.attachment.name"
                                                    /> -->

                                                            <span [innerHTML]="item.message.message"></span>
                                                        </div>

                                                        <span *ngIf="item.message.type === 'text'" [innerHTML]="item.message.message"></span>
                                                    </div>
                                                    <div class="time">
                                                        {{ item.time | date: 'dd/MM/yy, hh:mm a' }}
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <!-- / MESSAGE -->
                                    </div>
                                    <!-- CHAT MESSAGES -->
                                </div>
                                <!-- / CHAT CONTENT -->
                            </div>
                        </div>
                        <div *ngIf="!chatTranscripts.length" class="w-100-p">
                            <div class="w-25-p mx-auto mb-20">
                                <img src="assets/images/vectors/no-data-1.svg" class="box-shadow-3d" />
                            </div>
                            <p class="text-center mat-title m-0">No Transcripts Available</p>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="expanded.mode === 'Email Preview'">
                    <preview-email [email]="selected.data" [loading]="selected.loading" [error]="selected.error" (retry)="showEmailThread()">
                        <div
                            *ngIf="selected.data as emailInfo"
                            id="emailInfo"
                            class="twd-flex twd-justify-between twd-overflow-hidden twd-transition-all"
                        >
                            <div fxFlex="80" class="twd-flex">
                                <div class="twd-flex-1">
                                    <p class="text-bold my-4">To: {{ emailInfo.ToList || 'NA' }}</p>
                                    <p class="my-4 text-bold">From: {{ emailInfo.From || 'NA' }}</p>
                                    <p class="text-bold my-4" *ngIf="emailInfo.CCList">Cc: {{ emailInfo.CCList }}</p>
                                    <p matTooltip="Intent">
                                        <span class="text-bold"> Intent: {{ emailInfo.Intent || 'NA' }}</span>
                                    </p>
                                    <p class="my-4 text-bold">Replied Status: {{ emailInfo.RepliedStatus === '1' ? 'Replied' : 'Not Replied' }}</p>
                                    <ng-container *ngIf="emailInfo.AddedTime">
                                        <p class="my-4">{{ emailInfo.AddedTime | date: 'longDate' }}</p>
                                        <p class="my-4">{{ emailInfo.AddedTime | date: 'shortTime' }}</p>
                                    </ng-container>
                                </div>

                                <div class="twd-grid twd-grid-cols-1 twd-items-center twd-justify-end">
                                    <p class="my-4 text-bold">Status: {{ emailInfo.CurrentStatus || 'NA' }}</p>
                                    <p class="my-4 text-bold">Prirority: {{ emailInfo.Priority || 'NA' }}</p>
                                    <p class="my-4 text-bold">Agent: {{ emailInfo.AgentName || 'NA' }}</p>
                                    <p class="my-4 text-bold">Closed Status: {{ emailInfo.ClosedBy ? 'Closed by' + emailInfo.ClosedBy : 'Open' }}</p>
                                </div>
                            </div>
                        </div>
                    </preview-email>
                </ng-container>

                <!-- <ng-container *ngIf="expanded.mode === 'Session Emails'">
                    <ng-container
                        [ngTemplateOutlet]="table"
                        [ngTemplateOutletContext]="{
                            dataSource: selected.Children,
                            sortDisabled: true
                        }"
                    ></ng-container>
                </ng-container> -->
            </div>
        </div>
    </ng-template>
</ng-container>
