<ng-template #interactionBrandType let-subType="SubType">
    <ng-container [ngSwitch]="subType | lowercase">
        <mat-icon color="primary" *ngSwitchCase="'textchat'" matTooltip="Chat">chat</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'chat'" matTooltip="Chat">chat</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'text'" matTooltip="Chat">chat</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'audio'" matTooltip="Audio">wifi_calling_3</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'video'" matTooltip="Video">duo</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'whatsapp'" svgIcon="custom-whatsapp" matTooltip="WhatsApp"></mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'we'" svgIcon="custom-we" matTooltip="We Chat"></mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'line'" svgIcon="custom-line" matTooltip="Line"></mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'viber'" svgIcon="custom-viber" matTooltip="Viber"></mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'twitter'" svgIcon="custom-twitter" matTooltip="Twitter"></mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'fb'" svgIcon="custom-fb" matTooltip="Facebook"></mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'telegram'" svgIcon="custom-telegram" matTooltip="Telegram"></mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'store'" matTooltip="Store">store</mat-icon>
        <mat-icon color="primary" *ngSwitchCase="'field'" matTooltip="Field">roofing</mat-icon>
        <mat-icon color="primary" *ngSwitchDefault> feed </mat-icon>
    </ng-container>
</ng-template>

<tw-wrapper [data]="data" (maximizeEvent)="onMaximized($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)">
    <ng-container
        *ngIf="{
            anchor: (customFuse.anchor$ | async),
            widget: (customFuse.widget$ | async)
        } as customFuse"
    >
        <div *ngIf="!customerJourneyTable.loading" class="customer-journey" [fxLayout]="maximized ? 'column' : 'row wrap'" fxLayoutGap="6px">
            <!-- minimised view start - Timeline -->
            <div *ngIf="!maximized" class="timeline custom-scroll-adjust h-100-p w-100-p">
                <div
                    *ngFor="let s of customerJourneyTable.tableData.source.data"
                    fxLayout="row-wrap"
                    class="step mb-4 p-4 mat-elevation-z1"
                    (click)="switchMaximizedViewMode('Session History', s)"
                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                >
                    <div fxFlex="15" fxLayout fxLayoutAlign="center center" class="step-time pr-8">
                        <small class="text-right">
                            {{ s.InteractionDate | date: 'dd/MM/yyyy, hh:mm:ss a' }}
                        </small>
                    </div>
                    <div fxFlex="85" fxLayout fxLayoutAlign="space-between center" class="step-details px-16">
                        <div fxLayout fxFlex="85" fxLayoutAlign="start center">
                            <div mat-card-avatar [ngSwitch]="s.Channel | lowercase" class="w-32 h-32 border-sm-primary">
                                <ng-container *ngSwitchCase="'textchat'">
                                    <ng-container *ngTemplateOutlet="interactionBrandType; context: s"></ng-container>
                                </ng-container>
                                <ng-container *ngSwitchCase="'audiochat'">
                                    <ng-container *ngTemplateOutlet="interactionBrandType; context: s"></ng-container>
                                </ng-container>
                                <ng-container *ngSwitchCase="'videochat'">
                                    <ng-container *ngTemplateOutlet="interactionBrandType; context: s"></ng-container>
                                </ng-container>
                                <ng-container *ngSwitchCase="'services'">
                                    <ng-container *ngTemplateOutlet="interactionBrandType; context: s"></ng-container>
                                </ng-container>
                                <mat-icon color="primary" *ngSwitchCase="'voice'" matTooltip="Voice"> phone </mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'sms'" matTooltip="SMS"> sms </mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'email'" matTooltip="Email"> email </mat-icon>
                                <mat-icon color="primary" *ngSwitchCase="'fax'" matTooltip="Fax"> print </mat-icon>
                                <mat-icon color="primary" *ngSwitchDefault [matTooltip]="s.SubType"> feed </mat-icon>
                            </div>
                            <span class="ml-8" [ngSwitch]="s.Channel | lowercase">
                                <ng-container *ngSwitchCase="'voice'"> Voice with </ng-container>
                                <ng-container *ngSwitchCase="'chat'"> Chat with </ng-container>
                                <ng-container *ngSwitchCase="'textchat'"> Chat with </ng-container>
                                <ng-container *ngSwitchCase="'audiochat'"> Audio Call with </ng-container>
                                <ng-container *ngSwitchCase="'videochat'"> Video Call with </ng-container>
                                <ng-container *ngSwitchCase="'sms'"> SMS chat with </ng-container>
                                <ng-container *ngSwitchCase="'email'"> Email with </ng-container>
                                <ng-container *ngSwitchCase="'fax'"> Fax with </ng-container>
                                <ng-container *ngSwitchCase="'line'"> Line chat with </ng-container>
                                <ng-container *ngSwitchCase="'services'"> Serviced by </ng-container>
                                <ng-container *ngSwitchDefault> {{ s.Channel }} with </ng-container>
                                {{ s.LastServicedAgentName || s.AgentName }}
                            </span>
                        </div>
                        <small fxFlex="15" class="text-center">{{ s.Intent || 'Default' }}</small>
                    </div>
                </div>
                <p *ngIf="!customerJourneyTable.tableData.source.data.length" class="mat-title w-100-p text-center mt-20">No Data Available</p>
            </div>
            <!-- minimised view end - Timeline -->

            <!-- maximised view start - Table -->
            <div
                class="table twd-overflow-y-auto twd-h-full twd-flex twd-flex-col twd-justify-between"
                [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                [formGroup]="searchForm"
                *ngIf="
                    maximized && {
                        data: customerJourneyTable.tableData.source.data.length,
                        noFilteredData: !customerJourneyTable.tableData.source.filteredData?.length && customerJourneyTable.tableData.source.filter
                    } as avl
                "
            >
                <div *ngIf="avl.data" class="twd-max-h-11/12 twd-overflow-y-auto bg-inherit" [ngClass]="{ 'twd-flex-1': !avl.noFilteredData }">
                    <ng-container
                        [ngTemplateOutlet]="table"
                        [ngTemplateOutletContext]="{
                            dataSource: customerJourneyTable.tableData.source,
                            sortDisabled: customerJourneyTable.tableData.sortDisabled
                        }"
                    ></ng-container>
                </div>
                <div *ngIf="!avl.data" class="twd-flex-1 twd-grid twd-items-center">
                    <p class="text-center twd-text-2xl twd-font-semibold twd-mb-20">No Data Available</p>
                </div>
                <div *ngIf="avl.noFilteredData" class="twd-flex-1 twd-grid twd-items-center">
                    <p class="text-center twd-text-2xl twd-font-semibold twd-mb-20">No Data With Applied Filters Available</p>
                </div>
                <div *ngIf="avl.data" class="twd-flex twd-justify-between twd-py-2">
                    <div class="twd-w-5/12 twd-flex twd-items-center">
                        <button mat-button color="primary" class="border-radius-20" (click)="advancedSearchModal.open()">
                            Advanced Search
                            <mat-icon>search</mat-icon>
                        </button>
                        <button
                            mat-button
                            color="warn"
                            class="border-radius-20 twd-ml-2"
                            (click)="searchForm.reset(); doAdvancedSearch()"
                            [disabled]="!customerJourneyTable.tableData.source.filter"
                        >
                            Clear Search
                            <mat-icon>close</mat-icon>
                        </button>
                        <ng-template #advancedSearchFormRef>
                            <div class="mat-elevation-z1 twd-p-4" [ngClass]="customFuse.anchor?.body || customFuse.widget?.body">
                                <div
                                    class="twd-rounded-3xl mat-elevation-z1 twd-p-4"
                                    [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                                >
                                    <p class="twd-text-xl twd-font-bold twd-mt-1 twd-mb-6">Advanced Search</p>
                                    <form
                                        class="twd-grid twd-grid-cols-1 xl:twd-grid-cols-2 twd-gap-y-3 twd-gap-x-5"
                                        [formGroup]="searchForm"
                                        (ngSubmit)="doAdvancedSearch()"
                                        novalidate
                                    >
                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('InteractionDate')">
                                            <mat-label>Received At</mat-label>
                                            <mat-date-range-input #dateRangePicker [rangePicker]="interactionDatePicker">
                                                <input matStartDate placeholder="Start date" formControlName="InteractionDateStart" />
                                                <input matEndDate placeholder="End date" formControlName="InteractionDateEnd" />
                                            </mat-date-range-input>
                                            <mat-datepicker-toggle matSuffix [for]="interactionDatePicker"></mat-datepicker-toggle>
                                            <mat-date-range-picker #interactionDatePicker></mat-date-range-picker>
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('Channel')">
                                            <mat-label>Channel</mat-label>
                                            <input matInput type="text" formControlName="Channel" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('Direction')">
                                            <mat-label>Direction</mat-label>
                                            <input matInput type="text" formControlName="Direction" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('InteractionText')">
                                            <mat-label>Interaction Text</mat-label>
                                            <input matInput type="text" formControlName="InteractionText" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('Intent')">
                                            <mat-label>Intent</mat-label>
                                            <input matInput type="text" formControlName="Intent" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('AgentName')">
                                            <mat-label>Agent</mat-label>
                                            <input matInput type="text" formControlName="AgentName" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('CIF')">
                                            <mat-label>CIF</mat-label>
                                            <input matInput type="text" formControlName="CIF" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('NRIC')">
                                            <mat-label>NRIC</mat-label>
                                            <input matInput type="text" formControlName="NRIC" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('PhoneNumber')">
                                            <mat-label>Phone Number</mat-label>
                                            <input matInput type="text" formControlName="PhoneNumber" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('EmailID')">
                                            <mat-label>Email</mat-label>
                                            <input matInput type="text" formControlName="EmailID" />
                                        </mat-form-field>

                                        <mat-form-field *ngIf="customerJourneyTable.tableData.columns.includes('OverallSentiment')">
                                            <mat-label>Overall Sentiment</mat-label>
                                            <input matInput type="text" formControlName="OverallSentiment" />
                                        </mat-form-field>

                                        <div class="xl:twd-col-span-2 twd-my-1 twd-flex twd-gap-4 twd-justify-end">
                                            <button
                                                mat-raised-button
                                                class="twd-w-2/12 twd-rounded-3xl"
                                                type="button"
                                                (click)="searchForm.reset(); doAdvancedSearch()"
                                            >
                                                Reset
                                            </button>
                                            <button mat-raised-button class="twd-w-2/12 twd-rounded-3xl" color="primary">Search</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <mat-paginator
                        *ngIf="customerJourneyTable.tableData.source.data.length"
                        (page)="pageEvent($event)"
                        [pageSizeOptions]="customerJourneyTable.tableData.pageSizes"
                        showFirstLastButtons
                    >
                    </mat-paginator>
                </div>
            </div>

            <!-- maximised view end - Table -->
        </div>
        <div *ngIf="customerJourneyTable.loading" class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
        </div>

        <ng-template #table let-sortDisabled="sortDisabled" let-dataSource="dataSource">
            <mat-table [dataSource]="dataSource" matSort matSortDisableClear [matSortDisabled]="sortDisabled" multiTemplateDataRows>
                <!-- NA Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
                <ng-container matColumnDef="InteractionDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full" style="min-width: 125px"> Received At </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="twd-flex-full" style="min-width: 125px">
                        {{ (element.InteractionDate | date: 'd/M/yy, hh:mm:ss a') || 'NA' }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Channel">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full" style="max-width: 100px"> Channel </mat-header-cell>
                    <mat-cell
                        *matCellDef="let element"
                        [ngSwitch]="element.Channel | lowercase"
                        [matTooltip]="element.Channel"
                        class="twd-flex-full"
                        style="max-width: 100px"
                    >
                        <ng-container *ngSwitchCase="'textchat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'audiochat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'videochat'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'services'">
                            <ng-container *ngTemplateOutlet="interactionBrandType; context: element"></ng-container>
                        </ng-container>
                        <mat-icon color="primary" *ngSwitchCase="'voice'"> call </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'sms'"> textsms </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'email'"> email </mat-icon>
                        <mat-icon color="primary" *ngSwitchCase="'fax'"> print </mat-icon>
                        <mat-icon color="primary" *ngSwitchDefault> feed </mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Direction">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full"> Direction </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.Direction" class="twd-flex-full">
                        {{ element.Direction | uppercase }}
                        <mat-icon class="channel-icon" color="accent">
                            {{ element.Direction === 'In' ? 'south' : 'north' }}
                        </mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="InteractionText">
                    <mat-header-cell *matHeaderCellDef class="twd-flex-full"> Interaction Text </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.InteractionText" class="twd-flex-full">
                        <div class="text-truncate">
                            {{ element.InteractionText || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Intent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full"> Intent </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.Intent" class="twd-flex-full">
                        <div class="text-truncate">
                            {{ element.Intent || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="AgentName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full"> Agent </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.AgentName" class="twd-flex-full">
                        <div class="text-truncate">
                            {{ element.AgentName || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="CIF">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full"> CIF </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.CIF" class="twd-flex-full">
                        <div class="text-truncate">
                            {{ element.CIF || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="NRIC">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full"> NRIC </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.NRIC" class="twd-flex-full">
                        <div class="text-truncate">
                            {{ element.NRIC || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="PhoneNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full"> Phone </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.PhoneNumber" class="twd-flex-full">
                        <div class="text-truncate">
                            {{ element.PhoneNumber || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="EmailID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="twd-flex-full"> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.EmailID" class="twd-flex-full">
                        <div class="text-truncate">
                            {{ element.EmailID || 'NA' }}
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="OverallSentiment">
                    <mat-header-cell *matHeaderCellDef class="twd-flex-full"> Sentiment </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="twd-flex-full">
                        <img
                            *ngIf="element.OverallSentiment === 'Positive'"
                            class="w-24"
                            src="assets/images/vectors/positive-score.svg"
                            alt="Positive"
                            matTooltip="Sentiment Dashboard"
                            (click)="openSentimentDashboard(element.SessionID)"
                        />
                        <img
                            *ngIf="element.OverallSentiment === 'Neutral'"
                            class="w-24"
                            src="assets/images/vectors/neutral-score.svg"
                            alt="Neutral"
                            matTooltip="Sentiment Dashboard"
                            (click)="openSentimentDashboard(element.SessionID)"
                        />
                        <img
                            *ngIf="element.OverallSentiment === 'Negative'"
                            class="w-24"
                            src="assets/images/vectors/negative-score.svg"
                            alt="Negative"
                            matTooltip="Sentiment Dashboard"
                            (click)="openSentimentDashboard(element.SessionID)"
                        />
                        <ng-container *ngIf="!element.OverallSentiment"> NA </ng-container>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef class="twd-flex-full" style="max-width: 40px"></mat-header-cell>
                    <mat-cell
                        *matCellDef="let element"
                        class="twd-flex-full twd-justify-start"
                        style="max-width: 40px"
                        (click)="$event.stopPropagation()"
                    >
                        <button mat-icon-button class="w-32 h-32 more-action-btn" matTooltip="Actions" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                            <mat-menu class="custom" #menu="matMenu">
                                <button
                                    *ngIf="data.Data.IframeBaseUrl"
                                    mat-menu-item
                                    matTooltip="Session History"
                                    (click)="switchMaximizedViewMode('Session History', element)"
                                >
                                    <mat-icon> history </mat-icon>
                                    <span> Session History </span>
                                </button>
                                <button mat-menu-item matTooltip="Actions" (click)="switchMaximizedViewMode('Actions', element)">
                                    <mat-icon> list_alt </mat-icon>
                                    <span> Actions </span>
                                </button>
                                <button mat-menu-item matTooltip="Comments" (click)="switchMaximizedViewMode('Comments', element)">
                                    <mat-icon> notes </mat-icon>
                                    <span> Comments </span>
                                </button>
                                <button
                                    mat-menu-item
                                    *ngIf="(element.Channel || '' | lowercase).includes('chat')"
                                    matTooltip="Transcripts"
                                    (click)="switchMaximizedViewMode('Transcripts', element)"
                                >
                                    <mat-icon> chat </mat-icon>
                                    <span> Transcripts </span>
                                </button>
                                <button
                                    mat-menu-item
                                    *ngIf="(element.Channel || '' | lowercase).includes('email')"
                                    matTooltip="Show Email"
                                    (click)="switchMaximizedViewMode('Email Preview', element)"
                                >
                                    <mat-icon> email </mat-icon>
                                    <span> Show Email </span>
                                </button>
                            </mat-menu>
                        </button>
                        <!-- <button
                            mat-icon-button
                            class="w-32 h-32 twd-leading-none"
                            matTooltip="Show Group"
                            *ngIf="element.Children && element.Children.length"
                            (click)="switchMaximizedViewMode('Session Emails', element)"
                        >
                            <mat-icon>
                                {{ element.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                            </mat-icon>
                        </button> -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="expandedDetails">
                    <mat-cell
                        [attr.colspan]="customerJourneyTable.tableData.columns.length"
                        class="twd-h-full twd-px-0 twd-py-1"
                        *matCellDef="let selectedRow"
                    >
                        <div
                            *ngIf="maximized && mode && selectedRow.expanded"
                            class="spread animate__animated animate__slideInUp animate__faster twd-h-full twd-overflow-y-auto"
                        >
                            <div class="px-20 pt-12 twd-text-xl twd-font-bold twd-sticky twd-top-0 twd-left-0" fxLayout fxLayoutAlign="space-between">
                                <span>
                                    {{ mode }}
                                </span>
                                <button mat-icon-button color="warn" (click)="mode = null; selectedRow.expanded = false">
                                    <mat-icon> close </mat-icon>
                                </button>
                            </div>
                            <ng-container *ngIf="mode === 'Comments'">
                                <ng-container *ngIf="interactionNotesReq.data | async as iNotes">
                                    <div class="custom-scroll-adjust px-12 pb-12" *ngIf="!interactionNotesReq.error && !interactionNotesReq.loading">
                                        <p *ngIf="!iNotes.length" class="text-center mat-headline mt-20">No Comments Available</p>
                                        <div
                                            class="step m-8 px-8 py-8 mat-elevation-z1 border-radius-20 font-size-16 font-weight-600 twd-text-left"
                                            *ngFor="let note of iNotes"
                                            [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                                            [innerHTML]="note"
                                        ></div>
                                    </div>
                                </ng-container>
                                <p class="text-center mat-headline mt-20" *ngIf="interactionNotesReq.loading">Loading...</p>
                                <p class="text-center mat-headline mt-20" *ngIf="interactionNotesReq.error">Some Error Occured</p>
                            </ng-container>

                            <ng-container *ngIf="mode === 'Actions'">
                                <div class="custom-scroll-adjust px-12 pb-12" *ngIf="!sessionActions.error && !sessionActions.loading">
                                    <div *ngIf="!sessionActions.data?.length" class="text-center mt-40 mat-headline">No data available</div>

                                    <div
                                        *ngFor="let action of sessionActions.data"
                                        fxLayout="row-wrap"
                                        class="step mb-4 p-4 mat-elevation-z1 font-size-16 font-weight-600"
                                        [ngClass]="customFuse.anchor?.content || customFuse.widget?.content"
                                    >
                                        <div fxFlex="20" fxLayout fxLayoutAlign="center center" class="step-time p-8">
                                            {{ action.ActionTime | date: 'dd/MM/yyyy, hh:mm:ss a' }}
                                        </div>
                                        <div fxFlex="75" fxLayout fxLayoutAlign="space-between center" class="step-details px-16 p-8">
                                            {{ action.Action }}
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="sessionActions.loading" fxLayout fxLayoutAlign="center">
                                    <p class="mt-20">
                                        <mat-spinner></mat-spinner>
                                    </p>
                                </div>
                                <div *ngIf="sessionActions.error" fxLayout="column" fxLayoutAlign="center center" class="text-center">
                                    <p>
                                        {{ sessionActions.msg }}
                                    </p>
                                    <!-- <button mat-button color="primary" (click)="getSessionActions(element.SessionID)">Retry</button> -->
                                </div>
                            </ng-container>

                            <ng-container *ngIf="mode === 'Session History'">
                                <iframe
                                    *ngIf="!!customerJourneyTable.iframeUrl"
                                    [src]="customerJourneyTable.iframeUrl"
                                    class="w-100-p h-100-p"
                                    frameborder="0"
                                    seamless="seamless"
                                ></iframe>
                            </ng-container>

                            <ng-container *ngIf="mode === 'Transcripts'">
                                <ng-container *ngIf="interactionTranscripts">
                                    <ng-container *ngIf="interactionTranscripts[selectedRow.SessionID] as chatTranscripts">
                                        <div
                                            *ngIf="chatTranscripts.length"
                                            fxLayout="row"
                                            fxLayoutAlign=" none"
                                            class="w-100-p pb-16 chat-container custom-scroll-adjust"
                                        >
                                            <div fxLayout="column" fxLayoutAlign=" none" class="border-radius-20 chat-content">
                                                <!-- CHAT CONTENT -->
                                                <div class="chat-transcripts" fxFlex="1 1 auto">
                                                    <!-- CHAT MESSAGES -->
                                                    <div class="chat-messages px-12">
                                                        <!-- MESSAGE -->
                                                        <ng-container *ngFor="let item of chatTranscripts; let i = index">
                                                            <div
                                                                *ngIf="item.message"
                                                                class="message-row"
                                                                [ngClass]="{
                                                                    me: item?.who !== defaultCustomerName,
                                                                    contact: item?.who === defaultCustomerName
                                                                }"
                                                            >
                                                                <div
                                                                    fxLayout="column"
                                                                    fxLayoutAlign="start start"
                                                                    class="bubble"
                                                                    [ngClass]="item.isAgent ? 'right' : 'left'"
                                                                >
                                                                    <div
                                                                        *ngIf="chatTranscripts[i - 1]?.who !== item.who"
                                                                        class="user-label font-size-16 text-bold mb-4"
                                                                    >
                                                                        {{ item.who }}
                                                                    </div>

                                                                    <div class="message">
                                                                        <div *ngIf="item.message.type === 'attachment'">
                                                                            <img
                                                                                [src]="
                                                                                    ((fileUploadUrl$ | async) || 'TmacProxy') +
                                                                                    '/' +
                                                                                    selectedRow.SessionID +
                                                                                    '/' +
                                                                                    item.message.attachment.name
                                                                                "
                                                                                class="w-100-p"
                                                                                [alt]="item.message.attachment.name"
                                                                            />

                                                                            <!-- <img
                                                                            [src]="item.message.attachment.src"
                                                                            class="w-100-p"
                                                                            [alt]="item.message.attachment.name"
                                                                        /> -->

                                                                            <span [innerHTML]="item.message.message"></span>
                                                                        </div>

                                                                        <span
                                                                            *ngIf="item.message.type === 'text'"
                                                                            [innerHTML]="item.message.message"
                                                                        ></span>
                                                                    </div>
                                                                    <div class="time">
                                                                        {{ item.time | date: 'dd/MM/yy, hh:mm a' }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                        <!-- / MESSAGE -->
                                                    </div>
                                                    <!-- CHAT MESSAGES -->
                                                </div>
                                                <!-- / CHAT CONTENT -->
                                            </div>
                                        </div>
                                        <div *ngIf="!chatTranscripts.length" class="w-100-p">
                                            <div class="w-25-p mx-auto mb-20">
                                                <img src="assets/images/vectors/no-data-1.svg" class="box-shadow-3d" />
                                            </div>
                                            <p class="text-center mat-title m-0">No Transcripts Available</p>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="mode === 'Email Preview'">
                                <preview-email
                                    [email]="emailThreadReq.data"
                                    [loading]="emailThreadReq.loading"
                                    [error]="emailThreadReq.error"
                                    (retry)="showEmailThread()"
                                >
                                    <div
                                        *ngIf="emailThreadReq.data as emailInfo"
                                        id="emailInfo"
                                        class="twd-flex twd-justify-between twd-overflow-hidden twd-transition-all"
                                    >
                                        <div fxFlex="80" class="twd-flex">
                                            <div class="twd-flex-1">
                                                <p class="text-bold my-4">To: {{ emailInfo.ToList || 'NA' }}</p>
                                                <p class="my-4 text-bold">From: {{ emailInfo.From || 'NA' }}</p>
                                                <p class="text-bold my-4" *ngIf="emailInfo.CCList">Cc: {{ emailInfo.CCList }}</p>
                                                <p matTooltip="Intent">
                                                    <span class="text-bold"> Intent: {{ emailInfo.Intent || 'NA' }}</span>
                                                </p>
                                                <p class="my-4 text-bold">
                                                    Replied Status: {{ emailInfo.RepliedStatus === '1' ? 'Replied' : 'Not Replied' }}
                                                </p>
                                                <ng-container *ngIf="emailInfo.AddedTime">
                                                    <p class="my-4">{{ emailInfo.AddedTime | date: 'longDate' }}</p>
                                                    <p class="my-4">{{ emailInfo.AddedTime | date: 'shortTime' }}</p>
                                                </ng-container>
                                            </div>

                                            <div class="twd-grid twd-grid-cols-1 twd-items-center twd-justify-end">
                                                <p class="my-4 text-bold">Status: {{ emailInfo.CurrentStatus || 'NA' }}</p>
                                                <p class="my-4 text-bold">Prirority: {{ emailInfo.Priority || 'NA' }}</p>
                                                <p class="my-4 text-bold">Agent: {{ emailInfo.AgentName || 'NA' }}</p>
                                                <p class="my-4 text-bold">
                                                    Closed Status: {{ emailInfo.ClosedBy ? 'Closed by' + emailInfo.ClosedBy : 'Open' }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </preview-email>
                            </ng-container>

                            <!-- <ng-container *ngIf="mode === 'Session Emails'">
                                <ng-container
                                    [ngTemplateOutlet]="table"
                                    [ngTemplateOutletContext]="{
                                        dataSource: selectedRow.Children,
                                        sortDisabled: true
                                    }"
                                ></ng-container>
                            </ng-container> -->
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="customerJourneyTable.tableData.columns; sticky: true" class="bg-inherit"></mat-header-row>
                <mat-row *matRowDef="let row; columns: customerJourneyTable.tableData.columns" [ngClass]="{ selected: row.expanded }"> </mat-row>
                <mat-row
                    class="group-header twd-transform twd-max-h-0 twd-min-h-0"
                    *matRowDef="let row; columns: ['expandedDetails']"
                    [ngClass]="{ expanded: row.expanded }"
                >
                </mat-row>
            </mat-table>
        </ng-template>
    </ng-container>
</tw-wrapper>
