tw-voice-panel {
    display: grid;
    .tw-voice-panel {
        max-height: calc(100vh - 94px);
        gap: 8px;
        .tw-voice-controls,
        .tw-customer-details,
        .tw-customer-journey {
            flex: 1;
            transition: all 0.6s ease-in-out;
            height: 32.5%;
            &.maximized {
                flex: 0;
                &.collapsed {
                    flex: 0;
                }
            }
            &.collapsed {
                flex: 0;
            }
            &.floating {
                flex: 1;
                &.collapsed {
                    flex: inherit;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .tw-voice-panel {
            max-height: calc(100vh - 78px);
        }
    }

    @media screen and (min-width: 1200px) {
        .tw-voice-panel {
            max-height: calc(100vh - 94px);
        }
    }
}
