<div
    *ngIf="{
        anchor: (customFuse.anchor$ | async),
        widget: (customFuse.widget$ | async)
    } as customFuse"
    class="twd-w-full twd-h-full twd-flex twd-flex-col"
>
    <div class="twd-w-full twd-flex twd-gap-x-1 twd-gap-y-2">
        <mat-form-field class="custom select-box twd-w-6/12" appearance="outline">
            <mat-select placeholder="Department" [(ngModel)]="selectedDepartment" (selectionChange)="onSelectDepartment($event)">
                <mat-select-trigger>
                    <span class="twd-truncate"> {{ selectedDepartment?.Name }} </span>
                </mat-select-trigger>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of departments" [value]="item">{{ item.Name }}</mat-option>
            </mat-select>
            <mat-error> Department is required </mat-error>
        </mat-form-field>
        <mat-form-field class="custom select-box twd-w-6/12" appearance="outline">
            <mat-select
                placeholder="Groups"
                [disabled]="!selectedDepartment || loading"
                [(ngModel)]="selectedGroup"
                (selectionChange)="onSelectGroups($event)"
            >
                <mat-select-trigger>
                    <span class="twd-truncate"> {{ selectedGroup?.Name }} </span>
                </mat-select-trigger>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of groups" [value]="item">{{ item.Name }}</mat-option>
            </mat-select>
            <mat-error> Groups is required </mat-error>
        </mat-form-field>
        <button mat-icon-button *ngIf="selectedDepartment" color="warn" (click)="clearAllData()" [disabled]="loading" matTooltip="Clear All">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="twd-flex-1 twd-relative">
        <div
            *ngIf="showTemplates"
            [ngClass]="customFuse.anchor?.body"
            class="twd-bg-opacity-30 border-radius-20 twd-absolute twd-overflow-y-auto twd-w-full twd-z-10 twd-h-full twd-my-2.5"
        >
            <div class="twd-flex twd-flex-col">
                <button
                    mat-button
                    class="border-radius-10 template"
                    *ngFor="let template of templates"
                    (click)="onTemplateSelect(template)"
                    [matTooltip]="template.Name"
                >
                    {{ template.Name }}
                </button>
            </div>
        </div>
        <mat-form-field class="twd-h-full twd-w-full custom twd-relative border-radius-20 with-border" appearance="outline">
            <div class="twd-flex twd-flex-col twd-h-full">
                <textarea
                    class="twd-resize-none twd-flex-1 twd-p-3"
                    matInput
                    placeholder="Please select a template or enter message..."
                    [(ngModel)]="template"
                    [disabled]="loading"
                ></textarea>
                <div *ngIf="!showTemplates" class="twd-translate-y-1/2 twd-flex twd-justify-end">
                    <button
                        mat-raised-button
                        color="primary"
                        class="border-radius-20 twd-mr-auto"
                        [disabled]="!template || loading"
                        (click)="emitSendTemplate()"
                    >
                        Send
                    </button>
                </div>
            </div>
        </mat-form-field>
    </div>
</div>
