<!-- widget wrapper, [data] attribute is must to send the widget data for the wrapper -->
<!-- implement following events in your component to access widget wrapper action events -->
<!-- (maximizeEvent)="maximizeEvent.emit($event)" (collapseEvent)="collapseEvent.emit($event)" (floatEvent)="floatEvent.emit($event)" -->
<tw-wrapper [data]="data">
    <!-- your code goes here -->
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="center center" class="w-100-p h-100-p">
        <div class="w-100-p h-100-p" #chartContainerRef>
            <ngx-charts-bar-vertical-stacked
                [view]="widget.view.length === 0 ? [chartContainerRef.offsetWidth, chartContainerRef.offsetHeight] : widget.view"
                [scheme]="widget.colorScheme"
                [results]="widget.dataSource"
                [gradient]="widget.gradient"
                [xAxis]="widget.showXAxis"
                [yAxis]="widget.showYAxis"
                [legend]="widget.showLegend"
                [showXAxisLabel]="widget.showXAxisLabel"
                [showYAxisLabel]="widget.showYAxisLabel"
                [xAxisLabel]="widget.xAxisLabel"
                [yAxisLabel]="widget.yAxisLabel"
                [animations]="widget.animations"
                [barPadding]="30"
            >
            </ngx-charts-bar-vertical-stacked>
        </div>
    </div>
    <!-- your code goes here -->
</tw-wrapper>
