tw-su-work-codes {
    .mat-icon-mirror {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .example-chip-list {
        width: 100%;
    }
    mat-chip {
        color: white !important;
        &.less {
            background-color: lightgreen !important;
        }
        &.average {
            background-color: lightblue !important;
        }
        &.more {
            background-color: lightsalmon !important;
        }
        &.most {
            background-color: lightcoral !important;
        }
    }
}
