<div class="dialog-content-wrapper" [ngClass]="data.type">
    <div class="py-40 m-0" matDialogTitle fxLayout="column" fxLayoutAlign="center center">
        <mat-icon> {{ icon }} </mat-icon>
        <p class="mat-display-2 my-16">{{ data.heading }}</p>
    </div>

    <div *transloco="let locale" mat-dialog-content fxLayout="column" fxLayoutAlign="center center" class="p-24 pb-0 m-0">
        <p class="text-center py-24 mat-title m-0 line-height-28 message">{{ data.message }}</p>
        <button mat-raised-button class="border-radius-20 mb-4" (click)="data.close()">{{ locale('interactionComponent.close') }}</button>
    </div>
</div>
