<div fxFlex fxFill fxLayout="row" fxLayoutAlign=" center" *ngIf="interactionList.length > 0">
    <ng-container *ngFor="let item of interactionList">
        <div fxLayout="row" class="voice grey-300 tw-br-3 p-8" *ngIf="item.type === 'voice'">
            <div mat-card-avatar class="w-36 h-36" (click)="openInteraction(item)">
                <mat-icon>phone</mat-icon>
            </div>
            <div class="mx-8" fxLayout="row" fxLayoutAlign="center center">number</div>
            <div>
                <button mat-icon-button class="w-36 h-36 hold">
                    <mat-icon>phone_paused</mat-icon>
                </button>
                <button mat-icon-button class="w-36 h-36 ml-4 drop">
                    <mat-icon>call_end</mat-icon>
                </button>
            </div>
        </div>

        <avatar
            matIcon="{{ item.user === 'Customer' ? 'person' : null }}"
            name="{{ item.user }}"
            matTooltip="{{ item.user }}"
            circleColor="#5A4980"
            matBadge="{{ item.otherData.unreadCount || '' }}"
            matBadgePosition="after"
            (click)="openInteraction(item)"
            *ngIf="item.type === 'textchat'"
        ></avatar>
    </ng-container>
</div>
