@import 'src/app/styles/colors';

tw-active-interactions {
    .voice {
        .mat-card-avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            cursor: pointer;
        }

        .mat-icon-button {
            .mat-icon {
                width: 20px;
                height: 20px;
                font-size: 20px;
            }

            &.hold {
                background: $tw-warning;
            }

            &.unhold {
                background: $tw-success;
            }

            &.drop {
                background: $tw-danger;
            }
        }
    }

    avatar {
        margin-left: 4px;
        cursor: pointer;

        .avatar-content {
            width: 44px;
            height: 44px;
        }
        .mat-badge-content {
            background: $tw-warning !important;
            color: $tw-black !important;
        }
    }
}
