@import 'app/scss/general/_variables';
@import 'app/scss/shared';

.flex-center {
    @apply twd-flex twd-justify-center twd-items-center;
}

.channel-avatar {
    @apply twd-bg-primary-400 twd-text-white twd-cursor-pointer;
    margin-bottom: 0 !important; 
    border-radius: $generic-border-radius-sm !important;
    @extend .flex-center;
    &.hold {
        background: $tw-warning-bg;
        color: #000;
    }
    &.disconnected {
        background: $tw-danger-bg;
        color: #000;
    }
}
.voice {
    @apply twd-bg-primary-100 twd-h-10  twd-opacity-75;
    border-radius: $generic-border-radius-sm;
    @extend .channel-avatar;
    
    .user {
        @apply twd-text-sm twd-font-medium;
        font-family: 'Roboto';
        color: #3D3D3D;
    }
    .call-controls > button {
        @apply twd-h-10 twd-w-10 twd-cursor-pointer;
        @extend .flex-center;
    }
}
.chat {
    @extend .channel-avatar;
}